[2018-01-11 22:34] xiaodaigh commented on #117
Firstly it's a great compliment from the creator of `fst`! I wouldn't call my package impressive if the bar is `fst`. Anyway it's still early stages but thanks!

@MarcusKlik  > Would it be possible to run the disk.frame interface against a parallel cluster (with each node processing some chunks)?

I think it's possible and probably will be done at some point. One thing I am not certain about is th

[2018-01-11 22:57] shrektan commented on #124
I agree. We’d better make the interface of fst as simple as possible. Considering existing so many alternative ways of doing selecting columns, I prefer not make things complicated.

[2018-01-11 23:29] MarcusKlik commented on #117
That's already a nice sales pitch you have there :-)

[2018-01-12 00:04] mgahan commented on #124
My main goal is to avoid making copies of any data if at all possible (since the data is very big and any copies are pretty wasteful). Do you know if any of those methods avoid copying the data? Anyways, I understand if it isn’t a feature most people would want. I understand the idea for it to be simple. Thanks so much for the great package!

[2018-01-12 01:07] renkun-ken commented on #124
`DT[, .(x, y, z)]` indeed makes a copy of each vector. Imagine we need to write 300 columns of a 301-column `DT` of many many rows.

A simple subsetting method without triggering copy is as follows:

[code]

which creates a shallow copy of `DT` with only selected columns but `DT`'s key is unfortunately lost. And `dt` must be used with cautious since `dt$x` is exactly `DT$x` and the same for `y` an

[2018-01-12 01:17] xiaodaigh commented on #124
If there is no way to avoid the copying then I would vote for a feature in fst that writes only certain column. Accessing a column is "free" as it's just a pointer. Is there not a way to create a new dataframe by just providing it with pointers to the columns? I would make sure that that doesn't exist first. I think it exists because data.table can create a new column in a data.frame without creat

[2018-01-12 08:33] MarcusKlik commented on #124
Hi @xiaodaigh, @renkun-ken and @mgahan, indeed, there is a clear use-case then!

Just to check:

[code]

So the `.subset()` does not make a copy of the column, while the `data.table` selection does. You could paste the keys manually if you want, that's what I'm doing when you use `as.data.table = TRUE` in `read_fst()`, but that's not obvious to the average user.

If writing a subset of _rows_ effi

[2018-01-15 18:43] thierrygosselin commented on #100
is there a fix for RStudio crashing all the time with macOS and fst ?

[2018-01-15 21:04] MarcusKlik commented on #100
Hi @thierrygosselin, thanks for reporting your problem. When exactly does your system crash, is there a specific code example that causes the crash or are you having crashes when loading the package?

[2018-01-15 21:26] mgahan commented on #124
Thanks everyone! This has been very educational. Appreciate all the hard work!

[2018-01-15 21:32] MarcusKlik commented on #124
And thanks @mgahan for the feature request, I will post an update here once the feature is implemented!

[2018-01-15 21:36] MarcusKlik commented on #100
Hi @thierrygosselin, just to check, are you experiencing problems on a `fst` dev version build` from source or are you using the CRAN pre-compiled binary version?

[2018-01-15 22:26] thierrygosselin commented on #100
Both dev version from GitHub and CRAN results in RStudio crashing.
macOS: 10.13.2 (latest)
RStudio: 1.1.383 (latest)
R: 3.4.3 (latest)

[2018-01-16 10:49] MarcusKlik commented on #100
Hi @thierrygosselin, thanks for the information. So you try to use the _install_ button in RStudio and then it crashes upon installation of the package? And if you type `install.packages("fst")` in the console it doesn't crash? Is there any error message at the time of crashing?

[2018-01-16 16:00] wei-wu-nyc commented on #91
@MarcusKlik is the ability to append fst file to an existing fst file implemented in recent fst versions? I think I am a couple of step behind I think at version fst 0.7.3.

[2018-01-16 21:51] MarcusKlik commented on #91
Hi @wei-wu-nyc, thanks for your question. The `fst` file format is already prepared to make column- and row binding possible. That means that the meta-data for current `fst` files has [free space](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/fststore.cpp#L81-L84) to add pointers to new horizontal- or vertical chunks of data (but they are not filled for current `fst` files).

[2018-01-18 16:00] wei-wu-nyc commented on #91
@MarcusKlik Thanks. Very useful features.
I am currently trying to find a solution to "rbind" several large data frames/data.tables into a very large data frame/data.table. I can not find a good memory efficient and fast way to achieve this, besides dumping and appending to a big csv file. Can't wait to try your planned new on-disk features.
Any reader or user here have suggestions in the mean tim

[2018-01-18 22:18] thebioengineer opened #125 "Very different compression times on different machines"
Hey Guys! I recently found this package, and have been using the compression functions to compress and decompress raw vectors for me. I had been doing most of my work on a local machine, but recently I moved my code to a docker container running linux and noticed a rather large slowdown in the compression speeds. I thought that it was interesting considering that I moved the work from a 4 core win

[2018-01-18 22:33] MarcusKlik commented on #91
Hi @wei-wu-nyc, your specific use-case is interesting because that's exactly the type of problem that I would like `fst` to help solve (in this case memory shortage).

The most memory efficient way of in-memory row binding is with `data.table`s `rbindlist` I guess:

[code]

that shows that when you `rbindlist` a `list` of `data.frame`'s, you basically need twice the memory of all table's combined.

[2018-01-18 22:35] MarcusKlik commented on #91
What would you like to do with the resulting table? Can your data be logically partitioned? Perhaps you only need a few columns for your calculations?

[2018-01-18 22:46] wei-wu-nyc commented on #91
@MarcusKlik What you described is what I observed also. rbindlist() although more efficient than the default rbind(), in the process it still uses close to twice of the final memory footprint.
I didn't realize that when reading csv file into memory using fread, the interim memory usage can be twice of the final memory usage.
I tested read.fst(), when loading in the previously saved .fst file that

[2018-01-18 22:56] MarcusKlik commented on #125
Hi @thebioengineer, thanks a lot for sharing your benchmarks! At the moment, I have set the minimum blocksize of a compression job at 16kB to keep a reasonable compression ratio. That means that for your sample, at most 4 threads are used for compression. That would explain that you are not seeing any significant speedup when switching to the docker instance.

Further, the [default compression set

[2018-01-18 23:03] MarcusKlik commented on #91
Thanks, yes, `read_fst` only allocates the table once and then just overwrites the elements in-memory, so that should take about the same size as the resulting vector (plus some buffering), so reading directly from a `fst` file instead of a `csv` already saves you half of the required memory :-).

Thanks for the pointer to the revolution `R` algorithms, I will have to study those for sure!

[2018-01-18 23:18] wei-wu-nyc commented on #91
@MarcusKlik I am not too familar with those anymore. But there are set of functions like: rxImport, rxDataStep etc.

[2018-01-18 23:26] thebioengineer commented on #125
Thanks @MarcusKlik  for getting back to me. Whoops!, I mixed up which algorithm was the default. I will rerun and post the times/speeds.

However, the main reason I posted was my concern with the large difference in times between my local machine and docker using compress_fst; 869.92 to 46155.66 microseconds. The other compression slowed down too on the docker, but not nearly as drastically. Have

[2018-01-18 23:39] MarcusKlik commented on #125
Hi @thebioengineer, I'm glad you did, the numbers made me flinch there for a moment :-).
But it should definitely not slow down with a factor that large, very strange. I see you are using the CRAN version, perhaps you could check the  availability of OpenMP on your Docker system?

[code]

If you have that and you are not swapping memory than at the moment I could think of no reason why the compres

[2018-01-19 00:02] thebioengineer commented on #125
The speeds as you requested, calculated based on your code :)
as.numeric(object.size(serializedObject))/median(microbenchmark$time)

Method |  Local Machine  | Docker Container |
| -- | -- | -- |
| compress_fst(serializedObject,"LZ4") | 0.7069731 | 0.001799747 |
| memCompress(serializedObject,"bzip2") | 0.01209687 | 0.006614682 |

I just ran hasopenmp(), and it returned TRUE, and we aren't swappin

[2018-01-19 08:34] MarcusKlik commented on #125
Hi @thebioengineer, your issue could also be related to #112. It looks like RStudio Server is forking the session sometimes (for example upon re-entering the session), and that triggers `fst` to switch back to 1 thread to avoid other problems that have been reported (on the `data.table` repository). Are you getting identical results if you run your benchmark on the Docker instance itself (so not w

[2018-01-19 08:55] MarcusKlik commented on #122
Issue fixed in 44f5b54, will be in next CRAN release

[2018-01-19 08:55] #122 closed, assigned to MarcusKlik

[2018-01-19 09:22] MarcusKlik commented on #107
A basic 'data.frame' interface was added to the package. The idea is that the user creates a reference to a `fst` file using method `fst()`. That reference can be accessed like a `data.frame`:

[code]

Column sub-setting is done by using the `columns` parameter in `read_fst()`. Row sub-setting is currently done by reading data between the minimum and maximum row in the selection (using `from` and

[2018-01-19 09:22] #107 closed, assigned to MarcusKlik

[2018-01-19 09:34] MarcusKlik commented on #113
Hi @PeteHaitch, your random row-access requirement is now best addressed using the '[' interface of `fst`:

[code]

That off-loads the smart row selection to the `fst` package although it's not implemented in the fastest possible way yet. Currently it's still using the `from` and `to` arguments in `read_fst()` but that will be improved in the package internally in a future release!

[2018-01-19 09:34] #113 closed, assigned to MarcusKlik

[2018-01-19 09:42] MarcusKlik commented on #116
GCC with at least version 4.6 is needed to compile `fst`, unfortunately earlier versions are missing some C++ features to compile the `fstlib` library, thanx @mperone for reporting.

[2018-01-19 09:42] #116 closed, assigned to MarcusKlik

[2018-01-19 14:45] renkun-ken commented on #107
@MarcusKlik fully agree with the separation of interfaces.

[2018-01-19 16:33] thebioengineer commented on #125
Yes, what I sent to you was from exec-ing into the docker container and running as root. I just checked this morning, and fts::threads_fst() is returning 32 still.

Thank you so much for your investigation into this!

[2018-01-19 18:09] Giqles commented on #119
I'm having what seems to be the same issue -- it seems to be write related for me. Writing to a network file system sometimes seems to fail silently -- I've found if I write then read until I get one successful read, it seems to be fine from then on.

I can't share my data or environment -- I am using fst v 0.8.2.

Some observations though:

1. it happened for me with a set of tables that containe

[2018-01-19 18:40] Giqles opened #126 "ITime column support"
It seems like ITime format columns are meant to be supported (eg, #82, #85, #17) but they don't seem to work correctly for me. Eg,

[code]

[2018-01-19 20:19] treysp opened #127 "FR: include table and column documentation in FST file"
Thanks so much for all your work on fst - it's incredibly useful!

My question is about the possibility of storing arbitrary object-level attributes in fst files. The attributes would be additions to the list of object attributes fst already stores.

The use case is storing metadata about the file such that it is somewhat self-documenting (e.g., store parameters from function used to create it).

[2018-01-19 22:19] MarcusKlik commented on #127
Hi @treysp, thanks for your feature request! Indeed, `fst` only stores three possible 'attributes' for each column; the [base type](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/ifstcolumn.h#L51-L58), a [type-specification attribute](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/ifstcolumn.h#L66-L83) and a [scale](https://github.com/fstpackage/fst/blob

[2018-01-19 22:55] MarcusKlik commented on #126
Hi @Giqles, thanks for reporting that! Indeed, I see there is an attribute-test missing in the integer vector factory, well spotted. I will fix that as soon as possible!

[2018-01-19 23:05] MarcusKlik commented on #126
The `fst` format allows for two `ITime` types; the `integer` and the `double` variant:

[code]

They are encoded with the _INT_32_TIME_OF_DAY_SECONDS_ and _DOUBLE_64_TIME_OF_DAY_SECONDS_ attributes [this code](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/ifstcolumn.h#L74-L79). But upon reading, these attributes are not checked, so a default `integer` column is constructed.

[2018-01-19 23:29] #126 closed, assigned to MarcusKlik

[2018-01-19 23:31] MarcusKlik commented on #119
Hi @Giqles, thanks for reporting. Yes, apparently the stream gets interrupted by the large number of relatively small writes to the network drive. One of the features that is planned to be released soon is a hash calculation of the actual data blocks that are stored. That would give the user a 'clean' error when incorrect data is read from disk (and could pinpoint the problem to the responsible co

[2018-01-19 23:32] MarcusKlik commented on #126
The `ITime` attribute is now correctly implemented and available in the `dev` version, thanks for submitting your issue!

[2018-01-19 23:36] MarcusKlik commented on #125
OK, thanks for checking that. I will try to reproduce the error and get back to you on that!

[2018-01-19 23:41] MarcusKlik commented on #107
Hi @renkun-ken, great, yes, that way the `fst` package will be more performance-oriented and dependent packages will concentrate on usability.

[2018-01-20 14:44] derekholmes commented on #20
FWIW, here is the code I wrote to do this.  I have a function called cAssign() which takes a possible list of dataframes and either assigns them to a different environment and/or saves them to disk.  (This is self-rolled persistence.)  The name is passed in as a string, and if one of the data frames is large enough, it is split into a separate file using fst.
[code]

[2018-01-20 21:59] martinblostein opened #128 "Error when compressing short factor column with more than 127 levels"
I've stumbled upon a bug when compressing and writing short factor vectors with more than 127 factor levels. For example:

[code]

Attempting to coerce `x$a` to character (as when printing) yields the following error:

[code]

Coercing `x$a` to integer yields `1657` on my machine (should be `1`). The same calculation with `compression < 50` yields no error. Interestingly, lengthening the vector ma

[2018-01-20 22:25] martinblostein commented on #128
A quick look at the code indicates the issue must be in line 159-191 in factor_v7.cpp. There is explicit separate cases for <128, <32768 and more factor levels. I'm not familiar enough with the compression code to immediately see the precise problem.

[2018-01-20 22:46] MarcusKlik commented on #20
Hi @derekholmes, thanks for sharing! So basically you need to store a list with several components, the largest of which are `data.table`'s. You would like `fst` to be able to store a list and if a list element is a `data.table` (or vector), still have random access to that structure?

Supporting `list`s would certainly be possible. For storing a table with random access inside that `list` the `fs

[2018-01-20 23:45] MarcusKlik commented on #128
Hi @martinblostein, well spotted and thanks for reporting! Indeed, with <128 and < 32768 levels, the factor values are first compressed into 1 or 2 bytes before compressing further (that's an almost 'free' compression factor of 2 or 4 for small factors). Apparently, something strange is happening when a compression higher than 50 is used ([this code](https://github.com/fstpackage/fst/blob/develop/

[2018-01-21 12:31] martinblostein commented on #128
Thanks Mark, to be clear it also occurs when compression is exactly 50. Which means [this code](https://github.com/fstpackage/fst/blob/develop/src/fstcore/factor/factor_v7.cpp#L163-L165) is implicated too.

[2018-01-21 19:03] treysp commented on #127
Hi @MarcusKlik, Markdown documentation per column and for the whole tables would do exactly what I need. Great idea, and thanks so much for `fst`!

[2018-01-21 19:37] MarcusKlik commented on #127
Nice! In RStudio, we could try to show the documentation in the viewer pane using [these](https://support.rstudio.com/hc/en-us/articles/202133558-Extending-RStudio-with-the-Viewer-Pane) instructions. So compile the markdown to a local html file and display that in the viewer.

That way, you can take a look at the table and column documentation in the viewer, I think that might be a very useful fea

[2018-01-22 09:07] Giqles commented on #119
I had what might be a related issue -- a file I've worked with a lot got a small subset of dates set (incorrectly) to 1970-01-01 in the stored file on one write. This didn't happen consistently; running exactly the same code again when I spotted the issue didn't result in any noticeable problems with the data.

[2018-01-22 09:18] Giqles commented on #100
I've had a similar problem. In my environment (R 3.4.2, RStudio v0.99), `fst_read` sometimes hangs for a long while then the R process restarts. RStudio itself doesn't crash for me.

[2018-01-22 19:05] thierrygosselin commented on #100
Hi @MarcusKlik I tested a couple of things:
1. the problem of crashing RStudio/R session is really restricted when the package is used inside another package. No problem using `fst` on it's own.

2. using the _install_ button in RStudio,  `install.packages("fst")` or `devtools::install_github("fstPackage/fst", ref = "develop")` all work for me in macOS.

[2018-01-22 19:11] thierrygosselin commented on #100
More details here:
1. using the 3 ways to install `fst` ( _install_ button in RStudio, `install.packages("fst")` or `devtools::install_github("fstPackage/fst", ref = "develop")` ) as no impact, they all make RStudio crash if at some point you try to check your package that contains `fst`.

2. All this is new behaviour. I've had `fst` inside my package for quite some time and never experience this

[2018-01-22 19:21] thierrygosselin commented on #100
Removing `fst` from the _DESCRIPTION_ file still make RStudio crash if the _NAMESPACE_ file is not changed accordingly. To stop crashing, in my case, I have to rebuild the file or erase `importFrom(fst,read.fst)` and `importFrom(fst,write.fst)`

[2018-01-22 19:35] PeteHaitch commented on #100
@thierrygosselin Yours sounds like the same issue as https://github.com/fstpackage/fst/issues/109. FYI, if you're using **fst** in your package then it needs to be in both the `DESCRIPTION` and `NAMESPACE`, so you won't be able to work around this issue that way by selectively removing it from one.

[2018-01-22 19:39] thierrygosselin commented on #100
@PeteHaitch Well... you can still have `fst` in the _DESCRIPTION_ file under the _Suggests_ section, and this way it doesn't appear in the _NAMESPACE_ file. But there is no issue doing this.

[2018-01-22 19:47] thierrygosselin commented on #100
Using `#' @importFrom fst read.fst write.fst` or `#' @import fst` in the function doc that uses `fst` and rebuilding the _NAMESPACE_ file both crash RStudio

[2018-01-22 19:51] PeteHaitch commented on #100
Yes, I believe that happens for the reason in https://github.com/fstpackage/fst/issues/109#issuecomment-356432371, namely that RStudio launches a new R process to run `devtools::document()` (which I'm guessing you're using to rebuild the `NAMESPACE` via either the keyboard shortcut or button in RStudio). My (limited) understanding is that this is triggering some nasty interaction between OpenMP an

[2018-01-22 20:07] thierrygosselin commented on #100
So no fix for this ?

[2018-01-22 20:12] thierrygosselin commented on #100
I did have a similar issue with `data.table` a couple of months ago.

[2018-01-22 20:19] thierrygosselin commented on #100
For reproducibility purposes here is the **clang** version (latest) I'm using with macOS (that support OpenMP) and how it was installed. Also, the `~/.R/Makevars` attributes used.

[code]

**Installed with these command:**

[code]

The RStudio crashing issue with `fst` is not related to updating from clang v.5.0.0 to v.5.0.1

**.Makevars**

[code]

[2018-01-22 21:59] MarcusKlik commented on #100
Hi @PeteHaitch and @thierrygosselin, thanks for all the information. This particular problem really puzzles me:

* In `data.table`, the solution to the crashes in RStudio on MacOS seem to be solved as indicated [here](https://github.com/Rdatatable/data.table/issues/2418#ref-commit-9d1f3e2).
* Before that commit, `data.table` was calling `omp_set_num_threads`, as can be seen [here](https://github.c

[2018-01-22 22:45] MarcusKlik commented on #100
Hi @PeteHaitch and @thierrygosselin, I've just pushed a commit where `omp_get_max_threads()` is not called at the fork anymore (or any other OpenMP method). Instead, only a [global variable is set](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/openmphelper.cpp#L54-L57), just like in the `data.table` package.

OpenMP library calls are still made from the `.onAttach` method, b

[2018-01-22 22:57] PeteHaitch commented on #100
Good news!!! After installing https://github.com/fstpackage/fst/commit/b6eadb4f6f910e7e1d4fb1af850a622fe3508072 I'm no longer able to reproduce the minimal bug report I made in https://github.com/rstudio/rstudio/issues/1920

And, so far, no errors when developing the more complex **fstArray** within RStudio (https://github.com/fstpackage/fst/issues/109#issuecomment-350766435)

[2018-01-22 22:58] thierrygosselin commented on #100
Hi @MarcusKlik problem solved on my end!

[2018-01-22 23:57] #128 closed, assigned to MarcusKlik

[2018-01-22 23:58] MarcusKlik commented on #128
Hi @martinblostein, I've fixed the problem which was due to reversed parameters when calling the ZSTD compressor. The problem was only apparent because with a single row the compressed size is actually bigger than the uncompressed size.

(that also means that we should use a minimum number of rows before compression is activated, but that's another issue :-))

Thanks a lot for spotting that error,

[2018-01-23 08:44] MarcusKlik commented on #100
That's great, thanks for testing at such short notice!!!

Apparently, no method from the OpenMP library can be used from a fork on macOS. This fix will solve a couple of other issues as well 👍

Nice work guys, thanks!

[2018-01-23 08:44] #100 closed, assigned to MarcusKlik

[2018-01-23 09:02] MarcusKlik commented on #109
Hi @kevinushey, the forking issues with the `fst` package and RStudio have been solved. To summarize our findings (with thanks to @PeteHaitch and @thierrygosselin in issue #100 ):

* It seems that any call to the OpenMP library causes problems. The fix in `data.table` removed the call to `omp_set_num_threads` and that solved the problem for the `data.table` package. `fst` was also calling the Open

[2018-01-23 09:02] #109 closed, assigned to MarcusKlik

[2018-01-23 09:03] MarcusKlik commented on #109
Hi @eipi10, this fix should solve your issues as well, if you are still experiencing problem, please let me know!

[2018-01-23 16:44] kevinushey commented on #109
Awesome news! Thank you so much for investigating and taking the time to get a fix @MarcusKlik.

[2018-01-23 16:58] eipi10 commented on #109
Thanks very much for investigating and fixing this Marcus!

[2018-01-23 21:54] MarcusKlik commented on #109
No problem!

(and being able to build packages with RStudio/macOS with `fst` as dependency is definitely top priority :-))

[2018-01-24 01:58] xiaodaigh opened #129 "Compare and contrast with parquet"
It'a also ondisk and allows for compression. Wonder what are the similarities and differences

[2018-01-24 22:23] MarcusKlik commented on #129
Hi @xiaodaigh, thanks for a very interesting question!

_Parguet_ and _Arrow_ are two Apache projects designed to work efficiently with columnar formats.
* _Parguet_ is an on-disk format that can store (possibly compressed) columnar data and is aimed at maximizing the serialization performance.
*  _Arrow_ is a columnar format that provides an in-memory representation of a table or vectors. It's ai

[2018-01-24 23:15] xiaodaigh commented on #129
Yes. I am writing a blog post to analyse the Freddie Mae data (1.8 billion rows) with `disk.frame` with `fst` as back-end. It will be an awesome showcase of `fst`.
If this is packaged with better large-database connectivity and distributed then there is a lot of commercial value! There is a company in this!

[2018-01-25 10:10] HughParsonage opened #130 "CRAN archival: alternative repository"
As the package maintainer of `heims`, was sorry to learn that `fst` is liable to be archived. From my scan of the issues, this is due to a change in the LZ4 library that's yet to be released. Is my understanding correct? Are you able to provide an `Additional_repository` for `fst` in the meantime (say through the `drat` package)?

I've had no problems with `fst` at all, though of course CRAN's pol

[2018-01-25 11:32] MarcusKlik commented on #130
Hi @HughParsonage (and @leeper for the `rio` package), indeed the `fst` package had problems building on the CRAN `dev` branch. But I have just pushed a new `fst` version to CRAN that addresses this issue (v0.8.4). The latest version of `LZ4` is included in that version of the package in which the Clang 6.0.0 errors are fixed.

I will keep you posted on the progress of the submission, apologies fo

[2018-01-25 11:36] MarcusKlik commented on #130
(I guess I didn't realize CRAN would be sending warnings out before the deadline they gave me ;-))

[2018-01-25 11:39] HughParsonage commented on #130
No apology necessary. It's a fantastic package but I understand that it works at such a low level that it is very difficult to maintain.

I think Prof. Ripley's message was just as a courtesy to us to prepare our packages should `fst` be unable to be fixed. It's understandable that they need to mitigate against you being unable to patch the issues to preserve the archive.

[2018-01-25 12:25] MarcusKlik commented on #130
Yes, and that's fully understandable off course with more than 10000 packages on CRAN.
Indeed, there are challenges with `fst`: it uses OpenMP and three C++ libraries (`LZ4`, `ZSTD` and `fstlib`). Also, it works for little-endian systems only (at the moment). I decided to wait a little bit before introducing SIMD instructions :-)

The `fstlib` library I can update myself in case of issues, but wit

[2018-01-25 12:59] leeper commented on #130
Great. Thanks for the update. I'll keep an eye on this.

[2018-01-25 22:27] MarcusKlik commented on #129
Thanks and very interesting showcase, please make sure you post a reference once it is finished!

[2018-01-26 01:18] renkun-ken opened #131 "Inconsistent printing of fst"
The `print` method of `fst` file shows the `data.frame` in an inconsistent manner after `---`:

[code]

[2018-01-26 23:03] MarcusKlik commented on #131
Hi @renkun-ken, thanks for reporting, indeed, that's not too pretty!

Although it's not a critical issue, I guess it would be prudent that get a fix out soon. With this layout it's hard to see which title belongs to which column.

I will fix that ASAP!

[2018-01-27 00:06] MarcusKlik commented on #130
Hi @HughParsonage and @leeper, a few builds are still due, but I can safely say from the [CRAN checks](https://cran.r-project.org/web/checks/check_results_fst.html) that yesterdays submission won't have any problems on the `dev` braches.

Thanks!

[2018-01-27 00:14] MarcusKlik commented on #131
Hi @renkun-ken, with commit fb5a841 I've added a nicer printing generic, one that also includes the stored table's column types:

[code]

The `data.table` dots are there, as are descriptors for all supported types in `fst`.  I hope this looks better, all feedback very welcome!

[2018-01-27 00:17] MarcusKlik commented on #131
(I'm still looking into how to add the `RStudio` coloring, like in a `tibble`, that would be a nice extra feature):

![image](https://user-images.githubusercontent.com/24658401/35465906-c3cc86c0-02ff-11e8-81af-b7cff4bb2fbe.png)

[2018-01-27 01:42] renkun-ken commented on #131
Nice work! In my knowledge, the coloring is done by `crayon` package, which directly works in a typical terminal. RStudio just updates its web terminal component to support displaying colored texts.

A simple example in RStudio is

[code]

<img width="210" alt="image" src="https://user-images.githubusercontent.com/4662568/35467163-266996ba-0346-11e8-8724-05e7be078b0f.png">

`crayon` package makes

[2018-01-28 22:54] MarcusKlik commented on #131
Thanks for the pointers @renkun-ken! I used the special codes from the `crayon` package to give the row names and the '--' separators a light grey color. The column types are displayed in light grey as well but are in italics. This is how the table from the example above looks in RStudio now:

![image](https://user-images.githubusercontent.com/24658401/35488243-a7c1bd74-0485-11e8-8da8-042563dfe272

[2018-01-29 02:02] renkun-ken commented on #131
Looks nice!

[2018-01-29 23:49] karldw opened #132 "Request: set number of threads with options()"
fst currently allows the user to set the number if threads with the `threads_fst` function, and the default number if threads is the number of logical cores on the system. It would be convenient (for me, hopefully for others) if the number of threads could be set with an option.  Using an option, instead of a function in the package, allows for Rprofile.site files to set the option without loading

[2018-01-30 09:23] MarcusKlik commented on #132
Hi @karldw, thanks for your feature request, I think that's an excellent idea!

We could test for the option in the `onAttach` method and set it accordingly [here](https://github.com/fstpackage/fst/blob/develop/R/onAttach.R#L56), nice.

What do you mean exactly by `library(fst)` overwriting the setting? If I do:

[code]

the `onAttach` method is called only once, so the number of threads set previ

[2018-01-30 11:11] #131 closed, assigned to MarcusKlik

[2018-01-30 11:16] MarcusKlik commented on #131
Thanks! I will close the issue for now, the new formatting will be available in the next `fst` release (`v0.8.6`). Note that the current implementation can probable be made faster by using overrides to the `format` generic. Currently the existing `data.frame` implementation for printing is leveraged, using `capture.output` after which the headers and coloring are applied to the captured output.

[2018-01-30 11:19] MarcusKlik commented on #130
Closing this issue, all relevant CRAN builds are passing now, thanks @HughParsonage  and @leeper!

[2018-01-30 11:19] #130 closed, assigned to MarcusKlik

[2018-01-30 20:08] karldw commented on #132
Ah, sorry, that was unclear.  I meant that the `.onAttach` code overwrites the number of threads if `threads_fst` is called before the package is attached.

[code]
One way to fix this would be for to move the `threads_fst` call from `.onAttach` to `.onLoad`.

It will save some headaches if this new `fst.threads` option is always in sync with the `threads_fst` function.
First, that requires `thread

[2018-01-30 20:46] MarcusKlik commented on #132
Hi @karldw, thanks and you're right, the comment is very confusing, I will change it!

The `dev` version was using the number of physical cores as the default until I noticed that there is actually a performance gain when hyper-threading with double the amount of cores. At that point the default was changed :-).

I thinking syncing the option might be problematic. What happens for example if you'r

[2018-01-30 22:59] karldw commented on #132
Hi @MarcusKlik

Great, thanks!

Ah, I hadn't considered all the complications.  I agree, keeping the option synced is more effort than it's worth.

I'm interested in using a lower number of threads because I'm working on a shared machine with 32 logical cores. Rather than using tying up all of them (with [decreasing marginal returns](https://github.com/fstpackage/fst/blob/develop/README-multi-thre

[2018-01-31 11:20] jeroen opened #134 "Add protolite to benchmarks"
Is it possible to add `serialize_pb` and `unserialize_pb` from the protolite pkg to the [benchmarks](http://www.fstpackage.org/)?

[2018-01-31 11:30] jeroen commented on #134
Ah maybe I should add support for disk streaming first. It's all in memory now.

[2018-01-31 11:49] MarcusKlik commented on #134
Hi @jeroen, thanks for your request, love all your work!

I could definitely add the `protolite` benchmarks to the list, that would more or less look like:

[code]

(note that the speeds are lower because I'm using the `reprex` package to calculate these speeds).

Would that be in line with your request?

thanks & greetings

[2018-01-31 12:05] jeroen commented on #134
You can actually use `serialize_pb` directly instead of `write_prot` because it already has a second optional argument that takes a path. Other than that it looks good.

I'm going to add C++ level reading/writing from files in the next version. That way it uses less memory I think.

[2018-01-31 12:25] MarcusKlik commented on #134
Hi @jeroen, that's very interesting, so you convert the `R` object to a generic structure that can also be read  from other languages with wrappers to the `protocol-buffers` library?

Is that library multi-threaded? Would it be possible to convert the elements of an `R` object to the `protocol-buffers` format in parallel? For most of [these types in the format](https://github.com/jeroen/protolite/

[2018-01-31 12:33] jeroen commented on #134
Yes the benefit of serializing to protocol buffers is that it is portable. You can easily read the data in any another language. I use it in opencpu as a binary alternative to JSON.

Not sure about threading, I haven't worried too much about performance so far. But I'm curious to see how it compares.

[2018-01-31 12:58] MarcusKlik commented on #134
Nice, if the format is general enough, it might be a nice wrapper for serializing arbitrary list elements in the `fst` package as well (which is not implemented yet).

I was thinking of marking such elements as a raw `blob` and just leave it up to the client what to do with them. But with protocol buffers there would at least be a cross-language format for many types of objects. On the other side,

[2018-01-31 15:58] PoGibas opened #135 "Updated from 0.7.3, can't load fst files using "old_format = TRUE" argument"
After update from **0.7.3** (2017-10-30) to **0.8.4** (current version) I can't load `fst` files (that were created with **0.7.3**). Error message is:
[code]
Tested this with 0.8.0 and 0.8.2, but getting same error. Tested with 0.7.2 and this produced `Error in fstRead(fileName, columns, from, to) : std::bad_array_new_length`  message.

How can I solve this problem?

[2018-01-31 18:52] MarcusKlik commented on #135
Hi @PoGibas, I'm sorry you have this problem. It seems you saved the file using a `dev` version of `fst` and are now trying to read it with a CRAN version. Backwards compatibility for that is guaranteed from version `v0.8.0` onwards, but not before.

I think the best you can do is clone this repository, use git to set the repository back to 2017-10-30 and then build the package. You should be able

[2018-01-31 20:28] PoGibas commented on #135
Confirming that after reverting back to **0.7.3** (commit 1c97759) I can load `fst` files. As suggested:

1. Will save data to `RDS` format
2. Upgrade to current `fst` version
3. Will save data to `fst` format

[2018-01-31 21:00] MarcusKlik commented on #135
Hi @PoGibas, thanks for sharing that. Good to hear you have your data back!

New versions of `fst` will support files that you write with (CRAN) version `v0.8.0` or later indefinitely, so you shouldn't have this kind of problems anymore in the future.

[2018-01-31 21:06] #132 closed, assigned to MarcusKlik

[2018-02-01 11:03] #135 closed, assigned to MarcusKlik

[2018-02-01 15:42] treysp commented on #127
Agreed - thanks so much!

[2018-02-01 22:10] MarcusKlik commented on #134
Hi @jeroen, I've run the same benchmark as was used in the `fst` README file with `protolite`. To compare, `feather` was added (protocol- vs flatbuffers):

![image](https://user-images.githubusercontent.com/24658401/35704517-15d69920-07a0-11e8-8427-9263d069826f.png)

As you can see, `protolite` becomes faster for larger datasets, but it's a slower than `feather` for  reading (and more for writing)

[2018-02-01 22:22] MarcusKlik commented on #134
Hi @jeroen, just one note: if you use compression just before writing to disk, you can compact the file significantly without loosing too much speed. Using the sample generated from the previous test:

[code]

So the file is 28 percent of the in-memory size, much smaller than the original 80 percent. For compression, `fst::fstcompress()` uses a multi-threaded implementation of the `ZSTD` compresso

[2018-02-02 08:11] jeroen commented on #134
Cool very interesting results, thanks. Protocol Buffers is primarily a format for binary data structure exchange in networking, rather than storage of large data, but it seems to work for that if needed.

Thanks for pointing me to `zstd`! I've wrapped brotli a while ago but I was pretty disappointed with the performance. I don't understand why it seems so [slow for me](https://cran.r-project.org/w

[2018-02-02 09:51] MarcusKlik commented on #134
Hi @jeroen, `Brotli` relies heavily on it's internal dictionary, perhaps that makes it slower for small vectors? Also, in your post, you are using the slowest setting of `Brotli` (11). The slowest setting of `ZSTD` compresses at a speed of just a few MB/s, so probably even slower than `Brotli`.

The only use-cases for these settings are networking of perhaps multi-threaded compression if you have

[2018-02-22 02:57] xiaodaigh commented on #127
I plan to add a feature to store metadata about the column in the disk.frame package, so things like data dictionary etc for each column can be stored there. So I think another way to extension functionality is to allow fst to be lean and have a fstmeta package that wraps around all of these things.

[2018-02-22 08:27] MarcusKlik commented on #127
Hi @xiaodaigh, thanks for your comment and I agree that a 'lean' `fstlib` would leave the most room for building custom implementations on top of it. Perhaps it would be enough to allow storage of a single custom string (or even more general, a raw vector) for each column. The user or a wrapper could use that string for documentation or to store other custom attributes. The nice thing about that i

[2018-02-23 22:59] MarcusKlik commented on #63
The slowest part of de-serializing a `character` vector is asking `R`'s global string pool to create a new `string` or return an already existing one, see for example [this code](https://github.com/fstpackage/fst/blob/develop/src/fst_blockrunner_char.cpp#L153).
The `R` API to the global string pool can be used from the main thread only, so we can't create new strings from multiple threads simultan

[2018-02-26 00:17] xiaodaigh opened #136 "Error when reading from network drive"
I can write to network drives but when I am reading from the network drive I get this error
[code]
However, if I copy the fst file to C drive then it works fine.

I am running Windows 7 and the network is set up in such a way that I have access to

but I have no access to

So I can actually see further down in the tree hierachy but not the level up. Hopefully this helps identify the bug, as I can'

[2018-02-26 14:40] MarcusKlik commented on #136
Hi @xiaodaigh, thanks for reporting the issue!

In `read_fst()`, method `normalizePath()` is [used on the _path_ argument](https://github.com/fstpackage/fst/blob/develop/R/fst.R#L159) and not on the directory above, so I'm a bit puzzled by the error (usage is identical to `write_fst()`).

If you call `normalizePath()` yourself on the newly created `fst` file, does that work as expected?

thanks

[2018-02-26 15:14] MarcusKlik commented on #136
Hi @xiaodaigh, the difference is that I use _mustWork = TRUE_ for `read_fst()`, while I use _mustWork = FALSE_ for `write_fst()`. The error can be reproduced locally by using `normalizePath()` and remove access to the top level (local) directory.

Perhaps a better approach would be to use `normalizePath(path, mustWork = FALSE)` and then to check the existence of the `fst` file with `file.exists()`

[2018-02-26 15:33] MarcusKlik commented on #136
Hi @xiaodaigh, I just committed [a fix](https://github.com/fstpackage/fst/commit/7cdf697fe1f8b63970d8a0d4b80516bc3d8d4314), could you retest writing and reading your `fst` file with the latest `dev` version?

thanks a lot!

[2018-03-01 22:59] MarcusKlik commented on #63
Preliminary results show that a custom made hash map can get to speeds faster than 200 MB/s per core. Below are the results of creating a hash map of a length 1e6 `character` vector. The mapping is done in blocks of 2048 elements each and the average size of a `character` element is 4.

![image](https://user-images.githubusercontent.com/24658401/36874333-d3ec9466-1dab-11e8-99bb-13a749517b20.png)

[2018-03-06 00:19] rexdouglass opened #137 "OpenMP detected, using 1 logical cores"
[Edited]

Latest development version shows 1 logical core. Can set afterward via fst::threads_fst().

I've tried multiple versions:
fst package v0.8.5 IN DEVELOPMENT built 2018-03-06 00:06:25 UTC
(OpenMP detected, using 1 logical cores)

fst package v0.8.4
(OpenMP detected, using 48 logical cores)

Checking and setting directly
fst::threads_fst()
fst::threads_fst(48L)

Can someone help me understa

[2018-03-06 00:42] xiaodaigh commented on #137
Try the example in the readme of

https://GitHub.com/xiaodaigh/disk.frame

It runs fst in the background on all your available workers

On 6 Mar. 2018 11:19 am, "Rex W. Douglass" <notifications@github.com> wrote:

[2018-03-06 00:57] rexdouglass commented on #137
Definitely running multi-threaded, thank you. I amended my original question to say I can get get the "Basic usage" to run mulithreaded as well. So my use case of lots and lots of text, with compression, seems to be the issue. I don't know enough about how FST handles mutlithreading/compression to know whether it's supposed to be multithreaded in that case or that's an edge case.

disk.frame looks

[2018-03-06 01:04] xiaodaigh commented on #137
Text strings? Could it be because of r string global strings pool? Which is single threaded? Perhaps you can make a mwe?
Anyway Cognizant this is the fst thread. Yes disk.frame is multithreaded via fst and runs multiple processes via future. If you run multiple batches then each batch will follow the previous sentence.

[2018-03-06 08:18] MarcusKlik commented on #137
Hi @rexdouglass, thanks for your question and @xiaodaigh thanks for the pointers.

I believe your question actually touches two separate issues:

1.    Can `fst` currently serialize and de-serialize `character` columns using multiple threads?
2.    How many threads are available at package start-up?

To answer the first question: version `0.8.4` of `fst` doesn't have multi-threaded `character` ser

[2018-03-06 08:33] MarcusKlik commented on #137
Hi @xiaodaigh, indeed the global string pool that `R` uses, poses some (performance) challenges. In `R`, a new string can only be created by calling the `R` API on the main thread. That call accesses the global string pool, which slows down the creation of `character` vectors significantly, because `R` has to search the complete map of existing strings to see if it already exists. And as the strin

[2018-03-06 08:55] rexdouglass commented on #137
Excellent discussion and explanation, thank you. I'm currently using FST to store large amounts of text (wikipedia) and have enjoyed its compression, random access, and compatibility with data.table. Multithreading for character and whatever other optimization you have planned will be much anticipated. Also, if there is a more appropriate binary format for serializing text I'd appreciate sage advi

[2018-03-06 10:05] MarcusKlik commented on #137
Hi @rexdouglass, I just checked the `dev` version on a fresh Ubuntu 16 install and I can confirm your problem with the number of threads being set to 1.

The problem seems to be with the call to `parallel::detectCores()` in the package method `onAttach()`.

On Windows I get:

[code]

The same code on Ubuntu will put the number of threads to 1 after the call to `parallel::detectCores()`, perhaps th

[2018-03-07 23:14] MarcusKlik commented on #137
Hi @rexdouglass, given the problems of `fst` switching back to single-threaded mode after each fork that is triggered by `RStudio` or from within other packages, I think it's best to change the default behavior of `fst` at the end of a fork.

Currently, the number of active threads is kept at 1 after the fork ends because of possible problems with the Intel compiler reported for the `data.table` p

[2018-03-07 23:14] MarcusKlik commented on #112
Hi @renkun-ken, with the latest `dev` version, the default behavior of `fst` after a fork can now be set with parameter `reset_after_fork` in `threads_fst()`. When `reset_after_fork = TRUE`, the number of threads will be restored to the number of active threads before the fork.

On the `data.table` repository, some problems have been reported with the Intel compiler when threads are restored after

[2018-03-11 00:07] noamross commented on #120
Relatedly, I noticed that attributes (of the whole `data.frame`, rather than columns) are dropped when writing and reading FST.  It makes sense to me that this is so, but perhaps it should be documented, or could this be included as black-box metadata like list elements?

[2018-03-11 22:36] MarcusKlik commented on #120
Hi @noamross, thanks for your question. All the types defined in the `fst` format should be (programming-) language independent, so that's why attributes like `tibble` or `data.table` have no real meaning in the format. Also in the `R` world, the alternative forms of a `data.frame` (`tibble`, `data.table)` are identical to a `data.frame` at their core, the difference is (almost) only in the API wi

[2018-03-12 04:48] noamross commented on #120
I was actually thinking of arbitrary table attributes, as in R, object attributes can contain any R object. In my case I was using attributes to attach some lists of metadata to a table. If you chose to support this, I guess it could be implemented as a blob of data in .rds format.  But I'd understand if it were out-of-scope.

[2018-03-12 22:21] MarcusKlik commented on #120
Hi @noamross, thanks for sharing that, being able to attach meta-data to the table would be a very useful feature indeed. For example for adding Markdown (or plain text) documentation about the table (see also #127). Complex (`R`) attributes are more difficult to process however, because the rules needed for combining (or splitting) them are not known to `fst`.

For example, suppose you would have

[2018-03-14 15:44] MarcusKlik opened #138 "More descriptive error message for incorrect column selections"
by mail, from Jean-Luc:

currently, the following incorrect column selection leads to an error message that's not very descriptive:

[code]

It would be nice to have the error message reflect the incorrect column name (_a_ in this case).

[2018-03-15 22:16] statquant opened #139 "Some questions regarding creating fst files from C++"
Dear @MarcusKlik first I'd like to thank you for providing `fst` to the R community, this is a truly amazing package and I can see it becoming what `data.table` or `Rcpp` can be in their own use case.
This is more a question (several) than an issue.

I'd like to start generating fst files directly in `C++` from my own `C++` application, by this I mean the output of my C++ would be fst files rather

[2018-03-15 23:17] MarcusKlik commented on #139
Hi @statquant, thanks for your kind words, I'm pleased to read that `fst` works for you!

You can definitely generate `fst` files from your own `C++` application. For that you need to link the `C++` core library of `fst`, called `fstlib` which is published [here](https://github.com/fstpackage/fstlib). Both `fst` and `fstlib` are licensed as AGPL-3, which means that you can use it for your internal

[2018-03-18 16:37] renkun-ken opened #140 "read_fst should automatically read as data.table if written from data.table"
I'm not sure if it makes sense that `read_fst` automatically reads a file as a `data.table` if it is written from a `data.table`. I'll certainly love this behavior as if `as.data.table = "auto"`.

[2018-03-19 07:04] xiaodaigh commented on #140
sounds interesting. The only downside I can think of is that it ties fst to R a bit more.

[2018-03-19 09:41] statquant commented on #139
Hello @MarcusKlik  very happy to contact you offline and explain everything I plan to use fst for in detail. What is the best way to contact you ?
As to https://github.com/fstpackage/fstlib/issues/5 that's perfect I am happy I can contribute even very modestly

[2018-03-19 12:03] MarcusKlik commented on #140
Hi @renkun-ken, thanks for your feature request and yes I see how that would be a useful feature.

It's related to the [discussion](https://github.com/fstpackage/fst/issues/120#issuecomment-356442057) in issue #120. Perhaps a parameter _return_type_ with possible values _data.frame_, _data.table_, _tibble_ and _auto_ would be most convenient.

The thing is that when you use _fst_ files for caching

[2018-03-19 13:25] renkun-ken commented on #140
The `return_type` idea looks nice. I believe this solves the problem of both sides.

[2018-03-22 02:44] renkun-ken commented on #140
The downside of `auto` is obvious: the subsequent data operations are very different depending on whether the object is `data.frame`, `data.table`, or `tibble`. If the author of code is not the writer of `fst` data file, the author will not know exactly what type of object it is until the file is read. In this case, if `auto` is used by default, the code is exposed to risks that the writer of data

[2018-03-22 18:52] martinblostein opened #141 "fst_table object should return one-column data.frame as vector, as for data.frames"
To match data.frame functionality, fstfile[x, 'a'] should return the vector a, not a single-column data.frame:

[code]

[2018-03-22 18:55] martinblostein commented on #141
Side note: `fst::read_fst(file_path, columns = 'a')` returns a single column data.frame. In my opinion, this is preferred, as the argument to read_fst is called "columns", and if you specify one column, you ought to get a data.frame with a single column.

[2018-03-22 22:41] MarcusKlik commented on #141
Hi @martinblostein, thanks for reporting that!
Yes, the bracket operators should mimic the `data.frame` functionality so it would be better to return a vector (however unpreferred that might be :-))

Will fix as soon as possible, thanks!

[2018-03-23 22:58] MarcusKlik commented on #140
Hi @renkun-ken, thanks for sharing your thoughts. I agree that using `auto` is risky, because the `fst` source can be changed or updated. The same applies when we let the user set the default behavior of the `return_type` parameter with an option: a specific piece of code might run differently depending on the user options that where selected and code might break.

So, as you say, it's probably be

[2018-03-23 23:17] MarcusKlik opened #142 "Flag the use of special columns when reading a fst file"
A `fst` file might contain columns of non-standard types _integer64_, _nanotime_ or _ITime_. To make sure these are processed and printed correctly, the corresponding packages need to be loaded (`bit64`, `nanotime` or `data.table`). The `C++` core library (`fstlib`) returns column vectors with the appropriate class set, but the specific packages still need to be loaded.

For a large number of colu

[2018-03-25 21:18] martinblostein opened #143 "Improve accuracy of fst_table documentation regarding random row access"
The documentation of `fst::fst` says:

However, it is not the case that only the requested subset of rows is read from file. What happens is that all rows been the first and last requested row are read into R, and then the rest are discarded.

It is important for the user to know this implementation detail. If they have a large fst file from which they need a small number of sparsely distributed r

[2018-03-25 22:30] MarcusKlik commented on #143
Hi @martinblostein, thanks for submitting your issue! Indeed, the current implementation reads all blocks in a range and then discards all blocks that are unneeded and that is far from ideal.

The documentation you are referring to was written for `read_fst()`, where that range is specified with an upper and lower value. But it doesn't hold for the `data.frame` interface, so that should be explain

[2018-04-09 12:58] shrektan opened #144 "Encoding info losses if the column names contain non-ASCII characters"
Hi, first of all, thanks for this great package! The speed is really that fast 👍

I want to report the issue that although `fst` supports writing and reading non-ASCII strings very well for its content, __the `Encoding` info for the column names will be missing if there are non-ASCII strings.__

## The minimal reproducible example

[code]

## sessionInfo()

[code]

[2018-04-09 14:13] MarcusKlik commented on #144
Hi @shrektan, thanks for reporting the issue and for adding the (clear) reproducible example!

Indeed, the encoding information is not stored correctly for the column names, see [this code](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/fststore.cpp#L372). The encoding is incorrectly assumed to be the default (local) encoding.

Thanks for spotting that and I will fix that ASA

[2018-04-10 14:38] #144 closed, assigned to MarcusKlik

[2018-04-10 14:39] MarcusKlik commented on #144
Hi @shrektan, I've pushed a commit that addresses the issue with encoding of column names. A small test script to verify:

[code]

I would be very interested to see if the `dev` version now works for you!

[2018-04-10 14:44] MarcusKlik commented on #144
Hi @shrektan, one additional note, `fst` assumes that the encoding of all elements of a character vector is identical. This assumption is made to avoid checking the encoding of each element in the vector (and having to store it), which would require significant CPU resources. Parameter `uniform_encoding = FALSE` can be used with `write_fst()` to check each element separately (but an error will be

[2018-04-11 03:08] shrektan commented on #144
@MarcusKlik I confirm the fix works for me. Thanks for the quick fix and the nice comment that I missed before. Assuming the identical encoding is reasonable for me.

BTW, for across-platforms compatibility,  I always have to build wrapper functions like `write_std_fst()` to ensure the `data.table` written to disk is encoded in `UTF-8` with timezone `UTC` (if not, converted to `UTF-8` and `UTC` fi

[2018-04-11 21:19] MarcusKlik commented on #144
Hi @shrektan, thanks a lot for testing that!

To understand your request correctly, are you referring to the use case where you write a `data.table` to a `fst` file and retrieve it on a computer that's located in a different time-zone or with different settings for the character encoding (and the encoding or time-zone is left at the default setting)?

If you would like all `fst` files to have it's

[2018-04-11 22:11] MarcusKlik commented on #144
To get a feeling for the performance of converting a non `UTF-8` string to `UTF-8`, I did a small benchmark:

[code]

we can also do that in `C++` using `Rcpp`:

[code]

Although the `C++` version is much faster than `iconv`, it's still _only_ about 100 million characters per second (106 MB/s not counting any `NA` checks). Such low speeds can be a real bottleneck for `fst`, because when the multi-

[2018-04-12 06:19] shrektan commented on #144
@MarcusKlik Thanks for the very detailed comment (like I didn't notice that `feather` will convert to UTF-8 strings automatically)!

The killer feature of `fst` is the lighting I/O speed so yes it needs to be notified properly. However, not sure if a new option or a new argument is better.

One of the user cases I can imagine: If the user wants the speed, he/she simply `write_fst()` as usual. When

[2018-04-16 05:25] mshamer opened #145 "Convert rds to fst"
Hello,

I have a large number of rds files (each file>100MB) that I'm trying to work with.
I just got familiar with your fst package which looks promising for my needs, since I need to read a certain column each time and not necessarily the whole file.
Since this is not something I can do with the rds format, I wondered if there is a way to convert the files from rds format to fst format.

Looking

[2018-04-16 07:04] shrektan commented on #145
`fst` is only able to write `data.frame` like data. If your rds files are all `data.frame`, you can simply read them into your computer's memory and write to fst files. Otherwise, I don't think it's possible. Some illustration codes:

[code]

[2018-04-16 11:29] MarcusKlik commented on #145
Hi @mshamer, thanks for submitting your issue!

@shrektan is quite right, at the moment, it's only possible to read your `rds` file as a whole before writing it to `fst` format. But it would certainly make an interesting feature if it would be possible to serialize a table stored in the `rds` format to the `fst` format column by column.

The advantage would be that such a conversion would (only) c

[2018-04-16 22:24] mshamer commented on #145
Thank you very much!

I appreciate your prompt responses

Best,

M

*Meytar Sorek-Hamer*, PhD
NPP Research Fellow (USRA)
NASA Ames Research Center
Building 245, Room: 280L
Moffett Field, CA 94035  USA
ph: 650-604-0153  cell: 669-264-8000

On Mon, Apr 16, 2018 at 4:29 AM, Mark Klik <notifications@github.com> wrote:

[2018-04-20 17:50] datafj opened #146 "Read from the last?"
Is it possible to read from the last?

For example, if you allow "from=" to have a negative value, then it would be easy to read the last row with "from=-1".

Right now, we can get the number of rows through the meta, and then set "from=" accordingly. But would it be easier or even faster to internally handle this logic?

[2018-04-20 21:11] MarcusKlik commented on #146
Hi @jflycn, thanks for your feature request!

That would indeed be a nice feature. Currently method `fst` in the package creates a reference to a _fst_ file that mimics the `data.frame` behavior:

[code]

But as you can see from the example above, negative row numbers are not allowed at the moment. To stay in line with the `data.frame` interface, negative row numbers should probably be allowed but

[2018-04-24 08:08] HughParsonage commented on #120
To add support to the specific case of retaining `data.table`: since `fst` is likely to be used for large data objects, it is more convenient to be able to `read_fst` without having to remember `as.data.table = TRUE` to avoid the console being hit. I think adding the `class` of the data.frame to `fst::fst.metadata` rather than custom metadata would be a suitable solution (perhaps even under a `'la

[2018-04-24 13:24] MarcusKlik commented on #120
Hi @HughParsonage, thanks for your comment!

Indeed, the specific _table type_ that was used to originally store the data is important enough to merit it's own meta-data field in the format. The same holds true for the language, because the specific language is important for the future implementation of the `list` column-type (list elements will have to be (de-)serialized with language-specific se

[2018-04-25 07:14] MarcusKlik opened #147 "Use a fst file as a container for an ALTREP vector"
`R` 3.5.0 brings some features from the `ALTREP` framework. One of those features is that the actual vector data can be stored in an alternative structure or location. Such a structure could be a `fst` file.

Because `fst` provides random access to stored vectors, it could be the ideal ALTREP container for vector data.

[2018-04-25 07:15] MarcusKlik commented on #147
A reference to some features of the ALTREP framework can be found [here](https://svn.r-project.org/R/branches/ALTREP/ALTREP.html).

[2018-04-25 07:19] MarcusKlik commented on #147
The [simplemmap](https://github.com/ltierney/Rpkg-simplemmap) package can be used to learn what's needed to implement a vector with it's data stored in a _fst_ file.

[2018-05-03 16:58] datafj commented on #146
Hi @MarcusKlik , thanks for your response.

I see you added this to the fst v0.8.6 milestone. I am not very familiar github. Does this mean this feature has been implemented?

I understand I can get the last row through the tail function, but that would require reading the whole data file into memory first, even when I only need the last row. What I expect is to read the last x rows, without readi

[2018-05-03 22:25] MarcusKlik commented on #146
Hi @jflycn, thanks for your question. Unfortunately it's not implemented yet. But by adding it to the next milestone, it's scheduled for the next release, so please be patient!

Until that time, you could use a custom `tail` method, for example:

[code]

Hope that helps you!

[2018-05-09 21:46] MarcusKlik opened #149 "CRAN builds fail after data.table 1.11.0 update"
The [unit test](https://github.com/fstpackage/fst/blob/develop/tests/testthat/test_roundtrip.R#L94-L102) that checks for a correct roundtrip of `ITime` vectors fails with `data.table` releases > 1.11.0. The problems seems to be due to column names not registering when a `data.frame` (not `data.table`) with a column of type `ITime` is created. An example that shows the problem:

[code]

The same co

[2018-05-09 21:54] MarcusKlik commented on #149
The names attributes is incorrectly set to _V1_ in [this code](https://github.com/Rdatatable/data.table/blob/master/R/IDateTime.R#L177) from the `data.table` package. That was done in [this commit](https://github.com/Rdatatable/data.table/commit/4d8545e8ee65edac22724f9d917bb9e76dbac838#diff-913eafb72dfdd454126aa591b02b1b2dL177) (between version 1.10.4-3 and 1.11.0).

[2018-05-14 12:43] #143 closed, assigned to MarcusKlik

[2018-05-14 12:47] MarcusKlik commented on #143
Hi @martinblostein, I've changed [the documentation](https://github.com/fstpackage/fst/blob/develop/R/fst_table.R#L25-L29) for the `fst()` method to reflect that currently the row-selection is not exactly random-access, but reads a range of rows.

Thanks again for pointing this out!

[2018-05-14 12:57] MarcusKlik commented on #137
Hi @rexdouglass, I believe we can close this issue. The `fst_restore_after_fork` option can now be used to override the default behavior of `fst` (which is that the threads are restored after the fork).

Please let me know if that doesn't work for you!

[2018-05-14 12:57] #137 closed, assigned to MarcusKlik

[2018-05-14 14:39] #121 closed, assigned to MarcusKlik

[2018-05-14 14:41] MarcusKlik commented on #121
Hi @krlmlr, [the documentation](https://github.com/fstpackage/fst/blob/develop/R/fst.R#L25-L32) for `write_fst()` was updated to reflect that reads and writes are stable when these methods finish.

Thanks again for the pointers!

[2018-05-14 20:58] MarcusKlik commented on #112
Hi @renkun-ken, I believe we can close this issue, the default behavior of `fst` is now to restore the number of threads to the original setting after a fork has ended.

Please let me know if re-entering a `RStudio` session still disables multi threading and I'll re-open.

thanks for testing and submitting the issue to `RStudio`!

[2018-05-14 20:58] #112 closed, assigned to MarcusKlik

[2018-05-14 21:10] MarcusKlik commented on #110
Hi @renkun-ken, this issue was caused by `fst` switching into single threaded mode on a fork (to prevent problems) but not switching back to the original number of threads at forks-end. That default behavior has been changed now and `fst` will restore the original number of threads at the end of a fork. This default behavior can be changed by using parameter _reset_after_fork_ in `threads_fst()`:

[2018-05-14 21:10] #110 closed, assigned to MarcusKlik

[2018-05-14 21:25] MarcusKlik commented on #40
This was implemented in `fst` 0.8.4:

[code]

[2018-05-14 21:25] #40 closed, assigned to MarcusKlik

[2018-05-14 21:28] MarcusKlik commented on #6
Several benchmarks are now included on [the `fst` homepage](http://www.fstpackage.org/)

[2018-05-14 21:28] #6 closed, assigned to MarcusKlik

[2018-05-15 07:22] MarcusKlik opened #150 "Update LZ4 compressor to 1.8.2"
The latest `LZ4` release ([here](https://github.com/lz4/lz4/releases)) promises a 10% speed increase and faster compression for small data block (like in `fst`)

[2018-05-15 07:42] MarcusKlik opened #151 "Update ZSTD compressor to version 1.3.4"
The latest `ZSTD` compressor should bring speed increases, see [here](https://github.com/facebook/zstd/releases) for a detailed description.

[2018-05-15 07:47] MarcusKlik commented on #150
The `LZ4` compressor has been updated to version 1.8.2 in 8806a5d

[2018-05-15 07:47] #150 closed, assigned to MarcusKlik

[2018-05-15 08:09] MarcusKlik commented on #151
The `ZSTD` compressor was updated to version 1.3.4 in d89d429.

[2018-05-15 08:09] #151 closed, assigned to MarcusKlik

[2018-05-15 13:54] MarcusKlik commented on #149
The CRAN maintainers have requested a new release of `fst` to tackle the CRAN build problems. That means `fst` v0.8.6 will be a somewhat smaller release than originally planned and some features planned for 0.8.6 will move to the 0.8.8 version.

[2018-05-16 12:16] MarcusKlik commented on #149
Version 0.8.6 is on CRAN now.

[2018-05-16 12:16] #149 closed, assigned to MarcusKlik

[2018-05-16 12:19] MarcusKlik opened #152 "Fix all valgrind warnings"
The current `valgrind` warnings lead to confusion and extra work during a CRAN submission. They result from writing uninitialized bytes to file, which is done for performance (initializing takes some time).
These issues need to be resolved in the next release, for example by creating an option _fst_uninialized_bytes_ which can be set to `FALSE` to make sure all buffers are initialized before writi

[2018-05-17 02:45] renkun-ken commented on #124
In my recent work, selecting both columns and rows are needed.

I have a big `data.table` of nearly 100M rows and 1000+ columns. The data is a 1-sec snapshot of high frequency data, but I only need to store part of it (nearly 30M rows and 500 cols). Using a `dt[selector == TRUE, .(x1, x2, ...)]` would make a deep copy, costs a lot of time and memory even on a 80-core, 1TB RAM server, which is at l

[2018-05-17 13:12] MarcusKlik commented on #124
Hi @renkun-ken, thanks for your comments, you present a nice and important use-case for zero-copy writing, I'll add it to the `0.8.8` milestone!

[2018-05-18 00:06] gsgxnet commented on #141
Probably to late to comment - anyhow:

There is much discussion whether that implicit conversion of a df to a vector is really reasonable. It seems to be kept only for backward compatibilty.

The big problem is, if the columns selected are a computed at runtime expression you get a very unreliable behavior of such a `fstfile[, cols]` If cols contains more than one column then your result is a df,

[2018-05-18 07:21] MarcusKlik commented on #141
Hi @gsgxnet, thanks for your comment! I fully agree with you that the behavior for _one-column data frames_ is not very consistent and is prone to errors. However, that behavior is now part of the language and is also how e.g. `data.table` has implemented it:

[code]

So (perhaps unfortunately) I think `fst` should stick to that as well because that's what users will expect, don't you think?

[2018-05-18 16:21] martinblostein commented on #141
It's not great, but it is unfortunately the expected default behaviour in R. It's the same with matrices:
[code]

The 'good' news is that the `drop` argument to `[` can be used to ensure that the output is a `data.frame` or matrix no matter what. We could implement that option.

[2018-05-18 21:07] MarcusKlik commented on #141
Yes, good idea, there is no reason to keep our [current warning](https://github.com/fstpackage/fst/blob/develop/R/fst_table.R#L347), we might as well return a `data.frame` when requested, thanks @martinblostein and @gsgxnet!

[2018-05-20 17:53] gsgxnet commented on #141
Yes I agree having the `drop` argument seems to be the best compromise of standard adherence and development of R scripts/functions which must have a defined reliable result format.

I reread the `data.table` 1.11 FAQ and tutorial and it I found at least 3 options to force the result to be a data.table all the times:
`dt[, list(X)]`
`dt[, .(X)]`
`dt[, "X"]`
but it does not really support `dt[, X,

[2018-05-21 04:39] mikejiang opened #153 "add append argument to write.fst"
We have 1M x 30k big matrix and would like to use fst to load submatrix on demand. Since the data is too big to fit into memory in the first place (stored as h5 file), how do I manage to write to fst format without loading entire matrix to data.frame?

[2018-05-21 18:57] mikejiang commented on #113
~~Will current random row accessing cause some memory issue? Imagine a `1m x 30k` matrix stored as `fst` format, the `[c(1,1e6), ]` will cause the entire matrix to be loaded into memory all at once even though just a few rows are requested. Maybe split the read into several IO will help?~~
Never mind, I see this issue was already discussed in #143

[2018-05-21 22:00] MarcusKlik commented on #153
Hi @mikejiang, thanks for your question! For loading a matrix that's already stored using the method given as an example in #154, random access retrieval could be added (full code given for completeness):

[code]

This would give you a way of reading matrices random access without too much memory overhead. But to really get maximum speed and avoid extra memory-copies, the random access `matrix` wo

[2018-05-21 22:16] mikejiang commented on #153
Actually to subset h5 by columns and write them to the same fst file is what I was asking for. e.g.
[code]
or some kind of `cbind` method to merge multiple `fst_table`s

[2018-05-22 06:49] shrektan opened #155 "UTF-8 Encoding Info Loses If The First String Is ASCII"
Hi, there's a bug in the dev version. The utf8 encoding doesn't get preserved if the first string is ASCII. See the reproducible example below, thanks.

[code]

Created on 2018-05-22 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).
<details><summary>Session info</summary>

[code]

</details>

[2018-05-22 09:18] MarcusKlik commented on #155
Hi @shrektan, thanks for reporting!

The current behavior of `fst` is that it checks the encoding of the first element in a column. The encoding of that first element is stored and it's assumed that the remainder of the column uses identical encoding.

So your example actually shows expected behavior but I can see how that can be very confusing (and perhaps a sub-optimal solution).

Also, there is

[2018-05-22 09:30] MarcusKlik commented on #153
ah, I see! Yes, you will need `cbind()` or `rbind()` functionality for that, which is not implemented yet. The format is prepared to support multiple _chunks_ of data, so there is no need for a format change to support appending, but currently only single chunks are implemented.

As a workaround until this feature is available, could you store the chunks in separate files and write a (`R`) wrapper

[2018-05-22 11:34] shrektan commented on #155
Yes, having ASCII strings mixed with UTF-8 strings is not uncommon and it's very difficult to ensure an UTF-8 string always gets stored in the first element. An argument _force_UTF8_encoding_ looks good to me. Thanks.

[2018-05-22 21:15] MarcusKlik commented on #155
Hi @shrektan, thanks, so you're saying that the current strategy is not very effective, because non UTF-8 strings are often found in combination with UTF-8 strings (as a first element). Then indeed forcing the encoding is a better option, although it will take a pretty heavy performance hit:

[code]

So this vector can be re-encoded at around ~60MB/s, much slower than all other IO processes during

[2018-05-23 02:57] shrektan commented on #155
Hi @MarcusKlik , I made a simple c version test for you (about 4x faster than R version). Hope it would be helpful. (Note I learned using LEVELS to tell if is utf8  from data.table)

[code]

Created on 2018-05-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-24 21:18] MarcusKlik commented on #155
Hi @shrektan, nice work! Interesting that you directly use the _general purpose_ bits from the `sxpinfo` header (didn't realize the encoding was stored there), and a factor 4 speed improvement is great.

Because the code is accessing the `sxpinfo` header and `Rf_mkCharCE()` is (possibly) called, the conversions will have to be done on the main thread. But they can be done in parallel with loading

[2018-05-28 22:42] gsgxnet commented on #108
I am eagerly awaiting the `fst` version which will have some `filter`, `select`, ... function.
For me this will be the missing part for an R analytics desktop. The are several 3, 5, 10, 20, ... GB tables which I can dump into R from a big database system which I would like to analyse further.
All tables together in full will never fit into main memory, but first dumping each into R - `data.table`s

[2018-05-29 08:10] MarcusKlik commented on #108
Hi @gsgxnet, thanks, yes, those would be a very powerful features and they are definitely on the feature list for `fst`. If you want, you can 'emulate' these features now by working around the column and row selections that you can do with `read_fst()`, but obviously that won't give you a powerful interface like with `dplyr` yet.

For the future, the plan is to provide a separate (`R` only) packag

[2018-06-04 11:03] MarcusKlik commented on #152
I've located the `valgrind` warnings [reported on CRAN](https://www.stats.ox.ac.uk/pub/bdr/memtests/valgrind/fst/fst-Ex.Rout) and all of them are caused by uninitialized bytes being written to disk. Those bytes are now initialized to zero using `memset()` which should solve the `valgrind` issues. CRAN maintainers have asked to submit the fixes as soon as possible, so a `fst` package version `v0.8.

[2018-06-06 22:45] gsgxnet commented on #108
By chance I have found another setup which might define a great interface for `fst`.
See this github repo: https://github.com/WinVector/rquery
`rquery` lets you define a relation algebra tree in a piped format.
This tree will be optimized and can at this time be used to query DBI and non-DBI dbs (not many at this early stage of development). If `fst` would become another "backend" for rquery - mig

[2018-06-08 08:00] MarcusKlik commented on #108
Hi @gsgxnet, thanks, that looks very interesting indeed (although the ordering and merge operators would be a challenge at this point I think when implemented completely _on-disk_ as would be the most powerful).

An `rquery` backend could fit nicely to the backend already in development in the `fsttable` [pilot package](https://github.com/fstpackage/fsttable). There, an intermediate class is used

[2018-06-08 08:40] renkun-ken opened #157 "Reading partially copied file causes memory-not-mapped crash"
It takes some time to copy a big file. If the copy process is terminated before finishing, the file is corrupted. Unfortunately, if a user is unaware of the file size, it would be hard to check the file integrity without reading it. However, reading a partially copied file will crash an R session in the latest release of `fst`. Below is a simple reproducible example:

[code]

[code]

During the pr

[2018-06-08 21:17] MarcusKlik commented on #157
Hi @renkun-ken, thanks for reporting! I think that there are two main issues that need to be implemented to solve these kind of instabilities:

1. Currently, the 16 kB data blocks that make up the bulk of the `fst` file, are not hashed. So a compressed block of data is transferred to the decompression algorithm without checking the data integrity first. Calculating a hash of a 16kB data block can

[2018-06-09 01:50] renkun-ken commented on #157
I tested with v0.8.6 and reading a partially copied file seems to hang forever. With prior versions, it may also crash.

[2018-06-09 23:57] gsgxnet commented on #108
Hi **@MarcusKlik**, thanks for giving `rquery` a thought. My ideas are more of a brainstorming. Please do not read them as well thought out requests.
So far I had the impression that a full fledged `dplyr` layer for `fst` would be a huge effort and had assumed `rquery` might be a bit easier.

Anyhow - thinking further about `rquery` interface - might it be an option to implement it in 2 stages, re

[2018-06-11 18:21] MarcusKlik commented on #108
Hi @gsgxnet, yes that is a good idea. Start with a working package that uses `rqdatatable` as an intermediate and then selectively work from there. If you would like to give that a try, I would be happy to help setup a package (`fstquery` ?).

thanks

[2018-06-11 18:31] MarcusKlik commented on #157
Hi @renkun-ken, I think the hanging is due to the compressor getting an incomplete data block to decompress or due to incorrect meta-data making the file pointer jump to the same location in the file again and again. Fixing this instability is important, I have added it to the next release milestone.

Thanks for providing the example code that reproduces the issue (most of the time :-))!

[2018-06-14 22:03] gsgxnet commented on #108
Hi **@MarcusKlik**. I am willing to contribute whatever I can. I must admit I am not a good R or C package developer. I had tried some time ago to improve/extend an existing package `RSAP` which had been developed to download by `RFC-calls` several types of data from SAP systems. After some time I was able to improve it in a way to handle some special kind of data which failed before, to transfer

[2018-06-15 21:07] MarcusKlik commented on #108
Hi @gsgxnet, thanks, I'll set up a new repo soon and we can take it from there!

[2018-07-22 15:12] schelhorn opened #159 "Subset by rownames"
Hello there,

awesome package! It appears as if `fst` currently does not support character rownames, though. For practical and compatibility reasons it would be nice to be able to subset by rownames as well as by columnames (the latter of which is already implemented, of course).

For my own use I added a simple fix, i.e. having an extra column with a "magic" name that stores the rownames at seria

[2018-07-22 18:25] schelhorn commented on #127
Hi @MarcusKlik, I'd be interested using per-`fst`-file custom metadata as well. Are there any specific plans in that regard? Thanks!

[2018-07-22 20:45] MarcusKlik commented on #159
Hi @schelhorn, thanks for your kind words and submitting your request!

In general, serializers in `R` take different approaches to the treatment of column names:

[code]

The default `data.table`, `feather` and `readr` approaches are to disregard the columns names if present (and the `readr` documentation explicitly says that `write_csv` _never writes row names_). The philosophy behind that is ni

[2018-07-22 20:54] MarcusKlik commented on #127
Hi @schelhorn, thanks for your request. Stored `R` specific metadata (special attributes or custom `R` objects) would not have any meaning in other languages than `R`. So that information would have to be marked with a specific language marker to signal the type of information stored. But textual information (_markdown_, _plain text_, etc.) can be stored and used  by all languages, so those are de

[2018-07-28 06:09] schelhorn commented on #127
For column-metadata I'd store information on what the data in that column means and how it should be interpreted. For per-file metadata, I'd store information on the provenance of the whole data set (by which person/organization and method it was generated and at which date). Encoding this in filenames sucks...

[2018-07-30 06:07] MarcusKlik commented on #127
Thanks, so your meta-data could very well be stored in `markdown` text attributes attached to columns and the table as a whole. And when the user works with `RStudio`, it would be nice to be able to display the documentation on the [viewer pane](https://support.rstudio.com/hc/en-us/articles/202133558-Extending-RStudio-with-the-Viewer-Pane). We could show the documentation with:

[code]

(for displ

[2018-07-30 12:36] matthiaskaeding opened #160 "Umlaut in path"
Hi,

thank you for writing this very nice package.

I am having problems writing / reading from a folder located in on a drive with an umlaut (a "ö") in the path. Writing gives the error (I removed the actual path):

`Error in fst::write_fst(D, <path>) :
  There was an error creating the file, please check path`

When i write the file somewhere else and copy  it into the desired folder, I get:

`E

[2018-08-01 22:34] MarcusKlik commented on #160
Hi @matthiaskaeding, thanks for reporting! Indeed, an umlaut in one of the top folders seems to cause problems where an umlaut in the filename does not:

[code]

the same applies to other UTF8 characters in one of the top-level folder names. The error is generated in [this code](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/fststore.cpp#L361-L367); apparently opening a binar

[2018-08-02 06:32] matthiaskaeding commented on #160
Thanks for looking at it!

Indeed, in my case the umlaut is in the top folder.

[2018-08-03 13:33] renkun-ken opened #161 "Need a way to read_fst by row index vector"
The use case is as follows:

I `write_fst` a large data table of 10M+ rows and 600+ columns. Each time I need to read many small chunks in the file specified by an integer vector of row indices, e.g. `c(2000:10000, 15000:60000, 82000:250000, ...)`. Currently, there are two ways to do this:

1. Read the whole file and subset with my row index vector.
2. Read the file many times, each time a differe

[2018-08-03 14:51] renkun-ken commented on #161
Just notice that `fst::fst` is able to do this. Thanks!

[2018-08-03 14:51] #161 closed, assigned to nobody

[2018-08-03 21:43] MarcusKlik commented on #161
Hi @renkun-ken, thanks! Yes you can do that using `fst::fst`. At the moment the row index processing is rather rudimentary though. On subsetting, the _min_ and _max_ row index values are calculated and then normal subsetting is used to get to the result.

This is fine for row index vectors that correspond to a range of rows, but for sparse vectors, the method should be improved (also, for your exa

[2018-08-04 08:12] renkun-ken commented on #161
Thanks for your thought on this! I'm curious about the current mechanism of subsetting a `fst` object like the following:

[code]

In the code above, `test.fst` is saved from a `data.table` with a key of `id, ...`. I'm wondering if the key is used somehow?

[2018-08-05 21:50] MarcusKlik commented on #161
Hi @renkun-ken, thanks! Yes, in that case the key could very well be used to speed up the row selection. For example, when `ids` is sorted (on the fly), the `fst` file could be read sequentially while keeping a moving pointer into the `ids` object. And the vector could be binned into chunks to know in advance which data blocks have to be read and which ones can be skipped.

So there is a lot of po

[2018-08-11 16:58] russellpierce commented on #152
Checking in on this because CRAN is at v0.8.8. Does that mean you've already resolved this issue, or was it pushed to a later release?

[2018-08-11 20:50] MarcusKlik commented on #152
Hi @russellpierce, thanks for spotting that! Indeed, the `valgrind` warnings have been fixed in `v0.8.8` on request of the `CRAN` maintainers (mainly in [this commit](https://github.com/fstpackage/fst/commit/cea2d10c14713d6fef18d73e711af55fcde745ef)). I will close this issue and label it with the correct milestone, thanks!

[2018-08-11 20:50] #152 closed, assigned to MarcusKlik

[2018-08-13 13:07] womta opened #162 "reading from (public bucket S3)"
I have a link in a public repository in AWS S3
https://s3-eu-west-1.amazonaws.com/stratominerdata/developer.stratominer.com/processedData/testingS3/default/testingS3_raw_plate_10_rep_1.fst which I can download anywhere

but when I try to load it in to memory directly from the link it fails... why?
read.fst('https://s3-eu-west-1.amazonaws.com/stratominerdata/developer.stratominer.com/processedData/

[2018-08-13 22:06] MarcusKlik commented on #162
Hi @womta, thanks for reporting the issue!

Yes, `fst` cannot easily access an online file directly, mostly because it requires random access during reading and it will fail on trying to open the file (in the `C++` backend) when a https `URL` is specified.

The `data.table` package is able to open the file because it first downloads the file to a temp location and then reads it from there (see [th

[2018-08-14 13:36] womta commented on #162
Hi @MarcusKlik

Thank you for the fast reply.
Is random access still required when the arguments 'columns', 'from' and 'to' are not specified in read_fst() i.e. it reads the full file anyway
Or does it still use random access?

Implementing the retrieval of the file before trying it and failing seems to be a nice improvement in the package...

Right now I use the aws.s3 package to store the file l

[2018-08-15 06:28] statquant opened #163 "Best practice when using fst::fst"
Hello,
I discovered fst::fst recently and it looks great.
I realize it is not finished yet but was wondering hoe to use it best in current condition (v 0.8.8 from cran)
I have a 80,000,000 x 7 fst file and was surprised to witness the following:

[code]

Should I want to efficiently run select queries as shown above, is there a best practice to follow ?

Regards

[2018-08-15 21:48] MarcusKlik commented on #163
Hi @statquant, thanks!

I'm also a bit puzzled by your example, because currently, the `fst` object just uses a logical vector in both of your cases. First, the complete column _date_ is read from file and after that a logical vector is calculated from the condition (e.g. `test$date == "2018-07-06"`). Then, that logical vector is used as the first argument of the `[` operator override from the `fs

[2018-08-16 19:36] statquant commented on #163
Thank you very much for the quick reply, I just wanted to have confirmation.
Regards

[2018-08-16 19:36] #163 closed, assigned to MarcusKlik

[2018-08-17 21:31] MarcusKlik commented on #163
great, thanks for submitting!

[2018-08-17 21:48] MarcusKlik commented on #162
Hi @womta, you're right, when all columns and rows are loaded, the _fst_ file is read completely sequentially, so it could be _downloaded_ in the same manner as `fread()` does. That would be a nice improvement to the package.

It's interesting to see that objects in `s3` buckets can be accessed randomly using the _Range_ specifier (see [this code](https://github.com/cloudyr/aws.s3/blob/master/R/ge

[2018-08-23 07:54] JaceyCJ opened #164 "cant load fst file on v0.8.8"
Hi,

I've got two fst files but cannot load them with the version 0.8.8.
Error message:
Error in fstmetadata(full_path, old_format) :
  Unrecognised file type, are you sure this is a fst file?

Having read through the previous issue, I know that it may need to revert back to the v0.7.3 but I cannot find the 0.7.3 tzg. Could you please provide this version or if there are alternative solutions?

Ma

[2018-08-23 13:39] nolanp2 opened #165 "update metadata from r"
It would be nice to have a way of updating meta data like column names on a file, without having to overwrite the whole dataset. For example, a feature that lets you call

`fst.metadata(fst_data)$columnNames <- paste0(fst.metadata(fst_data)$columnNames,"_updated")`

(currently gives an error)

Maybe there's already a way to do this, but I can't find it.

[2018-08-23 20:54] MarcusKlik commented on #164
Hi @JaceyCJ, thanks for your question!

You can still read _fst_ files created with a package version of 0.7.3 or lower by using the `old_format` parameter:

[code]

At some point in the future, this backwards compatability with versions before 0.7.3 will be depricated. The reason is that these files are less secure, as they don't contain hashed metadata blocks and _magic file numbers_ that can id

[2018-08-23 21:26] MarcusKlik commented on #165
Hi @nolanp2, thanks for your request!

Yes, it would be definitely nice to have a method like `dplyr`'s `rename()` or `data.table`'s `setnames()` to change the stored column names in the _fst_ file to new values!

Currently that's not possible yet, but there are several other features planned that will also need to update data in the (now immutable) _fst_ file (such as row- and column- binding). T

[2018-08-24 00:08] JaceyCJ commented on #164
Hi @MarcusKlik,

Thanks for your reply. I used this parameter, but it still come up with error message:
Error in fstretrieve(fileName, columns, from, to, old_format) :
  Unrecognised file type, are you sure this is a fst file?

Cheers,

[2018-08-24 12:27] nolanp2 commented on #165
Sounds good, I'll look forward to it. Excellent package by the way!

[2018-08-25 00:25] DavisVaughan opened #166 "fst_tables can't handle a specific type of column subsetting"
This issue came up over on `furrr` and I just thought I would make you all aware of it.

See:
https://github.com/DavisVaughan/furrr/issues/33#issuecomment-412102345

[2018-08-25 21:17] MarcusKlik commented on #166
Hi @DavisVaughan, thanks for bringing the issue to my attention!

Indeed, `fst` doesn't seem to handle the zero-column selection correctly because of the `data.table::setattr()` method as you mention in your [comment](https://github.com/DavisVaughan/furrr/issues/33#issuecomment-412102345).

I will fix that ASAP, thanks for taking the time to debug the error!

[2018-08-25 21:27] MarcusKlik commented on #164
Hi @JaceyCJ, that's strange, are you able to share one of the _fst_ file's for debugging? Without the actual data (or first few kB's of the data), it's hard to pinpoint the problem exactly.

Could it be that you used a `dev` version of the `fst` package to create the _fst_ file's earlier?
(backwards compatibility should work between different CRAN releases of the package, but not between releases

[2018-08-26 05:33] JaceyCJ commented on #164
Hi @MarcusKlik ,

Here is one of the fst files.
The share link: https://drive.google.com/open?id=1G6fuxRs8rSjxnTlk1xIzE3rsvBLO4t2u
Please Kindly check it.
I got it from a company so actually I do not know what kind of version it uses and how I can open it. Hope that you can solve out the problem.

Thanks,

[2018-08-28 22:22] MarcusKlik commented on #164
Hi @JaceyCJ, I (finally) managed to determine what `fst` package version the company used!

Apparently, the _fst_ file was written using a `dev` version from 11 months ago. And `fst` is not backwards compatible with intermediate `dev` package builds, so that's the reason you couldn't read it.

But if you read with the correct version and then re-write using the latest `fst`, you can solve the issu

[2018-08-28 22:59] MarcusKlik commented on #164
On the topic of providing the build version:

* the `data.table` package signs it's builds on `Travis` but does not add a unique marker in the code repository for each build. So users that installed the package from `Travis` can retrace the build but when the package was installed from source, the specific build information is lost.
* Another possibility would be to add a target to the `Makevars`

[2018-08-30 10:12] JaceyCJ commented on #164
Hi @MarcusKlik, thanks for your help. I finally installed the fst version with my Windows (not the Mac as it comes up with the clang error:
clang: error: unsupported option '-fopenmp'
make: *** [FastStore.o] Error 1
ERROR: compilation failed for package ‘fst’)
and opened the files.
You really give me a great hand.
By the way, the OSX is complicated to install the version.

Thanks again.

[2018-08-30 21:09] MarcusKlik commented on #164
Hi @JaceyCJ, you're welcome!

The Mac error is due to missing `OpenMP` support for your installed version of the `Clang` compiler. But with some extra steps, you can get `OpenMP` to work correctly on `OSX` (`OpenMP` is used for multi-threading).

If you're interested, you can take a look at [this page](https://github.com/Rdatatable/data.table/wiki/Installation#openmp-enabled-compiler-for-mac) from

[2018-08-30 21:09] #164 closed, assigned to MarcusKlik

[2018-09-03 17:12] dweemx opened #167 "Installation [fstcore/ZSTD/decompress/huf_decompress.o] error"
Hi,

I'm trying to install fst R package but I'm getting this error:
[code]

I'm compiling with GCC verison 4.8.2

Any idea what's going wrong?

[2018-09-04 09:14] alperyilmaz opened #168 "rds file size is smaller"
Hi,
I was testing the data frame shared in main page:

[code]

Then I save the data frame as fst (default options), fst (with max compression) and rds. Here's code for saving files

[code]

And here's the file sizes:

[code]

The benchmarks of the `fst` package showed rds file size as 1000 MB and 303 MB for the same data frame used in benchmarking. My system's CPU is `Intel(R) Core(TM) i7-4700HQ C

[2018-09-04 10:05] renkun-ken commented on #168
The comparison is a bit unfair since `saveRDS` uses `compress = TRUE` by default. You may try `saveRDS(df, "dataset_uncompressed.rds", compress = FALSE)` to compare with uncompressed fst.

[2018-09-05 14:04] MarcusKlik commented on #168
Hi @alperyilmaz, thanks for sharing your benchmarks!

With `saveRDS()`, the user can select several compression algorithms, each with very different performance characteristics: `gzip`, `xy` and `bzip2`. The default compression algorithm used by `saveRDS()` is `gzip`.

The `fst` packages uses the `LZ4` and `ZSTD` compression algorithms for high-speed and medium speed compression. These compressors

[2018-09-05 14:21] MarcusKlik commented on #167
Hi @mase5, thanks for reporting!

It looks like your build fails on the `ZSTD` (compressor) component. I'm not sure what the minimum `gcc` version is for building `ZSTD`, but I can see from the [CRAN build results](https://cran.r-project.org/web/checks/check_results_fst.html) that they use version 4.9.3 or higher.

Are you able to update your version of the `gcc` compiler ?

thanks!

[2018-09-06 00:59] alperyilmaz commented on #168
Hi @MarcusKlik  and @renkun-ken ,
Thanks for detailed explanations. I thought the benchmarks were for default options for both `saveRDS()` and `write.fst()`.. Now it's more clear.. It's good to know pros and cons of different compressors..

[2018-09-06 21:32] MarcusKlik commented on #168
You're welcome @alperyilmaz!

It's definitely interesting to take a look at other compressors for future expansions of `fst`, for example to provide a `compress = "ultra"` mode. Such a mode could be used to facilitate highly compressed _fst_ files on slow (network) drives or USB sticks.

Also, `ZSTD` provides a dictionary compression option, where training data can be used to compile a dictionary

[2018-09-06 21:32] #168 closed, assigned to MarcusKlik

[2018-09-11 20:09] rushgeo commented on #167
This is happening to me on a Centos 6.4 cluster, but the package installs fine on every Ubuntu 16.04 system I've tried.

Since the cluster uses environment modules, I've tried the following combinations, but all have failed on `huf_decompress.o`:

- R 3.3.1 and gcc 4.8.2
- R 3.5.1 and gcc 5.3.0
- R 3.5.1 and gcc 7.3.0

My error log looks similar:
[code]

The only difference in the versions I've tr

[2018-09-12 20:32] MarcusKlik commented on #167
Hi @rushgeo, thanks for testing and for trying to get `fst` to work on your `Centos` cluster!

From similar issues reported on `Centos 6` (for example with the [`hyperscan`](https://github.com/intel/hyperscan) library, [this](https://github.com/intel/hyperscan/issues/44) and [this](https://github.com/intel/hyperscan/issues/53) issue), it looks like there is a mismatch between the compiler and asse

[2018-09-12 21:20] rushgeo commented on #167
You were right about the assembler! Thanks for researching those similar issues.

The default `as` version on my cluster is 2.20.51.0.2. But the cluster does have an available environment module for `binutils` v2.29, and after loading that and a newer `gcc`, the install works.

For anyone else that might run into this on a cluster, here's what I ran:
[code]

Other users will need to substitute dif

[2018-09-13 16:20] MarcusKlik commented on #167
Hi @rushgeo, that's great, I'm glad you got `fst` to compile on the cluster!

Thanks for sharing your solution!

[2018-09-14 23:40] waynelapierre opened #169 "Slow when reading data"
I have a large data in R and I save it in fst format using the fst package with compression rate of 100. When I try to read it into R, it takes a lot of time and crashes my laptop. The fst file data is 873 MB, is it normal or it could be something wrong with my laptop?

PS: The original data is about 10 GB, so after compression with a rate of 100, it should be 100 MB, but the resulted fst file is

[2018-09-17 08:54] MarcusKlik commented on #169
Hi @waynelapierre, thanks for submitting! At a compression setting of 100, `fst` will use the maximum amount of compression that it has available (for most column types,  that means `ZSTD` compression at the maximum setting). But (unfortunately), that will usually not mean that the resulting file will be a factor 100 smaller (I wish :-)).

You are getting to a compression factor of ~11, which is a

[2018-09-24 18:05] dipterix opened #171 "API for raw-vector outputs"
Is there any method that maps R objects to raw vectors (in-memory) instead of writing to a file? I was wondering if I can avoid using file system.

Some of the background here:

Recently there is a R package `plumber` that provides restful web apis for R powered servers. It uses JSON by default to serialize data. However, this method is too slow when data size exceed 50MB.

I want to be able to se

[2018-09-24 19:52] dipterix opened #172 "MacOS installation error (Github dev version)"
[code]

[2018-09-24 20:34] MarcusKlik commented on #171
Hi @dipterix, that's a very interesting question!

Currently, `fst` can only serialize to- and from- file, but writing to/from a consecutive piece of memory would definitely be a nice feature to have. And it would be useful for other use cases as well. For example, two applications that implement the `fst` API, would be able to use shared memory to transfer data among each other (e.g. from `R` to

[2018-09-24 20:43] MarcusKlik commented on #172
Hi @dipterix, thanks for reporting!

like the `data.table` package, `fst` uses _OpenMP_ for it's multi-threading. On `MacOS` you will need to install a _OpenMP_ enabled compiler to compile the `dev` version because the default `Clang` installation doesn't support _OpenMP_. To do that, you could follow the instructions on the [data.table wiki](https://github.com/Rdatatable/data.table/wiki/Installat

[2018-09-24 21:40] dipterix commented on #171
Think about the following scenario, I have a data server which requires secure connections and there are several logic servers connecting to the data server via intranet. Bandwidth is hence no problem. However, since my data is generated dynamically and usually large, it'll be slow to use database or any file systems, all matters is the speed of transferring data from data server to logic servers.

[2018-09-24 22:56] dipterix commented on #172
Thanks. That's helpful!

[2018-09-25 20:11] MarcusKlik commented on #171
Hi @dipterix, thanks for clarifying your setup. I think that in your case a fast serializer is the most important component:

[code]

with this scheme you can take advantage of the multi-threaded compression that `fst` offers (with `ZSTD` and `LZ4` compressors), while still being able to sent any type of (generated) object as needed by the client.

And the performance:

[code]

As you can see, the

[2018-09-25 20:57] MarcusKlik commented on #171
By comparison, it's interesting to see the timings for `R`'s build-in compressors using the same setup:

[code]

and the resulting compression ratio's:

[code]

So while the compression ratio's of `bzip2` and `xy` are higher, the speeds are much lower and impractical for your purposes, from about 13 MB/s for `bzip2` to less than 1 MB/s for `xy`.

(the comparison is a bit unfair, because the build-

[2018-09-26 17:33] dipterix commented on #171
Thanks for the comparison. I did almost the same on`bzip2` and it's super slow compared to `LZ4` (100x on 800MB raw vectors? but I was using 8 cores so if single thread 10x slower).

I think `fst` speed is pretty good. Maybe my requirement is too high. Probably I need to split data into chunks and send them individually.

One thing that caught my attention is the speed for `serialize+compress_fst`

[2018-09-28 21:25] MarcusKlik commented on #171
Hi @dipterix, thanks, yes, the _fst_ format was designed from the ground up to allow maximum throughput of data to- and from disk when using multiple threads. It also writes to disk in parallel with compression of the data. So the actual writing only uses a single core and the remaining cores are available for compression.

The data is compressed with the `LZ4` and `ZSTD` compressors, which have a

[2018-09-30 02:14] dipterix commented on #171
Thank you too for solving my problems!

[2018-09-30 19:57] #171 closed, assigned to MarcusKlik

[2018-09-30 19:58] #172 closed, assigned to MarcusKlik

[2018-10-11 08:30] renkun-ken opened #173 "write_fst with row selector"
My use case is that I have a data table of nearly 1 billion rows and nearly 80 columns.

This data already occupied 400GB out of 500GB server memory. I need to `write_fst` a subset of this table (around 80% rows) but there is not enough memory left to do so unless I create another 300GB more swap spaces.

I'm wondering if it is possible that `write_fst` allows subsetting without a copy. I roughly

[2018-10-11 21:43] MarcusKlik commented on #173
Hi @renkun-ken, thanks for sharing your interesting use-case!

A row selector would be very useful, both for reading- and writing data.

If the row selector just represents a binary _mask_, it could be implemented with a binary vector (`C++`) requiring little memory (125 MB in your case). To speed things up, an binary vector could be appended that signals empty blocks of, e.g. 32 rows. And another

[2018-10-13 01:43] renkun-ken commented on #173
Thanks for your thoughtful explanation!

[2018-10-31 11:17] xiaodaigh commented on #108
Checkout https://github.com/xiaodaigh/disk.frame and the vignette. I have done some `dplyr` work "inspired" by the chunked package

[2018-10-31 11:19] xiaodaigh commented on #153
duplicate of #91 ?

[2018-10-31 11:22] xiaodaigh commented on #129
I have created [a vignette](https://github.com/xiaodaigh/disk.frame/blob/master/vignettes/intro-disk-frame.Rmd) but it's not quite the one that deals with Fannie Mae data yet.

[2018-11-01 20:21] MarcusKlik commented on #129
Hi @xiaodaigh, I already saw a lot of activity on your package :-)
Great work, `disk.frame` seems very feature rich already, are you almost releasing to CRAN ?

I'm going to study your vignette, looks very nice already.

Thanks for the heads-up!

[2018-11-02 02:11] #136 closed, assigned to MarcusKlik

[2018-11-02 02:25] xiaodaigh opened #175 "`fst()` fails when working with network drives"
The issue is the same as in #136 and the line

`full_path <- normalizePath(path, mustWork = TRUE)`

is the issue

[2018-11-05 13:29] mthomas00 commented on #101
Hi @ MarkusKlik. First, thank you for the fantastic package.

I'm having a similar problem to @khsu15, but on macOS 14.1, FST 0.8.8, R 3.5.1. I have followed the instructions for data.table and am able to get it complied, but not FST. Here is the output from sessionInfo():

`R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS  10.14.1

Matrix products: de

[2018-11-05 21:36] MarcusKlik commented on #101
Hi @M7dgi4, thanks for reporting your issue!

Would it be possible for you to post the output of the failing build ? That way, we might get a better idea what's going wrong...

[2018-11-09 03:51] bwlewis opened #176 "Segmentation fault"
I get:

[code]
and the same with the ZSTD compressor:

[code]

with:
[code]

Not sure exactly where the problem is...I don't think it's R or the compression library because this works on the same system, using the old  lz4 https://github.com/bwlewis/lz4 package that I hope fst will replace eventually...
[code]

[2018-11-09 08:53] MarcusKlik commented on #176
Hi @bwlewis, thanks a lot for reporting the issue!

You're allocating a vector larger than 4 GB, so it looks like a problem with (64-bit) memory addressing. Does the problem occur if you use:

[code]

your package is very nice and uses `LZ4` to compress a vector in one go, doesn't it? That's different from `fst`, because `fst` divides the `raw` vector in smaller blocks and then compresses each of

[2018-11-14 06:51] jangorecki opened #177 "extend benchmarks for character fields"
On the project website there is example data, and it is written that data is being used for presented benchmark. The slowest part of R IO is to read character columns, because R glocal string has to be populated in single threaded way. The example data lacks character data type.

[2018-11-14 10:34] MarcusKlik commented on #177
Hi @jangorecki, thanks for your question and love your work on the `data.table` package!

Yes, you're absolutely right, `character` columns are by far the slowest type of column, at least for de-serialization. Any benchmark that includes `character` columns will be completely dominated by the timings on that, so that's why I left out `character`'s, a bit unfair perhaps.

The problem, as you know,

[2018-11-14 10:41] MarcusKlik commented on #177
Hi @jangorecki,

and the benchmark was done again [here](https://github.com/fstpackage/fst/issues/50#issuecomment-295085628) after Matt fixed the multi-threading on `fread()` for Windows systems :-).

Also, perhaps you might be interested in the multi-threading section of my [blog post](http://blog.fstpackage.org/2018/01/fst_0.8.0/#multi-threading) from last January. It shows a comparison between

[2018-11-15 03:54] jangorecki commented on #177
Thanks for detailed information.
We were planning to change csv to binary format in https://github.com/h2oai/db-benchmark/issues/47
And because of that I went to check `fst` but your benchmark was not addressing our case as we have 1/3 of columns character. That is why this request.

[2018-11-15 08:38] MarcusKlik commented on #177
Hi @jangorecki, thanks, yes, I think `fst` could very well be used to load your > 50 GB dataset, especially with the amount of cores you guys are using for benchmarking.

You can see from the [per-column](https://github.com/fstpackage/fst/issues/50#issuecomment-295085628) benchmark that `fst` takes much less time for loading than the alternatives reported, and slightly less time for `character` co

[2018-11-19 04:59] waynelapierre opened #178 "Convert txt/csv files into fst format"
I noticed that the fst R package allows me to access a fst file like a regular data frame, which is super useful in my case since I need to deal with large data on a daily basis. However, the issue is that most of my files are in txt/csv formats, I need to import them into R first and then save them in fst formats.  This basically means I cannot deal with out-of-memory data. I would like to ask ho

[2018-11-19 05:13] xiaodaigh commented on #178
In the yet to be released [disk.frame package](https://github.com/xiaodaigh/disk.frame), there is a function to convert CSV to disk.frame which is just a bunch of fst files in a folder.

The function is `disk.frame::csv_to_disk.frame` and you can specify to read in some n lines of data instead of reading in the whole file. `?disk.frame::csv_to_disk.frame` for more details

[2018-11-19 05:26] waynelapierre commented on #178
Let's say I have a data of 30 GB (RAM of 16G) and I use disk.frame::csv_to_disk.frame to convert it to several fst files, and then manipulate the created files as if they are in one data.frame. Did I understand it correctly?

[2018-11-19 05:29] xiaodaigh commented on #178
You can use disk.frame to _approximately_ manipulate the files as if they are in one data.frame. There are some differences especially with group_by and no sorting being implemented. Just to go through the examples at the bottom of README to see if disk.frame has what you need. I manipulated the Fannie Mae data with 1.8 billions row using it. So it satisfied all my needs including joins and group-

[2018-11-20 08:09] MarcusKlik commented on #178
Hi @waynelapierre, thanks for your question!

At this moment, there is no direct way of importing a large _csv_ into a _fst_ file, but it would be nice to have that in `fst` in a future release.

The challenge with converting from _csv_ files is that _csv_ is a row-based format, while _fst_ is a columnar format. That means that for out-of-memory conversion of _csv_ to _fst_, chunks of data from th

[2018-11-22 12:04] ghost commented on #61
Hi Mark ,

Package "fst" starting on my mac with single core support. OpenMP is installed and declared .
Package ```data.table``` compilation with OpenMP ends with success and  data.table working with 8 cores ```data.table::getDTthreads()  8```

Can you help ?

sessionInfo()

[code]

~/.R/.Makevar
LLVM_LOC = /usr/local/opt/llvm
#CC=$(LLVM_LOC)/bin/clang
#CXX=$(LLVM_LOC)/bin/clang++
CC=$(LLVM_LOC)/

[2018-11-22 22:15] MarcusKlik commented on #61
Hi @robbig2871, thanks for posting your question.

From your build output I can see that the `.c` files (the bundled `LZ4` and `ZSTD` compressors) are compiled with the new `llvm` compiler, but the `.cpp` files (the `fstlib` C++ library) are still using the default compiler.

I think you can fix that by adding the following line to your `~/.R/.Makevars`:

[code]

you could also change the `CPPFLAG

[2018-11-25 22:28] ghost commented on #61
Hi @MarcusKlik .

Regarding Makevar - after changes and reinstallation  fst see  8 threads !
Thank you for you help.

Regarding travis ... R from cmd line ... some issue found.

[code]

[2018-11-26 10:41] ghost commented on #163
Hi @statquant
in case you are asking your frame very often you can use %fin%
It is about 30-40% faster in this example.

[code]

[2018-11-26 15:45] ghost commented on #96
@MarcusKlik

Base on experiment below I guess that size of written file depends not only on compression method.
Is it 16k block size or something else ? Make it sense to expose this parameter inside```write.fst``` command for tuning ?

[code]

[2018-11-26 21:47] fstpackage commented on #61
Hi @robbig2871, thanks for testing both options!

The method used on Travis appears to result in some linker problems, I will have to take a closer look to see what's going on. But it's good to hear that the updated Makevars does the trick!

[2018-11-26 22:27] MarcusKlik commented on #96
Hi @robbig2871, thanks for your question.

are you asking about the differences in compression ratio between `LZ4` and `ZSTD` or between `compress_fst()` and `write_fst` ? As your example shows, the differences can be quite significant and depend a lot on the specific data used.

Also, the compression techniques used in `write_fst` are different from those used in `compress_fst`.
For example, your

[2018-11-29 11:05] #175 closed, assigned to MarcusKlik

[2018-11-29 11:45] MarcusKlik commented on #176
Hi @bwlewis, I've updated the `fstlib` library and the latest version contains a fix for your issue. The following code now runs correctly:

[code]

and the performance is still very good with large vectors:

[code]

So, that's a compression speed of 2.75 GB/s on my 6-core laptop (i7-8750H) (note that I have replaced your fully random data with a small sample to be sure that data can be heavily co

[2018-11-29 11:46] #167 closed, assigned to MarcusKlik

[2018-11-29 11:52] MarcusKlik commented on #169
Hi @waynelapierre, do you still have crashes when loading your compressed _fst_ file?

If you have a reproducible example to share, that would be great!

[2018-11-29 13:22] bwlewis commented on #176
Awesome, thanks works now.

[2018-11-29 13:22] #176 closed, assigned to MarcusKlik

[2018-11-29 13:40] bwlewis opened #179 "compatibility with lz4 command line file format?"
Just an idea, probably not really very important...

It would be nice if there were an option to output lz4-compressed data in a form compatibile with the lz4 command line file format, see for instance the examples in ?lzDecompress from the https://github.com/bwlewis/lz4 (very old and defunct) package.

[2018-11-29 19:45] mthomas00 commented on #101
The build error is :
clang: error: unsupported option '-fopenmp'
make: *** [RcppExports.o] Error 1
ERROR: compilation failed for package ‘fst’

[2018-11-30 00:23] ghost opened #180 "Loss of a class in write_fst/read_fst workflow"
See https://gist.github.com/aetiologicCanada/00184930bd5ca56f6d2a7ff6202a9d7c

write_fst followed by read_fst looses a class for  a variable, specifically fs_path from the fs package.

[2018-11-30 22:40] MarcusKlik commented on #180
Hi @aetiologicCanada, thanks for your question and clear code example!

At the moment, `fst` only serializes column attributes that have been specifically included in the package. The reason is that columns in _fst_ files must have meaning in various client languages (also e.g. in `Python`, `Julia` or `C++`), so only attributes that can be easily ported can be used.

The _path_ column in your code

[2018-12-02 05:28] jangorecki opened #181 "Message printed to console on `read.fst`"
When reading fst file we are getting extra message about loading data.table package. There should be an option to suppress that message.

[code]

After investigating I found that reading `fst` file actually requires `data.table` package to be installed while DESCRIPTION defines it as Suggested depedency. Any use of `data.table` should be properly escaped in such case. When we try to read fst not h

[2018-12-02 21:52] #181 closed, assigned to jangorecki

[2018-12-02 22:00] MarcusKlik commented on #181
Hi @jangorecki, thanks a lot for the fix!

I think at some point `data.table` will end up in the `Imports` field again, as I plan to use `data.table`'s fast sorting capabilities to sort chunks of data that constitute one or more groups of the data-set. Together with a merge-sort algorithm (for the chunks), that would allow for out-of-memory sorting of very big tables that are stored in a _fst_ fil

[2018-12-02 22:57] MarcusKlik commented on #179
Hi @bwlewis, yes  indeed, that would be nice. But although the [LZ4 frame format](https://github.com/lz4/lz4/blob/master/doc/lz4_Frame_format.md) is well documented, I don't see an obvious way of generating _LZ4_ files from the library API without having the _LZ4_ command line tool installed.

If you have an idea on how to best implement that, suggestions are very welcome!

[2018-12-02 23:00] xiaodaigh commented on #181
I wish I know enough C++ to help. I have started work on implementing an R-code only version.

[2018-12-02 23:17] MarcusKlik commented on #181
Hi @xiaodaigh, an `R` only version using `fst` as a backend for writing the chunks might be almost as fast as a `C++` implementation!

Most of the computational work during a merge sort is done in serializing and de-serializing chunks and writing- and reading the data to disk I think and the actual sorting of the chunks themselves (using `data.table`) will probably take less time.

You'll have to

[2018-12-03 07:35] bwlewis commented on #179
There is an example of that in that ancient https://github.com/bwlewis/lz4 package, see `?lzDecompress`. That example shows compressing a file with the library and then reading that with the lz4 command line program. The reverse could also be possible.

[2018-12-06 05:51] hope-data-science opened #183 "Errta of Readme of Random access"
"This reads rows 1000 to 5000 from columns Logical and Factor without actually touching...", I think it should be 2000 according to the codes you showed.

[2018-12-07 13:26] arunsrinivasan commented on #99
This is one of the main enhancements that'd be really nice to have for us (and that blocks us from switching to `fst`). Is there a time frame for this? I can try and see if it's a relatively simple fix, if you could point me to the right part of the code :-).

[2018-12-07 23:00] #183 closed, assigned to MarcusKlik

[2018-12-07 23:01] MarcusKlik commented on #183
Hi @hope-data-science, thanks a lot for spotting that!

[2018-12-07 23:20] MarcusKlik commented on #99
Hi @arunsrinivasan, thanks for asking, yes I agree it's long overdue and not too much work! I'll make sure zero-row (and column) tables will be available soon, sorry to keep you waiting!

[2018-12-09 06:58] jangorecki opened #184 "any plans for python/julia interfaces"
Are there any plans to make interfaces from other languages to your binary format. Having python or julia interface we can easily move data between different platforms. Something that feather was meant to do, but it is slow and crashing in R even for 500 MB data csv input.

[2018-12-10 13:12] MarcusKlik commented on #184
Hi @jangorecki, thanks for asking, the answer is yes, absolutely!

The underlying lib that powers `fst` is called `fstlib` (and is available [here](https://github.com/fstpackage/fstlib)). It compiles on all major platforms and recently I updated the [Travis builds](https://travis-ci.org/MarcusKlik/fstlib) to include also `Windows`.

To add a new client language, a wrapper for `fstlib` has to be cr

[2018-12-13 12:21] arunsrinivasan commented on #99
@MarcusKlik thank you very much!

[2018-12-17 22:45] wdkrnls opened #185 "package `fst' is not available (for R version 3.3.3)"
Hi, thanks for developing this awesome package!

I just tried to install `fst` onto an older server running CentOS6 and R 3.3.3. It told me that `fst` wasn't available. From CRAN I see that it claims that `fst` is supported through R >= 3.0.0. I tried to install from source on the CRAN web page and got a few errors:

[code]

[2018-12-18 14:17] MarcusKlik commented on #185
Hi @wdkrnls, thanks for reporting!

Perhaps your issue is related to #167, where compilation of `fst`'s C++ code fails because of the relatively old default compiler on `CentOS6`. Which `gcc` compiler version is installed on your system (`gcc --version`)?

[2018-12-21 14:58] wdkrnls commented on #185
Har Marcus,

You are definitely right: my compiler is ancient.

    gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-17)

[2018-12-21 22:23] MarcusKlik commented on #185
Hi @wdkrnls, thanks for checking that!

Indeed, it appears that _non-static data member initializers_ were introduced with [this `gcc` proposal](http://www.open-std.org/JTC1/SC22/WG21/docs/papers/2008/n2756.htm), which was implemented in `gcc` version 4.7 (see [this list](https://gcc.gnu.org/projects/cxx-status.html)). And yes, the proposal is from 2008 :-)

Are you able to update `gcc` to see if

[2018-12-26 02:39] shrektan commented on #119
@MarcusKlik (I'm using fst vesion 0.8.8.) I was bite by the same error at times... Sorry that I can't reproduce it stably but the error occurs every a few weeks... What weird is, if I delete the file and re-write again, it works fine...

The target table should be around 1000 KBs. However, when the error happens, I will find that the size of the file increases to 3GBs...

The table I write contain

[2018-12-28 22:01] MarcusKlik commented on #119
Hi @shrektan, thanks for reporting!

Do you also see these occasionally errors when reading from a network drive ? It's difficult to pinpoint the exact problem with the errors reported by @Giqles and @hyokangs. I have been trying to reproduce it by reading large _fst_ files with _character_ columns using various encodings from a network drive but didn't get any errors so far.

But your problem see

[2018-12-28 23:22] Giqles commented on #119
In case it helps, the network file system I was using that had this error was a gluster system on AWS (which was the storage for a pool of Rstudio pro servers -- which I assume is a reasonably common set up). It might be a lot of effort to set up that to debug this issue! But perhaps with @hyokangs files in the original issue and that extra info you might be closer to a reproducible version of the

[2018-12-29 22:21] MarcusKlik commented on #119
thanks @Giqles, yes, I think that when at some point in the data transfer from network drives, a few bytes are missed or mis-arranged, `fst` is not handling that very well.

Because reproducing these issues is very difficult, as you already mention, the best way to tackle them is probably to make `fst` calculate a hash for each data block written to disk. By verifying the hash before decompressing

[2019-01-30 17:55] ghost opened #187 "Inventory of fst files in a folder - feature request"
I have a feature request. It would be great to be able to have a function which inventories the "fst" files in a folder (or folder tree), and assigns to each file a variable name to each fst file in the inventory, e.g.

ft <- fst(path)
print(ft)

but for a folder, e.g.:
[code]

What I would want is for junk$fst_name to be the variable associated (via fst::fst) with the junk$path file.

I suspect t

[2019-01-30 23:25] xiaodaigh commented on #187
You can already do this. I used `data.table` but you should get the gist of it; the trick is to use `assign` to assign variables names to the global environment. Check the

[code]

If you want to manipulate these files simultaneously you might find https://github.com/xiaodaigh/disk.frame useful

[2019-01-30 23:40] ghost commented on #187
Thanks. The magic was in the assign. I'll work it up for a non-DT example
and post just to close  the documentation. Many thanks!

Closed, with thanks.

On Wed, 30 Jan 2019 at 15:25 susabi <notifications@github.com> wrote:

[2019-01-31 00:05] ghost commented on #187
library(data.table)
library(fst)
library(tidyverse)
library(fs)

data(diamonds)

fs::dir_create(here::here("data"))
diamonds %>% group_split(color) %>%
  walk(~.x %>%  write_fst(path = paste0("data/diamonds_",unique(.x$color),".fst")))

junk <- dir(here::here("data")) %>%
  purrr::walk(function(path) {
    assign(path, read_fst(file.path("data", path)), envir = .GlobalEnv)
  })

ls()

table(diamon

[2019-01-31 00:05] ghost commented on #187
Above is trivial adaptation for non data.table approach. Many thanks.

[2019-01-31 00:05] #187 closed, assigned to nobody

[2019-01-31 09:15] MarcusKlik commented on #187
Hi @aetiologicCanada and @xiaodaigh , thanks for sharing your solutions!

In my experience using `assign()` or equivalent methods is almost always very bad for reproducibility and tracking bugs. It's a form of _meta-programming_ or _programming on the language_ that can lead to unpredictable results :-).

How about filling a list:

[code]

this way, you won't clutter your global environment and ca

[2019-02-07 06:05] xiaodaigh opened #188 "fstmetadata not being to read some files where `c:/users/path`"
I work in a corporate environment and I don't have admin rights to the my Windows machine. What this means is that I can't write to `c:\` nor `c:\users\` but I do have access to `c:\users\MyUserID\`.

I stored my fst file in `c:\users\MyUserID\some_folder\1.fst`., and when I read it I get

[code]
Could it be to do with the fact that I don't have admin rights to higher level folders? I thnk I copie

[2019-02-07 22:39] MarcusKlik commented on #188
Hi @xiaodaigh, thanks for reporting!

I've tried to reproduce the error that you see by creating a accessible folder containing a unaccessible sub-folder (on Win10):

[code]

I can still access the _fst_ file, are you allowed to touch the _c:/users/path_ folder?
In your case, the sub-folder is probably on a network drive, so perhaps that changes things..

In `fstlib`, opening the file is done with

[2019-02-07 23:27] xiaodaigh commented on #188
Ok. At work it' a Windows 7 machine.

I can't touch.

[code]

Also my folders says `c:/` so I think it's not a network drive. But I don't know if it appears as a normal folder is in fact connect to the network. Is there a way to find out?

Also

`test_access()` gives `TRUE`.

I restarted my computer and now it reads it. It might be temperamental.

So I am not sure now. The exact same code that did

[2019-02-08 04:03] xiaodaigh commented on #188
I tried it again and it failed! And I restart and now it works. So it's very temperamental.

I try again and it fails. Something odd is happening.

[2019-02-08 16:58] MarcusKlik commented on #188
Hi @xiaodaigh, thanks for testing, that's very strange indeed!

Did you try if you have the same problem using other files? For example after converting the _fst_ file to the _xlsx_ format?

[code]

if it's the same with `xlsx` files, that would suggest that it's a problem with the access rights on the user folder. If not, the problem might be specific to `fst`...

[2019-02-12 22:29] xiaodaigh commented on #188
Ok. I tried reading a CSV using `data.table::fread` in the same folder. But it's very temperamental. The same code could work or not work. As soon as I see that it doesn't work, I would then run the `fread` which seems to always work.

This is indeed very odd.

[2019-03-04 10:32] MarcusKlik opened #189 "Fix potential PROTECT / UNPROTECT issues"
Request from CRAN, the `rchk` service generates some hits on PROTECT / UNPROTECT mismatches, details [here](https://raw.githubusercontent.com/kalibera/cran-checks/master/rchk/results/fst.out)

The problem here is that `UNPROTECT` statements are called in `C++` destructors, but `rchk` is not detecting that. We can add matching pairs or explain to CRAN why there is no risk of memory leaks.

[2019-03-21 05:41] renkun-ken opened #190 "Empty subsetting result using fst::fst causes error"
I'm trying to subset on object created by `fst::fst()`. If the result if empty, an error occurs, which is inconsistent with the behavior of a typical data frame.

Following is a minimal example:

[code]

The desired output is a zero-row data frame with the selected columns of correct types, as if subsetting the data frame as follows:

[code]

[2019-03-22 08:19] #190 closed, assigned to MarcusKlik

[2019-03-22 08:19] MarcusKlik commented on #190
Hi @renkun-ken, thanks a lot for reporting!

I've tracked the error to incorrectly calculated min/max boundaries [here](../blob/develop/R/fst_table.R#L400-L401). These return `Inf` when an empty row range is selected.

I've applied a fix, your code now runs as:

[code]

thanks again!

[2019-03-22 08:35] renkun-ken commented on #190
Thanks!

[2019-03-27 12:24] MarcusKlik commented on #189
All PROTECT statements in (`C++`) constructors are removed, as are UNPROTECT statements in destructors. Where required, a length 1 list is now used to contain a generated object. This way, the result is protected from garbage collection automatically.

The `rchk` warnings are basically false alarms, because all `C++` classes are tracked with smart pointers and the destructors will always be called

[2019-03-27 12:24] #189 closed, assigned to MarcusKlik

[2019-03-30 20:46] jllipatz opened #193 "Inconsistent conversion to vector"
Hello,

Should it be possible to get a behaviour similar to the R base 'drop'  parameter?

`df <- data.frame(x=LETTERS,y=1:26)
write_fst(df,"test.fst")
fst("test.fst") %>% .[1:10,"x",drop=FALSE] # a vector, 'drop' is ignored
fst("test.fst") %>% .[,"x",drop=TRUE] # a data.frame 'drop' is rejected with a message

Best regards

Jean-Luc

[2019-04-01 08:41] MarcusKlik commented on #193
Hi @jllipatz, thanks for pointing out that inconsistency!

Indeed, the current behavior is not what you would expect (on `dev`):

[code]

the expected behavior is to always assume _drop = FALSE_ and throw a message in other cases. But I agree it would be more clear to the user when the _drop_ argument is implemented in a manner consistent with base `R` (see also #141).

thanks!

[2019-04-02 10:41] MarcusKlik commented on #193
Hi @jllipatz, I've corrected the _drop_ behavior, your code now runs as:

[code]

thanks again for pointing out the issue!

[2019-04-02 10:41] #193 closed, assigned to MarcusKlik

[2019-04-02 10:43] MarcusKlik commented on #141
Hi @martinblostein and @gsgxnet, following #193, I've revisited this issue on the _drop_ parameter. It now follows base `R` behavior, thanks again for pointing out the issue!

[2019-04-02 10:43] #141 closed, assigned to MarcusKlik

[2019-04-11 00:31] randomgambit commented on #184
hello there! as you may have noticed, I think there is a need for an efficient storage format that works with R and Python. Do you have timeline for the `fst` python bindings?? Happy to do some testing if needed.

Thanks!!!

[2019-04-11 20:47] MarcusKlik commented on #184
Hi @randomgambit, thanks for the heads-up! Yes, there seems to be a void between `R` and `Python` that could be filled nicely with `fst` bindings for Python I think. My plan is to get a `Python` package operational before the end of this year.

Your offer to help with testing is much appreciated!

[2019-04-11 23:14] randomgambit commented on #184
I really wish you said before the end of the month instead!! :D

[2019-04-12 07:15] MarcusKlik commented on #184
Ha @randomgambit, yes, the same here! If only I had more time, I'll make sure to talk to my 'day-time-job' director on your behalf :-)

[2019-04-24 00:02] ryankennedyio commented on #119
@MarcusKlik That seems a useful fix. We do occasionally get similar problems.

A possibly related issue we're seeing with a ~30GB file written to network disk is _incorrect_ data. Most columns we write are numeric, and when we read them back out we reasonably often get large slabs of '0' values back (not NULL or NA or errors, just '0').

I've debugged every step of our process quite thoroughly, an

[2019-04-24 09:38] Giqles commented on #119
@ryankennedyio  -- that issue of many 0s sounds the same as my `1970-01-01` problem above:

I guess a temporary solution for this is to write a function that repeatedly tries to write a file until it gets a successful read that is identical to the in-memory data. Given how much faster `fst` is than the alternatives it might well still be quicker!?

[2019-04-24 21:00] MarcusKlik commented on #119
Hi @ryankennedyio  and @Giqles, thanks for sharing your results!

Indeed, the two problems seem related. Apparently, some writes fail and in those cases, zero's instead of actual data end up in the resulting dataset.

But in your cases, the writes use standard compression (right?), so the zero's could very well be the result of partially or incorrectly decompressed data-blocks. Even a single-byte

[2019-04-26 00:09] ryankennedyio commented on #119
Hi @MarcusKlik

Yes, this was showing up using default compression parameters.

Like you say, I was also expecting the compression libraries to be doing hash checks on the data as it was being written to disk, and throwing an error or warning if any issues were encountered. I took it for granted that the underlying I/O libraries would have been performing that.

We're now writing to local disk bef

[2019-04-26 17:25] MarcusKlik commented on #119
Hi @ryankennedyio, thanks, yes, apparently we need more checks to ensure that data is decompressed correctly. A full hash of the data should also be an option, per request of the user (`hash_data = TRUE`). That would slightly lower performance, but add much to stability.

At the same time, it's still not clear why these write errors occur in some cases, and it would be very valuable to learn the u

[2019-04-30 07:10] ryankennedyio commented on #119
I'd consider that to be the role of the underlying i/o libraries, not this package (ie not your bug!). We haven't seen any issues since writing direct to local disk, but it hasn't been too long yet.

[2019-04-30 21:16] MarcusKlik commented on #119
thanks, please let me know if you encounter similar issues on local writes. I´ll make sure the additional checks are available with the next release of `fst`!

[2019-05-08 11:34] phillc73 opened #194 "Feature Request: Port qs Concepts"
The [qs package](https://github.com/traversc/qs) seems to have developed some nice concepts.

Specifically I was wondering if it would be feasible to port [Byte Shuffling](https://github.com/traversc/qs#byte-shuffle) and [Alt-Rep Character](https://github.com/traversc/qs#alt-rep-character-vectors) vectors to fst?

It'd be interesting to see qs added to the fst benchmarking too.

[2019-05-08 18:46] dipterix opened #195 "Potential Compatibility Issue"
Hi, I'm writing a package that needs fast IO. I have two choices `vroom` or `fst` and I select `fst` because it is twice as fast as `vroom`. However, I'm worried about the potential compatibility issue for`fst` package.

For example, if my data is generated using old versions (0.8.10), will it be possible that the future versions don't support the data format? (like 0.9.0 doesn't support 0.7.X)

T

[2019-05-08 20:49] MarcusKlik commented on #195
Hi @dipterix, thanks for your question!

There's no need to worry, all _fst_ files generated with versions 0.8.0 or higher will be supported by later versions of the package, [as stated](https://github.com/fstpackage/fst/blob/develop/README.Rmd#L177) in the project README.

The earlier (beta) format didn't contain hashes for internally stored metadata and that made the format more vulnerable. The

[2019-05-08 21:44] MarcusKlik commented on #194
Hi @phillc73, thanks for your questions!

Yes, the `qs` package uses some interesting concepts and these are definitely very relevant to `fst` as well.

Concerning _Byte Shuffling_, in `fst` I have implemented a custom byte shuffling algorithm that is used for _integer_ and _double_ vectors. The concept is the same as with the _Blosc_ library: compression becomes much easier when similar bytes are

[2019-05-08 22:00] MarcusKlik commented on #194
As a side-note: I'm working on a new package [`lazyvec`](https://github.com/fstpackage/lazyvec) that will allow the user to test and create custom _ALTREP_ vectors without writing any _C_/_C++_ code. It could be that a better model for combining _ALTREP_ vectors with the `fst` package is by using this package as a dependency to another package that implements an interface to the on-disk data (such

[2019-05-09 01:15] dipterix commented on #195
That sounds great! Thanks!

[2019-05-09 01:15] #195 closed, assigned to MarcusKlik

[2019-05-09 05:54] phillc73 commented on #194
Thanks for the detailed responses. I certainly wasn't aware that byte shuffling was already integrated in `fst` and I'm looking forward to using `lazyvec`.

I've recently just chunked a rather large (for me!) single `fst` file of around 1 million rows using [disk.frame](https://github.com/xiaodaigh/disk.frame). I loved the fact that fst already supports retrieval by row number, but with `disk.fram

[2019-05-09 20:55] MarcusKlik commented on #194
Hi @phillc73, I tried to answer your question on the differences between `fsttable` and `diskframe` [here](https://github.com/fstpackage/fsttable/issues/40), hope that helps!

[2019-05-12 15:58] phillc73 commented on #91
I noticed that v0.9.0 was released a month or so ago, and this issue was originally targeted for that release. I see that this particular enhancement is still part of the Candidate milestone. Any further thoughts on when it might be completed?

[2019-05-13 07:35] MarcusKlik commented on #91
Hi @phillc73, yes, `v0.9.0` was released earlier because of the [CRAN issue with rchk](https://github.com/fstpackage/fst/issues/189).

Apologies for the confusion, this feature should have been moved to the `v0.9.2` milestone, thanks for pointing that out!

[2019-05-24 18:42] dipterix opened #196 "cbind table"
Hi I have datasets that is ~1TB for each projects which is too large for a 32GB RAM. I was wondering if there's a way to cbind fst table in a hybrid way?

Basically implement
[code]
that append the new column to existing file?

[2019-05-25 01:09] xiaodaigh commented on #196
duplicated with #153

[2019-05-25 19:45] MarcusKlik commented on #196
Hi @dipterix, thanks for your question!

Yes, the ability to column- and row-bind multiple _fst_ files into a single file is planned but not implemented yet. I'm interested in the details of your specific use-case; is your source data already in a series of _fst_ files, of do you have the data in an alternate source such as a remote database or a batch of _csv_ files?

Most analyses can be split i

[2019-05-28 15:24] dipterix commented on #196
@MarcusKlik I have data in other formats, but also have fst format as cache. For description of my current data, think of time series. My data has 1000 columns, each column is a 1GB signal and can be preprocessed in parallel. However, when I read data, I'm always reading the same rows across the dataset. I thought it might be faster to load these rows if lower end code supports it.

For example, m

[2019-05-29 21:48] MarcusKlik commented on #196
Hi @dipterix, thanks a lot for taking the time to explain your analysis!

The _fst_ format is a columnar format, so reading as many rows as possible during a single read should be the fastest solution (your second option).

From your answer I understand that garbage collection of a single large vector (plus your sliced matrix) takes a relatively long time. Longer than garbage collection of the 250

[2019-05-30 00:28] dipterix commented on #196
That'll be great. On the other hand I was wondering how hard it'll be to use `rows` instead of having `from` and `to` in `read_fst` and support readings non-consecutive but ordered rows in the C/C++ end?

Like:

[code]

Subsetting in C++ might be faster than R and much lighter.

[2019-05-30 21:40] MarcusKlik commented on #196
Hi @dipterix, yes, using a row selector during reading will be faster and much more memory efficient. Your question is also related to [this issue](https://github.com/fstpackage/fst/issues/173#issuecomment-429129180) which is about the use of a row selector for reading to and writing from disk (both are very useful).

That feature request is about _random_ row selectors. For reading, _ordered_ row

[2019-06-03 05:22] dipterix commented on #196
For those who are interested in how I compare these two ways of loading data, here are profiling.

### Subset data when reading via `fst`
[code]
![image](https://user-images.githubusercontent.com/8163576/58777560-75d41c80-8594-11e9-81f5-2024e7d5e562.png)

This method almost instantly finished.

### Load all data and then subset for each column
In this scenario, suppose I can only hold one column i

[2019-06-03 11:14] MarcusKlik commented on #196
Hi @dipterix, thanks for sharing your benchmarks!

Yes, `system.time()` seems to take into account the time spent by all the threads, so that's not very useful for multi-threaded code! Package `microbenchmark` does not have these problems and will yield better results (with more resolution).

From your code, it seems that copying takes a long time. And if memory is almost full, it can take even lo

[2019-06-03 15:30] dipterix commented on #196
In my test, I load **one column** and subset each time. Think if the file is ~200GB with 80 columns (2.5GB per column) and your RAM is only 4GB, you can only load one column at a time. Loading all the data and then subset is the fastest but that's not possible in this scenario, hence `fst_data <- fst::read_fst(file)` will blow up the RAM.

I think it's the column selection that slow down the whole

[2019-06-06 12:34] Moohan opened #197 "Inverse column selection"
Is it possible (and if not could it be implemented) to inversely select colums?

If I have a file with columns v1:v5 I could use `columns = c("v1", "v2", "v3")` I would like to be able to do something like `columns = c(-"v4", -"v5")` i.e. read all _except_ the specified columns.

[2019-06-06 20:47] MarcusKlik commented on #197
Hi @Moohan, thanks for your feature request!

Yes, so something similar to:

[code]
I know that in `dplyr` that can be done with

[code]

The easiest way to implement that behavior in `fst` would be to allow for an argument _reverse_columns_ that can be set to `TRUE` to reverse the column selection. Is that a feature that you would regularly use?

[2019-06-10 22:08] muschellij2 opened #198 "FST color ANSI issue"
Trying to have `fst` in a vignette and print out the output from `fst::fst`, but ANSI colors don't work right with PDF:
Offending code is: https://github.com/fstpackage/fst/blob/develop/R/fst_table.R#L222
[code]

So if `crayon` is not loaded (`!"crayon" %in% loadedNamespaces()`), then will check if `crayon` is installed.  If it is installed, but no color, then `color_on = FALSE`.  I believe this i

[2019-06-11 21:19] MarcusKlik commented on #198
Hi @muschellij2, thanks for spotting that!

Indeed, when there is no `crayon` package, the coloring was turned _on_ instead of _off_. The code now reads:

[code]

so the default is to turn off coloring except when `crayon` is installed and can verify the terminal has coloring.

thanks!

[2019-06-11 21:19] #198 closed, assigned to nobody

[2019-06-12 08:34] renkun-ken opened #199 "metadata_fst inproperly displays data.table key"
`fst::metadata_fst()` does not display the key of the data table correctly if the order of columns are not in alphabetical order.

[code]

[2019-06-12 13:06] #199 closed, assigned to nobody

[2019-06-16 20:08] wlandau opened #201 "fst for arbitrary data storage?"
Inspired by advice from @Eddelbuettel [here](https://stackoverflow.com/questions/56614592/faster-way-to-slice-a-raw-vector), I am attempting to leverage `fst` for arbitrary data. Essentially, I would like to take an arbitrary (and arbitrarily large) data structure in memory, serialize it to a raw vector, save it in a one-column data frame with `write_fst()`, and retrieve it later with `read_fst()`

[2019-06-16 21:34] MarcusKlik commented on #201
Hi @wlandau, thanks for your question and pointing me to the stackoverflow issue! Indeed, you can use _fst_ to serialize a raw vector to disk and benefit from the multi-threaded (de-)compression to get smaller files and faster IO.

With two methods almost similar to your code example:

[code]

you could write and re-read your raw-vector to disk without any overhead from (internal) copying:

[code]

[2019-06-16 21:48] MarcusKlik commented on #201
Hi @wlandau, as a side-note, `fst::compress_fst()` and `fst::decompress_fst()` do work as expected and can take _raw_ vectors larger than 2 GB:

[code]

[2019-06-16 22:09] wlandau commented on #201
@MarcusKlik, I am so excited that you are willing to work on this! A solution would be such a boon to the stuff I work on, re https://github.com/ropensci/drake/issues/907, https://github.com/richfitz/storr/issues/103, and https://github.com/richfitz/storr/issues/108. cc @richfitz and @nettoyoussef.

[2019-06-16 22:30] wlandau commented on #201
And thanks for the tip about `compress_fst()`. Both the compression and the parallel hashing are very relevant to https://github.com/richfitz/storr/issues/108.

[2019-06-16 22:35] MarcusKlik commented on #201
Hi @wlandau, `drake` and `storr` are very interesting projects, and it looks like there could be a lot of opportunity for `fst` to make a difference, very nice!

[2019-06-16 23:16] wlandau commented on #201
My thoughts exactly! `drake` is designed for big computation (long runtimes) and it currently struggles with big data. There is so much important ground to gain.

[2019-06-18 20:49] #201 closed, assigned to MarcusKlik

[2019-06-18 20:49] MarcusKlik commented on #201
Hi @wlandau, I've tracked the problem to a downcast in the `fstlib` library (the usual suspect with problems around 2^31 values) and believe it to be fixed now.

However,  as you already mention in your [stackoverflow issue](https://stackoverflow.com/questions/56614592/faster-way-to-slice-a-raw-vector), long vectors are not (yet) supported in _data.table's_, _tibble's_ or in _data.frame's_.

There

[2019-06-18 21:29] MarcusKlik commented on #201
As an example, we can store and retrieve a single column 8GB data.frame with >2^31 rows:

[code]

to illustrate some of the missing long vector support in `R` at the moment:

[code]

so until long vectors are supported here, I think we best stick with returning a names list.

[2019-06-19 02:34] wlandau commented on #201
Amazing! The `class<-` workaround no longer segfaults. Thank you for the patch!

[code]

<sup>Created on 2019-06-18 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Now I can benchmark https://github.com/richfitz/storr/pull/109 against https://github.com/richfitz/storr/pull/111.

[2019-06-19 03:29] wlandau commented on #201
The benchmarks at https://github.com/richfitz/storr/pull/109#issuecomment-503388873 are interesting. In the case of `storr`, it looks like we can save large-ish data faster with `write_fst(faux_data.frame)`, but we can read small data faster with https://github.com/richfitz/storr/pull/109#issuecomment-503054001. Both choices uniformly and noticeably outperform `storr`'s default compression setting

[2019-06-19 21:37] MarcusKlik opened #202 "Long raw vectors can be hashed with hash_fst()"
Make sure all instances of `Rf_length` are changed to `Rf_xlength` to allow for 64 bit lengths.

[2019-06-19 22:11] #202 closed, assigned to MarcusKlik

[2019-06-19 22:11] MarcusKlik commented on #202
Hashing is now possible on long (raw) vectors:

[code]

(note the pretty amazing hashing speed of 31 GB/s thanks to using the [XX64](https://cyan4973.github.io/xxHash) hasher in a multi threaded setup)

[2019-06-20 22:06] waynelapierre opened #203 "A strange warning message"
My code and warning message is as below:
[code]

[2019-06-21 07:05] MarcusKlik commented on #203
Hi @waynelapierre, thanks for reporting your problem!

Could you try running the following code on your system to see if you can trigger the error:

[code]

[2019-06-22 02:18] waynelapierre commented on #203
I rebooted my computer and this issue just disappeared. Thanks for your reply!

[2019-06-22 05:56] MarcusKlik commented on #203
great, thanks!

[2019-06-22 05:56] #203 closed, assigned to MarcusKlik

[2019-06-26 13:07] steffengreup commented on #155
I've ran into this issue previously. It's also possible to use a (bit hacky) R-based solution. When writing a fst to disk, one could add an extra first row to it,
with all character columns containing a string with the desired encoding. Then, after reading the fst file into R, one could simply remove the first row.

Suppose we have a dataframe where the first element of a character column cannot b

[2019-06-27 09:57] MarcusKlik commented on #155
Hi @steffengreup, thanks for reporting and for providing your code examples!

In the current implementation, `fst` scans for the first non-NA element in a character vector and determines the encoding of that element. That encoding is set as the encoding for the entire vector.

The reason this is done like that is performance: it takes a relatively long time to determine the encoding for a full vec

[2019-07-07 18:47] nfillmore commented on #99
Agreed, this is such an important feature. The main problem with not allowing zero-row tables is that it requires adding otherwise unnecessary special cases for situations where, although there usually are rows in the table, it can happen that there are not due to e.g. there being no matches to a query.

Example: I am caching intermediate query results in fst files. The presence of the cached fst

[2019-07-08 09:01] MarcusKlik commented on #99
Hi @nfillmore, thanks and I fully agree!

This is a very important feature required to better 'mimic' a dataset in memory with the contents of a _fst_ file. You should be able to store any (intermediate) dataset to disk without the need of additional code to handle special cases like zero rows or columns.

Also, as you and @arunsrinivasan mention, it's crucial for easy transitioning of existing co

[2019-07-10 05:37] ryankennedyio commented on #119
Hi @MarcusKlik

Just a notification that we've now noticed this when writing a ~30gb file to local disk. This is the first time I've noticed it in 2 months, rather than happening every 2 days when it was writing to network

But it does seem as though the problem is independent of the storage medium, and is something to do with how the underlying I/O library is handling errors to that storage.

[2019-07-10 20:50] MarcusKlik commented on #119
Hi @ryankennedyio, thanks for reporting!

Yes, so on local disk, this problem occurs with a much lower probability, but it can still happen. That's consistent with the idea that we have a fail in the writing of one or more bytes, as that should be much less probable for local writes.

No errors are detected during the write phase, because those would result in an error being thrown at the time of

[2019-07-12 16:23] wlandau opened #204 "Optional connection argument to compress_fst"
Writing directly to a connection could help conserve memory. Suggested at https://github.com/richfitz/storr/pull/111#issuecomment-509136783.

[2019-07-12 16:26] wlandau opened #205 "Optionally reduce block and buffer sizes"
As noted at https://github.com/richfitz/storr/pull/111#issuecomment-510237712, this could conserve memory without sacrificing speed, and it could improve load balancing among threads.

[2019-07-12 20:58] MarcusKlik commented on #204
Hi @wlandau, great, thanks for submitting!

We could go a little further and adapt `compress_fst()` to:

[code]

So, it would also accept a connection as the input (_con\_in_) and/or the output (_con\_out_).

That makes the function much more flexible. For example, with a connection selected for the input and for the output, a file can be compressed with very little RAM overhead.

When a _raw_ vec

[2019-07-12 21:04] MarcusKlik commented on #205
Thanks for submitting!

Yes, in general, we only need to allocate as many blocks as we have threads. Because currently the maximum block size is fairly large (1.7 GB), a large amount of RAM can be allocated during compression.

Such large blocks don't really help compression so it's better to reduce the block size as much as possible without sacrificing compression ratio (probably to a few tens of

[2019-07-13 15:31] wlandau commented on #204
Nice! An optional output connection would certainly enhance versatility.

[2019-07-13 23:04] ryankennedyio commented on #119
Agree that hash values would be an ideal balance of performance/safety for this scenario. Thanks again for the great work!

[2019-07-17 14:04] js430 opened #206 "Creating fst from existing data"
Is there any way to create and fst file from existing data? I have a file that has the data but let's say it's too big for me to read into R, is there any way I can make it into an FST so I can read the data in R?

[2019-07-17 14:41] zauster commented on #206
Have a look at #178, does this help?

[2019-07-17 22:16] MarcusKlik commented on #206
Hi @js430, thanks for your question!

As @zauster suggests, some of the solutions in #178 might help you. In your case, you have a (I'm guesing) _csv_ file that you cannot read into RAM in one go, right?

So your best option is to split the file in several smaller files and then convert those to _fst_ files. The splitting can be done with one of many _csv splitter_ tools that are available (curren

[2019-07-18 07:32] ssh352 opened #207 "feature request: append data to existing fst files"
user case: need to append market data recorded everyday to existing historical market data. Thank you for this great package!

[2019-07-18 14:18] xiaodaigh commented on #207
Duplicate of #91

[2019-07-18 21:25] MarcusKlik commented on #207
Hi @ssh352, thanks for your question!

Indeed, as @xiaodaigh indicates, the feature you seek has been requested before. Also, for your use case, a feature where a set of existing _fst_ files can be read and accessed as a single dataset might be useful.

thanks

[2019-07-23 12:13] arunsrinivasan opened #208 "Write failure corrupts existing file"
[code]

I think write should not corrupt existing files. Perhaps write to a temp file in the same folder and rename it on success?

[2019-07-24 08:15] MarcusKlik commented on #208
Hi @arunsrinivasan, thanks for reporting!

Indeed, it's not very nice to leave the user with a corrupt file where there was a correct file earlier. On the other hand, because the user already had the intention of overwriting the previous file, that might not be a very big issue for the user, what do you think?

In this case, would it be a solution to scan the column types before starting the write

[2019-08-22 23:17] kendonB opened #210 "write_fstrds and read_fstrds functions"
I followed this page: https://www.r-bloggers.com/multi-threaded-lz4-and-zstd-compression-from-r/

It would be amazing to have a drop-in replacement for `saveRDS` and `readRDS` that uses fst compression. I wrote the below functions which seem to just work though may benefit from some optimization. Could the fst package incorporate something like this?

[code]

<sup>Created on 2019-08-23 by the [rep

[2019-08-23 00:20] kendonB commented on #210
Looks like this already exists: https://github.com/traversc/qs

[2019-08-23 02:30] #210 closed, assigned to nobody

[2019-08-24 21:10] MarcusKlik commented on #210
Hi @kendonB, thanks for reading my post and sharing your code!

Yes, the `qs` package is probably what you are looking for, it uses `LZ4` and `ZSTD` compression for in-memory and on-disk serialization of general `R` objects.

Your code also shows the steps required to implement _list_ columns in `fst`. Each _list_ element needs to be serialized first (on the master thread) and the result can be co

[2019-08-26 07:58] xiaodaigh opened #211 "Add benchmark vs `arrow::read/write_parquet`"
The new `arrow` package is now online, so can add `arrow::read/write_parquet/arrow`. I don't mind contributing to this but I will need to finish off a couple of CRAN submissions.

[2019-08-27 09:17] MarcusKlik commented on #211
Hi @xiaodaigh, thanks for your request!

Indeed, we should create some extensive benchmarks to compare `arrow` and `fst`. Perhaps we could take the benchmark code from #177 (posted [here])(https://gist.github.com/fstpackage/e710cf2adaa02f96bc8dbee9318ba733) as a start as it compares the performance for various types, number of rows and threads.

Your contribution would be much appreciated!

[2019-08-28 09:47] iagomosqueira commented on #140
I would suggest that `return_type` can be defined by an `option()`, so it is set once and applied to every call to read.fst.

[2019-08-29 10:05] MarcusKlik commented on #140
Hi @iagomosqueira, yes, good idea. But it's probably best to warn the user on such a setting at package startup time. Otherwise, the option might enforce a specific table type (e.g. _data.table_) that might break code that depends on the default _data.frame_ type...

[2019-09-03 11:41] MarcusKlik commented on #211
I've posted some initial benchmarks [here](https://github.com/ropensci/drake/issues/997#issuecomment-527418699) and more detailed measurements are forthcoming in [this repo](https://github.com/fstpackage/syntheticbench).

[2019-09-06 06:03] asgr commented on #184
Just curious if there is any update on the progress on the Python side? I use R, but a lot of people in my research field (astronomy) use Python. Feather seems the current best bet in this regard, but FST seems like it could be a decent step up given its subsetting and compression capabilities.

[2019-09-06 21:16] MarcusKlik commented on #184
Hi @asgr,

thanks for your question. Yes, the Python bindings are long overdue and the _fst_ format could be a faster and more dynamic bridge between `R` and `Python` than feather.

The `python` bindings could basically follow the same strategy as the `r` bindings: the `fstlib` library generates 1D numpy arrays from the stored column data. And those arrays can be wrapped into a pandas data frame.

[2019-09-07 08:09] jangorecki commented on #184
pydt would be useful too, fyi @st-pasha

[2019-09-07 21:19] MarcusKlik commented on #184
that sounds like a great default return type for python's read_fst() 😺

[2019-09-09 20:01] st-pasha commented on #184
@MarcusKlik Do you have any documentation for the fst file format?

[2019-09-10 08:49] MarcusKlik commented on #184
Hi @st-pasha, thanks for asking, are you interested in a specification of the format meta-data, data-block design, etc or the C++ API documentation?

(both are not readily available at the moment, but just to know were to direct my efforts 😸)

[2019-09-10 08:55] xiaodaigh commented on #184
format meta-data, data-block design for me as I am writing a Julia serializer

[2019-09-10 10:14] MarcusKlik commented on #184
Ha @xiaodaigh, that's great to hear. I suspect that you won't need the exact details of the `fstlib` implementation and _fst_ format (but you will definitely need good API documentation)

(that is, unless you mean you like to write your own format, in that case format specs are of interest off course)

The `fstlib` library has an abstract representation (C++) of a table and it's columns, and it wi

[2019-09-10 18:22] st-pasha commented on #184
Hi @MarcusKlik , sorry I should have given more context for my question.

So, I'm a primary developer of the Python [datatable](https://github.com/h2oai/datatable) library. This library provides a data frame object and facilities to manipulate this data frame. So, I guess it's pretty close to `fstlib` in functionality. We also have our own format for storing data on disk, called [Jay](https://gith

[2019-09-11 04:42] asgr opened #212 "FST matrix format"
This might be a simple or complex feature request. Basically, from my testing FST seems to be a great way of storing very large (many GB) 2D images and then selecting cutout regions on the fly (we need to do this all the time in astronomy).

The obvious overhead here is explicitly converting image matrix to data.frames and back. This doesn't take long in general, but it might be an easy change to

[2019-09-11 09:41] MarcusKlik commented on #184
Hi  @st-pasha, no problem!

I'm very familiar with your work on (py)datatable (big fan ;-)) and just wanted to get clear how you would integrate `fst` into the package.

In short, `fstlib` is similar to `parquet` and `feather` libraries; it contains the code to wrap an existing data structure (e.g. a `(py)datatable`) and serialize that to disk (or RAM in a future upgrade).

So it was explicitly _n

[2019-09-11 10:38] MarcusKlik commented on #212
Hi @asgr, thanks for your feature request!

Your issue is related to #154 and #19: for serializing a complete matrix you can use [the code](https://github.com/fstpackage/fst/issues/154#issuecomment-441325179) posted there. The idea is that because internally a matrix is just a wrapped around vector, data is stored in it's original order, so a one big single column.

For random access to the matrix

[2019-09-11 10:42] MarcusKlik commented on #212
Off course, if your cutout regions are relatively small, you could still retrieve them by calculating which parts of the 1D stored column data you need (so a small upgrade of the posted code sample)...

[2019-09-11 10:51] asgr commented on #212
Interesting- I’ve been saving a 12k x 12k image by converting to a data.frame and saving that. Even very large subsets are still very rapid to access (compared to other available tools). A real world use case for us is having 30k x 30k images that we want to do full random access on up to around 2k x 2k subsets. Both of these matrices are pretty much always square. I guess my comment is really tha

[2019-09-11 11:23] ChristK commented on #212
@asgr a workaround could be the  [Kmisc package](https://github.com/kevinushey/Kmisc) that offers fast conversion from a data.frame to a matrix and vice versa (functions mat2df and df2mat)

[2019-09-11 17:01] st-pasha commented on #184
Hi Marcus,

Based on your description it looks like the fst format is sufficiently complicated that it doesn't make sense to create an independent reader. In that case the simplest solution would be to have a separate `fst` library wrapping the `fstlib`.

Then in datatable we could have simple wrappers such as
[code]

We also have a feature proposal (https://github.com/h2oai/datatable/issues/1950)

[2019-09-12 07:58] MarcusKlik commented on #184
Hi @st-pasha,

thanks, that sounds excellent. On your 2 main questions:

1. The `(py)fst` library implements virtual C++ classes from `fstlib`. These (relatively simple) virtual classes include a _table factory_ and _column factory_. The implemented `(py)fst` C++ classes allow creation of `Frame`'s and the correct columns. So the details of mapping specific column types from the _fst_ format to Py

[2019-09-12 13:46] kuzmenkov111 opened #213 "update to 0.9.2"
Hi! Many thanks for your work and great package!
What about update up to 0.9.2.? What is your expectation/plans?

B.W. Alexey

[2019-09-12 17:47] st-pasha commented on #184
Hi Marcus,

I presume you have much more experience with developing R libraries than Python extensions, so let me point out few peculiarities of Python that could be relevant to the design process.

1. Python has only one native list type: a list of objects (or more precisely, a `PyList` of `PyObject`s). Unlike in R, there are no native types for "list of ints", or "list of strings", etc. The clos

[2019-09-13 20:53] MarcusKlik commented on #213
Hi @kuzmenkov111,

thanks and I'm happy to read that `fst` works for you!

To answer your question, my plans are to

* publish the [syntheticbench](https://github.com/fstpackage/syntheticbench) package to CRAN. With this package `fst` can be thoroughly benchmarked against other serialization options (e.g. `feather` and `parquet`). It contains generators to create synthetic datasets of various dist

[2019-09-13 21:21] MarcusKlik commented on #184
Hi @st-pasha,

thanks for the pointers! And yes, your assumption is very correct :-)

About your second point, could we:

1. Let the `fst.read()` method materialize Frame's from subsets of the stored data.
2. Do transformations on those subsets
3. Combine the transformed Frame's into a single larger frame

That way, wouldn't it be possible to use `datatable` operations (from the python API) to do

[2019-09-14 02:42] renkun-ken opened #214 "Write multiple fst in parallel and rename may produce corrupted files"
The following code is a minimal example of what I do to generate many `data.table` and store them in `fst` in parallel. To ensure that all `fst` files written on disk are complete, I first write data to a `.fst.tmp` file and then rename it to `.fst` file.

If things work normally, all `fst` files written to disk are expected to be complete and correct, which is true for most cases. But occasionall

[2019-09-14 08:15] kuzmenkov111 commented on #213
Extremely much to do... For me `fst ` package is a revolutionary package on par with `data.table` and `dplyr`

many thanks!!!

[2019-09-14 21:45] MarcusKlik commented on #213
dunno about that but thanks for the compliment! :-)

[2019-09-14 22:08] MarcusKlik commented on #214
Hi @renkun-ken, thanks for reporting the problem!

From, your example, it's a bit hard to see what's going on exactly. If `date` is identical for two or more threads, aren't you trying to write data to the same _outfile_ from multiple workers? If so, that will definitely pose problems, because `file.rename()` will surely fail if the target is still opened and being written to.

(please correct me

[2019-09-15 00:53] renkun-ken commented on #214
Sorry, `date` should be `id`. I just copy and simplify my real code. Each `id` corresponds to a file.

[2019-09-15 21:13] MarcusKlik commented on #214
Thanks, yes, for these kind of problems it's very difficult to pinpoint the exact cause. I've run the code quite a few times now, but didn't get any crashes or `FALSE`'s returned from the `file.rename()`, but that might be just statistics off course. What kind of disk are you using, is it a local drive or a network drive?

Perhaps the system tries to rename the file while it's still being written

[2019-09-24 13:07] arunsrinivasan commented on #208
Not sure about this. Suppose, every minute, new data comes in. And the old data needs to be loaded and merged with new data, and duplicate rows in `old` must be replaced with `new` if they exist, i.e., some columns must be replaced with new values and written back to disk, then if the file gets corrupted, the old data is gone (particularly, if there's a script running in the background to do this)

[2019-09-25 06:21] ssh352 opened #215 "benchmark fst sqlite and feather"
I came across this blog post, sqlite is much faster in their case. I think it is because the which operation is very slow, what do you think?

https://kbroman.org/blog/2017/04/30/sqlite-feather-and-fst/

[2019-09-25 20:18] MarcusKlik commented on #208
Hi  @arunsrinivasan,

thanks, yes, very true. Scanning early will mitigate the problems with `fst` writing incomplete files when unsupported column types are present. So definitely our best option to solve this issue!

[2019-09-26 12:50] MarcusKlik commented on #215
Hi @ssh352, thanks for your question!

I'm a big fan of @kbroman and his blogs, although he might have taken a few shortcuts in this one :-)

In general, comparing different serialization solutions is tricky as measurements depend on a lot of factors:

* the (type of) data used
* compressibility of the data
* disk speed and IOPS
* number of threads used
* data dimensions (ratio rows / columns)
* d

[2019-09-27 03:25] ssh352 commented on #215
Thank you,

I ran kbroman's benchmark.  Performances for sqlite and fst are comparable while in his results, sqlite is much faster. His post is from 2017, the versions of packages may have some effect.

For your benchmark on sqlite, if you create an index as kbroman did, it will speed up sqlite.

[2019-10-09 15:06] wei-wu-nyc opened #216 "Any new comments and updates on fst benchmark vs. other formats after arrow 0.15 release"
Just saw a blog at https://ursalabs.org/blog/2019-10-columnar-perf/ about the release of arrow 0.15. There are benchmarks comparing the read performances between various binary file formats.
I was surprised to see that fst was not much faster than the other formats. From the numbers looks like fst was on par with feather and parquet files. At least from my previous experiences, fst files and routi

[2019-10-09 21:16] xiaodaigh commented on #216
Got one on twitter buffered till tomorrow. Fst still faster. See also
https://discourse.julialang.org/t/ann-fread-jl-read-csvs-faster-with-the-help-of-rs-data-table/29681?u=xiaodai

On Thu., 10 Oct. 2019, 02:06 Wei Wu, <notifications@github.com> wrote:

[2019-10-09 21:55] MarcusKlik commented on #216
Hi @wei-wu-nyc, thanks for your question and the heads up on the Ursa Labs article!

I've downloaded the 2016 Q4 performance dataset:

[code]

(this last statement shows that this dataset is heavy on _double_ and _character_ columns, but the _character_ columns are almost completely filled with _NA_'s)

I did a quick benchmark on my system:

[code]
![image](https://user-images.githubusercontent.co

[2019-10-09 22:00] MarcusKlik commented on #216
Hi @xiaodaigh, don't keep us waiting! 😸

[2019-10-10 00:26] xiaodaigh commented on #216
@MarcusKlik here you go https://twitter.com/evalparse/status/1182089477445042176?s=20

[2019-10-10 08:21] MarcusKlik commented on #216
thanks @xiaodaigh !

[2019-10-18 12:32] Morais14 opened #217 "ERROR: Error opening fst file for reading, please check access rights and file availability"
When i try read a bunch of fst files in data folder of my shiny app i get the error:

My code works fine without the shiny app and all files are loaded to the global enviroment:

[code]
Thanks @MarcusKlik

[2019-10-19 21:14] MarcusKlik commented on #217
Hi @Morais14,

thanks for your question!
The error signals that the files can't be located which could mean that the shiny app is run:

* from a different _working directory_ which makes the relative file paths incorrect
* with different credentials (as a different user) and that user has no access to the file locations
* from a server and the files are located on a inaccessible network drive (fir

[2019-10-21 11:01] Morais14 commented on #217
Hi @MarcusKlik !
Thanks for your reply!
I use the same code for the function readRDS and works fine. See below:

[code]
For that reason i suspect that error seems to be caused for something related to the read_fst function. My apologies for don't reported this firstly.

I'm running the app in local Rstudio in Windows. When all my files are rds format the app works fine. But if i save them in fst f

[2019-10-22 07:53] asgr commented on #212
Off CRAN though, so not an ideal solution for portable code.

[2019-10-22 20:33] MarcusKlik commented on #217
Hi @Morais14, that's very strange. You just switch the `read_fst/write_fst` for `readRDS/saveRDS` and then suddenly it throws the error?

Would there be a chance to post a link to the Shiny application's code or perhaps a comparable (simple) one with the same structure and some _fst_ files in the data folder?

thanks!

[2019-10-23 13:25] Morais14 commented on #217
Hi @MarcusKlik , i add an attachment. In this attachment i put two app's. One read all rds files in data folder, and other read all fst files in data folder (but the error occurs).

Many thanks for all your attention!

[rds_fst.zip](https://github.com/fstpackage/fst/files/3762548/rds_fst.zip)

[2019-10-23 13:53] nbenn opened #219 "Forward ellipsis in str.fst_table()"
Is there a reason why `...` in `str.fst_table()` is not forwarded? I'd expect something like

[code]

at

https://github.com/fstpackage/fst/blob/7713413d24fa44d6891abb25ec7a6fc17cd90fa7/R/fst_table.R#L175-L177

This would then allow for things like `max.level` to be obeyed by `str.fst_table()`, no?

[2019-10-23 21:51] #219 closed, assigned to MarcusKlik

[2019-10-23 21:52] MarcusKlik commented on #219
Hi @nbenn, thanks for reporting!

The ellipsis is now forwarded in the `str()` generic, well spotted!

[2019-10-24 14:12] nbenn opened #220 "Single value subsetting (i.e. `[[`) interface"
All of base R data.frames, data.tables and tibbles support `x[[i, j]]` type subsetting. While I realise that there is quite a bit of heterogeneity (among the mentioned packages) in how edge cases are handled in subsetting and what type of arguments are supported, they all agree on support of "i, j" indexing. I therefore suggest adding this to `fst` as well in order to make the interface a bit more

[2019-10-25 10:45] MarcusKlik commented on #217
Hi @Morais14, I fixed your App, there was a problem with relative paths and encoding (which you probably didn't have :-)). Here's the corrected Application, I've added a git repository for you to view the diffs.

[rds_fst.zip](https://github.com/fstpackage/fst/files/3771632/rds_fst.zip)

hope that helps!

[2019-10-25 11:09] MarcusKlik commented on #220
Hi @nbenn, yes indeed, the `x[[i, j]]` generic is missing at the moment I see. For completeness, it would be nice to have it, a pull request would be much appreciated :-)

[2019-10-25 17:09] Morais14 commented on #217
Hi @MarcusKlik !

Many Thanks!

[2019-10-25 17:09] #217 closed, assigned to MarcusKlik

[2019-10-25 17:18] dipterix opened #221 "Serialize any R object and compress in cpp (feature request)"
Hi, thanks for the amazing package you have developed. I recently found compress functions in `fst` package only takes raw vectors as argument. This means if I want to compress an R object in memory, I have to serialize it first and then compress. Would it be possible to take any R object and directly serialize and compress in cpp?

I found this source code written in cpp to serialize R objects in

[2019-10-26 01:28] renkun-ken commented on #221
You may checkout [qs](https://github.com/traversc/qs).

[2019-10-26 20:35] MarcusKlik commented on #221
Hi @dipterix, thanks for your request!

Indeed, as @renkun-ken  indicates, package `qs` is great for serializing generic `R` objects for you. It uses the same compressors as `fst` (`LZ4` and `ZSTD`) to speed up compression and also employs a block-compression design to enable multi-threaded compression and serialization.

But if you need random access to your (column-) vectors, then you can only h

[2019-10-28 14:29] max578 opened #222 "File encryption, public-private etc."
How about implementing the best encryption/information security features?

[2019-10-28 22:15] MarcusKlik commented on #222
Hi @max578, thanks for your feature request, I'm all for adding encryption options to `fst`!

Encryption can be added at two levels:

* encryption of the complete _fst_ file so reading can only be done by supplying the key, e.q. `read_fst("1.fst", key = "my_key")`
* encryption for each column separately. With multiple keys, access can be adjusted per column.

I'm not sure there would really be a u

[2019-10-28 22:51] MarcusKlik commented on #222
Package `openssl` is another (pretty fast) candidate:

[code]

[2019-11-11 23:44] xiaodaigh opened #223 "`fst::compress_fst` can't seem to be read back in in another language"
I wonder if there are any additional bytes or any settings I need to be aware of about the `fst::compress_fst` function.

For example, in R I write the compressed bytes to disk

[code]

and I try to read it back using Julia
[code]
gives error.

I wonder if the compression in fst are interopable with elsewhere in general?

[2019-11-11 23:52] xiaodaigh commented on #223
In contrast the `{lz4}` package seems to work https://github.com/bwlewis/lz4
[code]
works with

[code]

[2019-11-12 10:06] MarcusKlik commented on #223
Hi @xiaodaigh,

you're right, the raw vector result from `fst::compress_fst()` is not a default `LZ4` (or `ZSTD`) compression result!

The reason is that `fst::compress_fst()` divides the input in blocks to allow for parallel compression of each block (increasing performance). So the result is basically a few default `LZ4` compression results pasted together with a small amount of metadata at the

[2019-11-12 10:12] xiaodaigh commented on #223
Or is it possible to know the cuts points and the length of meta data, so the reader can be multithreaded in the read too? Compat mode would be nice too.

[2019-11-12 10:31] MarcusKlik commented on #223
Hi @xiaodaigh,  yes certainly!

the block sizes are calculated in [this code](https://github.com/fstpackage/fst/blob/33fba520cdaa50f376e52ea6ff79e7a967c645c6/src/fstcore/interface/fstcompressor.h#L119-L125) and the metadata format is specified [here](https://github.com/fstpackage/fst/blob/33fba520cdaa50f376e52ea6ff79e7a967c645c6/src/fstcore/interface/fstcompressor.h#L263-L272).

For a reader appli

[2019-11-12 10:55] xiaodaigh commented on #223
If I follow those formats, can I theoretically write a fst reader/writer in pure Julia?

[2019-11-13 09:25] MarcusKlik commented on #223
Hi @xiaodaigh, yes, that would be relatively simple if you have the LZ4 and ZSTD compressors available.

I've created a function in pure `R` to decompress a file with compressed data. By following the same strategy in Julia, you can create a (de-)compressor for these type of files!

[code]

So this is a (slow 😸) pure `R` method to deserialize a binary file with the output of `compress_fst()`. For

[2019-11-13 09:30] MarcusKlik commented on #223
Note that I use the `qs::_decompress_raw` methods to show that we are really decompressing `LZ4` or `ZSTD` compatible memory blocks.

Also, I've omitted the hash checks for simplicity. These checks can be added to verify the data and avoid problems with decompression of corrupted memory blocks...

[2019-11-13 09:59] xiaodaigh commented on #223
Nice. This should cover double and int so what's left is factors and strings. A native Julia reader would be awesome.

[2019-11-13 12:12] xiaodaigh commented on #223
Only ZSTD is working but not LZ4. Interesting. Here is the Julia code

[code]

[2019-11-13 12:36] xiaodaigh commented on #223
Hey @MarcusKlik, so if you describe how factors and strings column are compressed and how the fst's format is like in a document then theoretically I can write a 100%-Julia reader of fst. That would be really nice. Are you able to give me some pointers as to the format of fst files? Or you want me to the C++ code you wrote? The issue with C++ is that I don't know any of it.

Then if we have a PYth

[2019-11-14 15:07] Moohan commented on #138
Any update on this, I was just about to post a new request for it, as I'm having issues and the error message could definitely be more helpful! 😄

[2019-11-15 22:50] #138 closed, assigned to MarcusKlik

[2019-11-15 22:50] MarcusKlik commented on #138
Hi @Moohan, thanks for your request.

I've updated the error message, an incorrect column selection now leads to:

[code]

short but informative 😸

[2019-11-16 11:29] pli2014 opened #224 "FSTConfiguration got a recursion init"
org.nustaq.serialization.FSTConfiguration#createConfiguration(org.nustaq.serialization.FSTConfiguration.ConfType, boolean)

[code]
    <groupId>de.ruedigermoeller</groupId>
    <artifactId>fst</artifactId>
    <version>2.55</version>

[2019-11-16 22:04] MarcusKlik commented on #224
Hi @pli2014, thanks for reaching out, I was a bit puzzled with your issue but believe you are referring to [this code](https://github.com/RuedigerMoeller/fast-serialization/blob/59f8f800b79479d0b9c80901cf55903d9b027f26/src/main/java/org/nustaq/serialization/FSTConfiguration.java#L423-L425) ?

That's in the [_fast-serialization_](https://github.com/RuedigerMoeller/fast-serialization) library for Ja

[2019-11-16 22:11] MarcusKlik commented on #223
Hi @xiaodaigh,

thanks for posting the code, interesting to see the equivalent code in `Julia`!

The format that `compress_fst()` uses to compress a raw factor is different from the `fst` format, apologies for not making that clear!

The `compress_fst()` format was designed as the simplest format that could accommodate multithreaded compression using various (possibly single-threaded) compressors.

[2019-11-17 20:15] talegari opened #225 "Feature request: Support streaming"
Thanks for this wonderful project! Please provide a streaming facility (ideally multiprocess safe) to read data in chunks and process it.

Here is my [experimental implementation](https://gist.github.com/talegari/a3ba27c6fc78ae71c4fb22d489449714) for your reference.

[2019-11-17 22:06] MarcusKlik commented on #225
Hi @talegari ,

thanks for your feature request and posting your code!

Yes, support for streaming would be nice, your example is already very useful for processing a _fst_ file in chunks.

Also, when _write streams_ are added, things can get even more interesting, because then you can process large files (in chunks) even when they don't fit in RAM. The results can be streamed to a new _fst_ file

[2019-11-18 02:59] talegari commented on #225
@MarcusKlik Thanks for the quick reply. Yes, random access via `seek` will be helpful in resetting the current position.

The above experimental implementation assumes static fst file, appending and/or write stream functionality will add additional complexity and design decisions. About file locking, there might smarter lock free methods to work with multiple processes which are worth exploring.

[2019-11-30 03:03] #223 closed, assigned to MarcusKlik

[2019-12-02 15:29] brendanf opened #226 "Error in conda forge build"
It looks like the conda-forge package for `fst` has not been able to successfully build on OSX since they [upgraded their dependencies back in July](https://github.com/conda-forge/r-fst-feedstock/pull/5#issuecomment-513542114), and there isn't any action there to diagnose the problem.  The error given is the same one from https://github.com/fstpackage/fst/issues/61#issuecomment-441479592.  It's no

[2019-12-02 22:31] MarcusKlik commented on #226
Hi @brendanf, thanks for the heads-up!

Yes, I can see from the [osx build output](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=96490&view=logs) that `llvm-openmp` has been added to the build. But from the compiler output from `fst` (at the bottom) it seems that the `llvm` compiler is not used to build the package, but instead the default `x86_64-apple-darwin13.4.0-cla

[2019-12-02 23:19] brendanf commented on #226
You can build the package locally by:

- installing [miniconda](https://docs.conda.io/en/latest/miniconda.html)
- installing the build environment with `conda install conda-build`
- clone the feedstock repository
- `conda build r-fst-feedstock/recipe`

I'm using Linux, so this doesn't help me test the issue on OSX.

The conda build recipe shouldn't use anything in `/usr/local`; but presumably `llv

[2019-12-03 09:08] nathaneastwood commented on #99
+1 here from me too @MarcusKlik. I've come up against this problem in my code today and will have to make use of `if (nrow(x) > 0L) write_fst(...)` for now.

[2019-12-03 15:23] MarcusKlik commented on #226
Hi @brendanf,

I noticed that the `install_name_tool` in the recipe still uses the links to the 'old' R installation (see [this file](https://github.com/conda-forge/r-fst-feedstock/blob/master/recipe/build.sh)).

From other comments (e.g. [here](https://community.rstudio.com/t/every-libraries-failed-to-load-after-upgrading-r-to-3-6-0/29736/22)) I understand that the version of `libc++` bundled by

[2019-12-04 10:26] renkun-ken opened #227 "Write multiple data frames in parallel"
My use case is that I have multiple data frames (each 1-3GB) in which there are several integer columns and 50+ double columns, I need to write them to `/dev/shm/` as fast as possible. To make it fast, I need to use `compress=0`, but in this case the writing is single-threaded.

I'm wondering if it is possible to write multiple data frames into multiple paths in multi-threading way? Do you think i

[2019-12-04 10:48] MarcusKlik commented on #227
Hi @renkun-ken,

those are very interesting questions!

To start with your first remark, contrary to what you might think, the uncompressed writes are also multithreaded, but the actual work being done is confined to a single `memcpy` statement (see [this code](https://github.com/fstpackage/fst/blob/develop/src/fstcore/blockstreamer/blockstreamer_v2.cpp#L130)). The reason is that a `memcpy` ensure

[2019-12-04 11:05] renkun-ken commented on #227
Thanks for your detailed reply! My use case is that the datasets are independent (different number of rows and columns). It would be nice if it is made more powerful in your comment.

I'll take a closer look at how it may be implemented and probably implement it for my work in my fork. It would be nice if you like this feature and accept the PR it if it works well for me.

[2019-12-04 11:24] MarcusKlik commented on #227
Yes, for independent datasets we could use the arguments as you propose, the one-to-one relation between input and output makes it clear to the user what's going on. Alternatively, an argument `map_in_out = TRUE` could be used to specify the one-to-one relation between inputs and outputs.

But the implementation would not be straightforward :-). To get multiple threads writing, we need to split th

[2019-12-04 21:52] MarcusKlik commented on #99
Hi @nathaneastwood, thanks for sharing that, this feature is definitely scheduled for the next release!

[2019-12-05 08:10] brendanf commented on #226
The `build.sh` for the recipe appears to be generated by `conda skeleton cran`, and most other R packages on Conda use exactly the same thing.  I think the code referencing R 3.5 is unreachable, i.e.

[code]
I assume it is left over from a previous incarnation of the build script.  In any case, the exact same code is present in other recipes which build fine on OSX.

[2019-12-11 08:20] brendanf commented on #226
I've been digging into this more and trying a few variations, but I haven't found anything that helps with the linker issues.  Unfortunately I haven't been able to figure out how to cross-build on my own (linux) machine, so all my testing has been through conda-forge's Azure pipeline.  I have learned:

- Conda-forge's clang is already the `llvm` version, not the Apple distributed version.  ([here]

[2019-12-12 10:50] MarcusKlik commented on #226
Hi @brendanf, the same here! I've tried a lot of different combinations of compiler flags and environmental variables (see [these builds](https://dev.azure.com/markklik/r-fst-feedstock/_build?definitionId=2)) but wasn't able to successfully compile the package.

What I did notice was that the compiler flags that I try to change by using `CDFLAGS` and `CPPFLAGS` exports (like in the [fst travis set

[2019-12-12 14:08] MarcusKlik commented on #226
So the problem boils down to:

* to successfully compile `fst` on `OSX` we need both `clang` and `clang++` from `llvm`

* these compilers need to link to the correct libraries during builds as indicated by the output of the (homebrew) llvm installer:

[code]

* The `llvm` libraries in the `conda` build seem to be installed in `$BUILD_PREFIX/lib`.
[This build](https://dev.azure.com/markklik/r-fst-f

[2019-12-18 09:17] djvanderlaan commented on #99
+1!

For me the workaround is currently to redefine `write_fst` and `read_fst` to store the data as a RDS file when the `data.frame` is empty:

[code]

[2019-12-19 12:54] MarcusKlik commented on #99
Hi @djvanderlaan,

thanks for reporting the issue and sharing your code!

I've pushed some updates to allow for zero-row tables of all available column types. It would be great if you can test the latest dev and see if it works for your use-case!

You can now do:

[code]

thanx!

[2019-12-25 01:20] ssh352 commented on #184
In my team some uses R and others use python, so we had to use hdf5 because fst is only for R. But I like fst better.

[2019-12-27 22:12] MarcusKlik commented on #184
Hi  @ssh352,

thanks, I'm happy to hear that `fst` works for you and your team!
Yes, the `python` bindings are an important next step for the _fst_ format, and the goal is to roll out a package in 2020.

Hope you and your team can wait for that :-)

[2019-12-31 15:55] winston-p opened #228 "Extremely long hanging after `write_fst` for large files"
Firstly, thanks for writing `fst`! I discovered this awesome package only recently and immediately like its speed!

**ISSUE**

As I start to replace the old `saveRDS` with `write_fst`, I discovered an issue: after running `write_fst`, if the file is very big, R hangs for many minutes (sometimes as long as 30mins) before being able to continue the next line. (Note: For smaller files, say 2-3GB afte

[2020-01-01 22:04] MarcusKlik commented on #228
Hi @winston-p,

thanks for reporting your issue! The write times for _fst_ files are expected to scale linearly with the number of columns and the row sizes, so it's certainly strange that the write operation becomes very slow when you cross a certain file size.

Could this be due to the way Google Cloud handles larger files?
 (I'm guessing memory won't be the issue on your system :-))

I don't ha

[2020-01-02 02:44] winston-p commented on #228
@MarcusKlik It's indeed rather weird that this is happening.

To clarify,, it's _not_ that the write-speed becomes very slow with bigger file sizes. No, the write speed is still blazing fast. Writing into GCE's SSD, it writes at >0.5GB per sec before tapering off to 0.1GB per sec at the end, probably due to filling of write buffer (disclaimer: I'm not familiar with OS' lower-level workings).

The

[2020-01-02 02:50] xiaodaigh commented on #228
I noticed the same with windows before with large datasets . Do you have
lots of strings? It might be R' gc at work.

On Thu., 2 Jan. 2020, 13:44 Winston P, <notifications@github.com> wrote:

[2020-01-02 02:59] winston-p commented on #228
@xiaodaigh No I don't. All my files are >95% numeric, with perhaps a few columns of strings. How did you overcome the issue back then when you encountered?

R's `gc()`? Interesting if the issue does lie there as I've been doing `rm(xxx); gc()` all this while with no issues whenever there are large objects that are no longer needed. And yes, I've been sticking with R 3.3.3 because it's worked well

[2020-01-02 03:40] xiaodaigh commented on #228
I can't overcome it. See if you can start R with gc disabled. You have 900G of RAM so I would check if there are settings limiting your RAM usage. Cos disabling auto gc should do the trick already.

[2020-01-02 11:24] winston-p commented on #228
How big were your files when you encountered the hanging issues after `write_fst`?

[2020-01-02 11:42] xiaodaigh commented on #228
About 200GB on a machine with 32GB ram

[2020-01-02 22:30] MarcusKlik commented on #228
Hi @winston-p and @xiaodaigh,

yes, the garbage collection can take it's time, although 30 mins seems extremely long.
For numerical vectors, the garbage collection should be fast (sub-milliseconds), as a single memory block is allocated for the vector. And freeing memory should not really depend on the size of the vector.

As @xiaodaigh mentions, for character vectors, garbage collection can be re

[2020-01-03 02:44] winston-p commented on #228
@MarcusKlik Without `write_fst`, `rm(); gc()` has no problem whatsoever. Also, it's not just `rm` or `gc`. it happens even with `Sys.sleep` and `stop`. As I test further, I'm quite convinced of 4 things:

1. The issue has to do with file size: In my workflow, I was writing 50 files of ~3GB each with a lot of processing in-between each `write_fst`, no problem. This only started when I was writing f

[2020-01-03 22:35] MarcusKlik commented on #228
Hi @winston-p, thanks for testing the issue further.

The strange thing is that `fst` does not keep any open connections or any threads running after `write_fst()` returns control to `R`, so I'm a bit puzzled as to what could be the cause of the observed delay. Just to check that the problem is specific to `fst`, could you try and run the following code to see if you have the effect?

[code]

than

[2020-01-04 03:39] winston-p commented on #228
You're most welcome, @MarcusKlik ! I am really keen to resolve this issue too as it's important for my work.

To simulate the same conditions as when I hit into the issue, I ran your code (with some minor tweaks) on a Google Cloud VM that I cloned from the original one, but this time with 1-core, 60GB ram and a persistent SSD attached.

**Summary**: there was no delay whatsoever after the write. I

[2020-01-04 03:40] winston-p commented on #228
Sorry, I clicked the wrong button as I was typing the above comment. Re-opening issue.

[2020-01-06 11:36] MarcusKlik commented on #228
Hi @winston-p, thanks for testing and cloning the test VM!

So with the above (non-`fst`) code, there is no delay bit still significant CPU activity, that's still very strange and indicates that garbage collection of large memory blocks takes a lot of CPU power.

Your test-setup includes a persistent SSD that probably has more efficient IO, do you still have the hanging problem with `write_fst()`

[2020-01-07 06:45] hope-data-science opened #229 "Should I zip fst or add more compression factor?"
fst is amazing for its speed and compression of data.frame in R. When I use default setting to write fst, I still want to make the file size smaller. Should I just use zip formate to compress it, or should I just increase the compression factor using parameter `compress`? Which is faster? Which is smaller? Any trade-off benchmark for speed and size?

Thank you.

[2020-01-07 11:49] MarcusKlik commented on #229
Hi @hope-data-science ,

thanks for submitting your question and using `fst`!

Yes, using the build in compressor is much faster than zipping the _fst_ file after it has been written to disk. The reason is that `fst` compresses the data on background threads while writing to disk, so your cores are put to better use :-)

Also, `fst` has optimized compression for different column types, for example

[2020-01-07 11:54] hope-data-science commented on #229
Excellent, I try to use package `zip` and I find that I got an even larger file. `fst` is amazing because I never need the whole piece for any task.

A small thing is, as we usually use `fst` for big data, set the `as.data.table = TRUE` might help, or the computer would break every time by default.

Another question is, why not set the default `compress = 100` as it seems faster and the file is sm

[2020-01-07 12:27] MarcusKlik commented on #229
Hi, that's an interesting question!

If your goal is to produce the smallest _fst_ files possible, than using maximum compression is the correct choice. More so because the reading speed will not suffer too much from high compression factors. That's because the compressors that `fst` uses (`ZSTD` and `LZ4`) still provide high decompression speeds at high compression settings).

If your goal is to

[2020-01-08 02:28] hope-data-science commented on #229
Thank you for the detailed answer which is amazing.

This is a little contrary to common sense. I am currenly trying to figure out a best solution for myself (maybe applicable to many like me) : space is cheaper than time (time is life), writing time is cheaper than reading time (we read more than we write the file). Nevertheless, the device SSD is an uncontrollable factor that we have little idea

[2020-01-09 08:45] MarcusKlik commented on #229
Hi @hope-data-science , you're right, there are even more parameters to take into account :-)

Yeah, if you have to transport the file and read files much more often than you write them, than high compression is probably what you're looking for!

thanx and best

[2020-01-09 08:46] #224 closed, assigned to MarcusKlik

[2020-01-13 10:54] hope-data-science opened #230 "Should `metadata_fst` and `fst` come to a united workflow?"
`fst` is a good function to get the general information, I think meta_fst could be renamed as "summary_fst" for the list returned by `fst`. Both `fst` and `meta_fst` recieves the path make one feel a little odd. Just opinion, thanks. I think fst should be used more widely for data scientists in the future.

[2020-01-13 10:59] hope-data-science commented on #230
A certain need is, how could I select the columns I want according to the column names, e.g. select all columns ends with number or any regular expression. Thanks.

[2020-01-13 11:07] hope-data-science commented on #230
I've found a way for your reference, maybe it could help the design of the function.
[code]

[2020-01-14 09:03] willemvdb42 commented on #99
I've just downloaded the development version, and saving empty dataframes now works for me.

Thanks!

[2020-01-14 13:36] MarcusKlik commented on #99
great, thanks for testing!

[2020-01-14 14:11] MarcusKlik commented on #230
Hi @hope-data-science, thanks for your request!

If you want to select columns using `dplyr` semantics, perhaps @krlmlr's implementation of the `dplyr` syntax for `fst` is a good match for you:

[code]

is that what you were thinking?

[2020-01-14 15:02] nfillmore commented on #99
Thank you so much!
Our team uses the fst library every day

Sent from phone

[2020-01-14 15:03] hope-data-science commented on #230
Thank you for the feedback. Acutually I am not quite satisfied with this solution, I have some other ideas in my mind. Below are the verbs I think should be in the design:

1. `parse_fst`: same as `fst` right now, but easier to understand, and return a fst class
2. `slice_fst`: select via row number
3. `select_fst`: could select fst by name, regular expression or column number
4. `summary_fst`: di

[2020-01-15 07:41] renkun-ken opened #231 "High memory allocation on subsetting fst object"
Consider the following example: I create a data.table of 1.22GB and save it to disk. Using `fst::read_fst()` does not cause memory allocation more than the data. However, subsetting `fst` object causes memory allocations twice or even tripple the size of the original data in the following example.

[code]

![image](https://user-images.githubusercontent.com/4662568/72413197-31576300-37aa-11ea-96e5-

[2020-01-15 09:00] MarcusKlik commented on #230
Hi, thanks for sharing your ideas!

In general, I think that the `R` community is blessed with very powerful API's for working with tables. In my opinion, the `data.table` and `dplyr` interfaces provide all the flexibility and performance a data scientist might need. And new interfaces like `rquery` are also emerging, providing ample choice I think.

In time, the goal for `fst` is to provide these

[2020-01-15 10:06] MarcusKlik commented on #231
Hi @renkun-ken, thanks for your question!

Yes, at the moment the implementation of `fst[i, j]` uses `read_fst()` to retrieve the correct selection.
In your example, you use a logical selector:

[code]

The current implementation basically does:

[code]

So although the size of vector `v` might be only 1 percent of the number of rows, it's really `min(v)` and `max(v)` that determine the actual mem

[2020-01-15 10:18] renkun-ken commented on #231
@MarcusKlik Thanks for your detailed explanation.

In my example, `dt` is created with `key="group"`, which makes `group` have a monotonic order.

[code]

In this case, choose `dt$group == 50` should still select a 1% chunk since all rows that satisfy this condition are lying consecutively, therefore `min(v)` and `max(v)` should still be very close to only contain necessary row indices. I'm not su

[2020-01-15 10:24] MarcusKlik commented on #231
yes, you're very right, large memory allocations should not be the case for ordered selections!

If I profile the 1 percent selection script, I get:

![image](https://user-images.githubusercontent.com/24658401/72427743-b3389380-378c-11ea-9780-f57ce9eecb2e.png)

So, strangely enough, I'm not seeing the large allocations that you see (your second image)!

(I'm using a Win 10 system at the moment)

[2020-01-15 10:52] MarcusKlik commented on #231
If I take the `which()` out of the call, the memory overhead is a bit smaller yet:

![image](https://user-images.githubusercontent.com/24658401/72428172-71f4b380-378d-11ea-806f-87a677e052f0.png)

so the question is, why these extreme differences between these two systems!

[2020-01-16 11:56] willemvdb42 commented on #99
@MarcusKlik do you know when this feature would be implemented in the next CRAN package version?

[2020-01-17 05:31] hope-data-science commented on #230
Actually, the current state is quite good, good enough that while I want to write a `tidyfst` for it but stop after I use `fst` further (the API name could be changed to  verb though, because turning a character to `fst_table` is somewhat anti-intuitive, my own preference is `parse_fst`. It is not a big deal after all). Simply using `fst` function could get lots of information already, and just ty