[2017-01-10 08:14] MarcusKlik commented on #3
Repository fstpackage.github.io created

[2017-01-10 08:49] MarcusKlik commented on #1
Added project to Travis and created travis.yml file

[2017-01-12 19:51] fstpackage opened #1 "SSE2 instructions used to enhance bit and byte filters for supporting architectures"

[2017-01-12 19:51] fstpackage opened #2 "Date (pseudo-) type is a supported"

[2017-01-12 19:53] fstpackage opened #3 "IO is processed on a separate thread"

[2017-01-12 19:55] fstpackage opened #4 "Stored data frame can be encrypted using AES encryption"

[2017-01-12 19:56] MarcusKlik commented on #4
Depending on encryption speed, data can be compressed before encryption (check safety for that setup)

[2017-01-12 19:57] MarcusKlik commented on #4
We can use per-column encryption. When each column has it's own key, access rights can be distibuted on a per-column basis.

[2017-01-12 19:59] MarcusKlik opened #5 "Benchmark on well-known data sets"
And add a section on benchmarking on https://fstpackage.github.io

[2017-01-12 19:59] MarcusKlik opened #6 "Section on benchmarking on https://fstpackage.github.io"

[2017-01-18 01:43] mattdowle opened #7 "Look great. But better y-axis please."
Just saw your new package.  Looks very nice!  Thanks for the praise on `fwrite`.

I'm finding the headline chart hard to grasp, though.  For example, what does "0" for `fread` mean compared to a speed of 3,000 for `fst`?  Is this a test on 1e7 rows and what are the actual timings?  Here's the chart and below it my suggestion :

![image](https://cloud.githubusercontent.com/assets/2779998/22047103/c

[2017-01-18 13:09] fstpackage commented on #7
Thanks a lot! I've added a table to the README showing the actual benchmark numbers and upgraded some of the axis titles. A note on the benchmark:

As you can see, I'm using factors in the data frame and not character vectors. This could work in the advantage of the binary writers (feather, fst and saveRDS), because they can (potentially) save the integer factor data instead of using the actual st

[2017-01-18 15:09] fstpackage commented on #7
Closing issue, graphs and table were updated in fst package and on fstpackage.github.io

[2017-01-18 15:09] #7 closed, assigned to nobody

[2017-01-19 11:27] fstpackage opened #8 "Fix UBSAN and ASAN warnings"
By following the steps taken in [this dockerfile](https://github.com/rocker-org/r-devel-san-clang/blob/master/Dockerfile) on a fresh Ubuntu install.

[2017-01-21 04:30] mattdowle commented on #7
Great - yes the table conveys nicely now.  Thanks for doing so quickly!  Could I make final small ask that a column is added to the table as well showing "csv" next to fread and fwrite,  and "bin" for the others please.

[2017-01-21 22:40] MarcusKlik commented on #7
Thanks, I've added a format column like you did in your article for better comparison and will add the performance as measured on a mid-range laptop soon.

[2017-01-24 14:56] cawthm opened #9 "Feature request: Append (rows) = T"
this is standard with utils::write.csv and readr::write_csv.

great FAST package here- thank you

[2017-01-24 15:40] tgolden23 opened #10 "Error in fstRead when reading large data set"
3.7M observations of 257 variables.  Wrote to fst format without error but trying to when trying read the file back I got "Error in fstRead(fileName, columns, from, to) :
  embedded nul in string:"

base load/save and feather both handle reads / writes of this data to file without issue.

Here is a link to the Stata version of the data set available via the web: https://pl-garlock.s3.amazonaws.com

[2017-01-24 20:34] MarcusKlik commented on #9
Thanks a lot! The csv file format has a row-oriented file format on disk, while the `fst` format is a column-oriented binary file. Therefore it's somewhat easier to append data to csv than to a format like `fst`.
I could implement an append method, but that would mean that there would be multiple blocks of column-based data stored one after another, which would have a performance hit if append is

[2017-01-24 20:51] MarcusKlik commented on #10
Thanks for reporting your issue. At the moment, I can't reproduce your error, with:

[code]

there is no error on my system, could you specify which OS (and R version) you are using?

[2017-01-24 21:06] tgolden23 commented on #10
I did not add the “as.data.table = TRUE” switch on the read command.  Will try with it.

Tim Golden
T: +1 804 775 1417

From: Mark Klik <notifications@github.com>
Reply-To: fstpackage/fst <reply@reply.github.com>
Date: Tuesday, January 24, 2017 at 3:51 PM
To: fstpackage/fst <fst@noreply.github.com>
Cc: Timothy Golden <tgolden@mcguirewoods.com>, Author <author@noreply.github.com>
Subject: Re: [fstp

[2017-01-27 17:09] jeroenjanssens opened #12 "Feature request: Support Tibbles"
Excellent package. I read that it supports `data.table`s. Would it be possible to also add support for reading FST files as `tibble`s ?

[2017-01-27 18:05] MarcusKlik commented on #12
Thanks for the feature request. Would you like to be able to write as well as read tibble from a fst file? Or just get the data returned as a tibble?

[2017-01-31 11:51] Fpadt opened #13 "data.table looses columns (when more than 2M)"
Amazing package, excellent for building a cache mechanism. I have a matrix with time series with dates in the rows (700) and the entity in the columns (2 million). I tried coercing this matrix to a data.table and read/write with fst I loose many columns

write.fst: Classes ‘data.table’ and 'data.frame':	559 obs. of  2191021 variables:
read.fst:  Classes ‘data.table’ and 'data.frame':	559 obs. of

[2017-01-31 19:22] jeroenjanssens commented on #12
I think that both writing and reading would be great. Would there be a way to store these additional classes (or data.table when appropriate) in the fst file so that, when reading, the correct class is returned? Perhaps when checking whether the `tibble` or `data.table` is available?

[2017-01-31 21:48] MarcusKlik commented on #13
Thanks! I'm very interested in the mechanism that your are building where you have `fst` caching your data. I have a few more features in mind for the `fst` package, so please let me know if you have specific requirements!  Currently the number of columns is stored as a short integer (in C++). That means that your 2191021 columns are actually stored as (2191021 AND 0xffff) = 28333 columns. I will

[2017-01-31 21:53] MarcusKlik commented on #13
Note however that `fst` uses column based storage and compression. So having a lot of relatively small columns is more expensive than having few relatively large columns. Also, the basic size of a compression block is 16kB at the moment (still experimenting with optimal size). So columns with a length of 700 will probably have a slightly worse compression factor than larger columns.

[2017-01-31 22:25] MarcusKlik commented on #12
Returning the data as a `tibble` would very well be possible. The challenge with `tibbles` however are the non-basic data types that are allowed in the list-type columns (such as S3 classes). But we could use R's native serialization for non-basic types. So the C++ equivalent of:

[code]

In this case each list element is serialized by R's native serialization mechanism. In that way, data could st

[2017-02-01 16:41] dselivanov commented on #12
Data.frames and data.tables also allows complex columns, so there is nothing specific to "tibbles". Tibble is just attribute wich allows pretty printing and few other minor things.
@MarcusKlik please don't introduce dependency on it :-)

[2017-02-01 18:55] MarcusKlik commented on #12
Indeed @dselivanov, there is no intrinsic difference between a `data.table` and a `tibble`, except for the class attribute. And the `fst` package currently also doesn't support list-type columns for a `data.table`, you are absolutely right! But would support for these columns be interesting (for a `tibble` or `data.table`) ? The read and write speed for list-type columns would be comparatively low

[2017-02-01 19:00] dselivanov commented on #12
Support for complex columns will be definitely very nice feature (but I realize that speed will suffer a lot). Actually I asked for similar functionality in feather [here](https://github.com/wesm/feather/issues/62).
I think it is very good idea to use build-in serializer, I thought it will be much harder to support complex types.

[2017-02-01 19:34] MarcusKlik commented on #12
Yes, nice. I can use R's internal serialize method to serialize each list element to a raw vector and compress with LZ4 and ZSTD from there (and then write to a `fst` file). Thanks!

[2017-02-01 19:43] MarcusKlik opened #14 "read.fst reads multiple fst files into a single data set"
By setting the first parameter to a vector of file names.

[2017-02-01 19:50] MarcusKlik opened #15 "fst files can be streamed on a row by row basis"
That would involve creating a `fst` file-connection object (similar to base-R `file` method). With that object data can be streamed row-by-row until the file is depleted (or the connection is closed). The binary file format allows for streaming from compressed `fst` files as well. In addition, a connection object could also be used to stream to a `fst` file. The `fst` format needs to accommodate m

[2017-02-01 20:02] MarcusKlik opened #16 "A range can be specified with read.fst on sorted data frames"
When a sorted data set is stored as a `fst` binary file, sorting metadata is stored alongside the data.  Using this metadata, a binary search can be performed on the key-columns before actually reading the data. For example, only 32 random seeks are needed in the binary file to search 4 billion rows for a begin- and end- value from a selected range. The performance penalty will be very small (seek

[2017-02-01 20:10] MarcusKlik opened #17 "Attributes are serialized in fst binary format"
All attributes are stored in the `fst` file format. Complex types can be stored by using R's native serialization mechanism and compressing with the fast LZ4 or ZSTD for large attribute objects. It might be a good idea to store the col.names atribute as a normal column for speed. Allowing attributes would facilitate adding user-defined metadata to a `fst` file.

[2017-02-01 20:17] MarcusKlik opened #18 "Write to fst binary file with an apply-like method"
This would reduce the memory footprint of writing to a `fst` file. It is also possible to use a `parLapply` approach, where data is generated in a parallel, but serialized to a `fst` file sequentially. In the latter scenario, we have to test the speed of data transfer from the nodes to the master, because it might be too slow for practical purposes (for example on a MPI cluster on Windows).

[2017-02-01 20:21] MarcusKlik opened #19 "write.fst can write multidimensional matrices to file"
And provide fast compression with random access to the matix. Check if there is a use-case for such a feature.

[2017-02-03 11:28] edwindj commented on #9
Thanks for your wonderful package!
I have the same request: appending to the fst file to support the following workflow/processing:

- to process large csv/text files that do not fit in RAM (I'm author of R package [chunked](https://github.com/edwindj/chunked)) and store the result in a fst file.
- because fst allows for partial reading this would be a nice option.

What about a fourth option?:

-

[2017-02-03 14:56] jeroenjanssens commented on #12
I must confess that I'm not in a position to properly comment on this. Perhaps that @hadley, the author of `tibble`, has any thoughts?

[2017-02-03 20:44] MarcusKlik commented on #9
Thanks for your feature request @edwindj. I can definitely see the added value of append functionality for your use-case.  Perhaps a streaming connection object (issue #15) would also be suitable for your scenario. Or, alternatively, an apply-like method (issue #18). The latter would require multiple csv-files or a single csv file with random access (like the functionality provided in your package

[2017-02-05 16:12] derekholmes opened #20 "Serialization of list columns"
This is a great package -- halved my data loading time by half, but with some effort.  I frequently group data into lists (e.g. a time series "dataset" with data in a data.table, inventory in a small data.frame and xts dates/representations) of the form mydata=list("x"=data.table(..), "y"=data.table, "z" = chr) etc.

I was able to write a wrapper around these to parse component datatables to separ

[2017-02-05 17:46] MarcusKlik commented on #20
Thanks, it's good to see that many people benefit from the `fst` package in their work! Your request is somewhat similar to requests made in issue #12, I believe a first step could be to use R's internal serialization mechanism for serializing 'complex types' but use the LZ4 and ZSTD compressors instead of the default compressors for speed. In that case, you would still have random row access to e

[2017-02-06 13:41] MarcusKlik opened #21 "Increase compression performance for text with brotli"
The build-in dictionary could speed-up compression of character columns significantly. Alternatively, we could use the ZSTD compressor with a pre-trained dictionary.

[2017-02-06 16:14] derekholmes opened #22 "Problem with dates"
fst is not respecting dates.. I hope that is an easy fix

[code]

[2017-02-06 18:29] MarcusKlik commented on #22
Thanks for pointing that out. Indeed a `Date` value is just a double with class 'Date'. The same is true for a `POSIXct` type, which is also not respected by `fst` I see. Will fix as soon as possible!

[2017-02-12 18:37] MehMog opened #23 "Very slow writing to network drive when using compression (Windows 7)"
When saving to a network drive without compression I get about 50Mbps and with compression at 100 I get 8Mbps. Saving to a local drive however is much much faster so the CPU doesn't seem to be the bottleneck.

[2017-02-12 21:09] MarcusKlik commented on #23
Hi @MehranMoghtadai , the `fst` package writes data in relatively small blocks of around 32 kB each. That means that at a speed of 8 Mbps, it's sending at least 30 distinct writes to the network drive per second and using at least as many random seeks within the file (depending on the data types of columns). With modern SSD's this hardly creates overhead because they can handle very large amounts

[2017-02-12 22:07] MarcusKlik commented on #23
Although the `fst` package was designed with high speed IO in mind, I believe a slower 'high compression' mode would be very beneficial to your use case. In that mode, we can use larger blocks to compress (using 512 kB instead of 32 kB will probably solve your speed problem) but still keep random row- and column access. Access would be a little less random than in default mode, but for slow networ

[2017-02-13 11:55] MehMog commented on #23
@MarcusKlik Thanks for the explanation! That definitely makes sense, I believe it must be the large number of  random writes that are creating the issue indeed. To be honest I have no idea what are network drives actually are, but typically copying large data from/to the network drive saturates our 100Mbps lines (It's a bit sad that we're only using 100Mbps lines still but that's a whole other iss

[2017-02-13 18:13] 1beb opened #24 "Will fst(s) be additive"
Is it possible to append to an fst without having to load it (completely)?

[2017-02-14 09:41] MarcusKlik commented on #24
Thanks @1beb  for the feature request. I'm planning on adding an `fst.rbind` method to the next version of the `fst` package. This method will only need to read some meta-data from the existing file, so appending will be very fast as per your request. Note however that `fst` uses a columnar binary file format. This means that added data will basically be stored as a separate chunk inside the 'fst'

[2017-02-15 22:35] phillc73 opened #25 "Some Benchmark Feedback"
Not sure where else to leave this, but wanted to provide some benchmark feedback.

My data isn't huge, but it does need to be loaded into a Shiny app, so every millisecond counts. The data is also periodically transferred from a remote server to shinyapps.io, where the app is hosted, so file size is also a concern.

[code]

Writing the object to the files:

[code]

`Rds` is left at default compres

[2017-02-16 11:42] MarcusKlik commented on #25
Thanks a lot for an interesting set of benchmarks! Good to see that `fst` using maximum compression settings works for you at the moment. I still have a lot of optimizations planned to increase the compression performance:

- multi-threaded compression and decompression and disk IO on a separate thread (issue #3)
- use of SSE2 extensions to speed-up the binary filters used in `fst`  (issue #1)
- u

[2017-02-16 12:32] phillc73 commented on #25
Looks like a lot of great enhancements planned!

I should have stated some more information about my data set in the original post.

The data set was 956400 rows across 21 columns. A mixture of character strings, integers and floats. There was also a Date column, which I need to check after subsequently seeing Issue #22. In short, the data is a collection of historic horse rating data.

I could po

[2017-02-16 18:18] MarcusKlik commented on #25
Thanks @phillc73 , it would be interesting to see the column breakdown. If your data is public, I could also include it in the corpus of data sets to use for the benchmark ?

[2017-02-16 19:45] phillc73 commented on #25
@MarcusKlik Here is the column info:

[code]
The Date column is stored in the database as character and converted later. I'll just need to be careful about where I do that, and make sure it's in the app after the `fst` file has been read in.

Unfortunately, the data isn't public. The best I could do would be an extract of maybe 100 rows, but sadly I can't publicly share the whole lot.

[2017-02-17 19:31] MarcusKlik commented on #25
Thanks a lot for that! And the 'Date issue' will be fixed in the next version of `fst`, forgot to write the class name attribute there :-).

[2017-02-19 22:10] MarcusKlik opened #26 "Key index stored in binary file for sorted tables"
To perform a binary search on the key columns of a `fst` file, a key index is required when using compression. If a key index is not present, we have to decompress many complete blocks (16 kB each) to use a single row from the block in our binary search. This has a high cost. Instead, if we write the first row of a compression block to a separate index in the `fst` file format, we can perform a bi

[2017-02-19 22:21] MarcusKlik commented on #26
This has the added benefit of a speed increase of the binary search because the key index can be loaded as a whole, so less in-file seeks are required to get to the correct row number. This needs further thinking: for extremely large files with many blocks, this can be done recursively, to avoid a large allocation of memory for the index file. So basically make an index of the index recursively un

[2017-02-19 22:32] MarcusKlik commented on #26
For example: a table with 64 billion integer rows (256 GB file)  has 16 million compression blocks. So, the key index has 16 million rows and has an index file itself of 4000 rows, which can be stored in a single block. So, for a binary search on 64 billion integer rows, we only need to read 2 'index' blocks to know the actual 'data' block to read. So including the 'data' block we need to read 3 x

[2017-02-20 19:41] phillc73 opened #27 "data.table Object Class not Saved"
It appears that if an object is a data.table, saving as and restoring from fst loses the object class, reverting to data.frame.

fst version 0.7.2

[code]

[2017-02-21 09:13] phillc73 commented on #27
Is this fixed with [this commit](https://github.com/fstpackage/fst/commit/0f04d7b1cfd9ad72c0d8e1ec6b8b0898701630a8)? Perhaps I should install from GitHub, rather than the CRAN version.

[2017-02-21 11:09] MarcusKlik commented on #27
Hi @phillc73, thanx for submitting the issue. The default behavior of `read.fst` is to return a `data.frame`. However, you can override that by using `as.data.table = TRUE`. Although this is intended behavior, I got some feedback (issue #12) that it would be preferable to return the same table-class after a `write.fst` / `read.fst` cycle. So in the next version, that will be the new default. And t

[2017-02-21 19:20] phillc73 commented on #27
Apologies, I made an incorrect assumption `fst` would work the same as `Rds`. I should have read the docs and did not. I'm looking forward to the next version.

[2017-02-21 19:20] #27 closed, assigned to nobody

[2017-02-21 19:38] MarcusKlik commented on #27
No apologies necessary, I'm happy to have your feedback on the `fst` package!

[2017-02-22 00:13] HughParsonage opened #28 "Feature request: Support for bit64"
For example: https://stackoverflow.com/questions/42379995/bit64-integers-with-fst

[code]

[2017-02-22 09:00] MarcusKlik commented on #28
Thanks for the issue report @HughParsonage. Indeed, column attributes are not implemented at the moment, but is on top of the feature list for the next version of `fst`. Serialization of attributes is also required for supporting `Date` and `POSIXt` classes for example. This issue is also related to issue #17 and issue #22.

[2017-02-22 19:24] #10 closed, assigned to nobody

[2017-02-22 20:30] MarcusKlik commented on #10
Hi @tgolden23 , I could not reproduce the error. If you still have any problems with your data set, please let me know!

[2017-02-22 23:26] arunsrinivasan commented on #17
Great work! Preserving *column*'s (e.g., `IDate` or `ITime` objects in data.table which are internally just integers)  custom class info  as well as any other additional attributes (including custom class) would be very useful.

[2017-02-23 15:08] MarcusKlik commented on #17
Thanks @arunsrinivasan , and love your work on the `data.table` package! Indeed, serializing custom attributes would be a nice addition. But it might also introduce some unexpected behavior when only a subset of the rows is read from file. For example, the attributes of a time series data column is not valid anymore when a subset of that column is taken. So, I'm still not sure whether it would be

[2017-02-23 20:08] arunsrinivasan commented on #17
Thank you very much!

How about having a *whitelist* (or a *blacklist* -- I guess it'll be smaller) of column classes that could be preserved irrespective of the number of rows? The check could then happen only when a subset of rows is requested.. Basically I'm going with your 2nd option, but in a way that could be made into the first one if it proves to be too cumbersome..

[2017-02-23 20:33] MarcusKlik commented on #17
Thanks, yes, so always serialize the attribute and return it when a full column is requested. On a subset, just return attributes for classes that are on the whitelist. For common classes that require a mapping (like time series) I could even do that on the fly. Perhaps attributes can be forced onto subsets with an argument `force_attribute = TRUE` or similar. Thanks, I will implement the attribut

[2017-02-23 20:48] MarcusKlik opened #29 "Fill a data.table range with specific rows from read.fst"
With this feature you can populate say row 1001:2000 in a 1e6 row `data.table` with a 1000 row read from `fst.read`. All this is done in memory. This feature is very useful for combining data from multiple (`fst`) sources into a single result table without having the overhead of copies. For example, when performing the merge sort algorithm on a set of data files, you need to

1. read first x rows

[2017-02-28 20:14] MarcusKlik opened #30 "Conditional read on a fst file"
By specifying a condition on one or more columns of the stored table, data can be read using far less memory than a full read combined with a selection of rows. Related to issue #15 and issue #16: data can be read using a stream object and selection can be done on chunks of data, rather than the complete data set. Restrictions:

* Condition cannot contain aggregate statements that depend on the wh

[2017-02-28 20:21] MarcusKlik commented on #30
On the other hand, because we read in separate chunks anyway, a conditional read feature is well suited for a multi-threaded implementation, provided we can implement the conditional statements in C++.

[2017-03-01 14:55] dan-reznik opened #31 "UTF-8 strings getting mangled after write-read cycle"
I have a column with UTF-8 (european accented) strings in a data frame. After I do a write.fst() and retrieve the df back via read.fst() the strings become mangled. Are you supporting multiple string encodings here?

[2017-03-01 18:52] MarcusKlik commented on #31
Hi @carioca67, thanks for submitting your issue. I see that UTF-8 strings are not correctly implemented yet and will make sure this is fixed with high priority!

[2017-03-01 20:20] MarcusKlik opened #32 "Detect reading of files with wrong file type"
From Jean-Luc by email: when trying to read a file that was not saved with `fst` I got a message that is not self explanatory. Would it be possible to have something more explicit (like 'Wrong file type'). I suppose that this suggests to put your signature in the header of the file. It is possibly to late now to change the structure.

`Error in fstRead(fileName, columns, from, to) : std::bad_array

[2017-03-01 20:30] MarcusKlik commented on #32
An 8-byte marker in the binary file header will be used in the next version to indicate that we're dealing with a `fst` file. Next to that, several hashes of critical parts in the binary file (not the actual data) will be added to increase the robustness of the `fst` format. Hashing of data would be relatively slow but could be offered as an option for the user. Investigate Yann Collet's xxHash fo

[2017-03-01 21:52] dan-reznik opened #33 "When column in "Date" format is written and later read, it comes back as an integer!"
write.fst(fname,df) # imagine df$date is Date
df <- read.fst(fname) # df$date comes back as "int"

[2017-03-01 22:47] MarcusKlik commented on #33
Hi @carioca67 , currently attributes of columns are not serialized. That will be fixed in the next version of the `fst` package, after which also `POSIXct` classes and other classes which have special attributes (such as `bit64`) will be supported. This problem was also reported in issue #22. Thanks for reporting!

[2017-03-02 20:36] #33 closed, assigned to nobody

[2017-03-02 20:37] MarcusKlik commented on #33
Duplicate of issue #22. Next package version will have a fix.

[2017-03-02 20:41] MarcusKlik opened #34 "No error message when disk runs out of space"
From Jean-Luc by email: during a `write.fst` operation there is no error message when the storage device runs out of space and data is only partially written. A subsequent `read.fst` does not detect the erroneous file which leads to undefined behavior.

[2017-03-07 22:07] HughParsonage opened #35 "[Feature request] Tilde-expansion in `write.fst`"
Is it possible to support tilde expansion in `read` and `write.fst`? I find that `write.fst` doesn't support it at all, but `read.fst` does sporadically. <sup>I haven't been able to reproduce an instance of it not working</sup>

[code]

[code]

[2017-03-08 10:55] MarcusKlik commented on #35
Hi @HughParsonage, thanks for the feature request! I will apply `normalizePath` to the `path` variable before passing it to the C++ code which should enable the use of ~ in the path.

[2017-03-08 12:59] BenoitLondon opened #36 "add python module to read/write from python panda"
Hi, nice package!
It would be a great competitor to feather package if it was compatible with python pandas dataframes.
Any plan to make it available in python?

Cheers,
Benoit

PS:  my own benchmarks

[code]

[2017-03-08 20:57] MarcusKlik commented on #36
Hi @BenoitLondon , thanks for submitting your issue and your benchmarks and I would be very interested in the exact data set that you used for performing your benchmarks!
Regarding the Python request, it is definitely the idea to make `fst` available for `pandas` data structures. But first additional features will be developed on the R platform before porting to Python (such as multi-threaded comp

[2017-03-08 21:55] #35 closed, assigned to MarcusKlik

[2017-03-09 17:07] BenoitLondon commented on #36
Hi
thanks for the quick answer!
Advantage over feather is that files are compressed in the same speed ballpark.

For these benchmarks I used a dummy data.table

[code]

Though I tested with a real file I use which is much bigger (574607 obs. of  78 variables) but probably sparser and got these results where (compressed) fst is the fastest to read and write:

the csv size is here 182MB , the fst 27

[2017-03-09 20:17] MarcusKlik commented on #36
Hi @BenoitLondon , thanks a lot for that! It's very interesting to see the large variation in benchmark results between systems. I ran your benchmark and noticed that they are completely dominated by the `character` column (`a`) in your `data.table`. These columns are by far the slowest to process, because in R, each string in a character vector has it's own memory address. The other basic type co

[2017-03-09 20:20] MarcusKlik commented on #36
I will address the 'slow character column problem' in a future release by using a fast factorization method on a character column (using the boost library). When that is done, the performance will be much faster as shown above!

[2017-03-09 20:23] MarcusKlik opened #38 "Fast factorization of character columns"
Processing character columns is by far the slowest of all data types. For character columns (that are not completely random) we can solve this problem by first converting the vector into a factor. Factors can be efficiently serialized, provided the number of levels is significantly smaller than the number of rows. Random access will suffer because we have to load all levels even for a small subset

[2017-03-10 08:30] #25 closed, assigned to nobody

[2017-03-10 08:31] MarcusKlik commented on #25
Closing this issue, thanx @phillc73 for the benchmarks and `Date` attribute will be serialized in next version of `fst`

[2017-03-10 08:43] MarcusKlik commented on #8
Resolve Valgrind warnings as well by using the R dev build with sanitizer support on Docker.

[2017-03-15 15:14] MarcusKlik opened #39 "Append column to fst file"
Methods `fst.rbind` and `fst.cbind` will be added to the package in the next version.

[2017-03-15 15:17] MarcusKlik commented on #39
This requires a complete redesign of the file format that `fst` uses. Version `v0.7.2` will still be supported but a warning will be given to rewrite the data with a newer version of the package. The new format will allow writing chunks of data recursively, so `fst.rbind` and `fst.cbind` can be used in arbitrary order and more than once.

[2017-03-15 15:20] MarcusKlik commented on #39
![fstformat](https://cloud.githubusercontent.com/assets/24658401/23955786/3fa81aac-099b-11e7-9465-658a79c9bbbc.png)

[2017-03-15 15:27] MarcusKlik commented on #39
This image represent a data set that has been serialized to the `fst` format:

1. A 3-column data set with u rows was serialized
2. A 3-column data set with v rows was appended with `fst.rbind`
3. A 3 column data set with w rows was appended with `fst.rbind`
4. A 1-column data set with (u + v + w) rows was appended with `fst.cbind`
5. A 4-column data set with x rows was appended with `fst.rbind`
6

[2017-03-15 15:30] MarcusKlik commented on #39
Each append operation will create a redirection in the format, requiring extra seek operations. With > 1e5 seeks per second for most SSD disks, it is expected that performance will not suffer for a modest amount of operations. The file will be larger in size when many appends have been performed due to storage of indexing pointers. For appending small chunks this effect can be significant.

[2017-03-19 01:18] PeteHaitch commented on #19
+1 to this feature request. It would be interesting to see how compares to the HDF5 format, a popular choice for on-disk storage of multidimensional arrays. FYI, the [**rhdf5** Bioconductor package](https://bioconductor.org/packages/release/bioc/html/rhdf5.html) is a low-level package to access the HDF5 API while the [**HDF5Array** Bioconductor package](http://bioconductor.org/packages/release/bio

[2017-03-19 19:54] MarcusKlik commented on #19
Hi @PeteHaitch , thanks for the feature request and interesting to see that you experimented with a `fstarray` package to address the storage of matrices! Indeed, random access on structures with many columns is not very efficient for a columnar based file format (like `fst` or `feather`). I've been thinking a bit and it seems to me that we can solve that problem by storing the data not in _column

[2017-03-19 20:14] MarcusKlik commented on #19
Hi @PeteHaitch , you say multidimensional array's, would it be interesting to allow storage of 3-dimensional (or more) array's ? For that, I would need to write _data-cubes_ or higher-dimensional _data-blobs_.

[2017-03-19 21:02] PeteHaitch commented on #19
Thanks for your considered reply, Marcus. My initial use case was for long matrices (`nrow` = 10^6 - 10^9 >> `ncol` = 10^2 - 10^3) and accessing all columns in row-wise chunks (e.g., rows 1 - 10000, 10001 - 20000, etc.). But I definitely see your point about the number of seek operations scaling with the number of columns.

The HDF5 format is quite mature, I believe, and a fair bit of effort has g

[2017-03-19 21:23] MarcusKlik commented on #19
Nicely put :-), and the 'seek argument' is explained nicely in the link you specified. For an increasing number of dimensions, the number of seeks increases rapidly again. As you say, it's probably best to start with a maximum of 3 dimensions then (and work from there later on if necessary). Also, for consistency, users should be able to append rows and columns to the stored matrix, and for '>3'-d

[2017-03-20 14:47] MarcusKlik opened #40 "A fst object can be used to access a fst data store as a data.frame object"
After initializing a `fst` object, the underlying `fst` file can be accessed in the same manner as a `data.frame`.

[2017-03-25 15:49] PoGibas opened #41 "Can't write to home (~/) directory"
I can't save `fst` to home directory when using `~/` instead of full path.

[code]
Error:
[code]

On the other hand, both `read.fst(mtcars, "~/dummy.fst")` and `read.fst(mtcars, "/home/USER/dummy.fst")` work fine.

Session info:

[code]

[2017-03-25 19:23] juanpide opened #42 "Ability to choose columns by number or vector"
Hello.

read.fst is able to read columns indicating its name.

It would be great (and I think easy) to also be able to select the columns by its number position and more important with a vector of TRUES and FALSES.

It's common to have that vectors when performing other operations, such as greps, or when reading from excel files with annotated information for every column.

[2017-03-25 19:47] juanpide opened #43 "The option columns doesn't seem to work."
No matter what I choose the option column doesn't seem to work.
`myDT <- read.fst("myfile.fst",  columns = "firstcol",as.data.table = TRUE)
`
It says

But I know it exist.
Using a vector of names doesn't work either.

But if I just use it without any column option it works well

[2017-03-26 19:02] juanpide commented on #43
I'm sorry, it was a problem with my R.

[2017-03-26 19:02] #43 closed, assigned to nobody

[2017-03-26 19:05] MarcusKlik commented on #43
Thanks for submitting your issue and good that your problem was solved!

[2017-03-26 19:32] MarcusKlik commented on #41
Hi @PoGibas , thanks for submitting your issue! I fixed this by applying `normalizePath` to parameter `path` before writing to file. This was done already in `read.fst` but not in `write.fst`, hence your problem. Should be fixed now!

[2017-03-26 19:46] MarcusKlik commented on #42
Hi @skanskan , thanks for submitting your feature request, it's somewhat similar to feature request #40, where a `fst` object can be used as a `data.frame`. The ability to use logical values and integers as column specifiers is part of the `data.frame` interface and very useful indeed! I'll provide the `data.frame` interface in the next version of `fst` (0.8.0, which will be out soon).

[2017-03-30 11:27] statquant opened #44 "Reading subsets of fst-stored data.tables"
Something I would find incredibly useful is to be able to run select-like queries when reading from fst. Given that data.tables have keys I was thinking that either this data.table feature could be leverage, or re-using some of its code we might get this feature.

Just to be clear say we have a data.table with `date,id,col1,col2,col3` saved as a fst file.
I'd like to be able to do something like `

[2017-03-30 12:43] MarcusKlik commented on #44
Hi @statquant , thanks for the feature request! Your request is related to issues #16 and #30. As you say, for sorted table's, we can implement a binary search to retrieve a range of rows depending of some specified key range. A binary search is very fast, for example with only 30 seek operations on the `fst` file, you can scan a billion records.  For selections which are not related to a stored k

[2017-03-30 12:49] statquant commented on #44
@MarcusKlik thanks for the prompt reply, indeed 2) is enough for me.

Honestly I think it would be for most people, as when you want to aggregate in some sense I'd guess you would still want the whole data to check what you've done, to change what you've done etc...

[2017-03-30 13:20] MarcusKlik commented on #44
Nice, I will make sure that your feature is on the list for one of the next versions of `fst`.

[2017-04-03 14:44] wei-wu-nyc opened #45 "Feature request: Routines to get meta data of the data frame without opening the whole data"
I don't know if this is requested. It would be helpful to provide functions that gives back some basic info about the data frame in the save fst file without opening the whole file. For example:
1. Number of columns and rows. So that the users can determine whether to open the whole file or read part of the file.
2. May be give the name of the columns and the data type of each columns.

Thanks.

[2017-04-03 14:57] wei-wu-nyc opened #46 "Bug Report: In R: fst crash in both saving and reading very large files. (500M+ rows and 50+ columns, 100+GB)"
I am having problem saving and reading very large files in fst R package.
I used both CRAN version and development version.
The problem occurred intermittently. Every few tries on saving will get me a success save. Most of the reading so far have failed.
However, if I read a subset of the file, the reads are mostly successful.
The data is a big data.table frame.
I don't know how to provide more in

[2017-04-03 17:31] MarcusKlik commented on #45
Hi @wei-wu-nyc , thanks for your request. The latest CRAN release of the `fst` package actually has a method `fst.metadata` which shows some basic information about a `fst` file in `tibble`-style (such as names and types). Future releases will show more information, for example the key columns and dimensions of the stored table. Hope this helps!

[2017-04-03 17:45] wei-wu-nyc commented on #45
Thanks @MarcusKlik, this actually is enough for my current need. Did not see the fst.metadata call.

[2017-04-03 19:00] #41 closed, assigned to MarcusKlik

[2017-04-03 19:12] MarcusKlik commented on #46
Hi @wei-wu-nyc , thanks for the bug report. In the last weeks I fixed a lot of so called ASAN and UBSAN warnings from CRAN and that also solved a few small memory leaks. I just pushed much of that code to the development branch of the `fst` package and would be much obliged if you could rerun your code with that latest version to see if you still get the crashes?

[code]

thanx for your time inves

[2017-04-03 19:16] MarcusKlik commented on #45
Using method `fst.metadata` from the _develop_ branch of `fst`:

[code]

 will now give you output like:

[code]

[2017-04-03 20:06] MarcusKlik commented on #46
The current version of `fst` is limited to 2 billion rows (INT_MAX). I will upgrade the row counter to a 64 bit unit_64 to lift that restriction. The same is true for the number of columns although I don't expect many users to have  more than 2 billions columns :-).
Do you have more than 2 billion rows in your data set?

[2017-04-03 20:14] wei-wu-nyc commented on #46
@MarcusKlik, I don't have more than 2 billion rows now. It is about 500 Million rows. So that was not a problem.

I have installed the new develop version. (BTW, the test is on a Linux AWS.)
So far the only test I did was to use the new version to read the .fst file that was generated with previous version of fst package. It still crashed the couple of times I tried.

I will try to test:
1. write.

[2017-04-03 22:39] wei-wu-nyc opened #47 "Saving empty data.table throw an error and created a file that is malformed"
When trying to save a data.frame with 0 row.  fst R package throw an error with error message:
Error in fstStore(normalizePath(path, mustWork = FALSE), x, as.integer(compress)) :
  The dataset contains no data.
And the resulted .fst file is malformed. read.fst() report the file format is not recognized.

1. May be fst should allow saving an empty data.table or data.frame? R default save function c

[2017-04-03 23:01] wei-wu-nyc commented on #46
Even after installed the current development version, both read.fst() and write.fst() still crash. It seems to related with the size of the data. The data set I am working on has about 510 Million rows data, each rows takes about 400bytes. So 500M rows comes to about 200GB data size.

For both read.fst() and write.fst() crash on the full dataset. But if I write a subset of the data or read a subse

[2017-04-04 09:40] MarcusKlik commented on #47
Hi @wei-wu-nyc , thanks for reporting that. Perhaps I should allow empty data sets. In that case only meta data is stored (column names, keys and possible attributes), similar to a 0-row `data.frame`. `fst` will also get a `fst-object` (next version) that can be used to access a `fst` file like a `data.frame`, so it would be better to have 0-row functionality, like in `data.table`. I'll add your r

[2017-04-04 09:40] #45 closed, assigned to nobody

[2017-04-04 09:57] MarcusKlik commented on #46
Hi @wei-wu-nyc , I seems strange that you can load a subset but only up until 250 * 10^9 rows. Are you having the same problem when you load more than 250 million rows but select only a single column?

like so, for example:

[code]

thanks for testing, it's hard to determine the cause of the problem without the actual data, but I will try to reproduce your error by generating a data set with more

[2017-04-04 22:08] wei-wu-nyc commented on #46
@MarcusKlik  It may take some time for me to test this. I have deleted the big .fst file. Now I am unable to write.fst() the big file anymore. (It took me a few try to finish the saving without crashing.) I also don't have much time in the next couple of days.
I will post here when I get more testing done.
Thanks a lot for your package and your work. The load and saving speed of fst package is rea

[2017-04-05 07:07] MarcusKlik commented on #46
Thanks @wei-wu-nyc ! I will try to reproduce your problem myself with random data sets large than 250 million rows. If you could pinpoint for which column type (factor, character, real, logical or integer) the problems occurs, that would be very helpful. Perhaps I can ask you to rerun your code later with updated versions of the `fst` develop branch?

[2017-04-06 17:03] wei-wu-nyc commented on #46
@MarcusKlik  I quick report back.
My data has columns with: character, integer and numeric type.
I am not successful in saving the whole dataset anymore.
1. I can save the character fields with all rows repeatedly. I can also reading back in all rows of the file with character fields with no problem.
2. I can also save the integer fields with all rows. But I core dumped once. But succeeded twice.

[2017-04-06 17:57] MarcusKlik commented on #46
Hi @wei-wu-nyc, that offers some additional information. Apparently, the `fst` package has problems allocating more than 2 GB of memory for a single numerical column (250 million rows times 8 bytes per numerical value). That's exactly INT_MAX (signed), so I'm guessing there is some integer rounding being performed where a 64-bit size is required. Thank you for reporting, I will let you know when I

[2017-04-06 20:39] wei-wu-nyc commented on #46
@MarcusKlik, this sounds like a reasonable hypothesis. Hopefully, you will be able to find and fix the problem. I am glad I can help. I am using fst now and looking forward to using it more and more.
What platform are you developing fst package on? Linux, Mac, Windows? Also I don't see a makefile. What compiler and environment do you use for the development of fst? I want to see if I can clone the

[2017-04-06 21:47] MarcusKlik commented on #46
Hi @wei-wu-nyc , I believe I have located the problem (indeed related to a downcast to an integer). The latest version from the develop branch should have a fix for your problem, which you can install with:

[code]

I hope that solves your problem! On my machine I can now write 1 billion numericals (8 GB of data) without problems.  You might have to re-write the `fst` file first to be sure...

[2017-04-06 21:56] MarcusKlik commented on #46
I am developing the `fst` package both on Ubuntu and on Windows. And using [Travis](https://travis-ci.org/fstpackage/fst) the package is also build  on Mac (which is done automatically after each commit). The makefile is a special R package makefile [(this one)](https://github.com/fstpackage/fst/blob/develop/src/Makevars) which compiles the 3rd party `LZ4` and `ZSTD` compressors and the C++ code f

[2017-04-07 18:59] wei-wu-nyc commented on #46
@MarcusKlik
After doing the reinstall of the latest develop version, I can confirm this release fixed the core dump on saving and loading large data set and files.
I did not do many tests for more complete results, (each run takes some time) but for the same big data table I had before, I can write.fst() the whole file in one shot. And I can reload the big file into memory with read.fst(). Both of

[2017-04-07 19:41] MarcusKlik commented on #46
Hi @wei-wu-nyc , that's great, thanks for reporting! You should be fine now at least up until 2 billion rows. Support for long vectors (>2^31 elements) is present in R from version 3.0.0 and those are on the feature list as well (but not at the top though :-)). Additionally when the multi-chunk feature is implemented (`fst.rbind`), larger data sets could also be stored as a series of large (2 bill

[2017-04-07 21:07] wei-wu-nyc commented on #46
Thanks @MarcusKlik for all the impressive work on this package.
Actually fst.rbind was one feature that I almost requested here. To work around the crashing on big data set problem I reported here, I split and saved the data in multiple files. And read in the smaller files and then have to rbindlist() in memory. This basically doubled in-memory memory foot print. fst.rbind on a set of files withou

[2017-04-08 20:36] MarcusKlik opened #48 "Currently planned milestones for fst"
A list of currently planned milestones for `fst` with some key features:

* _format-complete: the `fst` format allows for:_
	a) row binding of data frames
	b) column binding of data frames
	c) persisting (custom) column attributes
	d) persisting and indexing table keys
	e) a range of compression algorithms
	f) storing hashes for each data block (#49 )

* _stand-alone C++ core library_
	a) the core

[2017-04-08 20:50] MarcusKlik commented on #46
Hi @wei-wu-nyc , there are definitely plans for multi-core support! First multi-threaded compression and decompression and multi-threaded IO. And later also multi-threaded sorting and grouping. I've added a list of milestones currently planned for `fst` with some features in  #48. Any feedback you have is very welcome! As you can see, many plans and much work to do :-). Also, I believe it would be

[2017-04-09 19:49] phillc73 commented on #39
This might not make sense, but after reading this enhancement request, and then also your thoughts about, for example, `fst.sum` in #44, is there any advantage/desire to perform what I can only describe as "in fst" calculations?

What I mean is, using `fst.sum` to add two values from different columns and than also create a new column using `fst.cbind`, all within the same operation?

Maybe it's o

[2017-04-09 21:37] MarcusKlik commented on #39
Hi @phillc73, with a `fst.cbind` method, you could add your new column to a `fst` file like:

[code]

So you would add a single column `data.frame` to an existing `fst` file. That would require memory for reading columns _wins_ and _runs_ and also for in-memory calculation of column _sr_. But for large data sets, this might still require too much memory and you would like to perform the operation

[2017-04-10 14:42] wei-wu-nyc commented on #46
@MarcusKlik  Thanks for the heads-up.
I took a look at issues #48, one feature I am looking forward to seeing the ability to import Spark Parquet files efficiently. Currently, the serialization to Spark Parquet files from R is not just painfully slow, it is mostly broken for my purposes (accessing or importing a large/massive amount of data into R data.frames or data.tables.). When trying to trans

[2017-04-10 18:38] petermuller71 opened #49 "Feature request: data-integrity check by adding hashvalue"
Data integrity is pretty important in the organization I work for.
Accountants ask for 'hashvalues' of datasets, when they perform audits.  It must be certain that the right dataset is used and that is has not changed.

Is it possible to calculate a hashvalue and save it as metadata (in the same file) when you write the data to disk?  When you read the file, it would be nice that the hashvalue is

[2017-04-10 19:49] MarcusKlik commented on #46
@wei-wu-nyc Indeed, being able to read from Parquet files would be very valuable for interoperability as many languages already have an interface to the Parquet file format. And Parquet files have a layout similar to the `fst` format and they also have a limited amount of (basic-) types (but there is no random access compression in Parquet). The same arguments hold true for the Apache Arrow in-mem

[2017-04-10 20:01] MarcusKlik commented on #49
Hi @petermuller71 , thanks for the feature request! That would be very interesting indeed and also add to the stability of the `fst` file format. For maximum performance, hashing could be done on each internal data block using a fast hashing algorithm like [xxHash](https://github.com/Cyan4973/xxHash) (which is created by Yann Collet (@Cyan4973), who also created the LZ4 and ZSTD compression algort

[2017-04-10 20:10] MarcusKlik commented on #49
Thinking about it, storing a hash value for each data block would be ideal, because then we can also verify the hash for random access (row- and column) reads. That would fit the framework nicely :-)

[2017-04-10 20:26] wei-wu-nyc commented on #46
@MarcusKlik
The use case for Parquet files is that: Now a days, many of the big data sets are on Spark platform. When working within the spark environment, it works OK. However, when one needs to load a relatively big dataset into R, the bottleneck is the serialization of data between Spark and R.

I forgot to add in my previous post. The other set of very useful features are the ability to work o

[2017-04-10 21:40] MarcusKlik commented on #46
@wei-wu-nyc , thanks for some valuable feedback! Working off-memory with large data sets is exactly the goal of the `fst` package in the long run. With (NMVe) storage getting faster and upcoming 3D XPoint memory devices, processing very large data sets with relatively small machines is suddenly in-scope and I believe there is room for frameworks that work in between large clusters and limited sing

[2017-04-10 22:31] wei-wu-nyc commented on #46
@MarcusKlik  my requests are simpler than you described. But your description add much more feature set than I imagined:
1. merging two fst files together. I was just thinking about if I have two tables or two .fst files that have the same format and they were generated on different subset of the data or for different time periods etc. I was just thinking a way to combine the data without loading

[2017-04-11 20:54] MarcusKlik commented on #46
@wei-wu-nyc  Thanks a lot for that. And you bring a very compelling argument, performance first and complicated features and 'syntactic sugar' later! Some of the performance features should definitely be moved upwards, as they will make `fst` increasingly useful for working on large data sets (I will keep the `data.frame` interface though as it is relatively easy to implement :-)). Multi-threaded

[2017-04-12 17:31] st-pasha opened #50 "Benchmark question"
Hi Marcus,

I've just learned about your package, and its performance on the benchmarks looks absolutely impressive!
However could you please clarify some details about the test environment:
  * What was the hard drive on the machine where the benchmarks were ran?
  * Which versions of the software packages (fst, read_feather, readRDS, fread) were tested?
  * What dataset was used? Is it public? O

[2017-04-12 19:20] phillc73 commented on #50
Speaking of benchmarks.... It would be interesting to see MonetDBLite included:

https://www.monetdb.org/blog/monetdblite-r
https://github.com/hannesmuehleisen/MonetDBLite

[2017-04-12 20:37] MarcusKlik commented on #50
Hi @st-pasha , thanks for the praise, I posted the benchmark code [here](https://gist.github.com/fstpackage/e710cf2adaa02f96bc8dbee9318ba733), your evaluation is much appreciated! The code includes the figures published on the [fstpackage.org](http://www.fstpackage.org/) website. A few remarks on the benchmark:

* I use the `microbenchmark` package to measure performance but use only a single iter

[2017-04-12 20:42] MarcusKlik commented on #50
@phillc73 , great tip! I noticed MonetDB being [mentioned ](https://github.com/Rdatatable/data.table/issues/943#issuecomment-292670540) in a `data.table` issue on serialization as well. I will make sure it is included in the new benchmarks, thanks!

[2017-04-12 22:12] mattdowle commented on #50
Hi Mark,  Thanks for all the info. I did a [talk](https://github.com/Rdatatable/data.table/wiki/talks/BARUG_201704_ParallelFread.pdf) yesterday and while preparing for it I discovered the command `hdparm -t /dev/sda` to measure the true sustained read speed of the device.  Looking up your OCZ RevoDrive 350 the manufacturer stated max read appears to be 1800MBps  (1.8GB/s) which fits with it being

[2017-04-13 04:51] MarcusKlik commented on #50
Hi @mattdowle , thanks for tip on measuring the real drive speed, that's a great tool by the way. But the RevoDrive is at a server in my company which is stuck with Windows, so it will take some effort getting that measurement. The first thing that comes to mind on the benchmark results is that I am using the in-memory size (from R) as the base size for speed calculations. That size is equal to th

[2017-04-14 21:35] MarcusKlik commented on #50
I did some further benchmarking on packages `data.table`, `fst`, `feather` and the base RDS methods. As expected, there are large differences in performance for serialization of the various column-types as can be seen in the figure below. In that figure, you can see the tested column types (horizontal) versus the mode (read/write) for all 4 serializers. The performance of the multi-threaded `fwrit

[2017-04-15 00:53] mattdowle commented on #50
Wow - this is awesome!

[2017-04-15 03:12] mattdowle commented on #50
Hello again. Do you use Windows on your laptop like the server?  The reason I ask is that there has been a [problem](https://github.com/Rdatatable/data.table/issues/2107) reported on Windows with `fread` in dev where either the parallel threads aren't kicking in, or they are but badly and the performance is worse than single threaded.  Did it look as though `fread` was using all the laptop's cores

[2017-04-15 05:12] MarcusKlik commented on #50
![image](https://cloud.githubusercontent.com/assets/24658401/25060961/92ef9c18-21aa-11e7-8526-aaefde9c831a.png)

Hi, the laptop has Windows 10, and the threads are kicking in during the `fwrite`, but I can only see a single core working with `fread`, so indeed they are not kicking in for `fread` it seems!

[2017-04-15 07:07] mattdowle commented on #50
Relief!  Thanks for info. I've borrowed a Windows 8.1 machine and managed to reproduce similar. Investigating.
Aside: did you compile data.table dev 1.10.5 yourself with Rtools (mingw) or download the AppVeyor .zip ?  There was another windows issue (unrelated I think) that needed latest rtools.exe 3.4 (which AppVeyor uses) just to double check.

[2017-04-15 11:35] mattdowle commented on #50
Found and fixed the problem.  I confirmed it's fixed for me on Windows 8.1.  Please try again.
data.table 1.10.5 IN DEVELOPMENT built 2017-04-15 11:11:18 UTC; appveyor
install.packages("https://ci.appveyor.com/api/buildjobs/1txx94ruv769jc42/artifacts/data.table_1.10.5.zip", repos=NULL)

[2017-04-15 20:03] MarcusKlik commented on #50
Hi @mattdowle , multithreaded `fread` _almost_ works fine now on Windows :-). I still only saw the single thread at work in the benchmark with `fread`. I tried the appveyor precompiled build and I also build `data.table` from your [latest commit](https://github.com/Rdatatable/data.table/commit/6019cfbf4f73a6f7f3ca1108affe04d3e4b1436c). Then I reinstalled RTools 3.4 and tried again. Also, manually

[2017-04-15 20:17] MarcusKlik commented on #50
I'm guessing the `data.table` benchmark speeds will go up with a factor of 6 for all investigated columns types using a 4/8 core machine. When the single column boundary case is fixed, I'll make sure the benchmark is updated and repeated on a machine with more cores!

[2017-04-15 20:17] mattdowle commented on #50
Excellent - thanks for working this out!!  Yes there's no reason it shouldn't go MT on a single column, so hopefully a simple logic bug to fix somewhere. It also doesn't do the progress meter when ST - same area to fix. Will do ...

[2017-04-15 20:22] MarcusKlik commented on #50
Thanks, impressive work on the multi-threading! And interesting to see that OpenMP works very well now within the R tool chain. I was thinking TinyThreads++ for a more fine-grained solution for 'fst', but I think OpenMP might do the job just fine for `fst` as well.

[2017-04-16 09:08] kuzmenkov111 opened #51 "recipe for target 'FastStore.o' failed ubuntu 14.04"
Hi! Thank you for great package!

I have some broblem: when I  try to install it on UBUNTU 14.04 on Microsoft R Open 3.3.1
from github or cran it fails (recipe for target 'FastStore.o' failed).

[2017-04-16 20:43] MarcusKlik commented on #51
Hi @kuzmenkov111 , thanks for the report on this issue. Apparently, Microsoft R Open does not work well with the Makevars setting `CXX_STD = CXX11` (see [this issue](https://github.com/Microsoft/microsoft-r-open/issues/11#issuecomment-256519780) on the Microsoft-R-Open repository. I checked and the issue is still there with R Open version 3.3.3. To work around the problem, one option is to manuall

[2017-04-17 06:56] Fpadt commented on #13
Hi Marcus,

Apologies for my late reaction. Missed your comments. Thanks for coming back to me and confirming the issue I had (it is as designed)

I have this number of columns as it is a mts (matrix of time series). I am creating this from a data.table.
Still playing around with the best and most performing way to do this. The rows contain days and indeed in general these are about length 1000 (3

[2017-04-17 06:58] Fpadt commented on #13
For your information:

I am rather happy with your package and use it as follows.
This coding just checks if a fst file exists which is as old or newer than the original file. If there is it loads it in memory, if there is not it takes the burden of loading the original but directly save a fst

Just wrote a message to the guys of ProjectTemplate that they should build your package in for their Cac

[2017-04-17 15:49] wei-wu-nyc commented on #50
@MarcusKlik and @mattdowle, I really like both of your packages. Hopefully you guys will work closely together going forward.
I am really looking forward to have very good serialization solutions in R for very big data set. And one of the feature I mentioned to @MarcusKlik is the ability to work on a very large data.table off and in memory on demand depending on the available resources. That would

[2017-04-17 17:25] wei-wu-nyc commented on #46
@MarcusKlik  The bug of crashing on reading 250 million rows+ is back.
I am using the latest development version installed by devtools::install_github("fstPackage/fst").
Writing the data set was OK with no crash. (Previously there were problem both in reading and writing.)
But reading the large .fst file into memory crashed the R.
10 Days ago, the bugs of writing and reading  the same data set wer

[2017-04-17 18:31] MarcusKlik commented on #50
Hi @wei-wu-nyc , thanks. First, in the _interface_ milestone (#48) I have planned a 'simple' `data.table` interface. From milestone _advanced operations_ on, the plan is to implement a `data.table` interface to `fst` files to be able to effectively group, sort, merge, append (columns and rows) and select (all operations on-disk requiring very little memory). These operations can also be performed

[2017-04-17 18:43] MarcusKlik opened #52 "Convert a csv file directly to a fst file"
The conversion needs very little memory, as we can use the `rbind` functionality of `fst` to append chunks from the `csv` file. The resulting `fst` file would have random row and column access and could be used to perform calculations of data sets that are too big to fit into memory.

[2017-04-17 18:52] wei-wu-nyc commented on #52
@MarcusKlik Will it be easy also to add the ability to conver a .RData file directly to a fst file without using a large memory footprint?

[2017-04-17 19:12] MarcusKlik commented on #46
Hi @wei-wu-nyc . That's strange, I see that the commit that solved your problem 10 days ago was the latest commit on `fst` on the official repo, so perhaps the bug wasn't solved after all. On my system, the following code runs without problems, could you check if this works for you too?

[code]

and for double's:

[code]

thanks for your time!

[2017-04-17 19:42] MarcusKlik commented on #52
That's an interesting idea. Off course, `.rdata` files can contain any number of objects, but files created with `saveRDS` contain only a single object, so that would be a better candidate. But that could be _any_ object, not just a `data.frame` object (or similar). But suppose you would have a serialized `data.frame`, to avoid loading the whole '.rds' file into memory (and be back at square one),

[2017-04-17 20:10] wei-wu-nyc commented on #52
Forgot that .rdata and .rds file can contain all type of object.

If .fst file is really stable, I guess there is no very compelling reason for a conversion use case. But currently, I actually save both the .RData and .fst files for my data. And in case .fst file crash or doesn't work. Or in the future the .fst file format changes, I need to create a new .fst file.
However, if as fst package getti

[2017-04-17 20:58] MarcusKlik commented on #46
Hi @wei-wu-nyc , perhaps the issue here is that in your report you write that you used

[code]

to install `fst`. However, the `ref` argument of `devtools::install_github` defaults to the 'master' branch. I hope that when you use

[code]

your problem is solved. I noticed that most package repo's on GitHub use the 'master' branch for the latest commits, effectively making it the 'develop' branch.

[2017-04-17 21:08] wei-wu-nyc commented on #46
@MarcusKlik
You beat me to it.
1. For you examples, when I run them on my installed packages, they either crashes or give me error message about unknown column like the following error:

Error in fstRead(fileName, columns, from, to) :
  Unknown type found in column.
2. I noticed the same thing as you did. If I install the develop version use ref="develop". Your examples run without crash.
3. Howev

[2017-04-17 21:15] wei-wu-nyc commented on #46
5. In this case, you can see a use case for converting from RData or RDS file to fst with limited memory usage :-)

[2017-04-17 21:19] MarcusKlik commented on #52
Yes, I completely understand. Unfortunately some more changes to the format are necessary to allow for multiple chunks (`rbind`) and adding columns (`rbind`), but also for storing key indexes and (custom) attributes in the `fst` file (all new features compared to the current version). The next milestone will have all these changes and after that `fst` will keep supporting previous releases. To mak

[2017-04-17 21:23] MarcusKlik commented on #46
Ha, quite right! I will update the README for now but probably switch to using the 'master' branch soon, thanks!

[2017-04-17 21:23] wei-wu-nyc commented on #52
Thanks, backward compatibility will help a lot.

[2017-04-17 21:44] MarcusKlik commented on #13
Nice! I think finding a way to transpose the data would be very useful for your case. Storing all the column names takes a bite out of the performance (at least for short columns). And for every column, a in-file seek operation is required, which is cheap on a fast SSD drive but adding up for millions of short columns.

The regular `gather` or `melt` methods don't work effectively with so many col

[2017-04-18 15:18] kuzmenkov111 commented on #51
Thank you!!!! It works!

[2017-04-18 15:42] Fpadt commented on #13
Hi Marcus,

I thought my whole machine collapsed when I tried. still need to figure out the best way to cope with my data set, performance and memory. I need to give it a thought potentially I can leverage data.table in a clever way, having the time series in the rows instead of columns. will let you know when I succeed

[2017-04-18 17:02] wei-wu-nyc commented on #46
@MarcusKlik  Reporting status back. Using the ref="develop" version of fst for both writing and reading my large data set do not cause core dump.

[2017-04-18 19:02] MarcusKlik commented on #13
Hi, good luck and would be interesting to know how you convert your table. By the way, if you start out with a matrix, you basically already have a one-dimensional vector. Perhaps you can store your matrix in a single `data.table` column and then just cycle the days in a second column?

[code]

I don't know if this applies to your case, just a thought!

[2017-04-18 19:04] MarcusKlik commented on #46
Great, thanks! The README and website now have the correct `install.packages` options specified, thanks for pointing that out!

[2017-04-18 19:08] MarcusKlik commented on #51
Great, thanks for reporting the issue!

[2017-04-18 19:17] MarcusKlik commented on #51
Closing, as this is a confirmed bug in Microsoft R Open (see also https://github.com/eddelbuettel/rcppbdt/issues/3#issuecomment-258546497 and the remarks from @eddelbuettel)

[2017-04-18 19:17] #51 closed, assigned to MarcusKlik

[2017-04-18 21:34] Fpadt commented on #13
Hi mark,

Thanks for the idea. Actually I am coming from a data.table with 11M records and just a few columns and I store this using fst. This data set are irregular time series which I need to make regular by creating an entry for each day. This make it explode.
As the end result is a matrix with 1.2B cells and it is created in a out 70 secs.

I will check at which stage I can store it a data.tab

[2017-04-19 02:22] mattdowle commented on #50
Ok ... single column input now goes multi-threaded and a few other problems fixed too.
Please try again with latest dev.   Fingers crossed!

[2017-04-19 04:42] MarcusKlik commented on #50
![image](https://cloud.githubusercontent.com/assets/24658401/25163481/0d6f4cd6-24cb-11e7-9c3f-7a5edeb98e42.png)
(vertical axis is in MB/s taking the object.size() of the column as base size)

Hi @mattdowle , just a quick benchmark to confirm, all looks fine now! I will test with more observations and larger files soon. Thanks for the quick fix!

[2017-04-19 04:44] MarcusKlik commented on #50
Only using 4 cores here, but the performance is already very impressive. And I expect much more of a boost in performance for `data.table` when we use an order of magnitude more cores!

[2017-04-19 04:51] MarcusKlik commented on #50
And with the single/dual column test:

[code]

we get:

[code]

for a 200 million row data set with integers

[2017-04-19 04:53] MarcusKlik commented on #50
Great, impressive results!

[2017-04-20 18:45] kbroman commented on #13
I also have a case where `write.fst` is not writing the full data frame.

The data frame of interest has 58 rows and 286,521 columns. The result of `write.fst` has just 24,377 columns.

[code]

If I reformulate as the transpose, though, it's working fine for me.

[2017-04-20 20:31] MarcusKlik commented on #13
Hi @kbroman , thanks for reporting the issue. You see the effects of (incorrectly) down-casting the number of columns to a short int (C++) like @Fpadt does. In your case 286521 & 0xffff = 24377. Using the development version of `fst` should fix your problem:

[code]

That only works when you re-write your data using the development version as well. The development version stores a maximum of INT_M

[2017-04-20 21:30] kbroman commented on #13
Thanks @MarcusKlik; I should have thought to check the development version. That does indeed work for me, but wow things are a lot faster when I go with the transposed (lots of rows but not many columns) version of the data.

[2017-04-20 21:43] MarcusKlik commented on #13
Nice! Yes, `fst` has a columnar format and each column has a certain offset in the file format. Reading the column requires a seek operation to the correct offset. Usually, that will be very fast and hardly noticeable (recent SSD drives can do a few hundreds of thousands (1e5) random seeks per second at least), but with so many columns, performance will definitely suffer. The format also contains

[2017-04-20 21:52] MarcusKlik commented on #13
Additionally, while parsing the `fst` file, a single R-vector has to be created by the R framework for each column. These allocations (by R) have some overhead and unfortunately there is no way to avoid that (and they can't be done in parallel). As soon as `fst` crosses the boundary from unmanaged  to managed code, things tend to slow down a bit  :-)

[2017-04-26 18:50] MarcusKlik opened #53 "multi-threaded LZ4 and ZSTD compression available in separate (R-) function"
Following @rdpeng's [tweet](https://twitter.com/rdpeng/status/855476881784754177), the LZ4 and ZSTD compressors can be accessed from the `fst` package:

[code]

(return value is a raw vector)
The `fst` package uses a multi-threaded implementation (with OpenMP) for compression and decompression. The base types (`integer`, `logical`, `character`, `factor`, `double`) should be supported supplemented

[2017-04-27 13:54] jimhester opened #54 "Make data.table an optional dependency"
This would lighten the cost of using **fst** on CI systems, if **data.table** output is not used for a given package.

[2017-04-27 13:59] jimhester opened #55 "Provide alternative function aliases"
`foo.bar` naming convention is less than ideal as it is ambiguous if the function is a simple one or a S3 method for `foo`. This is compounded by the fst package defining objects of class `fst.metadata`, which results in a function named `print.fst.metadata` that could be either a print method for `fst.metadata` objects, a `print.fst` method for `metadata` objects or a `print.fst.metadata` functio

[2017-04-27 16:05] martinblostein opened #56 "Error/crash when saving factor column with 0 factor levels"
For me `write.fst` either raises an error or crashes when fed a data.frame with a factor column with zero levels. Such a vector occurs when a factor vector is initialized with only NA values.

Here is a small example:
[code]
The CRAN version of `fst` unpredictably either raises this error within R:
[code]
or cases a fatal error and kills the R session (I believe this occurs because uncaught error

[2017-04-27 18:30] statquant commented on #55
It looks like some packages define some aliases func_name and funcName for all functions. This is a nice thought for their users, we all have out preferences...

[2017-04-27 18:46] jimhester commented on #55
Yes, https://github.com/mllg/checkmate is a good example that defines both camel case and snake case functions.

[2017-04-27 19:39] MarcusKlik commented on #55
Hi @jimhester , thanks for your feedback! You're right off course, using the `foo.bar` convention is ambiguous to S3 methods and the `foo_bar()` and `fooBar()` aliases don't have this problem. But I'm always confused that [Google's R Style guide](https://google.github.io/styleguide/Rguide.xml#identifiers) explicitly states:

[code]

Would you recomment the [tidyverse style guide](http://style.tidy

[2017-04-27 20:04] MarcusKlik commented on #54
Hi @jimhester , thanks for taking a close look at `fst` and love your work by the way (can't live without `devtools`), thanks for that!

I can make `data.table` optional for `fst` as it is now. But at future milestones, I will probably need more methods from the `data.table` package as more functionality is added to the package. For example, when (on-the-fly) grouping functionality is added, I wil

[2017-04-27 20:06] jimhester commented on #55
I think google's style guide is just wrong on this point, in general naming convention is largely a matter of preference but using dots in particular have real ambiguity problems as mentioned above. I personally do follow the tidyverse style, but for the most part consistency within a given style is the most important thing.

I think providing aliases is fine actually as long as they are both docu

[2017-04-27 20:12] MarcusKlik commented on #56
Hi @martinblostein , thanks for reporting the error! Indeed, there is currently no check on writing a zero-length character vector [(this code needs a check)](https://github.com/fstpackage/fst/blob/develop/src/fstcore/character/character_v6.cpp#L122).

Will fix as soon as possible!

[2017-04-27 20:19] MarcusKlik commented on #55
Great, I will provide aliases for `read.fst` and `write.fst` and use the tidyverse style for future methods. Thanks a lot!

[2017-05-01 15:19] nextpagesoft opened #57 "Restore data.table class on read"
First of all - fantastic job! One thing I noticed is that object read from disk is initialized to class 'data.frame' even though it was 'data.table' at save. Can it be automatically restored in 'write.fst' automatically or the full class is not serialized and is assumed to be 'data.frame'?

[2017-05-01 19:37] MarcusKlik commented on #57
Hi @nextpagesoft , thanks for your request! It's somewhat related to issue #12 , where support for `tibble`'s is requested.

From a design point of view, the core code for the `fst` package will be available in the near future as a separate C++ library. At that point, it will be relatively straightforward to implement a version of `fst` in other languages (e.g. Python). The `tibble`, `data.table`

[2017-05-04 11:38] juanpide opened #58 "Quick way to get file properties with read.fst"
It would be great to have a quick way to get information from the fst files by using read.fst but without needing to read it completely.

I mean things such as:
Number of rows.
Number of columns.
Variable names.
Classes of that variables.

I guess they could be retrieved from the "metadata" of the file.
That could be important when working with large files.

[2017-05-04 16:51] wei-wu-nyc commented on #58
fst.metadata() function.
See issue #45 https://github.com/fstpackage/fst/issues/45

[2017-05-04 19:05] MarcusKlik commented on #58
Hi @skanskan, thanks for the request! As @wei-wu-nyc mentions, the `fst.metadata` method provides some information on the stored data set. With a stored data set like:

[code]

with the current `fst` CRAN release, you can retrieve some basic meta-data with:

[code]

the `fst` latest _develop_ branch will also give you some information on (the order of) stored keys:

[code]

The _class_ identifiers

[2017-05-04 19:06] #58 closed, assigned to nobody

[2017-05-04 19:07] juanpide commented on #58
OK, thank you, that's what I was looking for.

[2017-05-08 18:32] juanpide opened #59 "Error std::bad_array_new_length when reading."
I've created a simple toy data.table with

[code]
Moved the file temp.fst to a second computer and tried to read it with

[code]
But I get this error:
[code]

What does it mean?
How can I solve it?
I've tried reinstalling fst from github but the problem is still there.

If I try to create it on the second computer and read it in the same computer I don't have any problem.
Both fst packages are ver

[2017-05-08 19:34] MarcusKlik commented on #59
Hi @skanskan , thanks for reporting the issue. Could you specify the operating systems and OS of the two computers? Currently, the only [restriction](https://github.com/fstpackage/fst/blob/develop/DESCRIPTION#L13) that I have imposed on the package is that the system should have a 'little endian' type of processor (eventually, `fst` will need a (fast) little- to big- converter and vice-versa).

If

[2017-05-08 19:50] juanpide commented on #59
One is Windows 7 x64, i7 4790K .
the other one is Windows 10 x64, i7 930.
Do you want me to do any special test?

[2017-05-08 21:06] MarcusKlik commented on #59
Thanks for that! Both 64-bits Windows, very strange indeed. If possible, it would be great if you could generate two `fst` files. One from your Windows 7 machine (e.g. _win7.fst_) and one from your Windows 10 machine (e.g. _win10.fst_), both using your toy example code. If you could sent those files to [me](https://github.com/fstpackage/fst/blob/develop/DESCRIPTION#L7), I can compare them (at the

[2017-05-08 22:53] juanpide commented on #59
How can I know the exact subversion and build date installed?

In the meantime I've created 4 files with the same toy example.
temp0Win10.fst    Windows 10, zero compression.
temp0win7.fst       Windows 7, zero compression.
tempxwin7.fst       Windows 7, compression 90.
tempxWin10.fst     Windows 7, zero  compression.

Two in the win10 computer, two in the win7.

[example.zip](https://github.com/f

[2017-05-09 07:08] MarcusKlik commented on #59
Thanks for investing the time to tackle this issue! Looking at the `fst` files in your zip (didn't know that you could paste a zip into an issue, nice to know), I can see that both files were generated by a dev version of `fst`, but with different build numbers. Although `fst` files generated with 'CRAN releases'  are backwards compatible, files generated with different versions of the dev install

[2017-05-09 10:05] juanpide commented on #59
Thank you.
I suspected it was something related with version missmatch.
I'll try it.
I didn't know it would change so much.

At this moment What features will I miss if I use the cran version instead of the dev one?

[2017-05-09 14:48] MarcusKlik commented on #59
Apart from bug-fixes, in the dev version the file format is updated to accommodate dynamically adding rows or columns to an existing `fst` file as well as custom column attributes. But the R interface to that functionality is not finished yet, so you won't profit from that at this point. Also, the compressors are updated to newer versions so there might be a (small) performance increase in the dev

[2017-05-10 08:43] MarcusKlik opened #60 "Parallel computation of multiple columns"
When reading a `fst` file using multiple cores, the slowest operation is the creation of character vectors (and to some extend also factors). That's because R uses a global string pool and each string in a character vector needs to be created using R's internal code that searches the string pool. This operation can only be done on the main thread. So, a large performance gain can be achieved if th

[2017-05-12 04:34] ryankennedyio commented on #41
Hey @MarcusKlik , just wondering if this fix was pushed to CRAN, or only github's development branch? Still getting this issue on some fresh installations.

[2017-05-12 05:09] MarcusKlik commented on #41
Hi @ryankennedyio , it's not yet pushed to CRAN, the next `fst` release is due around June. Apologies for the inconvenience!

[2017-05-12 06:51] ryankennedyio commented on #41
No problem, thanks for the update! Great work on this package.

[2017-05-12 06:57] MarcusKlik commented on #41
Hi @ryankennedyio , thanks! The plan is to have shorter intervals between CRAN releases after June. But in the coming release I try to accommodate as many format changes as possible (e.g. attributes, row-binding, column-binding, hashes, list columns, etc) so that subsequent releases will be backwards compatible. Once the format is stable, the release cycle can be much shorter...

[2017-05-13 06:37] MarcusKlik opened #61 "Build package with compilers without OpenMP support"
Currently, `fst` can't be build on OSX systems that don't have manually installed OpenMP (for example using [these](https://github.com/Rdatatable/data.table/wiki/Installation) instructions). Without OpenMP support, `fst` should still be able to built and use single-threaded mode only. The same issue applies to the `data.table` package (see Rdatatable/data.table#2161).

[2017-05-29 20:38] fstpackage opened #62 "Multi threading phase 1: parallel inner loops for integer, logical and double read/write"
The `fst` package implements serialization of integer, double and logical columns with a common (inner) loop. This loop can be parallelized relatively easily using OpenMP. Serialization of column blocks (writes) should be performed in order (with a 'pragma omp ordered' section).  Compression and decompression can be performed out-of-order and in parallel. Note that R vectors can only be created fr

[2017-05-29 21:15] fstpackage opened #63 "Multi threading phase 2: parallel serialization of character columns"
Parallelization of character columns requires more work for the `R` framework than it's integer, double and logical counterparts. That's because `R` uses a global string pool and each string must be allocated on the master thread with methods from the `R` API. That API is relatively slow and the reason for sub-optimal performance of character vector serialization. The fastest method for storing a

[2017-05-29 21:25] fstpackage opened #64 "Multi threading phase 3: serialize multiple columns simultaneously"
Some column-types can be serialized more efficiently than others. Character vector serialization is slow compared to integer, double, logical and factor serialization. We can process serialization of a character vector in parallel with the serialization of a column of another type. Combining serialization of a _slow_ column with the serialization of a _fast_ column enables maximum throughput of da

[2017-05-29 21:49] MarcusKlik commented on #5
I believe the best way to approach a extensive benchmark suite would be to publish code to generate a  number of datasets that differ in their characteristics. Each code snipped should generate a single column dataset. Examples of datasets that differ significantly in the resulting serialization speed:

1) random integer column
2) sequential integer column (e.g. 1:1000000)
3) integer column with m

[2017-05-30 19:05] MarcusKlik opened #65 "Performance measurements for OpenMP constructs"
Timing measurements with microsecond accuracy are needed to analyse the performance of OpenMP parallel constructs in the core code of `fst`. We need to determine the speedup due to parallel processing, the effect of locks in the code (e.g. while writing blocks of data) and the startup and tear-down costs of a parallel section. These costs are likely platform dependent.

Compression algorithms in `

[2017-06-12 20:31] MarcusKlik commented on #62
Phase 1 is now complete. Compressed reads and writes of integer, double, logical and factor columns are implemented using OpenMP multithreading. Benchmarks look very promising on this initial version!

![image](https://user-images.githubusercontent.com/24658401/27053854-27608f8c-4fbf-11e7-9eea-5c31d95bee7e.png)

The benchmark shown was generated on a  4-core laptop @2.5GHz with a Samsung EVO 850 S

[2017-06-12 21:27] MarcusKlik commented on #62
A few observations on the benchmark above:

* The benchmark was generated using a random dataset that was re-created before each measurement ensuring that the SSD can't use caching.
* The dataset used:

[code]
* On this system, reading a `fst` file is disk bound. Increasing parallelism hardly increases the read speed. Increasing compression on the other hand, increases the read speed from ~950 MB/

[2017-06-12 21:32] MarcusKlik commented on #62
Closing this issue, further speed improvements may be expected when the character-type columns are implemented with multiple threads and the thread scheduling is investigated with accurate timers. Directly using the counters from `microbenchmark`'s c code is probably the easiest solution for that.

[2017-06-12 21:32] #62 closed, assigned to MarcusKlik

[2017-06-12 21:35] MarcusKlik opened #66 "Add accurate timing measurements to multi-threaded reads and writes"
Using code from the `microbenchmark` package directly from C++. See for example [this code](https://github.com/cran/microbenchmark/blob/master/src/nanotimer.c) for cross-platform timers.

[2017-06-12 21:39] MarcusKlik commented on #3
IO is now processed on a single thread while compression and decompression is done on the other available threads. Currently implemented for integer, double, logical and factor columns.

[2017-06-12 21:39] #3 closed, assigned to MarcusKlik

[2017-06-13 03:37] MarcusKlik commented on #59
Hi @skanskan , for development versions, the build number is now shown when `fst` is loaded:

[code]

From `fst` version 0.8.0 onward (next CRAN release), the package is kept backwards compatible with `fst` files that were created with previous releases, which should also hold for development releases.

I'm closing this issue for now, please let me know if you have any additional problems and than

[2017-06-13 03:37] #59 closed, assigned to MarcusKlik

[2017-06-13 09:25] juanpide commented on #59
That's great.  Thank you very much.

[2017-06-19 21:58] MarcusKlik commented on #56
This issue is fixed by detecting a zero-length level attribute on the factor. An added bonus is that when there is a zero-length level vector, values can only be `NA`, so there is no need to store the values separately. For those case, long factor columns can be compressed into a few bytes:

[code]

So the on-disk size is only 255 bytes, while the vector is 8 MB :-)

[2017-06-19 21:58] #56 closed, assigned to MarcusKlik

[2017-06-26 21:11] #2 closed, assigned to MarcusKlik

[2017-06-26 21:11] #22 closed, assigned to MarcusKlik

[2017-06-26 21:11] #28 closed, assigned to MarcusKlik

[2017-06-26 21:20] MarcusKlik commented on #22
Hi @derekholmes, the `Date` type should now be respected and your code example is added as a test in the package. I'm converting `Date` types which have a `double` type as base to `integer` internally as can be seen in [the test](https://github.com/fstpackage/fst/blob/develop/tests/testthat/test.date.R#L15-L19). This gives much better performance and higher compression ratio's (double's are very h

[2017-06-26 21:27] MarcusKlik commented on #33
Hi @carioca67, this issue is fixed on the development branch. the `Date` type should now be respected. I'm converting `Date` types which have a `double` type as base to `integer` internally as can be seen in [this test](https://github.com/fstpackage/fst/blob/develop/tests/testthat/test.date.R#L15-L19). The `Date` type based on `integers` gives a much better performance and higher compression ratio

[2017-06-26 21:32] MarcusKlik commented on #28
Hi @HughParsonage, the `integer64` type (from the `bit64` package) has now been implemented (on branch develop). A [unit test](https://github.com/fstpackage/fst/blob/develop/tests/testthat/test.integer64.R#L19-L32) was added with code comparable to your example.

Thanks again for reporting the issue!

[2017-06-26 21:57] MarcusKlik opened #67 "More effective compression for integer64 type"
The `integer64` type uses a `double` vector at it's base. Currently, this vector is compressed using the same compression schemes ar for `double` type columns. But knowing the type is really an 64-bit `integer` allows for more optimized compression, such as using a bit-shifter before compression (e.g. packing all 512_n-th_bits from a 32 kB block together and store them with an ordering along _n_).

[2017-06-27 12:09] dan-reznik commented on #33
Wow Mark, that's fantastic. You should publish this to r-bloggers.com

On Mon, Jun 26, 2017 at 6:27 PM, Mark Klik <notifications@github.com> wrote:

[2017-06-27 12:19] MarcusKlik commented on #33
Thanks! And I guess I will as soon as the next CRAN version of `fst` is out :+1:
The same holds for the OpenMP multi-threading support that `fst` now has. That boosts the performance significantly and I think it would be nice to compare benchmarks of several systems (e.q. `feather`, `saveRDS/readRDS`, `data.table's` multi-threaded `fread/write` (also using OpenMP) and perhaps `MonetDBLite` (see fo

[2017-06-30 13:45] adrianadermon opened #68 "Character encodings are not saved with file"
I have found that when I write a data frame containing UTF-8 encoded characters, the encoding is lost when I read the file back into R. I am using R 3.4.0 (64-bit) and `fst` 0.7.2 on Windows 10.

Below is a minimal example illustrating the issue.

[code]

Printing to the console gives the following output:
[code]
Notice that the output for the UTF-8 encoded file is wrong when written with `fst`, b

[2017-06-30 18:58] MarcusKlik commented on #68
Hi @adrianadermon, thanks for submitting your issue and nice to hear that `fst` helps to improve your workflow!

Your code examples are very clear and informative. Indeed `fst` is not respecting the `UTF-8` encoding correctly at the moment and for many languages that might be a problem. At least `fst` should support `UTF-8`, but probably also `UTF-16` and `UTF-32`, `ASCII` and `Latin1` and perhaps

[2017-06-30 19:30] MarcusKlik commented on #68
[It appears](https://github.com/hadley/r-internals/blob/master/strings.md#strings-charsxp) R only respects few encodings for character vector elements natively. The names of other encodings and which ones are available are platform-dependent. All R platforms support  `no encoding` for the current locale, `latin1` and `UTF-8` ([documented here](https://stat.ethz.ch/R-manual/R-devel/library/base/htm

[2017-07-01 06:35] MarcusKlik commented on #61
This issue seems to be fixed for package xgboost as documented [here](https://github.com/dmlc/xgboost/commit/c441d0916eb5823a9fce3f6e016a57198f5112b3). They use a [configure script](https://github.com/dmlc/xgboost/blob/master/R-package/configure#L1666-L1696) to detect OSX and set the OpenMP flags accordingly.

[2017-07-03 19:28] MarcusKlik opened #69 "Use vectorclass library for an interface to the highest available SIMD instruction set"
The VCL vector class library is a tool that allows for much faster C++ code by handling multiple data in parallel using SIMD instructions. The highest available SIMD instruction set is automatically selected (at runtime?) without rewriting code. We need to check which compiler flags are required to use the SIMD instruction sets (Makevars).

[2017-07-03 19:38] MarcusKlik commented on #69
More information can be found on [Agner Fog's pages](http://www.agner.org/optimize/#vectorclass). We need specific test methods to measure single column compression performance using the vectorclass library. Possible optimizations include:

* faster bit-shifters for `integer`, `Int64` and `logical` types
* rounding from `double` to `Int64` and converting back (`POSIXct` class)
* calculation of `ma

[2017-07-03 20:21] MarcusKlik opened #70 "Use asmlib library for common C++ string methods"
Library [asmlib](http://www.agner.org/optimize/#asmlib) contains optimized C++ code for common string methods (`strlen`, `strcopy`, `strcmp`) which are also used in `fst` (mainly for serialization of `character` columns).

[2017-07-04 10:37] MarcusKlik commented on #55
The latest develop build of `fst` has aliases now for the package's main methods. I also added a [unit test ](/fstpackage/fst/blob/develop/tests/testthat/test.lintr.R) that runs almost all of @jimhester's `linters` on the package code and unit tests. A few `linters` have been disabled and the list of file names is manually set to avoid unexpected results (the `RcppExports.R` file is not correctly

[2017-07-04 10:39] #55 closed, assigned to MarcusKlik

[2017-07-07 21:49] MarcusKlik commented on #54
Package `data.table` is an [optional dependency](https://github.com/fstpackage/fst/blob/develop/DESCRIPTION#L15) now, thanks @jimhester for the recommendation!

[2017-07-07 21:49] #54 closed, assigned to MarcusKlik

[2017-07-11 17:40] dan-reznik opened #71 "Cannot save tibble where one of the columns is a list of some kind"
Mark what an awesome, super fast package. I encountered a new issue, when one of the columns is a list (instead of a vector of an atomic type). Tibbles, aka "data_frame" allow for columns to be lists of arbitrary types provided the latter have the same length than other columns which are regular vectors. For example:

# note: data_frame() is the same as tibble()
myDf <- tibble::data_frame(c1=c(1,2

[2017-07-11 19:18] MarcusKlik commented on #71
Hi @carioca67, thanks a lot! Indeed, `fst` is not supporting `list` type columns yet. But it's definitely planned for one of the next releases (see also #12 and #20).

The `list` type poses somewhat of a design challenge, since `fst` is a pure C++ library at it's core. A `list` column can have any type as it's elements, so in general each element should be considered a serialized R object. Such ob

[2017-07-11 21:40] dan-reznik commented on #71
Ho Mark thanks for taking a look at my request

How does saveRDS() solve this problem?

On Jul 11, 2017 4:18 PM, "Mark Klik" <notifications@github.com> wrote:

[2017-07-13 17:06] MarcusKlik commented on #32
An 64 bit [magic marker](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/fststore.cpp#L63) is added to the `fst` format to signal that an actual `fst` file is read. Also, more integrity checks are added when reading metadata. Later, an (optional) feature will be available to hash the column data for more robustness (see #49)

[2017-07-13 17:06] #32 closed, assigned to MarcusKlik

[2017-07-13 22:10] MarcusKlik commented on #68
Hi @adrianadermon, `fst` is now retaining encoding information (in the latest develop version) as can be seen from the following script (based on your initial script):

[code]

To maintain speed, `fst` assumes that the encoding of the first non-`NA` element of a character vector is identical to the encoding of the remaining column. In other words, `fst` assumes a vector that is uniformly encoded (

[2017-07-13 22:18] MarcusKlik commented on #31
Hi @carioca67, your issue have been resolved in the latest develop version of the`fst` package:

[code]
I would be very interested to see if your encoding problem is solved with this latest version!
Thanks for filing your issue.

[2017-07-13 22:33] MarcusKlik commented on #13
Hi @Fpadt and @kbroman, thanks again for filing your issues with the maximum number of columns. This issue is solved in the develop version of `fst` and the maximum number of columns that can be stored is now INT_MAX (C++) so about 2 billion (as can be seen [here](https://github.com/fstpackage/fst/blob/c271be1da730b04459118c5632d27f3a78646223/src/fstcore/interface/fststore.cpp#L67))

It would be i

[2017-07-13 22:33] #13 closed, assigned to MarcusKlik

[2017-07-13 23:32] kbroman commented on #13
Super!

The application I had in mind had one column of character strings followed by oodles of numeric columns.

[2017-07-14 04:35] Fpadt commented on #13
Hi Marcus,

I have a data.table with 12 M records. With only 4 columns 2 character, 1 IDate and an integer. This is loaded via fst in <10 seconds (great). Actually these as intermittent sales (article, product, date, quantity).

I need to forecast these so in the end I need regular time series. To make this regular I dcast the data table to get a matrix with time series. Date as rownames and artic

[2017-07-14 05:27] MarcusKlik commented on #13
Thanks! So you both have large (@kbroman almost all) parts of you data set that could actually be stored as one contiguous block on disk, and much speed could be gained there.

Perhaps I should detect adjacent columns with identical types and serialize them as a matrix internally. That requires some more thought, thanx @kbroman  and @Fpadt  for your feedback!!

[2017-07-14 05:36] MarcusKlik opened #72 "Adjacent column with identical types are stored as a matrix internally"
That would significantly reduce the overhead when these columns are selected, especially when they are selected in the order in which they were stored

[2017-07-14 21:57] MarcusKlik commented on #71
Hi @carioca67, `saveRDS` only has to work for `R`, so the format uses a lot of `R`-specific data. But `fst` was designed to work from other languages as well (basically any language that can wrap a C++ library), and `R`-specific data (such as serialized list elements) are meaningless in other languages than `R`. We can still serialize a list element as a block of bytes (like a _blob_) but when rea

[2017-07-16 20:51] MarcusKlik commented on #69
Compare the [`vectorclass`](http://www.agner.org/optimize/#vectorclass) performance to the [`Blaze`](https://github.com/ChingChuan-Chen/RcppBlaze) library performance. To make SIMD work for `fst`, multiple versions of the SIMD libraries have to be compiled for different SIMD instruction sets (e.q. AVX2, SSE2) and a runtime dispatcher is needed to select the appropriate code for the users CPU. Agne

[2017-07-16 21:42] MarcusKlik commented on #69
When a dispatcher is operational, the [TurboPFor](https://github.com/powturbo/TurboPFor) library for integer compression can be a nice (avx2) enhancement for integer column compression (> 8 GByte/s decompression speed is claimed on the landing page).

Also, [simdcomp](https://github.com/lemire/simdcomp) seems extremely fast (uses SSE4.1)

[2017-08-01 17:34] statquant opened #73 "POSIXct class lost"
Hello, I am using the dev version of `fst`, if I can see that `Date` attribute is kept, it looks liks `POSIXct` are lost when a fst file is red back.
Am I missing something ?
Thanks

[2017-08-02 22:16] MarcusKlik commented on #73
Hi @statquant, thanks for submitting your issue! Indeed, the dev version of `fst` is now supporting `Date` classes, but the `POSIXct` type is still due. Because `doubles` (the `POSIXct` underlying type) values are much harder to compress than `integers`, the most logical choice for the `Date-Time` type in the `fst` core library (C++) is a 64-bit integer value representing the number of nanoseconds

[2017-08-03 06:37] MarcusKlik commented on #73
But if you want, you can set the class attribute manually as shown in the example below::

[code]

Hope this helps until the next `fst` release!

[2017-08-03 09:11] statquant opened #74 "memory not mapped issue"
It won't probably help you any onr bit but I am getting the following error when using the lattest `fst` trying to write different files in parallel (using `foreach` and `doMC` for the backhand)

[code]

[2017-08-03 09:14] statquant commented on #73
Thanks but OC I do not know the name of the column in advance ;).
But got you point, thank you I think fst might become THE read/write package of R

[2017-08-03 09:38] MarcusKlik commented on #73
Hi, thanks a lot and very good point, when reading a unknown data set, you don't know the type in advance off course :-)

Perhaps when `fst` supports also serialization of non-tabular data (and the `list` column type), it might become a good substitute for `saveRDS` / `readRDS` (but with random access for lists and vectors). A powerful difference with those internal functions is that with `fst` th

[2017-08-03 09:46] MarcusKlik commented on #74
Hi @statquant, thanks for reporting the issue. I'm taking special measures to disable OpenMP multithreading when `fst` is used from multiple parallel `R` instances and I suspect something might go wrong there. It might also be an `R` memory problem like suggested [here](https://stackoverflow.com/questions/17933445/caught-segfault-memory-not-mapped-error).

It might take some testing to get to the

[2017-08-03 10:18] eddelbuettel commented on #73
And as i recall, that use of "nanoseconds since epoch" is also "generic" and used by other languages (which was part of my motivation of adding it to R), just how "(fractional) seconds since epoch" used by `POSIXct` is common across languages and systems.

Looking forward to a new `fst` too.  Keeping the core independent and portable is a very good approach.

[2017-08-03 18:32] MarcusKlik commented on #73
Hi @eddelbuettel, thanks for that, so indeed both types of representations should be supported by `fst`, also within the C++ core library. Converting to `int64` might still be preferable from a performance point of view (compression with bit packing is very efficient for `int64`'s for example)

Perhaps of interest to you is that I'm planning to introduce `SIMD` to `fst` after the next release. Con

[2017-08-03 18:36] MarcusKlik opened #75 "Class nanotime is supported as a column type"
The `nanotime` class uses the `bit64` type as the underlying implementation and should be supported as a separate type by `fst`.

[2017-08-08 17:11] eipi10 opened #76 "fst doesn't appear to preserve ordered attribute of factors"
Here's an example, using the development version of `fst` (version 0.7.3, installed on August 1, 2017):

[code]

`str(dat.fst)`

`sessionInfo()`

[2017-08-08 20:00] MarcusKlik commented on #76
Hi @eipi10, thanks for reporting your issue. Indeed, I see that `fst` preserves the `factor` attribute, but not the `ordered` class attribute:

[code]

Good find and I will make sure this is fixed before the next release, thanks!

[2017-08-08 20:15] MarcusKlik commented on #76
Also, having a ordered `factor` column means that the table has at least a single key. This should be visible as a key when the table is returned as a `data.table` (in addition to the ordered `factor` column).

[2017-08-08 21:06] eipi10 commented on #76
Thanks Marcus. And thanks for a great package.

[2017-08-09 14:36] adrianadermon commented on #68
@MarcusKlik I don't know if this is still useful (I've been travelling and unable to test this before now), but this works perfectly. Thanks again for the great work!

[2017-08-09 18:33] MarcusKlik commented on #68
Hi @adrianadermon, very useful indeed, thanks for testing! Do you think that the assumption of a uniformly encoded vector is a reasonable one in your experience or did you encounter many character vectors with mixed encodings?

[2017-08-10 07:05] adrianadermon commented on #68
@MarcusKlik yes, that seems reasonable to me. I can't think of any situations where I would need mixed encodings in a vector - and if you run into such data, it should always be possible to re-encode it into pure utf8 before saving, right?

[2017-08-10 10:44] pmakai opened #77 "Option strings as factors=FALSE"
The current version reads in factors to R, even if I select only 1000 rows. That means that ALL factor levels are read in, and this extremely memory inefficient.

An option strings as factors might be benefitial.

[2017-08-10 11:25] MarcusKlik commented on #68
Hi @adrianadermon, exactly true! If you know that you have a mixed vector you can re-encode it yourself. And if you are not sure if the vector is uniformly encoded, parameter _uniform.encoding_ can be set to FALSE and `fst` will perform additional checks (will be slower though).

Thanks again for reporting!

[2017-08-10 11:25] #68 closed, assigned to nobody

[2017-08-10 11:49] MarcusKlik commented on #77
Hi @pmakai, thanks for reporting your issue. Indeed, when a factor column has e.g. 1e6 levels and only 1e3 rows are actually read, all factor levels have to be imported. So in effect, a large read is done for a small subset of rows.

For those cases, adding a parameter `stringsAsFactors` (or `factorsAsStrings` really) to `fstread` will be useful.

The downside is that for a column that has been se

[2017-08-21 11:04] pmakai opened #78 "Sampling from fst"
Dear Mark,

I have 2 issues with reading in samples from the data.

1. Random sampling
2. Stratified sampling

Currently fst can read in the first N records of a dataset; using the from= , to= commands. This is useful to test/optimise code before running it on the whole database.

In case you have a large dataset sorted by date, that would mean that you only read in records from the first period,

[2017-08-21 12:08] MarcusKlik commented on #78
Hi @pmakai, thanks for your feature request! Indeed, sampling would be a very powerful addition to `fst`'s feature set, perhaps a syntax like

[code]

to get one row per 1000 out of your dataset. This kind of sampling could be done with low memory requirements, only reading a single internal data block at a time to avoid allocating large amounts of memory. Also, this kind of sampling can be done e

[2017-08-21 13:05] MarcusKlik commented on #78
Performance note: to get a sample complete data blocks must be read from disk. That means that the sample will only be faster to read than the original table for intervals larger than the block size. Memory requirements will be much lower though because the blocks read can be discarded after the sampling.

[2017-08-22 12:45] verajosemanuel opened #79 "dates are lost when reading from fst"
got a data frame with a date column

[code]

saved to fst. When reading again from fst, date column is no more a date column

[code]

The expected behaviour is to preserve formatting and data types.

[code]

[2017-08-22 19:50] MarcusKlik commented on #79
Hi @verajosemanuel, thanks for reporting the issue! Indeed, `fst` was not retaining the class attribute for the `Date` type. But this has been fixed in the development version and will be available in the next release.

The dev version will give you:

[code]

You can install the dev version using

[code]

Note: the above example creates a date column which has a real vector as it's base, but the c

[2017-08-22 20:40] MarcusKlik opened #80 "Add interface to xxHash"
`fst` uses hashing to check the integrity of on-disk and in-memory data blocks. For that, the `xxHash` algorithm from the `ZSTD` library is used. `xxHash` is [extremely fast](http://cyan4973.github.io/xxHash/) on a single core, but with OpenMP it can be made even faster by using multiple threads to calculate hashes on subsets of the data (and then hashing the hashes).

We can expose the multi-thre

[2017-08-29 11:19] MarcusKlik opened #81 "Add option to calculate hashes in fstcompress for additional stability"
With `fstcompress` we can compress a `raw` vector using the `LZ4` or `ZSTD` algorithm. With an additional argument `hash = TRUE`, the hash of each compressed data block is calculated. When decompressing,  argument `checkHashes` can be set to `TRUE` to check hashes of compressed data blocks against the previously determined values. This effectively protects the compression result against _tampering

[2017-08-29 21:05] MarcusKlik commented on #80
The `xxHash` algorithm is now exposed with method `fsthash`. The algorithm slices a `raw` input vector into 4096 byte blocks and hashes each block in parallel (using OpenMP constructs). The returned result is the hash of these _block hashes_. The method is very fast and limited by the memory bus speed for systems with many cores. This is how the method performs on a i7 4710HQ@2.5 GHz (with turbo b

[2017-08-29 21:05] #80 closed, assigned to MarcusKlik

[2017-08-29 21:33] MarcusKlik commented on #81
Method `fstcompress` and `fstdecompress` have been added to the package. It provides in-memory compression for raw vectors using a [block format](https://github.com/fstpackage/fst/blob/e9502f2e9be07ddd8a7e7ea64cd7d51b72bdd4ed/src/fstcore/interface/fstcompressor.h#L239-L249) to enable multi-threaded compression and decompression.

To get a feeling of the (de-)compression speeds, I performed a serie

[2017-08-29 21:33] #81 closed, assigned to MarcusKlik

[2017-08-29 21:48] MarcusKlik commented on #53
Hi @rdpeng, following your earlier [tweet](https://twitter.com/rdpeng/status/855476881784754177), if you would like to experiment some with the `LZ4` and `ZSTD` compressors, they can now be easily accessed from the (dev version of the) `fst` package with methods `fstcompress` and `fstdecompress` which have just been added.

These methods provide in-memory compression for raw vectors using a [block

[2017-08-29 21:48] #53 closed, assigned to MarcusKlik

[2017-08-30 14:39] MarcusKlik commented on #80
I performed an additional benchmark on a Xeon E5 2670-v2@2.5 GHz to see what happens if more threads are used:

![image](https://user-images.githubusercontent.com/24658401/29877986-8bd73cca-8da1-11e7-85c7-f6240672fd4f.png)

It seems that hashing speed flattens out at 40 GB/s (that's byte, not bit :+1: ). Interesting to see that hyper threading actually increases performance (this machine has 20 ph

[2017-09-02 05:07] MarcusKlik commented on #79
Hi @verajosemanuel, thanks again for reporting the issue, the `Date` type has now been implemented in the `dev` vesion of `fst`.

[2017-09-02 05:07] #79 closed, assigned to MarcusKlik

[2017-09-12 21:56] MarcusKlik commented on #76
Hi @eipi10, `ordered factors` are now preserved across a write / read cycle as shown in this example (slight modification from your code):

[code]

And the class of the retrieved `ordered factor` column is now set to `c('ordered', 'factor')`:

[code]

Behind the scenes, the `fstcore` C++ library now has an additional column attribute `FACTOR_ORDERED` for base type `FACTOR` to indicate that the lev

[2017-09-12 21:56] #76 closed, assigned to MarcusKlik

[2017-09-12 22:41] eipi10 commented on #76
Thanks Marcus!

[2017-09-13 11:56] MarcusKlik commented on #75
The `nanotime` type is now correctly retained across a `write` / `read` cycle:

[code]

[2017-09-13 11:56] #75 closed, assigned to MarcusKlik

[2017-09-13 12:35] MarcusKlik commented on #73
Hi @eddelbuettel and @statquant. The `POSIXct` and `nanotime` types are now implemented in `fst` (dev version):

[code]

On the implementation site, this means that `fst`'s C++ core library now has three additional [`column attributes`](https://github.com/fstpackage/fst/blob/36eaaecc4f5c0f3eb7ab2e0a9f30eb5688573b34/src/fstcore/interface/ifstcolumn.h#L61-L78) (`INT_64_TIME_NANO`, `INT_32_TIME_SECON

[2017-09-13 12:55] MarcusKlik commented on #73
Hi @eddelbuettel, in your package `nanotime`, the following constructor code is used:

[code]

When I run a benchmark on this, I find:

[code]
So, the constructor takes about 3 seconds for 1 GB of data. Fast enough for most purposes off course, but in `fst` that was a bottleneck in speed.
To remedy that, I created a custom converter equivalent to:

[code]

This is just a hack to decorate an `integ

[2017-09-13 12:59] eddelbuettel commented on #73
I'll page Leonardo who was instrumental in the S3/S4 conversion we needed to tighter control over ops.  Some side effect on performance is, sadly, a possible side-effect.

[2017-09-13 13:04] MarcusKlik commented on #73
Great, thanks!

[2017-09-13 13:36] MarcusKlik commented on #31
Hi @carioca67, the character-encoding issue is fixed in the latest `fst` (dev) version:

[code]

Thanks for reporting!

[2017-09-13 13:36] #31 closed, assigned to MarcusKlik

[2017-09-13 13:46] MarcusKlik commented on #47
Hi @wei-wu-nyc, writing an empty data set to file now generates the following errors:

[code]

The column- and row checks are now done before opening the actual `fst` file, so no malformed file is created now when an empty table is used.

That only partly implements your request, because the feature to store tables without rows (only column metadata) is not implemented yet, but I will get to that

[2017-09-13 15:35] dan-reznik commented on #31
Grrat news cant wait to use it

On Sep 13, 2017 10:36 AM, "Mark Klik" <notifications@github.com> wrote:

[2017-09-13 16:41] wei-wu-nyc commented on #47
Thanks Mark.

[2017-09-13 21:43] MarcusKlik commented on #34
Fails during a write operation now result in the following error message:

[code]

So, the file is not removed but the error indicates that the file might be damaged. The read operation will be further protected by checking the hash value of the header  (using the 64-bit `xxHash` algorithm from the `ZSTD` library).

[2017-09-13 21:43] #34 closed, assigned to MarcusKlik

[2017-09-14 20:07] lsilvest commented on #73
Yes, that should be correct: it avoids the additional copy by working directly on `x`. It does what R's `new` (a `.Call` to `C_new_object` + `initialize`) does without the copy and the `initialize` is not needed in this case. I've quickly tested it and it looks like it's correct. Hopefully there's nothing else that `new` does that I've missed. We'll definitely consider putting it in `nanotime`.

[2017-09-14 20:20] MarcusKlik commented on #73
Hi @lsilvest, thanks for taking a look at the code. Then I'll just use this 'decorator' and if anything unexpected turns up, I will let you know!

[2017-09-14 20:24] eddelbuettel commented on #73
Awesome.  I was a little worried that this _might_ have nasty side effects, but then again at the end of the day everything is just bloody attributes to a naked `SEXP`.

[2017-09-14 20:39] MarcusKlik commented on #73
Indeed! Still not really object-oriented is it :-) Thanks again!

[2017-09-15 08:30] #73 closed, assigned to MarcusKlik

[2017-09-15 09:26] MarcusKlik opened #82 "Support for `ITime` and `difftime` classes"
The `fst` C++ core library now has a straightforward method of adding new (simple) types. We can use that to add the base-R `difftime` type:

[code]

Which is just a `double` type vector with a `difftime` class attribute and an additional `units` attribute. Integer vectors are also allowed:

[code]

The `ITime` type is described as (`data.table` documentation): _a time-of-day class stored as the i

[2017-09-15 09:32] MarcusKlik commented on #82
This issue is also related to #17. For now, `fst` will not serialize any and all  (possibly unknown) attributes set on a column vector and then deserialize those attributes upon reading. The reason is that all supported types should have a direct translation to the C++ core library of `fst`. Column types with unknown attributes have no meaning in languages other than `R`.

But it is fairly easy no

[2017-09-16 18:05] renkun-ken commented on #74
Using OpenMP in forked R sessions created by `mcfork` may end up in deadlock. See https://github.com/Rdatatable/data.table/issues/2031.

[2017-09-16 21:43] MarcusKlik commented on #74
Hi @renkun-ken, thanks for pointing out that very relevant issue! Indeed, `fst` will run the same risk on a deadlock when called from a fork. So I have basically followed the same recipe as in the `data.table` package with a call to `pthread_atfork` from the package initialization method. This method is then used to set the number of threads to 1 when called from a fork and later to restore the pr

[2017-09-16 22:38] MarcusKlik commented on #74
Hi @renkun-ken, a small test on an Ubuntu 16 .04 machine reveals:

[code]

So the fork cluster is scaled down in threads to a single thread as expected by executing the `pthread_atfork` function. The PSOCK cluster is not automatically scaled down however. And although that is intended behavior (also in the `data.table` package if I'm not mistaken), now that I'm thinking about it, that might lead t

[2017-09-17 21:34] MarcusKlik opened #83 "Add endianness flag to format"
Currently, `fst` passes test both on little- and big-endian platforms. However, writing a file on one platform and reading it on another will fail. So a flag can be added to the format to indicate the endianness of the platform that wrote the file. Reading it from a platform with different endianness could then throw an error.

That way, we can remove the [endianness restriction](https://github.co

[2017-09-18 18:38] MarcusKlik opened #84 "Redefine boolean type in fstcore as a 2 bit value and include pre- and post filters"
The boolean type in the `fstcore` library is implemented as a 3-level, 2-bit (`false`, `true`, `NA`) value. Filter and sort operations should be performed on that internal representation for speed. Converting to- and from the `R` representation is done with mapping filters. These filters transform the data to- and from the `fstcore` to the wrapper language and can be run in parallel using OpenMP f

[2017-09-18 18:42] MarcusKlik opened #85 "Add a scaling attribute to the column metadata for `integer`, `double` and `int64` types."
That way, we don't have to defined different column-types for essentially the same data. So:

* INT_64_TIME_NANO,        // number of nanoseconds since epoch
* INT_64_TIME_MICRO,       // number of microseconds since epoch

would then become a single column type INT_64_TIME with different scaling SCALE_NANO and SCALE_MICRO. Future column types with other scales can be easily adopted with that meth

[2017-09-18 19:03] MarcusKlik commented on #84
Separating the pre- and post- filters from the underlying implementation enables running selections on booleans much more efficient in terms of memory and performance. Later SIMD instructions can be used to speed-up even further, as there are bit-selection instructions available in SSE and AVX2 (and later).

[2017-09-18 19:05] MarcusKlik commented on #85
Converting to and from `R` to the underlying `fstcore` type and scale is a matter for the interface layer (the `R` package).

[2017-09-19 06:44] renkun-ken commented on #46
I'm trying to write a big data.table (50M rows, 60 columns, a few int, mostly double), and `write.fst` writes it on disk very quickly without any error but I can't `read.fst` (Unknown type found in column).

I tested writing all rows of 5 columns and it works.

[2017-09-19 07:01] MarcusKlik commented on #46
Hi @renkun-ken, thanks for reporting, are you using the dev version of `fst` or the version from CRAN? (with the CRAN version, that error has been reported when disk ran out of space and the header was incorrectly written to file)

[2017-09-19 07:06] MarcusKlik commented on #46
Hi @renkun-ken , when you only write the first few rows, does the error occur as well, e.g.:

[code]

[2017-09-19 21:36] MarcusKlik commented on #46
Hi @renkun-ken, I have done a small test with the largest table that fits in the memory of my laptop and has 50 columns with integers and doubles (60 / 40 ratio):

![image](https://user-images.githubusercontent.com/24658401/30616356-4205d0ba-9d92-11e7-9412-3c919df47b58.png)

[code]

Everything looks normal, at this moment I can't reproduce your error with this (smaller) table. As soon as I have ac

[2017-09-19 21:49] MarcusKlik commented on #85
[Scaling factor](https://github.com/fstpackage/fst/blob/a81348678827f834255f69a6b0a2c1c3378a27b0/src/fstcore/interface/ifstcolumn.h#L102-L109)  has been added for all time related types (`POSIXct`, `ITime`, `nanotime`, etc.)

[2017-09-19 21:49] #85 closed, assigned to MarcusKlik

[2017-09-19 21:57] MarcusKlik commented on #82
Column types `ITime` and `difftime` are now supported in the format. An overview of currently available types:

[code]

[2017-09-19 21:57] #82 closed, assigned to MarcusKlik

[2017-09-20 05:00] ryankennedyio opened #86 "Stack imbalance warnings & instability with Develop version"
Hi,

Since moving to the develop branch of FST we've been noting instability (unfortunately often very hard to reproduce). I am not sure if this could be to do with the transition process of an old version of FST to the latest, but any info about where warnings come from would be appreciated.

One example of the warnings;
[code]

Another example of a non-reproducible issue:
[code]

gave us this er

[2017-09-20 05:15] renkun-ken commented on #46
I'm using CRAN version. When I try `devtools::install_github("fstpackage/fst@develop")`, it says that I don't have necessary build tools to build from source, but I don't find any documentation about this.

[2017-09-20 05:22] renkun-ken commented on #46
@MarcusKlik I tried saving top 100 rows of the big data.table, it works without any problem.

[2017-09-20 05:24] ryankennedyio commented on #86
Here is an example, again not easily reproducible:

[code]

I have no troubles reading from, or writing to this file, however my colleague gets this error each time, and we've both confirmed we have exactly the same version of fst installed

[2017-09-20 07:55] MarcusKlik commented on #46
@renkun-ken, if you install the latest `RTools`, you should have all the tools you need, you can check with:

[code]

hope that works for you!

[2017-09-20 09:18] renkun-ken commented on #46
I'm working on Ubuntu 16.04, the toolchain should work out of box.

[2017-09-20 09:44] MarcusKlik commented on #86
Hi @ryankennedyio, thanks for reporting and working with the `dev` version of `fst`.

This warning is due to an unmatched pair of `PROTECT` and `UNPROTECT` macro's (R API) in C++. I'll have to sort through the new code using that API to find that unmatched pair.

Yes, reading `fst` files created with the CRAN version will generate this warning. The reason is that the current CRAN version uses a fo

[2017-09-20 10:43] MarcusKlik commented on #46
that's very strange. Indeed, on Ubuntu 16.04 you shouldn't have to install anything.
I just downloaded a fresh Ubuntu 16.04 image and installed it on VMPlayer. Then after installing `r-base`, `libssl-dev`, and `libcurl4-openssl-dev` in the `VM`, I can install `devtools` without problems in `R`.

After installing `devtools`, your command

[code]

works without problems on that fresh install. I didn

[2017-09-20 11:24] MarcusKlik commented on #46
Hi @renkun-ken, hopefully you can get the dev version working, I checked the benchmark above on a larger machine using your 50M rows and 60 columns, and get no errors. Perhaps installing the dev will solve your problems, if not, please let me know!

[code]

[2017-09-20 14:13] wei-wu-nyc commented on #46
@MarcusKlik @renkun-ken Just want to chime in a little bit.
I have been using fst to read and write fst files with several GB in size for the last few months with minimum problems. I use them across platforms both on Ubuntu 16.04 and on Mac OSX.
I sometimes get the read errors when the versions of fst were out of sync. Solved after installing the newer versions.
I am using the develop version of f

[2017-09-20 15:14] MarcusKlik commented on #46
Thanks @wei-wu-nyc and good to read `fst` works for your workflow! Changing the format between commits is far from ideal. My goal with that is that I make those changes now so that after the next CRAN release I won't have to. After that release `fst` will be backwards compatible, so any changes after that will lead to 'version dependent code' inside the C++ core.

Additionally, now that most data-

[2017-09-21 01:09] ryankennedyio commented on #86
Hi @MarcusKlik

`RE Cran`:  This sounds good. We are going through the process now of re-writing all source files (we have quite a few). We're now working from a particular SHA commit code from develop in lieu of a recent version release on Master.

`RE SET_VECTOR_ELT()`: I managed to get the same issue again this morning (a few times). Here was the code to trigger the issue (though again not exac

[2017-09-21 02:15] renkun-ken commented on #46
@MarcusKlik I install from github in R terminal. When I save the big data.table with `compress = 0`, it works without a problem and the file is readable. When I save it with `compress = 100`, all 40 threads start computing in parallel and the file reaches 89GB and stopped, then it hangs with no CPU working and no file size increasing any more. Not sure what happened.

[2017-09-21 09:59] MarcusKlik commented on #86
Hi @ryankennedyio , I will update the error messages to reflect the relevant file and whether a read or write operation is causing the error.  That way, you get better feedback on where exactly errors are produced.

Your code should be fine as long as you are reading from the CRAN version of `fst`. But after your files are overwritten, you can't do the same at a later stage for updating to yet a n

[2017-09-21 10:52] MarcusKlik commented on #46
Hi @renkun-ken, so the Ubuntu 16.04 installation problem only occurred when using `devtools` from the RStudio IDE ?

Thanks for testing `fst` at the limits (I guess :-)) of your system, that's exactly the use-case for which it is build. Increasing the table size to 200 million rows and 60 columns (in the code sample above), I get an in-memory table of 79.2 GB. During the 'benchmark' I see the foll

[2017-09-21 11:30] renkun-ken commented on #46
@MarcusKlik There are 40 CPUs and 500GB RAM on the server. I notice that during the hanging, the space of my home disk goes from 65GB to 20KB, but the target file is on a disk of much spare space (more than 3TB). I'm not sure why the home disk is exhausted. When I kill the whole session, the space is freed soon.

[2017-09-21 23:11] ryankennedyio commented on #86
That would be very helpful

That does make sense (RE reading/writing with different dev versions -- essentially the version on CRAN is the only one which is guaranteed able to be read by future FST versions?), but we found ourselves needing to use a develop branch for writing in order to work around https://github.com/fstpackage/fst/issues/46.

Would you happen to know of a particular SHA commit w

[2017-09-22 07:04] MarcusKlik commented on #72
It's probably more efficient to write separate code for serializing matrices. We could do that by writing the whole matrix to a single column `fst` file, but then, random access reading would require many seek operations during read.  A better method would be to store the matrix in 'square' blocks of data, with e.g. 1024 rows and 1024 columns. Creating the blocks would require reordering of the ve

[2017-09-22 07:19] MarcusKlik commented on #86
Hi @ryankennedyio, I can see how that is a problem for you: you can't use the CRAN version because of #46 and the `fst` format of the dev version is not guaranteed to remain stable with new commits.

That will remain a problem until the next release branch is created. I have labelled all feature request requiring a format change with the [_format_](https://github.com/fstpackage/fst/labels/format)

[2017-09-22 09:21] MarcusKlik opened #87 "Use boost shared memory to access an in-memory `fst` table from multiple processes"
See [here](http://www.boost.org/doc/libs/1_55_0/doc/html/interprocess/sharedmemorybetweenprocesses.html), boost allows for the creation of memory shared between processes. For `fst` that could mean that a single in-memory `fst` table can be shared between different processes. First between R processes, for example by node in a parallel cluster (package `parallel`). Later, also between different `f

[2017-09-22 12:37] ryankennedyio commented on #86
@MarcusKlik That would be amazing. Great stuff.

[2017-09-26 21:35] MarcusKlik opened #88 "Increase batch size for reading logical columns"
Logical columns are compressed in two steps. First, unused bits are removed from a logical vector (32 bits are reduced to 2) and then the usual `LZ4` or `ZSTD` compressors are applied to the remaining bits. Because of the factor 16 reduction in size of the first steps, logical data blocks become very small on disk. During reading, the blocks are too small to get fast disks running at peak efficien

[2017-10-04 19:54] treysp opened #89 "R session crashing after fst write - tips for debugging?"
This package is fantastic - thanks so much for all your work on it!

I'm using the CRAN fst version (0.7.2) on a Windows 7 OS, and my R session is intermittently and unpredictably crashing at the conclusion of an fst write operation (that sometimes completes and other times not). I normally work in RStudio, but I have observed it in base R as well.

It is irritatingly unreproducible - sometimes I

[2017-10-04 20:37] MarcusKlik commented on #89
Hi @treysp, thanks a lot!

Your crashes are very unfortunate, but since the CRAN release v0.7.2 a lot of problems have been solved, so there is a reasonable chance that the `dev` version will not have the same issues.

Would you mind testing your write operations with the `dev` version of the `fst` package?

[code]

If you could manage a reproducible example, I could locate the problem by debuggin

[2017-10-05 12:55] treysp commented on #89
I haven't had a chance to test out the dev version yet (it will result in file types that aren't compatible with v0.7.2, correct?), but I wanted to pass along the Windows Event log for the crash in case it's useful.

I'm doing some standard debugging steps (checking system files for corruption, reinstalling R and RStudio, etc.), and will report back as I accrue new information. Thanks!

    Faulti

[2017-10-05 19:03] wei-wu-nyc opened #90 "error STRING_ELT() can only be applied to a 'character vector', not a 'NULL' in saving fst files"
I am getting following message:
Error in fstStore(normalizePath(path, mustWork = FALSE), x, as.integer(compress)) :
  STRING_ELT() can only be applied to a 'character vector', not a 'NULL'
I am using R 3.3.1. The fst develop version.
I have been using this set up for months with no problem.
Don't know which part can cause this error. Just want some clues before dig in deeper.
Thanks.

[2017-10-06 07:39] MarcusKlik commented on #90
Hi @wei-wu-nyc, thanks for reporting your problem. Do I understand correctly that you are suddenly getting this error on the `dev` version from 2 months ago where you didn't have errors before?

I'm asking because usually this error indicates that you are trying to read a `fst` file that was produced with an 'older' `dev` version. If that is the case, re-saving the `fst` file is your only option a

[2017-10-06 07:49] MarcusKlik commented on #89
Hi @treysp, indeed, at this point files produced with a  `dev` version will possibly give problems when read from a later `dev` version. That's because a lot of format changes have been introduced to facilitate additional options in the C++ `fstcore` library (data- and header hashes, key indexes, movable header blocks, encryption, additional column types, column attributes, column scales and multi

[2017-10-09 09:31] xiaodaigh opened #91 "Append directly on/to disk"
I wonder if it's possible to row append a dataset directly to a dataset stored on disk?

currenlty to append two dataframes together  I need to do

[code]
If both `a` and `b` are large then R may run out memory. So it would prefer to have a function to append.fst e.g.

[code]

[2017-10-10 12:47] treysp commented on #89
I'm not turning up much of use on my end, so I'll go ahead and close this issue. If I end up discovering something useful, I'll reopen and comment.

Thanks again for all your work on this fantastic package!

[2017-10-10 12:47] #89 closed, assigned to MarcusKlik

[2017-10-10 13:32] MarcusKlik commented on #89
And thanks for reporting!

[2017-10-10 14:29] MarcusKlik commented on #91
Hi @xiaodaigh, thanks for your question!

The ability to append `fst` files to an existing `fst` file is planned for release v0.9.0. That's the release after the coming CRAN release v0.8.0. The format is already prepared for 'multiple chunk' data and it will support also adding chunks with different `fst` versions.

In addition to that, appending columns will be also be supported and it will be po

[2017-10-12 03:21] xiaodaigh commented on #5
I will definitely use fst to constructed the benchmark suite that I am building for Julia!!

https://github.com/xiaodaigh/data_manipulation_benchmarks

[2017-10-12 21:39] MarcusKlik commented on #5
Hi @xiaodaigh, it would be great to have a `fst` port for Julia (and Python). The core of `fst` is now C++ only, so it should be straightforward to write a wrapper for other platforms. For example, I'm using a pure C++ wrapper around `fst` for testing purposes.

But at the moment I'm concentrating on getting the `fst` file-format stable and ready for future expansions (like data-hashes, key tables

[2017-10-12 22:02] MarcusKlik commented on #88
The batch size for processing a logical vector  has been increased with a factor of 4 for improved performance. Each base type can now be tuned separately, see for example [these lines](https://github.com/fstpackage/fst/blob/0d9a7fcc1b0f6bfe25c3aea64bc31f59ed98836a/src/fstcore/interface/fstdefines.h#L56-L61)

[2017-10-12 22:02] #88 closed, assigned to MarcusKlik

[2017-10-12 22:12] MarcusKlik commented on #61
CRAN OS X binaries are now build using OpenMP, so that should solve the OpenMP problem for most Mac users. The same applies to the `data.table` package, which uses OpenMP for it's `fwrite` method for example. Some Mac users have reported problems with `data.table`'s October release, so I will keep track of any developments there..

[2017-10-12 22:12] #61 closed, assigned to MarcusKlik

[2017-10-14 02:17] xiaodaigh opened #92 "compress = 100 crashes"
I am running RStudio and R 3.4.1 on Windows 10 Pro 64bit.

Running the below code always crashes Rstudio and when I load the file using `read.fst` it gives error
[code]

I can compress = 0 and it will run fine, it's just when I do compress = 100 that it fails. Also the data is quite big so it's taking up most of RAM, could this be caused by compress =100 trying to use more RAM than available?

[co

[2017-10-14 07:36] MarcusKlik commented on #92
Hi @xiaodaigh, thanks for reporting your issue. Are you using the CRAN v0.7.2 version of `fst` or the development version?

The reason I ask is that similar issues have been reported earlier with the CRAN version, if you could re-test with the latest dev that would be great!

( I didn't get any errors running your code, but I'm using less rows for testing)

[2017-10-14 21:46] MarcusKlik commented on #92
Hi @xiaodaigh, to see if I could reproduce your error, I performed the following benchmarks:

[code]

A few remarks on the benchmarks:

* Before each measurement, I store a very small file to 'wake up' the disk. That's to make sure we're not measuring any disk startup-time
* I'm using each generated dataset only once. I you re-write an identical dataset to disk a second time, benchmark speeds can

[2017-10-23 15:07] wei-wu-nyc commented on #90
@MarcusKlik I can't reproduce this problem, because after this problem I have tried to remove and install different versions of fst packages to see which works. Now I think it is a problem related with a previous bug I reported and fixed, but it seems to come back. I will update the issue in that thread. I think we can close this bug, and we should re-open the other bug.

[2017-10-23 15:07] #90 closed, assigned to MarcusKlik

[2017-10-23 15:26] wei-wu-nyc commented on #46
@MarcusKlik , the bug of core dump when reading or writing .fst file with more than 256MM rows, seem to be back.
I am still running similar data set, with several hundred rows.
1. When writing, sometimes I was able to save data with slightly more than 256*1024*1024 rows to fst files. But when I try to read the file back, fst seems to crash past 256MM rows.
2. When the data is several hundred milli

[2017-10-23 18:15] MarcusKlik commented on #90
Hi @wei-wu-nyc, good idea and thanks for testing!

[2017-10-23 18:19] MarcusKlik commented on #46
Hi @wei-wu-nyc, thanks for reporting, I will test the latest develop version with a data-set with more than 256 M rows and will get back to you!

[2017-10-24 14:47] MarcusKlik commented on #46
Hi @wei-wu-nyc, I can confirm your problem using a data frame with columns that have in-memory sizes larger than 2^31 bytes. To resolve, I have upgraded all size-related pointers in the `fst` core code to 64-bit values. With the latest develop version, all row limits should be lifted, including for tables with more than 2^31 rows (so 8 GB columns of integers for example). The following script show

[2017-10-25 16:18] wei-wu-nyc commented on #46
@MarcusKlik The new develop version seems to fix the issue I have in writing and reading large data sets. Thanks. (Haven't done too extensive testing yet.)

[2017-10-25 20:25] MarcusKlik commented on #46
Hi @wei-wu-nyc, that's great! Please let me know if you encounter any more issues.
Tables with more than 2e9 rows require some additional thinking, because the row selection cannot be done with integer arguments anymore (I'm thinking of allowing `numerical` and `int64` values to make a row selection...)

[2017-10-25 20:36] wei-wu-nyc commented on #46
Thanks, @MarcusKlik , haven't reached 2^31 rows yet 😄 .

[2017-10-26 11:26] MarcusKlik opened #94 "Consistent naming of fst methods"
Currently, methods in the `fst` package have inconsistent naming. It would be better to change the public package interface in:

* `read_fst`
* `write_fst`
* `compress_fst`
* `decompress_fst`
* `hash_fst`
* `metadata_fst`
* `threads_fst`
* `bind_rows_fst` (_future addition_)
* `bind_cols_fst` (_future addition_

With these names, we adhere to the style implemented by the `lintr` package and offer

[2017-10-26 13:05] MarcusKlik opened #95 "Update hash used in compress_fst to 64-bit version"
For more accurate and faster hashing

[2017-10-26 14:40] arunsrinivasan opened #96 "compression size on highly redundant data"
Hi Mark, I was wondering if you've an explanation as to why the compression from `fst` on this particular data.frame seems to end up with larger size compared to native (rda) format. The entropy of each column is the minimal it could be... Do you think there's room for improvements on such cases?

[code]

Thank you.

[2017-10-26 14:52] arunsrinivasan opened #97 "error: object '_fst_hasopenmp' not found while loading devel version."
Just installed `fst` development version to test performance improvements due to OpenMP, and got this:

[code]

[code]

[2017-10-26 17:16] Brinkhuis commented on #94
Nice, looking forward to the 0.8 release!

[2017-10-26 21:11] MarcusKlik commented on #96
Hi @arunsrinivasan, nice to hear from you and interesting question!

Compression in `fst` is implemented by using the [`LZ4`](https://github.com/lz4/lz4) and [`ZSTD`](https://github.com/facebook/zstd) compressors. Those compressors have reasonably fast compressions speeds and extreme decompression speeds (a feature shared among all `LZ` type compressors). The compression ratio for these algorithms

[2017-10-26 21:27] MarcusKlik commented on #97
Hi @arunsrinivasan, that's a curious error message, looks like `R` is still looking at old namespace definitions. If I install with:

[code]

everything looks fine on Windows and Ubuntu on my laptop (note that the `dev` version is on the `develop` branch, in contrary to `data.table`'s `dev` version). Also, [the Travis builds](https://travis-ci.org/fstpackage/fst) seem to run without problems (the

[2017-10-26 21:30] MarcusKlik commented on #94
Thanks @Brinkhuis for a helpful discussion on `fst`'s public interface!

[2017-10-27 09:14] arunsrinivasan commented on #97
Hi Mark,

This did it. Thank you for the quick reply!

[2017-10-27 09:15] #97 closed, assigned to nobody

[2017-10-27 09:24] MarcusKlik commented on #94
The public interface of `fst` has now changed:

[code]

The previously used methods `write.fst`, `read.fst` and `fst.metadata` will still be available for now, but should be marked as deprecated at some point in the future.

[2017-10-27 09:24] #94 closed, assigned to MarcusKlik

[2017-10-27 09:27] arunsrinivasan commented on #96
Mark, the explanation is quite clear, and makes sense. It's also quite nice that new algorithms can be just plugged in, and that different compressors can be used on different columns. I've not did a literature survey for compression algorithms in a long time, but will see if I can find something as well.

Given the speed of `fst`, higher compression could be very useful as it might be okay to com

[2017-10-27 14:57] arunsrinivasan opened #98 "Attributes for POSIXct type columns"
Hi again, Mark,

[code]

It'd be great to have attributes restored for POSIXct types.

[2017-10-27 17:47] MarcusKlik commented on #98
Hi again @arunsrinivasan!

in the `dev` version a lot of attributes have been added to the format, also `POSIXct`:

[code]

adding the time-zone correctly was quite a struggle, because there is no consistent cross-language definition for that. In the end, being able to add time-zones was the sole reason for allowing a single custom `string` (annotation) to be added to each column. In the case of `

[2017-10-27 18:42] MarcusKlik commented on #98
Hi @arunsrinivasan, in issue #82, a code example is included that shows all currently supported column types. For the `date` and `time` types, both the `integer` and `double` types are supported (that's a different approach then `feather` takes, because in `feather` the `double` based types are converted to 64-bit `integers`. I believe both `integer` and `double` based types are valid representati

[2017-10-27 21:22] MarcusKlik commented on #17
Hi @arunsrinivasan, following our earlier discussion in this thread, `fst` now has a three step system to distinguish the various column types:

1. A [main type specifier](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/ifstcolumn.h#L60-L70) that maps to the underlying data type
2. A [column attribute](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/ifstco

[2017-10-27 21:22] #17 closed, assigned to MarcusKlik

[2017-10-30 18:06] arunsrinivasan commented on #98
Brilliant!

There seems to be an edge case though. It'd be great to take care of it to ensure `identical`-ness to rda.

[code]

The `tzone` attribute, even if empty, could be retained, so that it is *identical* to the result returned by `rda`.

[2017-10-30 18:09] arunsrinivasan opened #99 "Error on empty tables using `write_fst`"
[code]
It'd be useful to have both empty (0-row) and null data.tables/frames (0-row and 0-col) as fst files as well, along with the table's attributes.

[2017-10-30 19:58] MarcusKlik commented on #99
Hi @arunsrinivasan, yes that would be nice, your request is also shortly discussed in #47. To store only column meta data would be very useful, especially when we implement row binding (where the first chunk can be empty if a series is stored).

What would be the added benefit of storing tables with 0 rows and columns?

thanks!

[2017-10-30 20:02] MarcusKlik commented on #98
Hi @arunsrinivasan, yes an empty time-zone should be retained. That shouldn't be too hard to fix, will do that as soon as possible, thanks for spotting that!

[2017-10-30 22:30] MarcusKlik commented on #98
Hi @arunsrinivasan, the latest `dev` now retains an empty timezone string. Also, I [added](https://github.com/fstpackage/fst/commit/9d49346765e58e683550d02b8c3da0c227656c9e) a unit test with your reproducible example, thanks for submitting!

[2017-10-31 11:29] arunsrinivasan commented on #99
It's mostly for convenience. Since previous code written using `rda` format doesn't have this issue, it'd be just consistent, allowing easier transition. Also, cases where data is intermittently obtained via streaming might have cases where no data was available for a particular time frame.

It avoids having to have a `if (nrow(...) > 0L) write_fst(...)` and `if (file.exists(...))` logic. Even if

[2017-10-31 12:57] arunsrinivasan commented on #98
Thanks for the quick fix. But now, I get another issue (which I think is due to this fix):

[code]

The `tzone` attribute needs to be set only if it existed while writing to a `fst` file. And if it was set, but to an empty string, `""`, then it needs to be set to the same empty value. I think then this issue would be taken care of as well.

[2017-10-31 15:17] MarcusKlik commented on #98
Hi @arunsrinivasan, the solution I chose is taken from the description in the `R` documentation [here](https://stat.ethz.ch/R-manual/R-devel/library/base/html/strptime.html).

So,the idea was that a `NULL` as the `tzone` attribute is basically invalid and should be treated as `UTC`. I see that the `feather` package does the same (see [this code](https://github.com/wesm/feather/blob/master/R/src/fe

[2017-10-31 21:28] jzzcutler opened #100 "In RStudio: R crashes after using fst::read"
I really like this package! It is 3 to 10 times faster than readRDS/saveRDS - though compress=100 gives a file about 1.4 times larger than the RDS.  Anyway, as I'm testing this out for the first time under RStudio with all commands wrapped in system.time(), R is repeatedly crashing so that RStudio says "Unable to establish a session with R".  The crash does not appear to happen during the executio

[2017-10-31 21:38] MarcusKlik commented on #100
Hi @jzzcutler, thanks for reporting your issue and good to hear that you like `fst`! I will try to reproduce your problem with random data, did you try running your code without `RStudio` (just using `R` from the command line) ?

[2017-10-31 22:27] MarcusKlik commented on #100
Hi again @jzzcutler, I've tested reading and writing a `integer`-only `fst` table with dimensions 892816 x 498 with the `dev` version of `fst`:

[code]

everything seems to run without problems, could you try your code using the `dev` version?

[code]

thanks!

[2017-10-31 22:41] MarcusKlik commented on #100
Hi @jzzcutler, just to be sure, I've done the benchmark on `MS R Open 3.4.2` as well with identical results (on Windows 10).

(and the timings are comparable, `fst` doesn't benefit from the `MKL` libraries)

thanks for testing!

[2017-11-07 05:02] ryankennedyio commented on #86
Hi @MarcusKlik

Sorry to be a pain -- just checking to see if any of the commits to Develop branch since last posting in this thread appropriate to use as a stable version?

Thanks

[2017-11-07 09:59] MarcusKlik commented on #86
Hi @ryankennedyio, no problem! The format is stable now with the latest `dev` commits. I had to fix some 8-byte boundary alignment problems that gave warnings on CRAN with the ASAN and UBSAN tests ( C++ memory sanitizers). These warnings have been solved now but required a change in the offset of some parameters in the format.

But I'm not going to change the format anymore, so you should be safe!

[2017-11-07 20:53] khsu15 opened #101 "Problem with installing dev version"
Trying to install the dev version and getting this error:

clang: error: unsupported option '-fopenmp'
make: *** [RcppExports.o] Error 1

I've tried installing clang-omp, but it seems to be deprecated now.  Any advice on how to get this to work?

[2017-11-07 22:33] MarcusKlik commented on #101
Hi @khsu15, thanks for reporting your problem, are you trying to install `fst` on a Mac? If so, then you are seeing the effects of missing support for _OpenMP_ on your OS. You can install support for _OpenMP_ by following [these](https://github.com/Rdatatable/data.table/wiki/Installation#openmp-enabled-compiler-for-mac) instructions on the `data.table` repository. After installing a _OpenMP enable

[2017-11-07 23:26] khsu15 commented on #101
Hi @MarcusKlik
Yes, I am trying to install fst on a Mac.  I tried what you sent, but am still getting the same error.  Any other ideas?

[2017-11-08 01:31] xiaodaigh commented on #100
I find that if I `Sys.sleep(1)` right after a `read.fst` or `write.fst` then it doesn't crash (as much).

[2017-11-08 03:02] ryankennedyio commented on #86
@MarcusKlik brilliant. We'll lock onto this latest one for now until the next CRAN release, and then rebuild anything that needs rebuilding once that is publicly available.

Thanks again! (Feel free to mark closed if stack imbalance warning is now gone -- other issue w/  instability was clearly result of different formats between commits in develop)

[2017-11-08 10:18] MarcusKlik commented on #100
Hi @xiaodaigh and @jzzcutler, thanks for reporting, are you still getting crashes then, also on the latest `dev` version?

For example, if you run the benchmark [above](https://github.com/fstpackage/fst/issues/100#issuecomment-340926233) using the latest `fst` development version, are you getting errors (without using `Sys.sleep`)?

[2017-11-08 10:19] MarcusKlik commented on #86
Thanks for reporting, I will close the issue then!

[2017-11-08 10:19] #86 closed, assigned to MarcusKlik

[2017-11-08 22:46] MarcusKlik commented on #101
Hi @khsu15, are you able to compile the `data.table` package correctly, or does `data.table` give you the same problems?

[code]

there are a [fair amount of issues](https://github.com/Rdatatable/data.table/issues?utf8=%E2%9C%93&q=is%3Aissue%20openmp) discussing the _openmp on Mac_ problem in the `data.table` package repository.  I currently have no access to a Mac, but if you can post your exact

[2017-11-09 22:25] #98 closed, assigned to MarcusKlik

[2017-11-09 22:32] MarcusKlik commented on #98
Hi @arunsrinivasan, a `POSIXct` column without a `tzone` attribute [is now correctly retained](https://github.com/fstpackage/fst/blob/71178e9446b4f9d8c78637ac9dca811e1956cb29/src/fst_table.cpp#L221-L235) after a `read_fst` / `write_fst` cycle. Indeed, I share your idea that such a cycle should have a result identical to a `saveRDS` / `readRDS` cycle and that `fst` shouldn't make the decision to ad

[2017-11-09 22:46] khsu15 commented on #101
Hi @MarcusKlik, I am able to compile the data.table package correctly.  SessionInfo prints the following:
`R version 3.4.2 (2017-09-28)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS High Sierra 10.13.1

Matrix products: default
BLAS: /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.fram

[2017-11-10 08:37] MarcusKlik commented on #101
Hi @khsu15, thanks for testing that. Indeed, `fst` uses the `OpenMP` in `C++` code, where `data.table` only compiles `C` code with the _-openmp_. Could you try adding the following lines to the file _~/.R/Makevars_:

[code]

note that the `CXX` line now has the _-openmp_ flag as well.

I hope that works, if not I will have access to a Mac next week and can help you further at that point!

[2017-11-10 14:55] khsu15 commented on #101
Hi @MarcusKlik,
I've solved the issue by downgrading the version of R that I was using from 3.4.2 to 3.3.3.  According to CRAN, 3.4.2 'uses Clang 4.0.0 and GNU Fortran 6.1, neither of which is supplied by Apple' and requires downloading extra packages and tools that wasn't quite working out.  Downgrading has done the trick.  Thanks for all your help, though!

[2017-11-10 14:55] #101 closed, assigned to MarcusKlik

[2017-11-11 22:28] MarcusKlik commented on #95
The 64-bit `XXH64` method from the `xxHash` library is now used (in parallel) to computed block hashes in `compress_fst` and `decompress_fst`.

[2017-11-11 22:28] #95 closed, assigned to MarcusKlik

[2017-11-11 22:58] MarcusKlik commented on #83
Endianness flag added to format. To be effective, the header metadata block has to be written in little-endian format also on big-endian systems. Then, all systems will be able to correctly process the header metadata and an error can be thrown when an endianness is encountered that's different from the current system's endianness.

[2017-11-11 23:45] MarcusKlik commented on #12
Hi @jeroenjanssens, these last months, the core `C++` code of the `fst` package has moved to a separate and completely independent library ([fstlib](https://github.com/fstpackage/fstlib)). The `fstlib` library has no dependencies on the `R` API and therefore specific `R` classes like `data.table`, `tibble` or `data.frame` have no special meaning the `fst` format.

For that reason, I can't honor yo

[2017-11-13 09:47] jeroenjanssens commented on #12
Thanks for getting back to this. This is a very reasonable solution. Thanks!

[2017-11-13 09:47] #12 closed, assigned to MarcusKlik

[2017-11-13 10:36] arunsrinivasan commented on #98
@MarcusKlik thank you very much!

[2017-11-13 13:56] MarcusKlik commented on #47
Hi @wei-wu-nyc, your request to be able to store empty tables (but with metadata) is planned for `fst` version v0.8.6 in #99.

Thanks again for your feature request!

[2017-11-13 13:56] #47 closed, assigned to MarcusKlik

[2017-11-13 21:41] MarcusKlik commented on #101
Hi @khsu15, thanks for reporting and good to see that you can use `R 3.3.3` without problems. If you find the solution to getting your system to work with `R 3.4.2`, please let me know!

[2017-11-13 22:18] MarcusKlik commented on #57
Hi @nextpagesoft, thanks again for requesting this feature. However, because `fst` is now a pure `C++` library at it's core, the specific type of `R` table ( `data.table`, `tibble` or `data.frame`) has no meaning in the `fst` format. It's a bit like a `csv` file where there is also no information on the type of table that was used to store it initially.

In method `read_fst` there is a parameter

[2017-11-14 08:38] MarcusKlik commented on #74
Hi @statquant, just checking in to ask you if you still get this error when using `fst` on a parallel cluster?

In the latest `dev` version, I've added better error handling for the `C++` back-end library, so I'm curious to see if we can get a better idea of the problems you're seeing. Would it be possible to post a reproducible example that generates this error? thanks!

[2017-11-14 08:40] MarcusKlik commented on #46
Hi @wei-wu-nyc, I will close this issue for now, please let me when you experience any more problems on large data sets (or when you get above 2^31 rows :-)) !

[2017-11-14 08:40] #46 closed, assigned to MarcusKlik

[2017-11-14 08:44] MarcusKlik commented on #92
Hi @xiaodaigh, are you still experiencing these problems on the latest `dev` version? I didn't get any errors on the code you posted on `Win 10` and `Ubuntu 16.04` using the latest `fst`, which OS are you running?

thanks!

[2017-11-14 08:46] MarcusKlik commented on #83
Re-writing the header parser to switch bytes on a big-endian system is scheduled for `fst` version `v0.9.0`

[2017-11-14 09:12] MarcusKlik commented on #49
Hi @petermuller71, I've prepared the format for storing hash values of data blocks. That means that we don't need a format change when the feature is added. The idea is that `write_fst` will get a parameter _hash_ that can be used to make `fst` calculate hashes on (16 kB) data blocks (setting _hash = TRUE_). When reading data with `read_fst`, the hashes can be optionally used by specifying (again)

[2017-11-14 10:43] xiaodaigh commented on #92
I can't seem to build fst on my Windows 10. I got the below error

[code]

[2017-11-14 10:50] MarcusKlik commented on #92
Hi @xiaodaigh, yes, sometimes you get that error when you have the CRAN version installed and try to build the `dev` version (see also #97). Could you try to de-install the CRAN version first and then  build the `dev` version?

Thanks for testing!

[2017-11-14 11:05] xiaodaigh commented on #92
@MarcusKlik No, thank you.

Yes it no longers gives me an error! It seems fixed. Sorry I should asked earlier I had tried to build it afew times with the same error.

[2017-11-14 11:11] xiaodaigh commented on #92
Not sure if ti's to do with fst but the timings look odd. _Elapsed_ is smaller than _user_
[code]

[2017-11-14 11:46] MarcusKlik commented on #92
That's very odd indeed! Looks like the system is spending negative time (that's a great computer you have there :-)).

On my system something similar is occurring:

[code]

I suspect the readings are off because `fst` is wrtiting to disk with multiple-threads. So perhaps these system timings are not very accurate. Usually, I go with the `microbenchmark` package:

[code]

And just a _manual_ check:

[2017-11-15 13:09] PMassicotte opened #102 "Your dataset needs at least one column."
I was interested to use this package to save large datasets. However, I am getting this error when trying to create a simple benchmark.

[code]

[2017-11-15 16:28] arunsrinivasan opened #103 "Attributes from 'scale()'"
Hi Mark,

[code]

This is a common enough attribute as well, I'd suppose, even if not as much as `POSIXct` / `Date`. Do you think it'd be possible to retain these attributes as well?

[2017-11-15 22:34] MarcusKlik commented on #102
Hi @PMassicotte, thanks for reporting your issue! The error you are getting has been resolved in the `dev` version of `fst` which will be on CRAN soon, you can install the latest `dev` using:

[code]

I did a quick benchmark using your random data-set:

[code]

as you can see, the speed is relatively low. That's because `fst` stores it's data in 32kB blocks. When there are only 256 rows, these blo

[2017-11-15 22:48] MarcusKlik commented on #103
Hi @arunsrinivasan, thanks for posting you feature request! Yes, we can definitely implement custom numbers in stored attributes. Currently the only attribute with 'custom' data in it is the timezone attribute [which holds a custom string](https://github.com/fstpackage/fst/blob/develop/src/fst_table.cpp#L143-L157) through the _annotation_ that can be set on each column.

We should change the curre

[2017-11-16 01:21] PMassicotte commented on #102
Thank you @MarcusKlik! This is nice to see. Of course my example with 65536 columns might not be realistic. I will give it a try with the dev version tomorrow on real data. Thank for your help.

[2017-11-16 01:21] #102 closed, assigned to nobody

[2017-11-16 08:44] MarcusKlik commented on #102
great, if you have some benchmark results later, I would be very interested to see them. If you want you could post them here!

thanks

[2017-11-16 21:31] nextpagesoft commented on #57
Hi @MarcusKlik, thanks for the pointers. I've been using this solution for a long time to be honest and I would simply drop this request altogether. I just wrote a wrapper and am happy with it:
[code]

BTW, I think one can always do `dt <- setDT(read_fst("1.fst"))` regardless of `dt` being sorted or not. According to `data.table` help file itself `as.data.table` does make a copy, whether `setDT` i

[2017-11-16 22:08] MarcusKlik commented on #57
Hi @nextpagesoft, thanks for that! And yes, you're right, you can always use `setDT`. The only thing is that the key (if any) will be lost:

[code]

That's because the `data.frame` that is returned (the default return type) can't hold a key. If you use 'as.data.table = TRUE`, the key [gets set](https://github.com/fstpackage/fst/blob/develop/R/fst.R#L189-L198) without actually re-sorting the table

[2017-11-16 22:20] #57 closed, assigned to MarcusKlik

[2017-11-18 23:27] MarcusKlik opened #104 "Increased uncompressed write performance"
There is a large difference in performance in a call to `write_fst` using `compress = 0` and the same call but with `compress = 1`.

The uncompressed write is single-threaded and the compressed write uses multiple threads. However, when `fst` writes to disk, it uses a _critical section_ (OpenMP), so all disk IO is in fact single-threaded (at the moment).

So it could be expected that performance f

[2017-11-19 08:01] #104 closed, assigned to MarcusKlik

[2017-11-20 05:00] davidanthoff opened #105 "Magic number?"
Do fst files have a magic number that I could check to make sure a given file is actually a fst file?

[2017-11-20 05:52] #92 closed, assigned to MarcusKlik

[2017-11-21 08:51] MarcusKlik commented on #105
hi @davidanthoff , thanks for a very interesting question!

The current CRAN version doesn't have a magic number, but the next release will. All meta information in the _latest_ `fst` format is now hashed with a _magic number_. So, you could use any of these meta-data blocks to test if you're dealing with a `fst` file.

For example, you could use the header information:

[code]

So, you can use me

[2017-11-21 15:03] MarcusKlik commented on #8
All warnings have been resolved except some very specific `Rcpp` warnings:

[code]

I don't think that is a warning specific to `fst`, it shows on some `Rcpp` [build logs](https://www.stats.ox.ac.uk/pub/bdr/memtests/clang-UBSAN/Rcpp/build_vignettes.log) as well.

Basically, the sanitizer triggers this warning every time a `Rcpp` wrapped function is called from `R`.

[2017-11-21 18:22] davidanthoff commented on #105
We are working on integration for julia, and there is a uniform file loading API where you can just write
[code]
and it will automatically pick the correct package to load that file, based on either just the file extension, or (better) based on the file extension and a magic byte. Given that the ``*.fst`` file extension is used by at least two other file formats, we are a bit hesitant to just blan

[2017-11-21 19:53] mperone opened #106 "Format Complete; Format Update Function"
Hi Marcus,

I've been following this development eagerly as it really looks like once it's ready it will be a huge upgrade to the storage options for R data. As version 0.8.0 nears though, I have 2 questions I haven't been able to answer confidently:
1) What version do you anticipate being the 'format complete' version; i.e. when can we use the library and not have to worry about our .fst files no

[2017-11-21 21:17] MarcusKlik commented on #105
Hi @davidanthoff, that's a great idea! I see your point in that it is very cumbersome to run a hash calculation just to check a file format :-)

The format is complete but I kept [a few free bytes](https://github.com/fstpackage/fst/blob/develop/src/fstcore/interface/fststore.cpp#L56-L61) in the header meta-data just in case. So I could use those to insert a magic number for `fst`.

A few questions

[2017-11-21 21:29] MarcusKlik commented on #106
Hi @mperone, thanks a lot! To answer your questions:

1. The format is complete now and will not be changed anymore until the next CRAN release. So that means that  files that are generated with the latest `dev` version can be read by the next CRAN version _**and also any future version**_
2.  The next CRAN release (version 0.8.0) will still read files generated by the previous CRAN version, but t

[2017-11-21 21:32] MarcusKlik commented on #105
Ah, I see a lot of numbers are already documented, for example [here](https://en.wikipedia.org/wiki/List_of_file_signatures). Many are 32-bit, but larger signatures are also used.

[2017-11-21 21:42] davidanthoff commented on #105
Hehe, always good to leave some space :)

I'm not really an expert on these questions in general, I'm afraid. I think for our julia use-case, 32 bits would be fine because the detection algorithm would essentially be file extension + magic number, so unless you pick exactly the same magic number as the two other file formats with the same extension, we should be good. I don't think we need the sym

[2017-11-21 22:00] mperone commented on #106
Awesome. Thanks again.

[2017-11-21 22:00] #106 closed, assigned to nobody

[2017-11-21 22:25] MarcusKlik commented on #105
Ha, indeed :-) So I guess using the same philosophy I will still keep 4 free bytes and use 4 to store the magic number! About the format:

* byte 17-20 in the format have been set to hexadecimal number `0x50414150`
* these 4 bytes can be read as a single integer  number equal to `1346453840`
* those statements hold for both little-endian and big-endian systems, because that magic number is _byte-s

[2017-11-21 22:36] MarcusKlik commented on #105
Hi @davidanthoff, the magic number will only be present in `fst` files generated from the C++ `fstlib` library version 1 and higher (which is included in the next CRAN release of the `fst` package and the current `dev` version).

That means that you won't be able to detect 'old' `fst` files with the magic number (this lack of a well defined signature is also one of the main reasons why the 'old' b

[2017-11-21 23:00] davidanthoff commented on #105
Yeah, I think that is fine. Do you have a rough timeline for releasing the next fst version?

[2017-11-22 08:49] MarcusKlik commented on #105
Hi @davidanthoff, I'm aiming for next week :-)

I considered the magic number location in the format some more and should probably move it up to [byte position 44-48](https://github.com/fstpackage/fstlib/blob/master/lib/interface/fststore.cpp#L62|)

Then the 8-byte slot is available for future purposes (and can fit 64-bit position information for example). I will make sure that change is committed

[2017-11-22 19:54] #105 closed, assigned to MarcusKlik

[2017-11-22 21:14] MarcusKlik commented on #105
Hi @davidanthoff, the magic number has been moved to byte position 44, the complete header is now defined as follows:

|  byte    | type | description |
| -------  |:----------------------:| :-----------------------:|
| 0 - 7     | unsigned long long | hash of table header |
| 8 - 11   | unsigned int            | fstlib version of header
| 12 - 15 | int                            | binary table fl

[2017-11-23 21:15] xiaodaigh commented on #100
@jzzcutler I updated to the latest version of fst and I don't encounter issues any more.

These are the steps I followed to get it working.

1. Remove the existing fst package (if you don't do this then you will run into error on Windows)
2. Install using `devtools::install_github("fstpackage/fst")`

Everything works!

Otherwise, after step 1, you can clone the package and install [Rtools](https:/

[2017-11-24 10:35] MarcusKlik commented on #100
great, thanks for reporting!

[2017-11-24 19:32] kendonB opened #107 "Consider a `[` interface to an on disk fst?"
The feather store object is nice as it acts kind of like a data.frame for querying subsets of the on-disk feather object.

The ``fst`` store object would have a ``[`` method that would handle row/column querying using numerics, logicals, and maybe expressions based on columns in the ``fst``.

[2017-11-24 19:37] kendonB opened #108 "Consider a dplyr interface to an on disk fst?"
Related to https://github.com/fstpackage/fst/issues/107.

Obviously, it's not appropriate to have complete functionality of dplyr. But ``select``, ``slice``, ``filter``, and ``collect`` would be enough for most querying operations I think.

[2017-11-24 20:35] phillc73 commented on #108
Related to #39 and #91

#39 has a rough example using mutate() in [this comment](https://github.com/fstpackage/fst/issues/39#issuecomment-292815052).

[2017-11-25 00:43] MarcusKlik commented on #108
Hi @kendonB, thanks for the feature request and @phillc73 thanks for the references! Indeed, the idea is to add `dplyr`-like functionality directly to the `C++` core library of `fst` (called `fstlib`).
In terms of the `dplyr` _verbs_ (and to `collect` my own thoughts :-)):

1.    _select:_ the functionality is basically there already (just not he interface)

2.    _slice:_ this is probably the eas

[2017-11-25 01:02] MarcusKlik commented on #107
Hi @kendonB, thanks for your feature request!

This feature will require a subset of features that you requested in #108 and will be added to `fst` package version `0.9.0`. The `fst` interface will be more like `data.table`'s interface for added functionality such as grouping operations.

The general idea is to supply a relatively general interface that works by reading full columns and operating

[2017-11-27 04:12] xiaodaigh commented on #107
[disk.frame](https://github.com/xiaodaigh/disk.frame) is one attempt to do this

[2017-11-27 08:53] MarcusKlik commented on #107
Hi @xiaodaigh, very nice! And I like your approach of having multiple possible _back-ends_, that's very dynamic (and good for benchmarking as well :-))

Also, having an abstraction layer around multiple `fst` files is a very powerful concept. You could build _map-reduce_ like algorithms on top of that, nice work!

The ability to access multiple `fst` files as a single _table_ is on the feature lis

[2017-11-27 13:10] xiaodaigh commented on #107
@MarcusKlik Thanks for the encouragement. I think the features that will really help are #14 #91, #78 and being able to apply a simple equality filter (via indexing) would be really nice.

For example, I was implementing a group by an algorithm using fst as the backend, so firstly I have to sort on a variable to figure out the groups, this is really easy using `read.fst(path, columns = column_to_g

[2017-11-28 18:43] MarcusKlik commented on #107
Hi @xiaodaigh, thanks! And no worries, the `fstlib` interface is relatively simple :-). I will start some documentation on the `C++` API soon, so that `fstlib` can easily be used in other languages as well (I think `C++`, `Python` and `Julia` to start with).

What you're describing can be done nicely using a [merge sort](https://en.wikipedia.org/wiki/Merge_sort) algorithm. If you use multiple file

[2017-11-30 12:28] #8 closed, assigned to MarcusKlik

[2017-12-01 22:21] eipi10 opened #109 "Importing fst into another package causes the other package to crash R"
I've been building a couple of packages to load various personal utility functions. While building and using the packages, I was having problems where R would crash at some point during the package updating process (`devtools::document()`, `devtools::build()`, etc.), but after the crash I would be able to get one step farther in the updating process before a crash. But then after installing the pa

[2017-12-02 21:48] MarcusKlik commented on #109
Hi @eipi10, thanks for reporting your issue! That's a curious problem indeed. Because you're using OSX Sierra, I'm thinking that the `OpenMP` multi-threading might be the cause of the problem. The `data.table` package has a similar `OpenMP` implementation and some issues were reported with compiling on OSX (Sierra).

It would be great if you could try building the empty RStudio project with an imp

[2017-12-02 22:50] MarcusKlik commented on #109
Hi @eipi10, I've build an empty RStudio package that only imports `fst` and has a single method that calls methods from `fst` (public and internal).

[Here](https://github.com/fstpackage/fst/files/1524331/fsttester.zip) is the zipped package directory (hope you can unpack that cleanly).

I followed the following steps to create, build and check it:

1.    remove `fst` package (via RStudio interfac

[2017-12-02 23:33] eipi10 commented on #109
Hi Marcus,

My copy of `fst` is built with OpenMP support. When I tried to `document` or `build` `fsttester` I got the same crashing behavior. I also changed to `#' @import data.table` with my test package and I experienced the same crashing behavior as when I imported `fst`. Finally, I tried all this on another Macbook Pro that does not have OpenMP installed and I *did not* get any crashes.

So,

[2017-12-03 21:46] MarcusKlik commented on #109
Hi @eipi10, thanks for testing! Indeed the fact that `data.table` also crashes seems to point to OpenMP issues, did you use the instructions on the [`data.table` wiki](https://github.com/Rdatatable/data.table/wiki/Installation#openmp-enabled-compiler-for-mac) to install an OpenMP enabled clang compiler?

Your issues seems related to [this issue](https://github.com/Rdatatable/data.table/issues/2413

[2017-12-03 22:10] eipi10 commented on #109
I installed OpenMP (can't remember if that was part of a clang installation) a few months ago in order to take advantage of multiple cores with `fst`. Getting OpenMP (or clang with OpenMP or whatever it was) to install was a pain--lots of searching around for the correct incantations on the Mac command line, but I really can't remember where I found the right commands or what they were.

I've been

[2017-12-03 22:20] MarcusKlik commented on #109
Yes, so nothing strange going on until the `#' @import fst`. Perhaps it's related to the `roxygen2` package, did you try to build without the `roxygen2` option in RStudio just to check?

![image](https://user-images.githubusercontent.com/24658401/33530469-34a8a432-d880-11e7-87fb-2d4cfeb9f823.png)

greetings

[2017-12-04 11:27] renkun-ken commented on #87
I tried boost shared memory between R sessions and C++ program before. I'm curious about how you allow R functions to work with vectors in shared memory without creating a new R vector which requires copying the data?

Here's a very naive implementation with R's native serialization: https://github.com/renkun-ken/sharedata.

[2017-12-05 21:53] MarcusKlik commented on #87
Hi @renkun-ken, interesting question!

Unfortunately, `R` decides which memory it allocates to store it's vectors and tables, so we can't use `boost` shared memory to directly share `R` objects (hence the `clone_object` method in your package :-))

The idea is that  we can hold the contents of a `fst` file directly in memory. So in fact, that would be an in-memory (compressed) table using the `fst

[2017-12-06 02:45] xiaodaigh commented on #87
Wow! Exciting stuff. This would make fst even better!

[2017-12-08 02:12] renkun-ken opened #110 "Not using multi-threading after a mclapply call"
I'm using the latest development version of `fst` and find that it stops using multi-threading as long as `mclapply` is called to fork multiple processes.

[code]

The output is as follows:

[code]

I'm not sure why the number of threads to use by `fst` in the master process would decrease to 1, rather than only the child processes decrease multi-threading to 1?

My session info:

[code]

[2017-12-08 02:20] renkun-ken opened #111 "write_fst and write.fst have inconsistent defaults of compress"
I'm not sure why `write_fst` and `write.fst` have inconsistent defaults of `compress` parameter, as shown below:

[code]

[2017-12-08 07:33] renkun-ken opened #112 "Number of threads decreased to 1 after re-entering RStudio Server session"
I'm using the latest development version of `fst` and I find it quite mysterious that after re-entering my RStudio session, the number of threads indicated by `threads_fst()` is changed to 1 from 40.

Steps to reproduce:

1. Start a new session in RStudio
2. Run `fst::threads_fst()` which, on my server, returns 40
3. Refresh the webpage of RStudio, leading to re-entering the session
4. Run `fst::t

[2017-12-08 09:28] MarcusKlik commented on #112
Hi @renkun-ken, thanks for reporting that!

If I understand correctly you have a web interface to RStudio Server and the actual `R` session is running remotely on the server.

So what happens exactly when you refresh the web-page, the servers starts up a completely new R` session and kills the previous one?

The only way that the number of cores would be set to 1 would be if `fst` can't detect `Op

[2017-12-08 09:40] MarcusKlik commented on #111
Hi @renkun-ken, good find thanks!

Method `write.fst` will become deprecated a few versions from now, but there is no reason why the default settings should be kept at the `v0.7.2` values.

I committed [the fix](https://github.com/MarcusKlik/fst/commit/f2ee2151a188b926e9a3786479caca38e55b15db) to the release branch, so it will still be in the next CRAN version (preparing that now).

Thanks a lot!

[2017-12-08 09:45] MarcusKlik commented on #110
Hi @renkun-ken, thanks for reporting!

Indeed, the number of threads used by the master thread should not drop back to one.
I think I should include a method that returns the previously allocated number of threads [in this code segment](https://github.com/MarcusKlik/fst/blob/develop/src/openmp.cpp#L67).

Good find, thanks!

[2017-12-08 14:01] renkun-ken commented on #112
I do some tests with both `fst::threads_fst()` and `data.table::getDTthreads()` and it seems that RStudio Server re-entered R session may be a forked one. Here's my test code:

[code]

On `21:58:00` I close the webpage. A while later I re-enter the session and see the logging:

[code]

It's quite clear that the R session is not suspended but the moment I re-enter the session at `21:58:23` I may ha

[2017-12-08 21:45] MarcusKlik commented on #112
Hi @renkun-ken, that's a smart way of testing that, nice work!

In `data.table`'s [code](https://github.com/Rdatatable/data.table/blob/master/src/openmp-utils.c#L59-L77), there is an explanation why an `OpenMP` should not switch back to multi-threaded mode after parallel's fork has completed (that causes problems on the Intel compiler), so it is left to the user to switch to more threads again. I

[2017-12-09 01:17] renkun-ken commented on #112
Thanks for referring to the data.table's code and clarify. I'd prefer not making it more complex. I'll use `threads_fst()` before calling fst functions if I want multi-threading at the moment.

[2017-12-10 09:02] MarcusKlik commented on #50
Hi @mattdowle, @st-pasha and @arunsrinivasan,

the next release of `fst` is due in a few days and I've prepared a blog to post at the same time. In the blog I explore the performance of `write_fst`/`read_fst` and compare it against `fread`/`fwrite`, `saveRDS`/`readRDS` and `write_feather`/`read_feather`. I'm also looking at the multi-threaded enhancements (for `data.table` and `fst`), compression

[2017-12-11 15:55] PeteHaitch commented on #109
FWIW I'm experiencing what I think is the same issue. Building my [**fstArray**](https://github.com/PeteHaitch/fstarray) package () using `devtools::build()` or running `devtools::document()` leads to segfaults and aborted Rstudio sessions (the `fst_develop` branch of **fstArray** uses the `develop` branch of **fst**, whereas `master` of **fstArray** uses the current CRAN release of **fst**).

I a

[2017-12-11 22:07] MarcusKlik commented on #109
Hi @PeteHaitch, thanks for reporting and your `fstArray` is a very nice package, interesting!

I guess the ideas we shared in issue #19 are still very relevant to optimize the speed in your package? If the speed is now comparable to `HDF5Array` then implementing the blocked format would surely make it a lot faster :-).

It would take a series of `memcpy` operations to first cut the (basically 1-di

[2017-12-11 22:55] PeteHaitch commented on #109
Hi @MarcusKlik,

Yes, #19 would be brilliant! I decided in the meanwhile to experiment with supporting matrix-like data that are backed via an **fst** data frame. The good news is that I'm finding it very promising: a common data access pattern I face as a package developer and user is to access contiguous rows from arbitrary columns of a 2-dimensional matrix-like object, and the current implement

[2017-12-11 23:19] MarcusKlik commented on #111
Both versions of `write_fst` now have identical default compression settings

[2017-12-11 23:19] #111 closed, assigned to MarcusKlik

[2017-12-11 23:25] PeteHaitch opened #113 "Question about random row access"
Hi @MarcusKlik,

In the README you note:

What's the best way to achieve random row access over an _arbitrary_ set of rows, e.g. `rows = c(1:10, 50:90, 22, 21)`?  Right now, in **fstArray**, effectively what I do is to construct a series of `from` and `to` arguments from `rows` that I iteratively pass to `fst::read_fst()`. I'm wondering whether it would be possible to support something like:

[cod

[2017-12-13 17:57] PeteHaitch commented on #109
Quick update:

1. This seems to be RStudio-specific issue. Running `devtools::load_all()`, `devtools::document()` etc. from command line R on the same machine works perfectly well for me. Where the root cause lies (e.g., RStudio itself or RStudio catching a glitch in **devtools** or **fst**) is unclear to me, but I'm happy to keep digging.
2. I realised that installing `v0.8.0` from CRAN won't hel

[2017-12-14 11:19] MarcusKlik commented on #113
Hi @PeteHaitch, thanks for your question. Indeed, the interface is not truly random at this point in the sense that you can use an arbitrary integer vector for indexing.

But that is one of the first requirements for building a `data.table` or `dplyr` interface, so that should be included in `fst` in the near future. In `fstlib` we would need to implement (C++) something similar as:

[code]

So, f

[2017-12-14 11:27] MarcusKlik commented on #109
Hi @PeteHaitch, thanks for the update and a (small) relief that you can build from the command line, even with `devtools`. Perhaps the `devtools` integration with `RStudio` causes some problems in combination with OpenMP. If you run `devtools::load_all()` not from the `RStudio` _button_ but just type it in the _console_, does that work without problems?

[2017-12-14 18:59] PeteHaitch commented on #109
Okay, I think I'm getting close to the source of the problem. I was **unable** to reproduce the issue when calling any of `devtools::document()`, `devtools::load_all()`, `devtools::build()`, or `devtools::check()` from the Rstudio console. However, when I used the keyboard shortcuts (e.g., ⇧⌘E on a Mac) I am (intermittently) hit by the 'R Session Aborted' error (show below)

![image](https://user-

[2017-12-15 00:50] mattdowle commented on #50
@MarcusKlik Great -- yes please. Do you have a blog-preview link?

[2017-12-16 23:52] MarcusKlik opened #115 "CRAN Solaris build fails"
The CRAN [build on Solaris](https://www.r-project.org/nosvn/R.check/r-patched-solaris-x86/fst-00check.html) fails because gcc 5.2 is in use there.  C++11 does not include the (C99) 'restrict' keyword. That keyword is in the `xxHash` algorithm in the `ZSTD` library.  The problem is known and solved in the `xxHash` version from the `LZ4` compressor (see also [this issue](https://github.com/Cyan4973/

[2017-12-17 08:55] MarcusKlik commented on #109
Hi @PeteHaitch, good find and nice theme by the way 👍. Yes, so it seems like an `RStudio` bug after all, that's good to know, thanks for sharing!

[2017-12-17 23:40] MarcusKlik commented on #115
Fixed in fcb6816. The package now uses `xxHash` from the `LZ4` library and first tests show that it's about 10 percent faster than the previous version.

[2017-12-17 23:40] #115 closed, assigned to MarcusKlik

[2017-12-19 12:07] renkun-ken commented on #112
After some intensive use, I prefer adding `threads=` to both `read_fst` and `write_fst` becase it's too easy to let threads fall back to 1 using RStudio Server or calling any `mclapply`. @MarcusKlik what do you think?

[2017-12-19 13:11] MarcusKlik commented on #112
Hi @renkun-ken, thanks, yes that would be better than setting with `fst::threads_fst` every time before you call `fst::write_fst`. Especially because `fst` also switches back to single threaded mode after some other code or package produces a fork (the user might not even notice as with the RStudio server setup).

Judging from the `data.table` issues, we have to switch back to prevent problems in

[2017-12-19 14:52] renkun-ken commented on #112
@MarcusKlik, it is definitely a good option. Thanks!

[2017-12-21 23:03] mperone opened #116 "Linux compile error v 0.8.2"
Hi Marcus,

I can't seem to get the latest version to install on Linux. I am a complete novice in compiling so this may be a very easy answer that I should be able to resolve myself. Apologies if that's the case. I've copied what I think are the relevant details below.

Best,
Matt

**Machine Info (old I know, but this is a machine I can't update):**
Red Hat Enterprise Linux Server release 6.7 (San

[2017-12-22 22:13] MarcusKlik commented on #116
Hi @mperone, thanks for reporting! I've installed R version 3.1.2 and tested installing `fst` using:

[code]

Everything runs as expected, the specific compiler output for `fstcore/interface/fststore.o` is:

[code]

The output is practically identical to your output, but the `nullptr` exception is not thrown because my RTools installation for R 3.2.1 contains a more recent gcc compiler  (4.6).

`n

[2017-12-22 23:13] MarcusKlik opened #117 "Planned milestones for future releases"
The currently planned features planned for `fst`:

**version 0.8.4:**

Intermediate release to fix the Clang 6.0 build errors (#118)

**version 0.8.6:**

* Multi-threaded serialization of `character` columns
* Basic `data.table` interface:

[code]

Note that there is no grouping functionality in this basic interface (yet), but there will be:
    - _on-disk_ (random) logical row sub-setting (requir

[2017-12-22 23:14] MarcusKlik commented on #48
Superseded by #117

[2017-12-22 23:14] #48 closed, assigned to MarcusKlik

[2017-12-23 23:44] MarcusKlik opened #118 "Advance report of Clang 6 errors"
CRAN reported some errors building `fst` on the new build tool chain (based on Clang 6.0.0.) which will go mainstream in a couple of months. These errors are mainly originating in the `LZ4` compressor library.

I've [reported](https://github.com/lz4/lz4/issues/436) the problem on the `LZ4` issue list.

The full Clang 6.0.0 build output is shown below for completeness.

[code]

[2017-12-28 10:23] shrektan commented on #99
+1 for this feature, thanks.

[2017-12-29 09:21] hyokangs opened #119 ""Embedded nul in string" error in large files"
I tried to load the following (zipped) tsv file with fread and then saved using write_fst (specifying uniform_encoding=F).

http://www.patentsview.org/data/20170808/uspatentcitation.zip
or
http://www.patentsview.org/data/20170808/rawinventor.zip

Tried to load fst file, but get the following error message:

Error in fstretrieve(fileName, columns, from, to, old_format) :
embedded nul in string: 'à«

[2017-12-29 18:13] MarcusKlik commented on #118
From the discussion on the `LZ4` [issue list](https://github.com/lz4/lz4/issues/436), it turns out the clang problems have been solved in the `dev` version of `LZ4` but those changes are not in the latest release yet. The workaround is to define `LZ4_DISABLE_DEPRECATE_WARNINGS` before including `LZ4` (and resubmit to CRAN). After the next `LZ4` release, the define can be removed and everything sho

[2017-12-29 20:59] MarcusKlik commented on #119
Hi @hyokangs, thanks for reporting!

I will try to reproduce your error, what OS and `R` version are you using?
Those are very interesting public data-sets by the way!

[2017-12-30 04:56] hyokangs commented on #119
Hi @MarcusKlik,

Thank you for your response. My working environment yesterday was: Windows Server 2012R2  & R 3.3.3.
I tried to replicate the error with my laptop, Windows 10 Pro and R 3.3.4., but failed to do so -- meaning, everything worked fine with my laptop.

I will post an update once I encounter the same error again. Thanks!

[2017-12-30 22:48] MarcusKlik commented on #119
Hi @hyokangs,

I managed to download your files and used the following code to test:

[code]

Everything seems to work as expected (using the latest CRAN version of `fst`). Your error looks like a problem with reading the format correctly. Sometimes that happens when you try to read from a `fst` file that was created with a `dev` version (< 0.8.0) of the package, does that apply to your case?

Is

[2018-01-03 11:46] #118 closed, assigned to MarcusKlik

[2018-01-07 00:25] PeteHaitch commented on #109
Following up on https://github.com/fstpackage/fst/issues/109#issuecomment-351804051:

I can confirm this can be triggered by the toy package. I've posted to https://github.com/rstudio/rstudio/issues/1920

[2018-01-07 22:00] MarcusKlik commented on #109
Thanks @PeteHaitch, I'm curious to see if the RStudio people understand what is causing this problem!

[2018-01-08 01:47] eipi10 commented on #109
Marcus,

Following up on your question from December 3 (sorry for the delay in getting back to you): When I unchecked the Roxygen option and then ran `devtools::document()`, RStudio still crashed.

Joel

[2018-01-08 22:28] rgayler opened #120 "Documentation: add explicit comment to write_fst to say what it won't do?"
Following on from #12 - `write_fst` currently only supports classic `data.frame` and `data.table` objects with keys. Could you add a  comment to the `write_fst` documentation to explicitly state that other data-frame-like objects are only supported if they can be demoted to a `data.frame` with atomic column types?- So, list columns won't work at all and writing then reading a `tibble` with atomic

[2018-01-09 02:44] hyokangs commented on #119
Thank you, @MarcusKlik.

I added "uniform_encoding=FALSE" after getting an error message ("Embedded nul in string"). This did not solve the problem, though.

After multiple tests, I think it is a problem of a network drive. Whenever I write to and read from my local drive, no problem occurs. When I try to write to and read from a network drive, I frequently encounter this problem. I believe this i

[2018-01-09 08:01] MarcusKlik commented on #119
Hi @hyokangs, thanks for testing! Yes, it looks like the byte stream is interrupted somehow when you load from the network drive. Still, normally loading from a network drive should just work (but slower obviously).

During a read or write, `fst` is firing a lot of short system API calls to the file system. Local (SSD) drives know how to handle (and combine) those effectively, but perhaps your net

[2018-01-09 08:36] MarcusKlik commented on #120
Hi @rgayler, thanks for your feedback. Indeed, the `fst` format is language independent in the same way that for example a `csv` file is independent from the specific programming language that you are using to read or write from it.

The specific wrapper that is used to hold the data-set is language dependent, so can't really be coded in the format. For `R`, we have the `data.frame`, `data.table`

[2018-01-09 10:46] rgayler commented on #120
Hi @MarcusKlik. Thanks for the great package and your rapid response.

I think "yes" for two reasons.

1. I think most people have the default assumption with read/write or load/save pairs that what they get back should be exactly what they wrote out.

1. I think if R users discover `fst` via CRAN or other R resources they are likely to assume that it is R-centric and if they notice the multi-plat

[2018-01-09 10:56] krlmlr opened #121 "Documentation: Background threads and termination of session?"
I'd like to use fst in a setting where `write_fst()` is potentially the last operation in the R session. Can I be sure that the data will be safe on disk? I've searched the issues and the documentation page but couldn't find anything.

Thanks for working on fst, looking forward to the dplyr interface!

[2018-01-09 10:58] krlmlr commented on #117
dplyr also implements some operations internally ("hybrid evaluation"), maybe there's potential for code reuse?

[2018-01-09 11:33] shrektan commented on #117
Is it possible to add the ability to write empty data frame to your milestones?  It’s a very useful feature, at least for myself, thanks.

[2018-01-09 11:59] MarcusKlik commented on #121
Hi @krlmlr, thanks for your question and love your work (though I have no idea how you can manage so many contributions :-))

Do I understand your question correctly in that you want to be sure that `fst` is not still writing data (on background threads) after the call to `write_fst` has ended (and the session after that) ? Or are you referring to backward compatibility?

The package uses `OpenMP`

[2018-01-09 12:14] krlmlr commented on #121
Thanks for your quick reply. Yes, I was worried that `write_fst()` returns early with writes still pending (which might be a useful feature). Maybe it's worth mentioning specifically that writes are stable when the function returns, or add a `sync()` call that currently is a no-op but might do useful things later?

The back-compatible file format is great, too.

[2018-01-09 12:20] MarcusKlik commented on #117
Hi @krlmlr, that's a very nice feature! And yes, I think that it will greatly speed up processing to be able to use the `fst` internal representation for common methods (a logical vector takes only 2 bits per element in the internal format for example).

The interface will have to be build around an offline-object representing a `fst` file. All operations should be performed on that abstract objec

[2018-01-09 12:26] MarcusKlik commented on #117
Hi @shrektan, thanks for your question! Writing empty tables is on the list for release v0.8.6. A discussion on that can also be found in #99.

Indeed, it would be nice to be able to use the empty table to store metadata. Also, when row binding is supported, you could have a situation where an empty table would be the first result of an `apply` call for example.

[2018-01-09 12:59] shrektan commented on #117
That’s great. Also, I’m so exited to see the idea of the data.table interface feature. If that’s possible, I can only say a big WOW. Looking forward to that.

[2018-01-09 14:09] xiaodaigh commented on #117
github.com/xiaodaigh/disk.frame

i am experimenting with a data.table-like on-disk data manipulation package
bacled by fst. early signs promising

On 9 Jan. 2018 11:59 pm, "Xianying Tan" <notifications@github.com> wrote:

[2018-01-09 16:47] krlmlr commented on #108
My vision of a dplyr interface is https://krlmlr.github.io/fstplyr/.

[2018-01-09 17:25] kevinushey commented on #109
I was able to capture a stack trace in RStudio, following the steps from @PeteHaitch at https://github.com/rstudio/rstudio/issues/1920.

[code]

Potentially related issues:

- https://github.com/rstudio/rstudio/issues/1598
- https://github.com/Rdatatable/data.table/issues/2418

This is the commit that worked around the associated issue in `data.table`; perhaps `fst` needs something similar?

https

[2018-01-09 17:30] kevinushey commented on #109
I think the issue comes down to the use of OpenMP within forked processes. There's a small discussion of potential issues here:

https://bisqwit.iki.fi/story/howto/openmp/#OpenmpAndFork

Basically, if you have a process that might call `::fork()` (which RStudio does, to launch child R processes during e.g. `devtools::document()`), then one must ensure that OpenMP features are not used within the f

[2018-01-09 17:35] kevinushey opened #122 "out-of-bounds read spotted during compilation"
Saw this during compilation on the development branch:

[code]

See:

https://github.com/fstpackage/fst/blob/1766664afdb30312c6d2ea73be12dfa9eb6dd056/src/fstcore_v1/character/character_v1.cpp#L508-L513

https://github.com/fstpackage/fst/blob/1766664afdb30312c6d2ea73be12dfa9eb6dd056/src/fstcore_v1/character/character_v1.cpp#L282

Removing this line would probably suffice:

https://github.com/fstpac

[2018-01-09 21:35] MarcusKlik commented on #108
Hi @krlmlr, that's really great! Stop thinking and just submit to CRAN :-)

I like the idea of having a _source_ with multiple _tables_, each implemented with a single `fst` file. Did you publish [the blog](https://krlmlr.github.io/fstplyr/articles/implement.html) somewhere already ?

Also, having the `dplyr` interface in a separate package is a nice separation of concerns. `fstplyr` would be an `

[2018-01-09 21:53] krlmlr commented on #108
Thanks for the heads-up. I only have published on the package website.

Let me fix `select()` chains, and perhaps let's think about having `slice()` and `filter()`, and maybe `arrange()`? Joins are most likely broken, too. Are we going to implement `compute()`?

Happy to review PRs, I'll likely let the package rest for a while as soon as it works for me. (Need it for a project.) Pushing to CRAN do

[2018-01-09 21:54] MarcusKlik commented on #122
Hi @kevinushey, thanks for reporting that and for your work on RStudio, couldn't live without it!

Indeed, I got an [early warning](#118) from CRAN that the static code analysis of Clang 6.0 turned up some issues. I just fixed them (in 44f5b54) and will submit a patch to CRAN in a few days!

[2018-01-09 22:11] MarcusKlik commented on #109
Hi @kevinushey, thanks for investigating that and for the references to relevant `data.table` issues,

I studied the code in `data.table` that switches back to single threaded mode after a fork and believed that I had implemented the same protection mechanism in `fst`, but perhaps I missed something or `data.table` has further updates that solves the problem.

Good to learn that `devtools::documen

[2018-01-09 22:17] kevinushey commented on #109
Just to be specific, RStudio launches R processes in the build pane through a fork -- for example, when you click the `Document` button, we launch a fresh R process (by forking the `rsession`) and then execute `devtools::document()`. In other words, it's not `devtools` doing the forking; RStudio as a front-end is doing that to get a clean-slate R process launched.

[2018-01-09 22:26] MarcusKlik commented on #109
Yes, exactly, That fork should be detected with [this code](https://github.com/fstpackage/fst/blob/develop/src/openmp.cpp#L67) which sets the number of threads to one. That's basically the same setup as the fork protection [in `data.table`](https://github.com/Rdatatable/data.table/blob/master/src/openmp-utils.c#L79-L88) (or so I thought :-))

Thanks, I will study the problem and report if I have m

[2018-01-09 22:46] MarcusKlik commented on #108
Would `compute()` generate a new table (fst` file) in the source? That would be a nice feature to be able to work with large tables but use only little memory for computation in doing so (calculate chunk-wise).

CPU resources would still be required locally off course and we can't do background processing after the call has finished (unless we offload the work to a parallel cluster).

The `slice()

[2018-01-09 22:58] MarcusKlik commented on #120
Hi @rgayler, thanks for your reply and suggestions!

Perhaps combining both options would be the most user-friendly. So `read_fst` returns the same data-set container type (`data.table`, `data.frame` or `tibble`) that was used to write the data. But this default behavior can be overridden by a parameter in `read_fst` (e.g. _return_type = "tbl"_)

The extra metadata stored in the format wouldn't ha

[2018-01-09 23:01] krlmlr commented on #108
Yes, `compute()` generates a new `.fst` file. Agreed on doing `slice()` and then `filter()`. Maybe do `sample_n()` and `sample_frac()` early, too?

[2018-01-10 19:32] rgayler commented on #120
Yes - I think that's a good idea.

[2018-01-10 22:09] MarcusKlik commented on #120
Yes, I'll have to add the `tibble` package as an optional dependency (`data.table` already is). So when reading a `fst` file with a `tibble` marker, and no table-type override is specified, the `tibble` package will be loaded before returning the `tibble`. The same holds for `data.table`.

thanks for your request and remarks!

[2018-01-11 17:23] mgahan opened #124 "Select columns to write in write.fst"
Would it be possible to select what columns to write in `write.fst` similar to how `read.fst` allows for the reading of specific columns? I know this probably isn't a common request but it would be useful in my workflow (but not if is would add too much overhead or time cost).

[2018-01-11 21:36] MarcusKlik commented on #124
Hi @mgahan, thanks for your request!

There are several routes you can take to select (or rename) columns and rows before writing your table to disk:

[code]

Because the interfaces of `data.table` and `dplyr` are so rich with options, I think it will be hard for the `fst` package to be as flexible. A column selection would be possible in the `fst` interface, but then you would miss out on renamin

[2018-01-11 21:57] MarcusKlik commented on #117
Hi @xiaodaigh, your package is very impressive! Would it be possible to run the `disk.frame` interface against a parallel cluster (with each node processing some chunks)?

One of the bottlenecks if you have a lot of data is that you can use many threads to read data from file (for example with `fst`) but running (custom)`R` methods always has to be done on the (single) main thread. Combining a clu