[2020-01-17 05:47] hope-data-science commented on #230
Some prototype of my functions (that are not all working, but could reflect some thinking):
[code]

[2020-01-17 09:02] MarcusKlik commented on #99
Hi @willemvdb42, I will publish a minor update soon to bring this feature to CRAN, thanks for your patience!

[2020-01-17 09:21] MarcusKlik commented on #230
Hi @hope-data-science,

thanks for sharing, I understand that you would like to create a new package `tidyfst` along the lines of your [`tidydt`](https://github.com/hope-data-science/tidydt) package, right?

That's nice, please let me know if you need any help with that once you've created the package!

About the `summary()` method; the idea is to provide the summary information without loading th

[2020-01-17 14:34] hope-data-science commented on #230
Currently there are only two issues I am facing: Selecting single column returns a sing class vector but not a data.frame;2.`fst` is used to deal with big data, perhaps data.table should be the default return. This is much safer. I've got some functions into `tidydt` instead of making a new package named `tidyfst`, hope it could be released soon.

[2020-01-17 21:28] hope-data-science commented on #230
This is what I get so far (<https://hope-data-science.github.io/tidydt/reference/fst.html>), I think it is well enough for me, and do not have many overlaps with the current excellent `fst`.

[2020-01-18 18:50] winston-p commented on #228
Sorry for the wait, @MarcusKlik - I was rather busy last few weeks.

Actually, I added a persistent SSD in the test setup because that's _exactly_ the way it has always been set-up in my main VM, which hit into the `write_fst` hanging issue in the first place. So the persistent SSD is not the issue.

I'm not sure about specific GCE I/O optimizations but my tests with `fwrite()` did **not** produce

[2020-01-19 16:27] andirey commented on #99
Hi, Mark!
Thanks for your great package "fst".
I now tested it to replaced "feather". But I also stuck with error for saving empty data tables.
Is it possible to make update on CRAN to re-install fst directly from CRAN (not dev version).
Thanks ahead!
Andrii

[2020-01-19 21:57] MarcusKlik commented on #99
Hi @andirey, I will try to get the update out soon, thanks for your patience!

[2020-01-19 22:21] MarcusKlik commented on #228
Hi @winston-p  thanks for testing further!

I'm very puzzled by this delay that you see. From your tests on single core machines, I gather that `OpenMP` is probably not the issue. On a single core, `fst` performs all operations on the main thread, so there can't be any (thread-) synchronization problems.

Then you see the delay appearing after the file size exceeds a certain boundary (20 GB) of fi

[2020-01-19 22:35] MarcusKlik commented on #230
Hi @hope-data-science, nice work on the package and please let me know if you have any further questions!

[2020-01-20 09:35] andirey commented on #99
Thanks, Mark! I will be waiting for it, really!

[2020-01-20 12:02] hope-data-science commented on #230
I knew this day would come, but not realized it would come so quickly. These is such an issue: I could never read the whole chunk of data into the memory to do further calculation. I know that `diskframe` could use distributed computation, but I still think that some aggregation could be done just within `fst`.

My real problem is: I have a daily dataset and want to get the yearly dataset by aggre

[2020-01-21 10:59] winston-p commented on #228
Hi @MarcusKlik , I believe I've found the source of the issue!

After a convoluted round of testing (which I shan't elaborate), I discovered the culprit to be an older version of `Rcpp` (v0.12.10). After updating to the latest v1.0.3, `write_fst` no longer hangs.

Sorry for all the confusion and thanks for your patience throughout these few weeks!

[2020-01-21 15:36] MarcusKlik commented on #228
Hi @winston-p, great find!

That figures, as `Rcpp` is in between the calls from `R` to `fstlib` and manages some of the memory...

Wow, I'm glad you found the solution, this was a tough nut to crack!

[2020-01-21 17:44] SimonCoulombe opened #232 "Can fst be used with geospatial data?"
I have a dataset of car trips.

The dataset has four columns (   trip_id    timestamp, lat,  lon)   , and  each trip_id will have a few  hundreds rows with points showing the location every few second.

Is fst able to read/write  geospatial data (such as 'sf' data frames), or do I have to save it as a regular data.frame ?

If not, a suggestion would be welcome :)

[2020-01-21 22:31] xiaodaigh commented on #228
Ok, so we should put a lower bound on the Rcpp version?

[2020-01-23 03:57] chasemc commented on #184
Just wanted to express that being able to read in Python would be extremely useful :)

[2020-01-23 08:36] MarcusKlik commented on #228
Ha @xiaodaigh, we might but on the other hand there are no problems for files smaller than ~20 GB. So putting a lower limit would limit usage to some users that aren't experiencing any problems at the moment.

Perhaps, if we can confirm the delays on other platforms as well (and pinpoint the exact `Rcpp` version that provides a fix for that), we can emit a warning at startup?

[2020-01-23 09:06] MarcusKlik commented on #232
Hi @SimonCoulombe, thanks for your question!

Yes, it would be extremely useful to be able to serialize [simple features](https://r-spatial.github.io/sf/articles/sf1.html) columns. That would make serialization of geospatial objects efficient. Also, it would be possible to do a selection of features on-disk, that's very useful for large geospatial datasets.

If we have some geospatial data:

[code

[2020-01-23 09:26] MarcusKlik commented on #230
Hi @hope-data-science, at the moment, you can do a row-selection of data using:

[code]

This will be efficient for this particular dataset, because column _speed_ is ordered. But for unordered selections, the current implementation reads the complete range _[row\_min, row\_max]_ between the first selected row and the last, so you might read more data than actually required.

(that will be remedie

[2020-01-23 09:38] andschar commented on #232
I don't know much about serialization and just came across this issue. But, would it help to use `sf::st_as_binary(nc$geometry)` and transform the Well-known text (WKT) into Well-known binary (WKB) encoding?
https://r-spatial.github.io/sf/articles/sf1.html#wkb

[2020-01-23 10:03] hope-data-science commented on #230
Nice! I think I can make the function `filter_fst` right away. This should be useful even currently it might not be fast enough.

[2020-01-23 10:05] MarcusKlik commented on #232
Hi @andschar,

thanks, yes, the _WNB_ format seems to be universal across languages, so that would be great to use!

Following the example above:

[code]

some data seems to be missing after the round-trip, but that's just fine-tuning I think...

The performance might be a problem though:

[code]
that's about 100 MB/s for encoding, slow but acceptable.
For decoding we have

[code]

That's pretty s

[2020-01-23 10:10] MarcusKlik commented on #232
(and [the format](https://mariadb.com/kb/en/well-known-binary-wkb-format/) is not too complicated I see, so it's probably not very difficult to directly parse it...)

[2020-01-23 13:26] winston-p commented on #228
@xiaodaigh and @MarcusKlik , perhaps we can leave it as it is unless someone else faces the same issue in future and found that indeed `Rcpp` is the solution? My case is just but one incident.

My 2 cents for your consideration.

[2020-01-23 13:57] MarcusKlik commented on #228
Yes, agreed, if this issue resurfaces, we can investigate and put the lower boundary on `Rcpp` if needed.

Thanks for all the testing and suggestions!

[2020-01-23 13:59] SimonCoulombe commented on #232
I understand about 50% of what is going on and 0% of the amount of work involved to make this happen, but I am reading this with glee...  :)

[2020-01-29 02:03] lhenneman opened #233 "segfault reading (possibly corrupt) fst file on Linux/Mac"
Hi,

Love the package! But I've got a sticky problem. I wrote a program that writes millions of .fst files in parallel. Some of these, it turns out, are corrupt (possibly because of issues with the scratch file system I'm using, possibly because of an accident writing the same file from parallel processes). There are no differences in the metadata between uncorrupted and corrupted files.

When I t

[2020-01-29 09:22] MarcusKlik commented on #233
Hi @lhenneman, thanks for submitting your issue and making the corrupt file available for investigation!

I will try and find the exact problem with this particular file and get back to you on that.

Are you using parallel `R` processes to write the files from the cluster (for example with `parLapply`) ? In principle, I would expect the _write lock_ on files that are open for writing to prevent ac

[2020-01-29 09:24] renkun-ken commented on #233
It looks similar with #214.

[2020-01-29 11:14] MarcusKlik commented on #233
Hi @lhenneman,

I checked your file and from the debugger I can see that your file has 5 columns and 11319 rows, is that correct?

Upon reading the first 32 kB block of the second (double) column, decompression fails.

The file position of this compressed block is retrieved from the metadata. This data is hashed correctly, so that must mean that `fst` has written the file to the end and calculated

[2020-01-29 14:22] lhenneman commented on #233
Thanks so much for looking into this and your helpful information! For your questions:

1) These files are written from independent R processes, so there aren't wrappers like parLapply or mclapply to protect the files independent of any system protections. But I'm writing these ~4.5 million .fst files from 500 processes, so the likelihood that two processes would be writing to the same file is sma

[2020-02-01 23:13] hope-data-science commented on #230
The work is almost done, though not published on CRAN yet.
See <https://hope-data-science.github.io/tidydt/reference/fst.html>.

[2020-02-05 09:30] MarcusKlik commented on #230
Hi @hope-data-science, nice work, thanks for the heads up!

[2020-02-05 09:34] MarcusKlik commented on #233
yes, exactly, when loading a datablock from a _fst_ file into memory, the hash can be calculated. If that hash corresponds to the hash that was stored in the file itself, we can (almost) be sure that the data was not corrupted in the read write cycle....

[2020-02-27 03:44] hope-data-science commented on #230
CRAN already, FYI: <https://hope-data-science.github.io/tidyfst/articles/example5_fst.html>

[2020-03-02 11:46] MarcusKlik opened #234 "stringsAsFactors defaults to FALSE for upcoming R 4.0.0"
From the CRAN message:

Please see the problems shown on
<https://cran.r-project.org/web/checks/check_results_fst.html>.

Specifically, see the problems shown for the r-devel Debian checks.

These can be reproduced by checking with --as-cran using a very current
r-devel (r77865 or later), which makes data.frame() and read.table() use
a stringsAsFactors = FALSE default, which is planned to become t

[2020-03-02 21:27] #234 closed, assigned to MarcusKlik

[2020-03-04 04:45] strazto commented on #167
@rushgeo thank you very much for the solution, it did help me get further in installation of the package on a cluster.

[code]

Unfortunately, I still hit an error in installation:

[code]

[2020-03-04 04:56] strazto commented on #167
This new build error is documented here: https://github.com/ContinuumIO/anaconda-issues/issues/3885

One person suggests that I need to use the same compiler that I ( cluster admins ) used to compile R.

To investigate this, I do the following:

[code]

[code]

I notice `-I/usr/local/gcc/4.9.3/include`

Which may imply that gcc/4.9.3 is what I need to use to compile `fst` on my system.

I noticed

[2020-03-05 08:27] #213 closed, assigned to MarcusKlik

[2020-03-07 12:12] phillc73 opened #235 "Consider FSST for faster, smaller string compression"
Came across the [FSST repository](https://github.com/cwida/fsst) today and wondered if this approach might be an improvement for string compression in `fst,` as long as the column type was known or assumed to be strings.

The README in that repository says their approach has some advantages for string compression, when compared to the block based LZ4 compression approach.

[2020-03-09 08:38] MarcusKlik commented on #235
Hi @phillc73,

thanks for the pointers!

From what I read in the `fsst` publication, it looks like `fsst` has a smart and promising approach especially tuned to (short) sting compression and it shows solid compression performance. That makes it very suitable for character column (de-)compression. And the licensing seems suitable for use in `fst`.

In a nutshell, it uses a scheme similar to `R` fac

[2020-03-19 06:50] hope-data-science commented on #230
Is there a way for me to get the path from a fst_table?

[2020-03-19 07:07] hope-data-science opened #236 "fst_table as a serious class"
I find fst_table a very useful class, do not have to read the file physically but could get enough information to know how to process. Perhaps there could be more methods to deal on it, e.g. `is.fst.table`, `path.fst.table`, `summary.fst.table`, etc. I think this is going to be popular in big data analysis in R.

[2020-03-27 12:07] brendanf commented on #226
I'm not sure exactly how, but it looks like the conda-forge build process was updated in a way that fixed this problem.  The package is building fine on all platforms now.

[2020-03-27 17:03] MarcusKlik commented on #226
great, thanks a lot for reporting!

[2020-04-03 12:20] MarcusKlik commented on #230
Hi @hope-data-science, you can get the original filename from the _fst\_table_ object using:

[code]

You can't get the list object through the normal channels (with `[[` or `$` operators) because of the operator overrides defined on the _fst\_table_ object :-)

[2020-04-03 12:53] hope-data-science commented on #230
This is great!  I could try build more facilities on it if possible.

[2020-04-03 13:19] MarcusKlik commented on #236
Hi @hope-data-science , thanks for the feature request!

Having more options to manipulate and view characteristics of the offline dataset would be very useful indeed. But those can be better served in separate `R` packages that import `fst` for the low-level operations (such as the `fstplyr`, `fsttable` or your `tidyfst` packages).

So `fst` can provide the lower-level operations and access to me

[2020-04-03 13:36] hope-data-science commented on #236
I am not so familiar with the implementations underneath, what you mention as "low-level abilities" are acutually quite "high-level" to me. If these abilities could be done in `fst`, faster and memory efficient, I think that would be amazing! At the very first, my expectations are just:

How to access data more efficiently from fst file? How to subset data more flexibly (by group? filter? slice? s

[2020-04-03 14:10] MarcusKlik commented on #236
Hi @hope-data-science, you're right, `ft[0, ]` should definitely have an output identical to `DT[0, ]`, using the example code above:

[code]

thanks for pointing that out, I'll schedule a fix for the next release!

[2020-04-03 14:20] MarcusKlik opened #237 "fst_table returns a zero-row table when using ft[0, ] syntax"
A _fst\_table_ object is expected to mimic the behavior of a _data.frame_. Therefore, `df[0, ]` syntax should return a zero-row table without an error or warning:

[code]

thanks @hope-data-science for reporting!

[2020-04-03 14:21] MarcusKlik commented on #236
added as [a separate issue](https://github.com/fstpackage/fst/issues/237)

[2020-04-03 17:19] cwdjankoski opened #238 "compilation fails with `unknown option : -platform_version`"
Hi @MarcusKlik ,
thank you for this wonderful package and all your work - much appreciated!

I am having similar troubles like in issue #226 - searching for the error actually brought me here. At first i was getting the same error
[code]
But after `brew install llvm` + exporting the compiler flags `LD`/`CPP` - it seemed to go smooth until it hit a new problem :-\
[code]

I am wondering if this is

[2020-04-08 16:22] Courvoisier13 opened #239 "Is there any indexing possible"
Hi,

I looked and I couldn't find if there was an issue about this before. But is there a possibility or a plan to create indexes to fst files to make searching and filtering faster. It would make the fst::fst function so much more powerful and would avoid having to create folders and splitting the files to make access to a subset faster.
There are issues talking about filtering, selecting and spe

[2020-04-08 21:11] MarcusKlik commented on #238
Hi @cwdjankoski, thanks for your kind words!

The error is a bit puzzling, `--platform_version` doesn't seem to be a valid linking option for both `gcc` and `clang`, do you know were the option is coming from?

Did you try using the steps [defined on the `data.table` wiki](https://github.com/Rdatatable/data.table/wiki/Installation#openmp-enabled-compiler-for-mac) to install `llvm`? Unfortunately,

[2020-04-08 21:48] MarcusKlik commented on #239
Hi @Courvoisier13, yes, the option to add indices to a _fst_ file would be great!

To the user, these indices could work like `data.table`'s [secondary indices](https://cran.r-project.org/web/packages/data.table/vignettes/datatable-secondary-indices-and-auto-indexing.html) and can be stored in two or more extra columns for each index (the keys and corresponding row numbers).

Because the tabular d

[2020-04-10 07:26] MarcusKlik opened #240 "Move `fstlib` bindings into a separate package"
I'm thinking of splitting the `fst` package in (at first) 2 components:

* one component with the 'core' functionality (the R bindings to the `fstlib` C++ library)
* one component with the `R` API (such as presented in the `fst` package)

The reason is that this setup would allow for independent updates to the `LZ4`, `ZSTD` and `fstlib` libraries and to the `R` code in the `fst` package. This is i

[2020-04-10 08:51] Courvoisier13 commented on #239
Thanks @MarcusKlik for the detailed analysis. The way I understand it is some sort of index "light" to allow for easy filtering on those indices, and next step would be grouping. Looking forward to your updates :)

[2020-04-10 12:02] MarcusKlik commented on #240
done, for now the Travis builds are run using `fstcore` in the Remotes field (from Github). Next step is to publish `fstcore` to CRAN so that it can be added as a standard dependency.

[2020-04-10 12:02] #240 closed, assigned to MarcusKlik

[2020-04-11 04:30] hope-data-science commented on #236
I've designed a new tool to work with fst, which is considered to be more memory efficient.
Link: <https://hope-data-science.github.io/tidyft/articles/Introduction.html>

[2020-04-19 07:16] shoonlee commented on #99
Hi Mark! Thanks for a fantastic package. It's great to have an empty data writing feature, which I find most helpful when running a function over 50 states and some of them have 0 observations a posteriori.

Related to that, is it possible to add a feature that reads in an empty file? Again, for me, it would be most helpful when reading in files from 50 states with a few empty ones. When I tried i

[2020-04-21 09:02] MarcusKlik commented on #99
Hi @shoonlee, thanks for posting your question! I'm not sure I understand the exact code you are running, could you post it?

Reading an empty file should be possible now, as in:

[code]

[2020-04-22 07:25] shoonlee commented on #99
Hi Mark, thanks for your reply. Upon double cheking, it was due to a silly mistake on my side. Sorry to bother you.

[2020-04-22 13:40] MarcusKlik commented on #99
Hi @shoonlee, no problem, thanks for getting back on that and letting us know!

[2020-04-24 15:10] nbenn opened #241 "Github actions compile troubles"
I assume this is closely related to #226 and at least in part to #238 but I decided to open a separate issue because #226 is marked as resolved (and focuses more on Conda) and #238 is more concerned with a follow up problem. The focus here is compiling with github actions using the [check-full.yaml](https://github.com/r-lib/actions/blob/master/examples/check-full.yaml) config example of [r-lib/act

[2020-04-25 08:59] nbenn commented on #241
@MarcusKlik also, feel free to close this again if you think this is more of an issue of how to properly set up gh actions. I mainly raised the issue here b/c I was hoping that something might be improved on the `fst` side of things, to make to build experience more robust.

[2020-04-25 21:32] MarcusKlik commented on #241
Hi @nbenn, thanks for reporting, I would definitely like to add github CI to the `fst` repository, so it's very relevant!

To test the _check\_full.yaml_ example, I've created a [new repository](https://github.com/MarcusKlik/gh-actions) and enabled github actions. The OSX build produces the error that you report above.

The errors are consitent with a linking problem where components build with `l

[2020-04-29 07:13] dipterix opened #242 "Cannot detect openmp on OSX Catalina"
Heads up:

For those who found this issue. Basically starting from R 4.0, CRAN uses the compilers shipped with system to compile R packages. This is a bad news for Apple users as Apple's "damned" compilers miss some important features, for example, `OpenMP`. Therefore all the compiled packages on CRAN don't have OpenMP enabled on OSX by default. Well, you have probably found that packages such as

[2020-04-29 10:01] dipterix commented on #242
Found in [R documentation](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#OpenMP-support):

I guess you are using `$(SHLIB_OPENMP_CFLAGS)` in Makevars. R 4.0 starts to use system tools instead of its own, which provides empty flag on MacOSX as Apple doesn't provide full tool chain unless you brew install it. However, then we need to manually configure it up.

[2020-04-30 09:16] strazto opened #243 "Question: What are the minimum and maximum number of cores I need for which fst's performance is optimized?"
Hi all -
Thank you for developing this very cool package!

I run my processing / analysis workflow on my work's HPC cluster.
Usually I distribute the work by simply dividing a given dataset into `d` partitions, and then giving that to `n` nodes.

Typically I don't give my worker nodes very many cores, though I'm flexible on how much I ask for for my master node.

In your docs, you state that the p

[2020-05-01 22:31] MarcusKlik commented on #242
Hi @dipterix, thanks for reporting! Did you have these problems with earlier versions of `R` as well? And can package `data.table` be installed without any problems on your system?

(if so, I might adopt a similar strategy as `data.table` uses, by using a configure script to detect `OpenMP` compatibility)

thanks!

[2020-05-01 22:49] MarcusKlik commented on #243
Hi @mstr3336, thanks for your interesting questions!

The (de-) serialization performance of `fst` on your system (or node) depends on multiple factors:

1. Firstly, the maximum speed of the storage device (SSD). `fst` can't push more bytes through your system than this maximum, so that's a hard limit.
2. But to increase throughput, the data stream can be compressed. That will increase single core

[2020-05-02 03:55] dipterix commented on #242
No, data.table also failed. There are two problems:

1. Apple's default tool sets support no `openmp`. This can be fixed by detecting whether brew has `llvm` and `libomp` installed and we can use brew's compilers
2. Since R 4.0.0, CRAN's OSX machine which produces binary repository doesn't have openmp library, this means even your configure files detects openmp on my machine, it I use `install.pac

[2020-05-03 21:24] waynelapierre opened #244 "benchmark against parquet"
Could you add the benchmark of fst against parquet?

[2020-05-03 21:59] MarcusKlik commented on #242
Hi @dipterix,

thanks for sharing your exact setup, it's good to read that you got the source installation to work with `OpenMP` enabled using those flags. And yes indeed, it's very unfortunate that the CRAN binaries only provide single threaded mode, a configure script won't help much there as you say.

Perhaps it would be helpful to OSX users to add the exact installation instructions to [the re

[2020-05-04 00:35] dipterix commented on #242
Hi @MarcusKlik,

You might want to give Mac users some instructions on how to get these environment variable set up in your README. An alternative is to compile the code by yourself and let them install it. For example, I'm using my personal [repo](https://dipterix.github.io/drat/), which contains several compiled packages I daily work on. Just compiled your `fstcore` and tried. It worked great.

[2020-05-06 12:56] MarcusKlik commented on #242
Hi @dipterix,

that's interesting, so you can effectively create a binary package repository for Mac users and host your own pre-compiled packages there. That might be a solution.

On the other hand, there are also some very good guides available about how to setup a system using `R` and `OpenMP` ([this one](https://ryanhomer.github.io/posts/build-openmp-macos-catalina-complete) looks very complet

[2020-05-06 13:04] MarcusKlik commented on #244
Hi @waynelapierre, thanks for your request!

I was planning to update the benchmarks using a new package [synthetic](https://github.com/fstpackage/synthetic). With that package those benchmarks can be done in a precise and consistent manner for a wide range of systems and synthetic datasets.

Unfortunately, I haven't had time to finish and release it yet. If that takes too long, I will probably up

[2020-05-14 18:08] aadler opened #245 "Does it make sense to link to existing zstd/lz4 libraries when building R4 from source on Windows?"
The new package manager system for building R on windows has the [ZSTD](https://github.com/r-windows/rtools-packages/tree/master/mingw-w64-zstd) and [LZ4](https://github.com/r-windows/rtools-packages/tree/master/mingw-w64-lz4) libraries available. Would it make sense to link to those instead of building it from scratch when building from source? Thanks!

[2020-05-16 14:09] sheffe commented on #242
Adding a FWIW report here -- I am out of my depth in understanding everything that follows, but it magically worked and might be a useful datapoint.

I was able to get `fst` built from CRAN with `install.packages("fst", type = "source")` following @dipterix 's nice instructions above, but *not* `data.table`. Installing `data.table` and `fst` from source with OpenMP support for both required the fo

[2020-05-17 19:58] MarcusKlik commented on #245
Hi @aadler, thanks for your suggestion!

It's great that `ZSTD` (nice work :-)) and `LZ4` are now part of the `rtools` package manager and it would definitely be much simpler to have `fst` get the compressors from `pacman`.

As a sidenote, similarly, on `linux` we could also use the distributed packages instead of compiling code, that would definitely make it a lot easier to pass the CRAN precheck

[2020-05-17 23:06] aadler commented on #245
Hello @MarcusKlik. You are correct. I know that the great Duncan Murdoch (and I don't use that term lightly) is working on a way to detect R3 vs R 4 at build time so that the `rgl` package can either use native png/jpeg/freetype in R4. I'm not sure exactly how he did it though. While R-forge is harder to navigate than github, I figure that manually looking at the changes in the [rgl repository](ht

[2020-05-17 23:09] aadler commented on #245
It seems that the [specific revision](https://r-forge.r-project.org/scm/viewvc.php?view=rev&root=rgl&revision=1741) is just an update for 4.0, and that he hasn't committed anything with build-time logic yet

[2020-05-17 23:12] s-u commented on #245
One problem is that packages still have to work with Rtools40 and without. It would be nice to detect the presence of the msys2 libraries and only use the fall-back if they are not present, but I have yet to get an answer about the official way of detecting it. I'll try to look into it this week and can report back.

[2020-05-19 13:27] MarcusKlik commented on #245
thanks @aadler  and @s-u, yes, if we can detect `msys2`, that would be extremely useful!

Another thing is that we must be 100 percent sure that the API of the `C++` library doesn't change and breaks the package build. I guess that will be true for `ZSTD` and `LZ4`, at least for the basic entry points. Even better would be to set up a system where (`R`) packages can be tested against `dev` version

[2020-05-19 20:30] s-u commented on #245
That is really a question to @jeroen - previously, the CRAN setup tended to be more "frozen" so you wouldn't expect changes. However, the roll-out of the Rtools40 toolchain on CRAN is fairly new so I don't think there was any official definition of the process for upgrading libraries yet, but Jeroen (or Uwe?) is the best person to clarify.

[2020-05-19 21:40] jeroen commented on #245
As Simon said, the roll-out of rtools40 is very fresh. During the first year of a new toolchain we are in a transition period while CRAN is building binaries with different toolchains for R 3.6 and R 4.0. So you shouldn't assume new rtools40 features like C++17 or availability of system libs.

I expect we can really start taking advantage of the rtools40 package manager after the release of R 4.1

[2020-05-21 06:50] MarcusKlik commented on #245
Hi @jeroen, thanks for clarifying that!

So for now I guess it's best to wait until April 2021 and see how the CRAN toolchain is setup at that time.

thanks @jeroen , also for your incredible work on the `rtools40` toolchain and windows releases :-)

[2020-05-21 13:45] aadler commented on #245
@jeroen, is there a central place for conversations about packages updating for rtools40 on Windows, specifically the discussions you imply around how Uwe and CRAN will handle external package updates. Would that be R-sig-windows or eventual,ly R-devel?

[2020-05-29 11:05] brendanf commented on #226
It looks like I spoke too soon in https://github.com/fstpackage/fst/issues/226#issuecomment-604964764 -- I thought this was resolved because I was able to get the version I wanted in conda, but it turns out it was coming from the default `r` channel, not from `conda-forge`.

[2020-06-02 21:40] MarcusKlik opened #246 "Compact row names"
From @jangorecki  (see [here](https://github.com/MarcusKlik/fst/commit/4fb0ab68c3769a9999ae0b5c5b8411d2aca23423#r39591255)): instead of using a full sequence to specify the row names, use the compacted representation from `base::set_row_names()`.

This will provide a lower memory footprint for reading _fst_ files using `R` < 3.5, where ALTREP vectors are not available for compact row name represen

[2020-06-02 21:48] #246 closed, assigned to MarcusKlik

[2020-06-02 21:51] MarcusKlik commented on #226
Hi @brendanf, thanks for the heads up, that's very unfortunate! Looks like we have to dig deeper into the exact conda build system setup to get to the bottom of this...

[2020-06-06 04:32] waynelapierre opened #247 "Backward compatibility"
I have used your fst package for a while and it works great. I currently save my datasets in csv format but I am considering fst format as a substitute. I would like to know whether backward compatibility will be guaranteed for future releases of your fst package because I don't want to risk not being able to access my datasets when there is a breaking change.

[2020-06-06 04:53] renkun-ken commented on #247
In the README

I’ve been using fst in work and production for a long time. It’s stability and backward compatibility are quite impressive.

[2020-06-06 11:59] waynelapierre commented on #247
Based on the number of contributors to this package, I tend to consider it as a one-person hobby project. I would like to know how long-term this package will be maintained.

[2020-06-08 18:14] MarcusKlik commented on #247
Hi @waynelapierre, thanks for your question.

As @renkun-ken already indicates, all future `fst` releases will be able to read previous versions (>0.8.0) of _fst_ files.

But you're right to ask about long-term maintenance. Currently, there are only few authors of the _fst_ package and I'm the sole author of the (C++) `fstlib` library on which the package is based. Although that may change in the

[2020-06-24 08:58] dipterix commented on #196
@MarcusKlik thank you for developing such great package and appreciate for the recently published `fstcore` package. I solved my issue by implementing cpp level control with fstcore ([`lazyarray`](https://github.com/dipterix/lazyarray)). This issue can be closed.

[2020-06-24 09:32] MarcusKlik commented on #196
Hi @dipterix, thanks for the heads up and great to hear that direct usage of the `fstcore` API works for you!

[2020-07-14 16:52] arunsrinivasan commented on #99
Hi @MarcusKlik, excited to see this FR implemented. However it still doesn't work on `NULL` tables.

[code]

`save()` handles this quite the same as empty/0-row tables. What do you think?

[2020-07-15 08:27] fstpackage commented on #99
Hi @arunsrinivasan, and I though we tackled this one :-)

Yes you're very right, serialization behavior of `NULL` tables should be equal to `save()`, thanks for reporting!

[2020-07-17 07:23] #99 closed, assigned to MarcusKlik

[2020-07-17 07:26] MarcusKlik commented on #99
Hi @arunsrinivasan, `NULL` tables are now supported directly in the _fst_ format:

[code]

with this binary implementation it is possible to store table attributes if required as a future enhancement.

Note that you will need the [dev version](https://github.com/fstpackage/fstcore#installation) of the `fstcore` package to make this work!

[2020-08-18 06:59] dipterix opened #248 "Support big-endian platforms"
Hi @MarcusKlik

I recently submitted a package to CRAN, it gets this error during check with Solaris (https://cran.r-project.org/web/checks/check_results_raveio.html)

[code]

This error comes from `fst` (https://cran.r-project.org/web/checks/check_results_fst.html)

[code]

Would you like to investigate?

[2020-08-18 17:44] MarcusKlik commented on #248
Hi @dipterix, thanks for your question (and congratulations on your `raveio` CRAN submission 👍)

The Solaris errors are due to `fst` being build for little-endian machines and Solaris is big-endian. You can indicate this by setting

[code]

in file `DESCRIPTION` in the source of your package. That way, CRAN will still check your package on a Solaris machine but not fail your submission because of

[2020-08-18 19:31] dipterix commented on #248
Uh... I thought fst once supported big-endian system, or Solaris is unsupported all the time? Also do you have any plan to enable big-endian support because neither LZ4 nor ZSTD forces endianess?

[2020-08-19 08:36] MarcusKlik commented on #248
Ha @dipterix, it's possible to use `fst` on a big-endian system without problems if you just write and read on the same system. But when a _fst_ file written on a little-endian system is read on a big-endian system (or vice versa), that's when problems start.

In earlier submissions, CRAN checks were successful because the unit tests did not include reading in default _fst_ files created on a litt

[2020-08-19 12:41] dipterix commented on #248
I see. Is it possible to store pre-designed bytes within the meta block that indicates the endianess, for example one or multiple `00001111` (or something that has very low probability to occur) at both ends of the file. In this case, if the bytes read are `11110000`, then you know the endian should be changed, otherwise if the bytes are not `00001111`, just assume there is no overhead. I guess yo

[2020-08-21 16:06] m-swirski commented on #231
Hi, is resolving the issue with a logical vector for fstlib  planned? It would be extremely useful to have an option of full random access instead of the fst::read_fst(file, from = min(v), to = max(v))
I found that up to several hundred intervals it's usually faster to load them with seperate read_fst instances, rather than getting them all at once, provided they're far apart.

[2020-08-28 04:13] pletzer opened #249 "compilation fails on Mac OS X Darwin Kernel Version 19.6.0"
Hi,
I'm getting the following error when building fst on Mac Catalina Version 10.15.6:

Downloading GitHub repo fstPackage/fst@develop
Downloading GitHub repo fstpackage/fstcore@develop
   checking for file ‘/private/var/folders/9n/xdj7z1gd3ps96j4nqzgkfd1h0000gq/T/RtmpFFMsy8/remotes1b844b5c5574/fstpackage-fstcor✔  checking for file ‘/private/var/folders/9n/xdj7z1gd3ps96j4nqzgkfd1h0000gq/T/RtmpFFMs

[2020-08-28 04:25] pletzer commented on #249
I tried to
brew install libopenmpt
brew install xxHash
I'm still having the same error

[2020-08-28 04:35] pletzer commented on #249
Also tried

export PATH="/usr/local/opt/llvm/bin:$PATH"
export LDFLAGS="-L/usr/local/opt/llvm/lib"
export CPPFLAGS="-I/usr/local/opt/llvm/include"

as suggested by https://github.com/fstpackage/fst/issues/226 after making sure llvm is installed. To no avail.

[2020-09-07 07:54] MarcusKlik commented on #249
Hi @pletzer, thanks for reporting, the installation fails on the `dev` version of the `fstcore` library. What happens if you install `fstcore` first?

[code]

[2020-09-07 08:05] #247 closed, assigned to nobody

[2020-09-07 08:08] #229 closed, assigned to MarcusKlik

[2020-09-16 08:10] MarcusKlik commented on #248
Hi @dipterix, you're exactly right :-)

In fact, I have already prepared a binary flag in the header of the file that stores the endianess, see [this specification](https://github.com/fstpackage/fstcore/blob/develop/src/fstlib/interface/fststore.cpp#L61). But at the moment, the value is not used to check against the systems endianess, because [DESCRIPTION](https://github.com/fstpackage/fst/blob/de

[2020-09-20 07:33] pat-s opened #250 "Installing from source fails on macOS"
Should be the same as #241 but with a more descriptive title.

I am facing this issue locally since months - in addition, the GitHub Actions install failures cause headaches from time to time.
Time to put some weight onto it :)

I saw you moved the issue to the next milestone. Do you have any idea when it will be tackled?

Note that CRAN tests on macOS 10.13 and the latest SDKs are somewhat troubl

[2020-09-20 14:27] mlell opened #251 "Loading the fst packages initializes the RNG even though it is not used"
To make sure that all my scripts are reproducible, I ensure that they either receive a command line argument that sets the RNG seed via `set.seed()` or that they do not use the RNG. As the R variable `.Random.seed` is defined on the first RNG run in a session, I throw an error if `.Random.seed` exists but no SEED was provided to the script.

However, loading the `fst` packages creates `.Random.see

[2020-09-22 11:33] MarcusKlik commented on #251
Hi @mlell, thanks for submitting your issue!

Parameter _.Random.seed_ is not set directly in `fst`, but perhaps it's set in some of it's dependencies? Also, I found that when I run your script in a fresh `R` session after starting `rstudio`, parameter _.Random.seed_ is already initialized. But starting a new session from the `R GUI` apparently does not initialize  _.Random.seed_, so something is

[2020-09-25 10:13] mlell commented on #251
@MarcusKlik , samplertest_1 and samplertest_2 show that the RNG is not *used* by fst, no random number is actually generated during package init. This was meant to show that fst (or one of the dependencies) does not need the RNG for anything.

But the example above (".Random.seed") shows that it (or a dep) does initialize the RNG, in contrast to other packages like dplyr (i chose that because dply

[2020-09-26 14:08] riccardoporreca commented on #251
@MarcusKlik, @mlell, this is due to the functions called `.onLoad()`:
https://github.com/fstpackage/fstcore/blob/c96028e320e8d723f991ef6134dc2245b6e5f1b0/R/package.R#L209
Those are C++ functions exported to R using `// [[Rcpp::export]]`, which are wrapped in RcppExports.cpp with code handling the RNG scope, which I believe implicitly initialize the internal state `.Random.seed`.

I did a quick che

[2020-09-29 14:45] gabrimaine commented on #250
I solved the problem installing fst via `with_makevars` to set the path to llvm:
[code]

[2020-09-29 18:22] richierocks commented on #184
This issue has been quiet for a while. Has any progress been made with Python access to fst? (I'm very excited for this feature!)

[2020-10-02 09:14] mlell commented on #251
@riccardoporreca, thank you for this research! So is it as simple as adding this attribute, or should we include tests that make sure that the RNG is not used? But I don't know how to do that. First I thought of something similar like in the script above:

[code]

But would that work? If a C function uses the RNG without initializing, maybe the RNG state will not be forwarded to R so the test cann

[2020-10-02 13:08] riccardoporreca commented on #251
@mlell, I think one should just follow what the vignettes recommends

I doubt package maintainers would have to rely on unit tests to know if their C++ code uses RNG, and if that is the case (unless completely expected, like in C++ functions doing random things) this should be investigated and at least documented.

Overall I think we can summarize the matter as follows, which makes it ultimately a

[2020-10-02 15:50] coussens opened #252 "fst detects (and says it's using) 32 threads, but appears to only use 1"
First off, fst is awesome! Thanks for all your hard work.

I'm labelling this a question, since I'm pretty sure the problem is on my end, and not with fst (because I'm not having this problem on all machines, just this CentOS machine I'm currently working on) but wanted to see if this is a common issue and if anyone has a suggestion as to why this might be occurring.

Basically, when reading an .f

[2020-10-05 11:39] MarcusKlik commented on #252
Hi @coussens, thanks, I'm glad `fst` works for you!

About your issue, because `fst` detects the 32 threads on your system, it seems very likely that `OpenMP` is installed correctly. But `fst` can switch back to single core mode after a fork has been detected. Are you running `fst` in multiple processes or are you using one of the parallel (cluster) methods to execute your code (like `clusterApply

[2020-10-05 12:02] MarcusKlik commented on #251
Hi @riccardoporreca, great, thanks a lot for clearing that up, I didn't know about `Rcpp`'s automatic establishing of the  RNGScope!

In that case, I think we can safely use the `Rcpp::export(rng = false)` option and claim those 2 ms of startup time :-)

[2020-10-05 12:21] MarcusKlik commented on #251
Hi @mlell and @riccardoporreca, with the latest commit (in `fstcore`), the random seed is not initialized anymore, thanks a lot for the find and solution!

[code]

[2020-10-05 12:21] #251 closed, assigned to MarcusKlik

[2020-10-05 15:03] coussens commented on #252
Thanks, @MarcusKlik. I'm pretty sure this was the issue. I suspect what was happening is that I had some zombie R processes lying around from previously using disk.frame (and likely improperly terminating it at some point). After doing a `killall R`, it seems like .fst is now using multiple threads again!

Relatedly, do you know if there are any helper functions or options one could use from insid

[2020-10-05 20:51] pat-s commented on #250
@gabrimaine I confirm that this works, thanks! Maybe this can help @MarcusKlik to implement a generic fix.

[2020-10-05 21:09] MarcusKlik commented on #252
Hi @coussens, I've added a diagnostic method `is_forked()` to the `fstcore` package (currently on the _release_ branch) that will tell you if the current process has been forked, so now you can do:

[code]

(note that this will only work on _linux-alikes_ as forking has no meaning on `Windows` systems)

This method will detect a fork for you. But I'm not sure how you could delete a forked process

[2020-10-05 21:19] MarcusKlik commented on #250
Hi @gabrimaine, thanks for sharing your solution and @pat-s thanks for testing!

I've activated the `R-CMD-check action` on the `fstcore` repository to reproduce your error, see [here](https://github.com/fstpackage/fstcore/runs/1211314015?check_suite_focus=true#step:10:136). We can use that to test a fix. The thing is, I can't just add the `LDFLAGS` and `CPPFLAGS` to the package `Makevars`, as use

[2020-10-06 07:26] pat-s commented on #250
Looks like an OpenMP issue to me, i.e. the wrong pointers are set / or the wrong are found during source installation.

If I install the binary, OpenMP is also not detected (which is expected given that {data.table} also does not find it by default).

[code]

Not sure how {fst} does it but maybe looking how other popular packages (e.g. data.table) handle OpenMP might be fruitful?

See also https:/

[2020-10-12 16:06] coussens commented on #252
@MarcusKlik Sorry for the delayed response. Thanks for this! I think it's definitely helpful to have an easy way to check this when troubleshooting performance issues.

[2020-10-13 07:56] fstpackage commented on #252
Hi @coussens, no worries and thanks for your response! Is the new diagnostic method enough for your purposes so that we can close the issue?

[2020-10-13 11:11] xiaodaigh commented on #155
I think this is causing issues here https://github.com/xiaodaigh/disk.frame/issues/315 as well.

[2020-10-13 11:58] #252 closed, assigned to MarcusKlik

[2020-10-13 12:02] coussens commented on #252
Woops. Meant to close it already. Just did it now.

[2020-10-15 07:40] MarcusKlik commented on #155
Hi @xiaodaigh, thanks for the link, the following code example illustrates why you are having these problems:

[code]

so, unless you set `uniform_encoding = FALSE` when calling `write_fst()`, `fst` will not warn you about mixed encodings. So at the moment, that means that the user is responsible for setting a uniform encoding.

Checking or enforcing encoding takes a bite out of the performance, s

[2020-10-15 08:33] MarcusKlik commented on #184
Hi @richierocks, thanks for checking in on the progress. Unfortunately, I haven't had much time to work on a `python` package (as you have noticed :-)).

I do think the `python` bindings are very important, it's just that time is a real bottleneck here. The package will probably have to wait until later in 2021, apologies for that!

[2020-10-15 13:41] xiaodaigh commented on #155
Not a bad idea.

Simply `fst::write_fst(a, "ok.fst", uniform_encoding = FALSE)` throws an error

[code]

[2020-10-21 17:09] domq commented on #61
Still happening today (latest R, no OpenMP installed)

[code]

(If you'll pardon my French — Mac OS X is weird, at least `R` doesn't seem to care about environment variables when setting locale)

[2020-10-21 21:13] tonyxu-io commented on #71
I'm also looking for this feature, is this planned for any release soon?

[2020-10-23 23:34] riccardoporreca commented on #71
This is indeed a very interesting topic and would be a nice feature for the (already great) package fst.

@MarcusKlik, you may want to have a look at package [RApiSerialize](https://cran.r-project.org/package=RApiSerialize) (https://github.com/eddelbuettel/rapiserialize), which is used by package [qs](https://cran.r-project.org/web/packages/qs/index.html) providing a powerful fast alternative to `

[2020-10-30 10:16] MarcusKlik commented on #61
Hi, @domq, thanks for your question, `fst` does not use a configure script to detect the missing `OpenMP` libraries. If you want, you can install `llvm` using `homebrew` and then use the flags as described [here](https://github.com/fstpackage/fst/issues/250#issuecomment-700755680) to get things working?

[2020-10-30 10:26] MarcusKlik commented on #71
Hi @riccardoporreca, thanks, yes, I've studied `rapiserialize` before and it's definitely very useful when serializing from `C++`. The downside is that it stores the metadata in each serialized element if I'm not mistaken, so that leads to some overhead.

However, I could use `rapiserialize` to serialize each block in the `fst` format, in that case the overhead would be added to each block but not

[2020-11-09 02:51] QuinnAsena commented on #91
I think I'm having this issue at the moment. I output several dataframes as part of an analysis (around 1-2 GB each) and tried to bind them all together and save a single output.  I hit a memory block at the `rbindlist` level. I was wondering if something like this should work?:

[code]

I don't have much understanding of the workings of `fst` so maybe this is not even possible!

P.S. The `fst` pa

[2020-11-17 15:54] jangorecki commented on #216
Feather can write two different formats, v1 and v2. It would be nice to make it clear, especially in table in README, which format it is using.

[2020-11-27 18:22] jangorecki commented on #184
This SO can be improved when fst in python will be ready https://stackoverflow.com/a/64880745/2490497

[2020-11-27 21:21] MarcusKlik commented on #184
Hi @jangorecki, thanks for the heads up, when `fst` has a `python` interface, I will make sure to add the timings to your SO answer!

[2020-12-07 19:19] twest820 commented on #139
Hi @MarcusKlik, similar to @statquant I'm considering generating fst files directly, just from .NET rather than C++. Am I correct in thinking fstlib/tree/**master**/lib/fst/interface would be the interface to wrap (_e.g._ with a corresponding set of classes in C++/CLI) for fstlib 0.1.1? I don't see notes about this in [fstlib#5](https://github.com/fstpackage/fstlib/issues/5) or [fstlib#9](https://

[2020-12-15 09:38] MarcusKlik commented on #139
Hi @twest820, thanks for your question! Yes, you're right, an implementation in C++/CLI would involve implementing the interfaces defined in _lib/fst/interface_ but unfortunately the documentation for that is very limited. Do you have a custom (.NET) representation of in-memory tables for your application or is there a commonly used _default_ representation of columnar datasets in .NET ? It would

[2020-12-15 12:48] twest820 commented on #139
Hi @MarcusKlik, you're asking about [`System.Data.DataTable`](https://docs.microsoft.com/en-us/dotnet/api/system.data.datatable) in effect. However, I hesitate over how congruent ADO.NET (`System.Data`) might be with the sort of scenarios where people want to use `fst` as it tends to be oriented towards business recordkeeping use of SQL and seems less prevalent in data science-business intelligenc

[2020-12-18 16:06] andrew-vancil opened #253 "Read Error on Downloaded File Using Windows"
Hello,

We (@cole-brokamp) are working to develop a package that involves downloading and reading an .fst file from an AWS S3 location. When testing on a Windows PC, we have found that read.fst() produces an error when the input is a file downloaded using download.file() and the method argument is **not** specified. However, when the method in download.file() is set to **curl**, read.fst() will re

[2020-12-18 16:15] cole-brokamp commented on #253
Thanks, Andrew.  An additional note:

Using `download.file` on Windows should default to `method = "auto"`, which should result in the `wininet` method being used.  It's unexpected that the file contents or file header would be changed when using `wininet` versus `curl` to download an fst file, but this appears to be what is happening.

[2020-12-19 22:47] MarcusKlik commented on #253
Hi @andrew-vancil and @cole-brokamp, thanks for reporting the issue and for providing the code snippet!

Indeed, the two download methods seem to yield different results:

[code]

Where, as demonstrated in your code, the `curl` method works as expected, but `wininet` downloads extra bytes.
If we take a look at the raw file stream we can see that extra bytes are added after byte 128:

[code]

So, e

[2020-12-19 22:55] MarcusKlik commented on #253
Internally, `fst` uses hashes on all the metadata in the file. Because the extra `0d` bytes where added to the stream, these hashes don't match the original hashes anymore, and `fst` throws an error (as it should, as blindly using those bytes would most probably crash the session :-)).

[2020-12-28 19:26] tedmoorman commented on #90
I encountered this issue when I ran the <read_fst()> and <write_fst()> functions preceded by <fst::>. When I added <require(fst)> before running the functions, the error went away.

[2020-12-28 22:26] matthewgson commented on #250
@pat-s I also encountered this issue and I solved it with adding `CXX11 = $(LLVM_LOC)/bin/g++ -fopenmp` in `Makevars` file. For details, please refer to https://github.com/Rdatatable/data.table/wiki/Installation

[2020-12-29 05:46] dipterix commented on #253
I got a similar issue before. If guessing correctly, wininet treats `0a` as "new line" (see ASCII 0A). However, on windows, new line is `\r\n` (place cursor at the beginning, and then new line), which is exactly `0d 0a`, but on POSIX (linux and osx), return key is just `\n`. I think wininet was trying to change `\n` to `\r\n` here, which is stupid.

This could be a bug of R implementation? Maybe y

[2020-12-29 09:11] pat-s commented on #250
Thanks.

For many reasons this should be supported OOB in the package using Apples default clang compiler.
The issue is still present with the new 11.0 SDK.

The reason that CRAN checks are not erroring probably relies on CRAN checking on macOS 10.13 and not against the most recent SDKs.

[2020-12-30 17:30] cole-brokamp commented on #253
Thanks! This problem does persist with files hosted places other than AWS S3. The problem does appear to lie upstream with the `wininet` library.  We appreciate the help! @andrew-vancil -- let's close this issue since it isn't relevant here anymore.

In the future, we will avoid this problem, by forcing Windows users to use download.file with `curl`.

[2020-12-30 17:33] #253 closed, assigned to MarcusKlik

[2021-01-07 20:09] fstpackage commented on #139
Hi @twest820, yes, from what I can see, `System.Data.DataTable` stores it's data row-wise in memory, so that wouldn't really fit a columnar storage format like `fst` (it would have very large overhead). As you say, implementing `IFstTable` would probably be the best solution, does your internal data structure have a columnar layout?

Are you thinking of using the `fst` format primarily to reduce n

[2021-01-07 20:35] MarcusKlik commented on #90
Hi @tedmoorman, thanks for reporting!

Are you using a develop version of `fst` as indicated in the package startup message?

If not, your finding is a bit puzzling because there is no real difference between first attaching `fst` by using `require()` or `library()` before using `write_fst()` as compared to using `fst::write_fst()` directly (except for the startup message defined in [`.onAttach()`

[2021-01-07 20:48] MarcusKlik commented on #250
Hi @pat-s, you're definitely right, this should work OOB for macOS users. The `data.table` package is using a configure script now to detect OpenMP on macOS and I think it's a good idea to use a similar strategy for `fst` to avoid these installation problems.

[2021-01-08 19:46] twest820 commented on #139
Hi Marcus, I've been having a look at the fstlib sources and there's a number of things to consider. I'll try unpack what seem to be the most significant of them here. First, to answer your questions, our use structure is fairly typical cloud compute jobbing. The typical data lifecycle is download of .fst files from the compute machine to an analysis machine, many reads of those files as analysis

[2021-01-19 02:46] ssh352 commented on #242
macOS Catalina R 4.0.2 user, can't get openmp to work with fst, even after modifying the Makevars as instructed in this thread:

<img width="584" alt="Screen Shot 2021-01-19 at 10 44 28 AM" src="https://user-images.githubusercontent.com/41779116/104981402-8411cd80-5a43-11eb-81b7-5e670879f339.png">
<img width="1469" alt="Screen Shot 2021-01-19 at 10 45 29 AM" src="https://user-images.githubusercont

[2021-01-19 16:30] tedmoorman commented on #90
Hi @MarcusKlik, thank you for responding. I haven't experienced this recently, and an updated version of fst may have been installed. The package is fantastic! Thank you for your great work!

[2021-01-19 22:11] dipterix commented on #242
@ssh352 You need to install `llvm` and `libomp` using `brew`:
Open Terminal.app, type and enter
[code]

If you don't have brew, run this command-line to install brew first.
[code]

[2021-02-03 09:15] j-kreis opened #254 "read_fst() checks for incomplete fst files"
I am running R on a Mac with a M1 chip.

When I use the following code chunk R crashes with a 'floating point exception':

[code]

Reading smaller chunks of the fst works fine.

[2021-02-07 22:48] GitHunter0 commented on #155
@MarcusKlik  , that's what I'm looking forward, I think it is great idea and it would avoid a lot of headache.
Ideally, the user should be able to also choose another encoding like "Latin-1" (as data.table fread and fwrite allow), right?
This is the encoding that works for my language.

Right now I cannot properly use the `disk.frame` package for my work because of this very issue.
https://github.

[2021-02-16 20:33] mimaque commented on #242
I followed the instructions on this [link](https://github.com/kharchenkolab/conos/wiki/Installing-Conos-for-Mac-OS) and successfully ran `install.packages("fst", type = "source")` and have been able to use multithredding with `fst`.

Of course, you'll need to have the `llvm` and `libomp` installs from brew, as well as `gcc` and `gfortran`.

I had previously tried the steps above and some other lin

[2021-03-03 16:55] timholy commented on #105
Is 1346453840 little- or big-endian? https://github.com/fstpackage/fst/commit/fba29373571ff09e5b42d382710cc4b22bb49362#diff-12b68c61693d1b10d802c17bf22f5f714c248942a74b1d93af874e41b1186bc0R59

That is, is it `[0x50, 0x41, 0x41, 0x50]` or something else?

[2021-03-04 13:32] MarcusKlik commented on #105
Hi @timholy,

thanks for asking! Because this byte sequence is symmetrical, using it on big- or little-endian systems would yield identical (32 bit) integer values:

[code]

to get the _magic number_ easily from `R`, you can use:

[code]

hope that helps!

[2021-03-04 13:59] timholy commented on #105
Hah, I didn't even really notice the sequence, thanks for pointing that out.

[2021-03-04 14:07] MarcusKlik commented on #155
Hi @GitHunter0, thanks for your suggestion. And I agree, the current implementation will definitely cause you a lot of headaches if your language requires reencoding all character vectors before writing to disk using `fst::write_fst()`!

Also, `fst` assuming a uniform encoding, while beneficial for speed, reduces overall stability, so that's not ideal.

The easiest solution would be to allow for a

[2021-03-04 14:19] MarcusKlik commented on #254
Hi @ticarki, thanks for reporting!

It's hard to pinpoint the exact problem without the actual data. Does the following code lead to an identical error on your M1 chip?

[code]

also, what endianness is the M1 chip?

[code]

thanks

[2021-03-04 15:48] j-kreis commented on #254
Hi @MarcusKlik, thanks for your answer! Blame on me, I probably used an incomplete fst file. Would it be possible to add a check for that? Not relevant anymore, but `.Platform$endian` returns `"little"`

[2021-03-04 18:02] MarcusKlik commented on #254
Hi @ticarki, thanks for reporting back. Yes, adding a check for incomplete files would definitely add to the stability of `fst`. I will change the title of your issue and change it to a feature request!

[2021-03-04 18:44] GitHunter0 commented on #155
Hey @MarcusKlik , that would be great! Thanks for the feedback

[2021-03-05 19:41] Kodiologist opened #255 "Can't read 0 columns of a fst file"
[code]
If you're wondering why I'd want to do this, it's that I just wanted to compute how many rows are in a large file as fast as possible.

[2021-03-08 23:02] riccardoporreca commented on #255
@Kodiologist, if that is the sole reason for that, I guess you can simply use [`fst::metadata_fst()`](http://www.fstpackage.org/fst/reference/metadata_fst.html) (you can try on the example code)

[code]

The documentation linked above is not too explicit about this, but you can check the `str`ucture of the the classed list returned by `metadata_fst()` via

[code]

Alternatively, you can also use [

[2021-03-09 11:20] sametsoekel commented on #91
I think the same issue still going on, I checked the newest documentation and didn't see anything about merging on a disk. I also have large data stored on my disk and don't really know how to handle it. Something to solve this issue would be great!

[2021-03-09 13:21] Kodiologist commented on #255
Oh, I'd neglected the `metadata_fst` and `fst` functions. Thanks. In that case, I guess there's no real need to make this work, although the error message could probably be better.

[2021-03-12 22:13] MarcusKlik commented on #255
Hi @Kodiologist, thanks for your question! As @riccardoporreca shows in his comment, most metadata can be retrieved from a _fst_ file by applying the usual functions on the corresponding _fst table_ object:

[code]

The dev version now returns a zero-column table:

[code]

Would you prefer to have this function return a zero-column, 10 row table like with a `data.frame`?

[code]

(the behavior of

[2021-03-12 22:23] Kodiologist commented on #255
Thanks for the tips. My impression is that returning a 0-column, n-row data frame (or data table) is most logical, because it's consistent with the usual case of selecting nonzero columns.

[2021-03-14 16:38] SebKrantz opened #256 "Preserve (atomic) attributes to data frames and data frame columns?"
Hello, thanks for developing this package. This question has probably be asked in some form but I did not come across it yet: It would be nice if data frame attributes (such as the class) and other atomic attributes to columns (such as variable labels) could be preserved in the format. For example If I load a survey into R from STATA file format using the `haven` library, I get a tibble with "labe

[2021-03-24 04:13] jpcirrus commented on #239
First, many thanks for fst. Now an essential part of my R workflow.

Would this mean that data.table secondary indices would be preserved between fst writes and reads, as with the current data.table key?

[2021-03-30 07:09] hope-data-science opened #257 "Function `fst` not working when the directory has Chinese"
I have tried several times and find that the function `fst` will yield the following error if the path has Chinese characters:
![image](https://user-images.githubusercontent.com/32947502/112947778-d4a35680-9169-11eb-860a-d8cffd28cb14.png)
Any solutions? Thanks.

[2021-04-14 20:54] kuzmenkov111 commented on #91
+1

[2021-04-21 19:53] iwelch opened #258 "install failure, reinstall of R and fst"
latest R 4.0.5:

[code]

[2021-04-29 15:05] januz commented on #256
I came here with the same request! Even when not working with data from statistical packages like STATA, SPSS, or SAS, I like to label my data using the `sjlabelled` package for ease of switching between variable names and labels or values and labels, e.g., for plots and tables. One can use `qs` as it conserves all attributes, but I would love to use `fst` because of its capability of reading part

[2021-05-13 14:59] AssAssinsninja7 opened #259 "wrong forum"
posted in the wrong forum

[2021-05-13 15:07] #259 closed, assigned to nobody

[2021-05-17 13:25] Kodiologist commented on #96
There may be considerable value in just checking whether a column of doubles has only a few unique values before encoding it with the generic doubles compressor. I find that you can get considerable space savings by reencoding the column as integers.

    [1] 30.84678

    [1] 11.98134

[2021-05-27 17:41] rodonn commented on #258
I'm running into the same error on R 4.1.0

I'm using OSX 11.3.1 (20E241)

I tried `install.packages('fst')` as well as
`devtools::install_github("fstPackage/fst", ref = "develop")`

[2021-05-27 18:09] rodonn commented on #258
Duplicate of #250

[2021-06-15 18:37] jllipatz opened #260 "Problem with windows file names encoding"
Hello,

I tried to save a table named "enquête" into a file with the same name. :
write.fst(enquête,"Z:/enquête.fst")
It seems that the french character "ê" is translated to UTF8 before creating the file and as a result the saved file gets the the ugly name "enquÃªte.fst". This phenomenon doesn't apear when saving RDS, FEATHER, CSV, DBF files... and is abit problematic if the next step in the prog

[2021-06-23 08:41] hope-data-science commented on #257
I've introduce `fst` package to more users and they encouter this as well. Is there any progress to solve it? Thanks.

[2021-07-20 17:19] jonekeat commented on #91
+2

[2021-07-22 12:24] matthewgson opened #261 "Progress bar when read/write"
Thank you for creating this awesome package, and it has been my go-to package whenever I save big files on disk.
I hope to see the progressbar when I read/write big file. Is there a plan for implementing a simple progress bar option when reading /writing `fst` file in the future?

[2021-07-22 23:25] twest820 opened #262 "fst 0.9.4 package load fails with Rcpp 1.0.6 in R 4.1.0 (but not in R 4.0.5 or with Rcpp 1.0.7)"
On the surface, it appears fst is in compatible with R 4.1 installs using Rcpp 1.0.6. Curiously, though, I have one machine that's somewhat behind on updates with R 4.0.5 and Rcpp 1.0.6. fst 0.9.4 loads fine there, so the error message above might not be entirely correct.
[code]

I was able to get around this by updating the R 4.1 machine to Rcpp 1.0.7 but figured it might be worth capturing this

[2021-08-12 16:27] yurymaisiayonak commented on #91
Hello! Tell me please, Is there any plan to support append mode for fst::write_fst()?

[2021-11-03 19:36] pprado123 commented on #119
hello,

This issue just occurred to me. Same issue when writing a 3 GB file to a network drive. Was this solved? I just had to go back and redo the whole file. Anything I should consider to prevent this issue in the future? Should I talk to our IT about inconsistent I/O calls?

[2021-11-23 14:55] markdanese opened #263 "OpenMP not detected Mac 12 (Monterey) M1 (ARM) Mac"
I installed fst on a clean build of a new Mac M1 computer running OS 12 (Monterey).  Version 0.9.4.  I originally had trouble with data.table but finally got the Makevars working and data.table loads and recognizes OpenMP (see [this link](https://github.com/Rdatatable/data.table/issues/5271#issue-1060834643)).  But I can't seem to get fst to recognize OpenMP.  This is way outside my area of expert

[2021-11-24 14:03] gabowi opened #264 "How to extract contents from a fst file when R crashes reading it"
Hey everyone,

first of all thank you for this package, which is quite helpful in our work. For the first time after writing and reading a lot files already, I now experience a problem.

Trying to read a 12 GB fst file (using: `read_fst(path_fstfile)`), R crashes. The error message is: "R Session Aborted. R encountered a fatal error. The session was terminated."

This can be reproduces on differen

[2021-11-28 19:13] dxf1david commented on #263
Yes - I'm having the same problem with fst on a 4-core intel iMac - fst installs without errors from source, but it doesn't recognize openMP

[2021-12-16 20:35] sohrabsa commented on #263
similar to @markdanese, configuring `~/.R/Makevars` works for getting `data.table` to recognize openMP but not for `fst`.
I have also tried instructions  #242, see comments by [`mimaque`](https://github.com/fstpackage/fst/issues/242#issuecomment-780101010) to no avail. Would appreciate any help.
MacOS Intel, BigSur version 11.6.1  and R version 4.1.0 (2021-05-18) -- "Camp Pontanezen".

[2021-12-16 20:46] sohrabsa commented on #263
Just adding a bit more detail. Here's the result after running `install.packages('fst', type = 'source')`:

[code]

[2021-12-16 20:47] sohrabsa commented on #263
And the output:
[code]

[2021-12-16 20:59] sohrabsa commented on #263
A quick hack to get it to work - ensure that g++ is called with `-fopenmp`, for my `Makevars` that means:
[code]
Now:
[code]

[2021-12-17 00:43] markdanese commented on #263
Unfortunately, I couldn't get that to work for me on an M1 Mac OSX 12.1.  Doesn't mean I did it correctly, but I tried a number of variations replacing `/usr/local` with `/opt/homebrew` and couldn't get `fst` to recognize additional threads.

[2021-12-17 00:56] markdanese commented on #263
My fault.  It works fine if I build from source.  Below are the extra lines I added to my existing Makevars
[code]

Then I get this:
[code]
And data.table is unaffected (still getting 5 threads).

[2021-12-21 17:06] fox34 commented on #264
Have you tried incrementally reading parts of the file? E.g.

[code]

[2022-02-07 21:17] StaffanBetner commented on #155
Any progress on this?

[2022-02-11 10:55] #249 closed, assigned to MarcusKlik

[2022-02-11 12:33] #258 closed, assigned to MarcusKlik

[2022-04-08 14:00] #245 closed, assigned to MarcusKlik

[2022-11-16 11:40] #262 closed, assigned to MarcusKlik

[2022-11-16 12:32] #255 closed, assigned to MarcusKlik

[2022-11-16 13:11] #243 closed, assigned to MarcusKlik

[2022-11-16 13:13] #241 closed, assigned to MarcusKlik